<section class="is-rede-plus" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns rede-plus-description">
                <div class="column first-column">
                    <p class="small-title">
                        REDE PLUS
                    </p>

                    <h1 *ngIf="htagOne == 'h1'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h1>

                    <h2 *ngIf="htagOne == 'h2'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h2>

                    <h3 *ngIf="htagOne == 'h3'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h3>

                    <h4 *ngIf="htagOne == 'h4'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h4>

                    <h5 *ngIf="htagOne == 'h5'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h5>

                    <h6 *ngIf="htagOne == 'h6'" class="h4 big-title">
                        A rede de médicos
                        mais qualificada
                    </h6>

                    <p class="sub-description">
                        Quem busca excelência em saúde, sabe que a qualidade da rede médica é primordial. Na Care Plus,
                        os beneficiários contam com profissionais renomados e clínicas especializadas para atendimento e
                        tratamento.
                    </p>
                </div>
                <div class="column has-background is-hidden-touch">
                    <div class="columns">
                        <div class="column">
                            <p>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16 0C15.2788 5.88658 15.0404 9.62452 13.6312 12.0375C11.3277 15.0366 7.33501 15.3223 0 16C7.21611 16.8731 11.1177 17.0624 13.428 19.8098C15.154 22.242 15.446 26.0044 16 32C16.9409 24.224 17.0883 20.2972 20.4978 18.0626C22.922 16.8917 26.5395 16.6361 32 16C25.2292 15.1705 21.3007 14.9796 18.9619 12.9113C16.9843 10.5536 16.7734 6.63885 16 0Z"
                                        fill="#FFF" />
                                </svg>
                                <span>
                                    Médicos Referência
                                </span>
                            </p>
                        </div>
                        <div class="column">
                            <p>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16 0C15.2788 5.88658 15.0404 9.62452 13.6312 12.0375C11.3277 15.0366 7.33501 15.3223 0 16C7.21611 16.8731 11.1177 17.0624 13.428 19.8098C15.154 22.242 15.446 26.0044 16 32C16.9409 24.224 17.0883 20.2972 20.4978 18.0626C22.922 16.8917 26.5395 16.6361 32 16C25.2292 15.1705 21.3007 14.9796 18.9619 12.9113C16.9843 10.5536 16.7734 6.63885 16 0Z"
                                        fill="#FFF" />
                                </svg>
                                <span>
                                    Clínicas Tecnológicas
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="columns has-margin-bottom">
                        <div class="column">
                            <p>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16 0C15.2788 5.88658 15.0404 9.62452 13.6312 12.0375C11.3277 15.0366 7.33501 15.3223 0 16C7.21611 16.8731 11.1177 17.0624 13.428 19.8098C15.154 22.242 15.446 26.0044 16 32C16.9409 24.224 17.0883 20.2972 20.4978 18.0626C22.922 16.8917 26.5395 16.6361 32 16C25.2292 15.1705 21.3007 14.9796 18.9619 12.9113C16.9843 10.5536 16.7734 6.63885 16 0Z"
                                        fill="#FFF" />
                                </svg>
                                <span>
                                    Cobertura Total
                                </span>
                            </p>
                        </div>
                        <div class="column">
                            <p>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16 0C15.2788 5.88658 15.0404 9.62452 13.6312 12.0375C11.3277 15.0366 7.33501 15.3223 0 16C7.21611 16.8731 11.1177 17.0624 13.428 19.8098C15.154 22.242 15.446 26.0044 16 32C16.9409 24.224 17.0883 20.2972 20.4978 18.0626C22.922 16.8917 26.5395 16.6361 32 16C25.2292 15.1705 21.3007 14.9796 18.9619 12.9113C16.9843 10.5536 16.7734 6.63885 16 0Z"
                                        fill="#FFF" />
                                </svg>
                                <span>
                                    Atendimento Personalizado
                                </span>
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-white-to-digital-cian secondary medium arrow-right"
                        routerLink="/a-careplus/rede-plus">
                        Conheça a Rede Plus
                    </button>
                </div>
            </div>
            <div class="columns rede-plus-banner" #bannerSection>
                <div class="column is-full-touch is-10 people-background">
                    <div class="carousel" id="active">
                        <div *ngFor="let banner of banners" class="item"
                            [ngStyle]="{ 'background-image': 'url(' + banner?.caminhoImagem + ') ' }"
                            [class.active]="banner?.slideAtual" [class.enter]="banner?.enter"
                            [ngClass]="banner?.action">
                            <div class="columns">
                                <div class="column is-full-touch is-5 banner-details"
                                    [class.is-offset-7]="width > 1023">
                                    <img class="mobile-banner-image" [src]="banner?.caminhoImagem"
                                        [alt]="banner.titulo">
                                    <p class="section-category color bupa-digital-cyan">
                                        {{ banner.tag }}
                                    </p>
                                    <h1 *ngIf="htagTwo == 'h1'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h1>

                                    <h2 *ngIf="htagTwo == 'h2'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h2>

                                    <h3 *ngIf="htagTwo == 'h3'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h3>

                                    <h4 *ngIf="htagTwo == 'h4'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h4>

                                    <h5 *ngIf="htagTwo == 'h5'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h5>

                                    <h6 *ngIf="htagTwo == 'h6'" class="banner-title color bupa-navy">
                                        {{ banner.titulo }}
                                    </h6>

                                    <br />
                                    <p class="banner-content">
                                        {{ banner.descricao }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="stepper" *ngIf="banners?.length > 0">
                            <div class="play-carrousel">
                                <div class="play" (click)="toggleBannerPercentage()" [class.stopped]="stopped">
                                    <svg class="svg" width="34" height="34" viewPort="0 0 17 17" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="17" cy="17" r="15" fill="transparent" stroke-dasharray="94"
                                            stroke-dashoffset="0">
                                        </circle>
                                        <circle #circlePercentage id="bar" cx="17" cy="17" r="15" stroke="#F1EFEB"
                                            fill="transparent" stroke-dasharray="94" stroke-dashoffset="0"></circle>
                                    </svg>
                                </div>
                                <ul class="steps">
                                    <li class="step" *ngFor="let banner of banners; let i = index;"
                                        [class.active]="banner.slideAtual" (click)="setCurrentSlide(i, 'right')">
                                        <div class="mobile-border">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>