<section id="acessibilidade-section">
    <article>
        <div class="container">
            <div class="column is-full is-12-desktop">
                <div id="acessibilidade" class="acss-section">

                    <h1 class="big-title">
                        Acessibilidade
                    </h1>

                    <p class="h3">
                        Personalizando nossos sites da Care Plus
                    </p>
                    <p class="text">
                        O site da Care Plus é projetado para que você possa alterar o estilo, tamanho e cor da fonte
                        usada, bem como a cor do fundo de tela. Se desejar fazer isso, consulte os guias de alguns dos
                        navegadores da web mais populares abaixo.
                    </p>
                    <p class="text">
                        Personalização de configurações em:
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.google.com/support/chrome/bin/topic.py?topic=14662"
                                target="_blank">Chrome</a>
                        </li>
                        <li>
                            <a href="http://support.mozilla.org/en-US/kb/accessibility-features-firefox-make-firefox-and-we?redirectlocale=en-US&redirectslug=Accessibility"
                                target="_blank">Firefox</a>
                        </li>
                        <li>
                            <a href="http://www.microsoft.com/enable/training/ie6/default.aspx" target="_blank">Internet
                                Explorer</a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/en-au/safari" target="_blank">Safari</a>
                        </li>
                    </ul>
                </div>
                <div id="navegando" class="acss-section">
                    <p class="h3">
                        Navegando em nossos sites
                    </p>
                    <p class="text">
                        Nossos sites contêm muitos links para informações úteis que estão em cores chamativas para
                        torná-los facilmente perceptíveis. Links para sites não pertencentes à Care Plus e arquivos para
                        download, como PDFs, normalmente serão abertos em novas janelas.
                    </p>
                    <p class="text">
                        Para usuários que não usam mouse mas, leitores de tela, as páginas de nosso site podem ser
                        acessadas usando seus atalhos do teclado padrão e os links são feitos da forma mais detalhada
                        possível.
                    </p>
                </div>
                <div id="downloads" class="acss-section">
                    <p class="h3">
                        Ajuda com downloads
                    </p>
                    <p class="text">
                        Nosso conteúdo pode conter links para arquivos em PDF. Você precisará do Adobe Acrobat Reader
                        instalado em seu computador para abrí-los. O download deste programa pode ser feito de forma
                        gratuita diretamente do site da Adobe.
                    </p>
                </div>



            </div>

        </div>
    </article>
</section>