<vg-player class="vg-player" (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar *ngIf="isBrowser" [class.is-hidden]="!fullScreen">
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls *ngIf="isBrowser" [class.is-hidden]="!fullScreen" vgFor="single-video" [vgAutohide]="true" [vgAutohideTime]="2">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" #media id="single-video" preload="auto" crossorigin allowfullscreen playsinline muted poster="assets/img/video-teste-background.png">
        <source [attr.src]="heroBannerModel?.video?.url" [attr.type]="heroBannerModel?.video?.type">

        <track *ngFor="let subtitle of heroBannerModel?.video?.subtitles" kind="subtitles" [attr.label]="subtitle.label"
            [attr.src]="subtitle.src" [attr.srclang]="subtitle.srclang" default>
    </video>

    <div class="video-content" *ngIf="!fullScreen">
        <div class="container is-breadcrumb">
            <div class="columns">
                <div class="column is-paddingless-vertical">
                    <app-breadcrumb class="app-breadcrumb" [breadcrumbs]="heroBannerModel?.breadcrumbs"></app-breadcrumb>
                </div>
            </div>
        </div>
        <div class="container centered" [style.maxWidth.px]="heroBannerModel?.contentContainerMaxWidth" *ngIf="heroBannerModel?.bigTitle || heroBannerModel?.subTitle || heroBannerModel?.button">
            <div class="columns">
                <div class="column">
                    <h1 class="h3 big-title" *ngIf="heroBannerModel?.bigTitle">
                        {{heroBannerModel?.bigTitle}}
                    </h1>

                    <p class="sub-description" *ngIf="heroBannerModel?.subTitle">
                        {{heroBannerModel?.subTitle}}
                    </p>

                    <!--
                        Full screen buttons
                    -->

                    <a (click)="openFullScreen()" *ngIf="heroBannerModel?.isFullScreen && heroBannerModel?.button" class="btn btn-digital-cian primary medium is-hidden-touch" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                        <span>
                            <svg width="17" height="20" viewBox="0 0 17 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 9.13398C17.1667 9.51888 17.1667 10.4811 16.5 10.866L1.5 19.5263C0.833335 19.9112 9.70611e-07 19.4301 1.00426e-06 18.6603L1.76136e-06 1.33975C1.79501e-06 0.569945 0.833336 0.0888202 1.5 0.47372L16.5 9.13398Z"
                                    fill="#FFF" />
                            </svg>
                        </span>
                    </a>

                    <a (click)="openFullScreen()" *ngIf="heroBannerModel?.isFullScreen && heroBannerModel?.button" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                    </a>

                    <!--
                        Link buttons
                    -->

                    <a *ngIf="!heroBannerModel?.isFullScreen && heroBannerModel?.button && heroBannerModel?.button?.link" [href]="heroBannerModel?.button?.link" target="_blank" class="btn btn-digital-cian primary medium is-hidden-touch" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                    </a>

                    <a *ngIf="!heroBannerModel?.isFullScreen && heroBannerModel?.button && heroBannerModel?.button?.link" [href]="heroBannerModel?.button?.link" target="_blank" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                    </a>


                    <!--
                        RouterLink buttons
                    -->

                    <a *ngIf="!heroBannerModel?.isFullScreen && heroBannerModel?.button && heroBannerModel?.button?.routerLink" [routerLink]="heroBannerModel?.button?.routerLink" class="btn btn-digital-cian primary medium is-hidden-touch" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                    </a>

                    <a *ngIf="!heroBannerModel?.isFullScreen && heroBannerModel?.button && heroBannerModel?.button?.routerLink" [routerLink]="heroBannerModel?.button?.routerLink" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" [attr.title]="heroBannerModel?.button?.text">
                        {{heroBannerModel?.button?.text}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <img *ngIf="heroBannerModel?.hasAnchor" class="mouse-icon" src="assets/svg/mouse.svg" (click)="slideToNextElement.emit()" alt="Mouse Down">
</vg-player>