@import "~src/scss/_variables.scss";
@import "~src/scss/_mixins.scss";
.vg-player {
    max-height: calc(100vh - 151px);
    position: relative;
    pointer-events: none;
     ::ng-deep .vg-icon-play_arrow:before {
        content: "";
    }
    &.native-fullscreen {
        pointer-events: visible !important;
         ::ng-deep .vg-icon-play_arrow:before {
            content: "\e01b" !important;
        }
    }
    video {
        margin-top: -75.5px;
        z-index: 0;
    }
    .video-content {
        pointer-events: visible;
        z-index: 201;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        .container {
            display: block;
            &.is-breadcrumb {
                flex: 0 0 100%;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 3.75rem;
                .app-breadcrumb {
                    margin-bottom: 0;
                    display: block;
                    position: absolute;
                     ::ng-deep {
                        ul {
                            li {
                                &:before {
                                    background-image: getSvg('hero-banner-play-button.svg');
                                }
                                a {
                                    color: getColor(_bupa, _grey-3);
                                    &.active {
                                        color: getColor(_bupa, _white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.centered {
                align-self: center;
                .big-title {
                    max-width: 100%;
                    margin-top: 0;
                    color: getColor(_bupa, _white);
                    text-align: center;
                }
                .btn {
                    margin-top: 50px;
                    &.btn-digital-cian.primary {
                        span {
                            width: 1.25rem;
                            height: 1.188rem;
                            position: relative;
                            margin-left: 15px;
                            display: inline-flex;
                            svg {
                                position: absolute;
                                align-self: center;
                                top: calc(50% - 9.5px);
                                bottom: -3px;
                                transition: fill 0.3s ease-in-out;
                                path {
                                    transition: fill 0.3s ease-in-out;
                                }
                            }
                        }
                        &:hover {
                            span {
                                svg {
                                    fill: getColor(_bupa, _white);
                                    path {
                                        fill: getColor(_bupa, _white);
                                    }
                                }
                            }
                        }
                    }
                    &.hide {
                        pointer-events: none;
                        opacity: 0;
                    }
                }
            }
        }
    }
    .mouse-icon {
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 202;
        pointer-events: visible;
        cursor: pointer;
    }
}

@media (max-width: 1023px) {
    .vg-player {
        max-height: calc(100vh - 111px);
        flex-wrap: wrap;
        video {
            margin-top: 0;
        }
        .video-content {
            position: inherit;
            background-color: getColor(_bupa, _digital-cian);
            padding: 20px 0;
            .container {
                &.is-breadcrumb {
                    display: none;
                }
                .big-title {
                    color: getColor(_bupa, _white);
                }
                .sub-description {
                    margin-top: 12px;
                    color: getColor(_bupa, _white);
                }
                &.centered {
                    .btn {
                        padding-left: 0;
                        margin-top: 12px;
                        color: getColor(_bupa, _white);
                        &:before {
                            border: solid getColor(_bupa, _white);
                            @include arrowElement(-45deg);
                        }
                        svg {
                            fill: getColor(_bupa, _white);
                            path {
                                fill: getColor(_bupa, _white);
                            }
                        }
                    }
                }
            }
        }
        .mouse-icon {
            display: none;
        }
    }
}
