<div class="card card-bg">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/neocms/banner']">
                    <img class="arrow-return" src="./../../../../assets/img/arrow.png" alt="">
                </a>
            </div>
        </div>



        <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-md-6">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12 w-100 my-5">
                            <div class="card shadow">
                                <div class="card-body text-center">
                                    <img-cropper (change)="fileChangeListenerDesktop($event)" [image]="data"
                                        [settings]="cropperSettings">
                                    </img-cropper>
                                    <div *ngIf="submitted" class="errors">
                                        <p *ngFor="let error of
                                            getErrors(f.image)" class="help
                                            is-danger">
                                            {{error}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shadow text-center my-5 p-3">
                        <img-cropper (change)="fileChangeListenerMobile($event)" [image]="data"
                            [settings]="cropperSettings">
                        </img-cropper>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="my-input">Nome do Banner*</label>
                                <input id="my-input" formControlName="nomeImagem" class="form-control" type="text"
                                    placeholder="Nome do Banner" [ngClass]="{ 'is-success': submitted &&
                                    !f.nomeImagem.errors, 'is-danger' :
                                    submitted && f.nomeImagem.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.nomeImagem)" class="help
                                        is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="my-input">Título*</label>
                                <input formControlName="titulo" class="form-control" type="text"
                                    placeholder="Título do Banner" [ngClass]="{ 'is-success': submitted &&
                                    !f.titulo.errors, 'is-danger' :
                                    submitted && f.titulo.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.titulo)" class="help
                                        is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="my-input">Subtítulo*</label>
                                <input formControlName="subtitulo" class="form-control" type="text"
                                    placeholder="Subtítulo do Banner" [ngClass]="{ 'is-success': submitted &&
                                    !f.subtitulo.errors, 'is-danger' :
                                    submitted && f.subtitulo.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.subtitulo)" class="help
                                        is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="my-input">Área*</label>
                                <input formControlName="area" class="form-control" type="text"
                                    placeholder="Ex: Topo (Banner da Home)" [ngClass]="{ 'is-success': submitted &&
                                    !f.area.errors, 'is-danger' : submitted
                                    && f.area.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.area)" class="help
                                        is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="my-input">Tempo de Exibição</label>
                                <input formControlName="tempoExibicao" class="form-control" type="text"
                                    placeholder="Ex: 12 (12 Segundos)" [ngClass]="{ 'is-success': submitted &&
                                    !f.area.errors, 'is-danger' : submitted
                                    && f.area.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.tempoExibicao)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="my-input">Descrição</label>
                                <textarea formControlName="descricao" [ngClass]="{ 'is-success': submitted &&
                                    !f.descricao.errors, 'is-danger' :
                                    submitted && f.descricao.errors }" class="form-control"
                                    placeholder="Descrição do Banner" rows="5">
                                </textarea>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.descricao)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="my-input">Rota/Link*</label>
                                <input formControlName="rota" class="form-control" type="text" placeholder="" [ngClass]="{ 'is-success': submitted &&
                                    !f.rota.errors, 'is-danger' : submitted
                                    && f.rota.errors }">
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of
                                        getErrors(f.rota)" class="help
                                        is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <label class="label">É um link externo?</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input id="naoLink" type="radio" class="form-check-input" checked value="0"
                                        formControlName="linkExterno" name="linkExterno" [ngClass]="{'is-danger':
                                        isLinkExternoSelected,'is-selected':!isLinkExternoSelected}"
                                        (click)="changeLinkExterno('0',false)">
                                    <label for="linkExterno">Não</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="simLink" type="radio" class="form-check-input" value="1"
                                        name="linkExterno" formControlName="linkExterno" [ngClass]="{'is-danger':
                                        isLinkExternoSelected, 'is-selected':
                                        !isLinkExternoSelected}" (click)="changeLinkExterno('1',true)">
                                    <label for="linkExterno">Sim</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <label class="label">Ativar banner?</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input id="ativo" type="radio" class="form-check-input" checked value="0"
                                        name="ativo" formControlName="ativo" [ngClass]="{'is-danger':
                                        !isBannerAtivo, 'is-selected':
                                        !isBannerAtivo}" (click)="changeStatusBanner('0',
                                        false)">
                                    <label for="ativo">Não</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="ativo" type="radio" class="form-check-input" value="1" name="ativo"
                                        formControlName="ativo" [ngClass]="{'is-success':
                                        isBannerAtivo, 'is-selected':
                                        isBannerAtivo}" (click)="changeStatusBanner('1',
                                        true)">
                                    <label for="ativo">Sim</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="row w-100">
                            <div class="col-md-12 col-lg-6 my-2">
                                <button routerLink="/neocms/banner" routerLinkActive="active" class="badge badge-dark shadow p-3
                                    m-auto w-100" type="button">
                                    CANCELAR
                                </button>
                            </div>
                            <div class="col-md-12 col-lg-6 my-2">
                                <button class="badge badge-dark shadow p-3
                                    m-auto w-100" type="submit">
                                    SALVAR ALTERAÇÕES
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>