<section id="createBanner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h1>
            Upload de Banner
          </h1>
          <a routerLink="/neocms/banner">
            Voltar
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">

          <ng-wizard [config]="configBannerWin1" >
            <ng-wizard-step [title]="'1 - Área'">
              <div class="areaBanner fade-in">
                <h5 class="card-title">Area do Banner</h5>
                <select formControlName="area" class="form-control my-3">
                  <option [ngValue]="null" disabled>Selecione</option>
                  <option *ngFor="let prf of dropdownOptions" [ngValue]="prf['nome']">
                    {{ prf.descricao }}
                  </option>
                </select>
                <input formControlName="area" type="hidden">
                <div class="my-2" *ngFor="let a of areaSelectedObject">
                  <h5>Descrição: {{a.descricao }}</h5>
                </div>
                <div *ngIf="submitted" class="errors">
                  <p *ngFor="let error of getErrors(f.area)" class="help is-danger">
                    {{error}}
                  </p>
                </div>
              </div>
            </ng-wizard-step>
            <ng-wizard-step [title]="'2 - Imagens'">
              <div class="areaBanner row">
                <div class="col-6 w-100  card-crop">
                  <div class="fade-in">
                    {{nomeDaImagem}}
                    <div class="text-center m-3 card-crop">
                      <h3>Imagem Grande</h3>
                      <small>Dimensões: 1440 x 683 px</small>
                      <input type="file" class="text-truncate" (change)="fileChangeEvent($event)" />
                      <div class="p-0 m-auto">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                          [containWithinAspectRatio]="false" [autoCrop]="true" [onlyScaleDown]="false"
                          [aspectRatio]="16/7" [resizeToWidth]="1440" [cropperMinWidth]="1440" [cropperMinHeight]="683"
                          [cropperMinHeight]="683" format="png" (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                      </div>
                      <div *ngIf="croppedImage" class="thumbnail-image-box">
                        <h4 class="titulo-visualizacao">visualização</h4>
                        <img class="thumbnail-image" [src]="croppedImage" alt="Cropped image" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 w-100 card-crop">
                  <div class="fade-in">
                    <div class="text-center m-3 card-crop">
                      <h3>Imagem Mobile</h3>
                      <small>Dimensões: 200 x 150 px</small>
                      <input type="file" class="text-truncate" (change)="fileChangeEventMobile($event)" />
                      <div class="p-0 m-auto">
                        <image-cropper [imageChangedEvent]="imageChangedEventMobile" [maintainAspectRatio]="true"
                          [containWithinAspectRatio]="false" [autoCrop]="true" [onlyScaleDown]="false"
                          [aspectRatio]="4/3" [resizeToWidth]="200" [cropperMinWidth]="200" [cropperMinHeight]="150"
                          [cropperMinHeight]="150" format="png" (imageCropped)="imageCroppedMobile($event)"
                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                      </div>
                      <div *ngIf="croppedImageMobile" class="thumbnail-image-box-mobile">
                        <h4 class="titulo-visualizacao-mobile">visualização</h4>
                        <img class="thumbnail-image-mobile" [src]="croppedImageMobile" alt="Cropped image mobile" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-wizard-step>
            <ng-wizard-step [title]="'3 - Conteúdo'">
              <div class="areaBanner row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Título*</label>
                        <input formControlName="titulo" class="form-control" type="text" placeholder="Título do Banner"
                          [ngClass]="{ 'is-success': submitted &&
                                                                  !f.titulo.errors, 'is-danger' :
                                                                  submitted && f.titulo.errors }">
                        <p class="contador" [class.is-danger]="f.titulo.value.length > 100">
                          {{f.titulo.value.length}}/100
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                      getErrors(f.titulo)" class="help
                                                                      is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Subtítulo</label>
                        <textarea formControlName="subtitulo" class="form-control" type="text"
                          placeholder="Subtítulo do Banner" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.subtitulo.errors, 'is-danger' :
                                                                  submitted && f.subtitulo.errors }"> </textarea>
                        <p class="contador" [class.is-danger]="f.subtitulo.value.length > 150">
                          {{f.subtitulo.value.length}}/150
                        </p>
                        <div *ngIf="submitted" class="errors">

                          <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Nome do Banner*</label>
                        <input formControlName="nomeImagem" class="form-control" type="text"
                          placeholder="Nome do Banner"
                          [ngClass]="{ 'is-success': submitted && !f.nomeImagem.errors, 'is-danger' : submitted && f.nomeImagem.errors }">
                        <p class="contador" [class.is-danger]="f.nomeImagem.value.length > 100">
                          {{f.nomeImagem.value.length}}/100
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.nomeImagem)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Texto do Botão*</label>
                        <input formControlName="nomeLink" class="form-control" type="text" placeholder="Nome do Banner"
                          [ngClass]="{ 'is-success': submitted && !f.nomeLink.errors, 'is-danger' :
                                            submitted && f.nomeLink.errors }">
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.nomeLink)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Tempo de Exibição*</label>
                        <input formControlName="tempoExibicao" class="form-control" type="number"
                          placeholder="Ex: 12 (12 Segundos)" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.area.errors, 'is-danger' : submitted
                                                                  && f.area.errors }">
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                      getErrors(f.tempoExibicao)"
                            class="help is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 col-lg-3 w-100">
                      <label class="label">É um link externo?</label>
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input id="naoLink" type="radio" class="form-check-input" checked value="0"
                            formControlName="linkExterno" name="linkExterno"
                            [ngClass]="{'is-danger': isLinkExternoSelected,'is-selected': !isLinkExternoSelected}"
                            (click)="changeLinkExterno('0',false)">
                          <label for="linkExterno">Não</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input id="simLink" type="radio" class="form-check-input" value="1" name="linkExterno"
                            formControlName="linkExterno"
                            [ngClass]="{'is-danger': isLinkExternoSelected, 'is-selected':  !isLinkExternoSelected}"
                            (click)="changeLinkExterno('1',true)">
                          <label for="linkExterno">Sim</label>
                        </div>
                      </div>
                    </div>

                    <ng-container *ngIf="isLinkExternoSelected === true; else rotaTemplate">
                      <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                          <label for="my-input">Link*</label>
                          <input formControlName="link" class="form-control" type="text" placeholder="" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.link.errors, 'is-danger' : submitted
                                                                  && f.link.errors }">
                          <p class="contador" [class.is-danger]="f.link.value.length > 255">
                            {{f.link.value.length}}/255
                          </p>

                          <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of
                                                                      getErrors(f.link)" class="help
                                                                      is-danger">
                              {{error}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #rotaTemplate>
                      <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                          <label for="my-input">Rota*</label>
                          <input formControlName="rota" class="form-control" type="text" placeholder="" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.rota.errors, 'is-danger' : submitted
                                                                  && f.rota.errors }">
                          <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of
                                                                      getErrors(f.rota)" class="help
                                                                      is-danger">
                              {{error}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Descrição</label>
                        <textarea formControlName="descricao"
                          [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' :  submitted && f.descricao.errors }"
                          class="form-control" placeholder="Descrição do Banner" rows="5">
                                              </textarea>
                        <p class="contador" [class.is-danger]="f.descricao.value.length > 150">
                          {{f.descricao.value.length}}/150
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                  getErrors(f.descricao)" class="help is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-3 w-100">
                      <label class="label">Ativar banner?</label>
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input id="ativo" type="radio" class="form-check-input" checked value="0" name="ativo"
                            formControlName="ativo"
                            [ngClass]="{'is-danger': !isBannerAtivo, 'is-selected': !isBannerAtivo}"
                            (click)="changeStatusBanner('0', false)">
                          <label for="ativo">Não</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input id="ativo1" type="radio" class="form-check-input" value="1" name="ativo"
                            formControlName="ativo"
                            [ngClass]="{'is-success': isBannerAtivo, 'is-selected': isBannerAtivo}"
                            (click)="changeStatusBanner('1',true)">
                          <label for="ativo">Sim</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">

                  <h4 class="titulo-visualizacao">visualização</h4>
                  <div *ngIf="croppedImage" class="banner-perview">
                    <div class="banner-content">
                      <h1 class="titulo-banner">{{f.titulo.value}}</h1>
                      <h3 class="subtitulo-banner">{{f.subtitulo.value}}</h3>
                      <a _ngcontent-serverapp-c8="" class="btn blue">
                        {{f.nomeLink.value}}
                      </a>
                    </div>
                    <div class="whiteShadow">

                    </div>
                    <img [src]="croppedImage" alt="Cropped image" />
                  </div>

                </div>



                <div class="col-md-12 w-100 text-right">
                  <button class="btn blue" type="submit">
                    Salvar Banner
                  </button>
                </div>

              </div>
            </ng-wizard-step>
          </ng-wizard>
          <!-- <tabset>
            <tab heading="1 - Área" id="tabArea" class="card shadow mb-5 p-3">
              <div class="areaBanner fade-in">
                <h5 class="card-title">Area do Banner</h5>
                <select formControlName="area" class="form-control my-3">
                  <option [ngValue]="null" disabled>Selecione</option>
                  <option *ngFor="let prf of dropdownOptions" [ngValue]="prf['nome']">
                    {{ prf.descricao }}
                  </option>
                </select>
                <input formControlName="area" type="hidden">
                <div class="my-2" *ngFor="let a of areaSelectedObject">
                  <h5>Descrição: {{a.descricao }}</h5>
                </div>
                <div *ngIf="submitted" class="errors">
                  <p *ngFor="let error of getErrors(f.area)" class="help is-danger">
                    {{error}}
                  </p>
                </div>
              </div>
            </tab>
            <tab heading="2 - Imagens" id="tabImagens" class="card shadow mb-5 p-3">
              <div class="areaBanner row">
                <div class="col-6 w-100 my-5 card-crop">
                  <div class="fade-in">
                    {{nomeDaImagem}}
                    <div class="text-center m-3 card-crop">
                      <h3>Imagem Grande</h3>
                      <small>Dimensões: 1440 x 683 px</small>
                      <input type="file" class="text-truncate" (change)="fileChangeEvent($event)" />
                      <div class="p-0 m-auto">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                          [containWithinAspectRatio]="false" [autoCrop]="true" [onlyScaleDown]="false"
                          [aspectRatio]="16/7" [resizeToWidth]="1440" [cropperMinWidth]="1440" [cropperMinHeight]="683"
                          [cropperMinHeight]="683" format="png" (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                      </div>
                      <div *ngIf="croppedImage" class="thumbnail-image-box">
                        <h4 class="titulo-visualizacao">visualização</h4>
                        <img class="thumbnail-image" [src]="croppedImage" alt="Cropped image" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 w-100 my-5">
                  <div class="fade-in">
                    <div class="text-center m-3 card-crop">
                      <h3>Imagem Mobile</h3>
                      <small>Dimensões: 200 x 150 px</small>
                      <input type="file" class="text-truncate" (change)="fileChangeEventMobile($event)" />
                      <div class="p-0 m-auto">
                        <image-cropper [imageChangedEvent]="imageChangedEventMobile" [maintainAspectRatio]="true"
                          [containWithinAspectRatio]="false" [autoCrop]="true" [onlyScaleDown]="false"
                          [aspectRatio]="4/3" [resizeToWidth]="200" [cropperMinWidth]="200" [cropperMinHeight]="150"
                          [cropperMinHeight]="150" format="png" (imageCropped)="imageCroppedMobile($event)"
                          (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                          (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                      </div>
                      <div *ngIf="croppedImageMobile" class="thumbnail-image-box-mobile">
                        <h4 class="titulo-visualizacao-mobile">visualização</h4>
                        <img class="thumbnail-image-mobile" [src]="croppedImageMobile" alt="Cropped image mobile" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="3 - Conteúdo" id="tabConteudo" class="card shadow mb-5 p-3">
              <div class="areaBanner row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Título*</label>
                        <input formControlName="titulo" class="form-control" type="text" placeholder="Título do Banner"
                          [ngClass]="{ 'is-success': submitted &&
                                                                  !f.titulo.errors, 'is-danger' :
                                                                  submitted && f.titulo.errors }">
                        <p class="contador" [class.is-danger]="f.titulo.value.length > 100">
                          {{f.titulo.value.length}}/100
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                      getErrors(f.titulo)" class="help
                                                                      is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Subtítulo</label>
                        <textarea formControlName="subtitulo" class="form-control" type="text"
                          placeholder="Subtítulo do Banner" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.subtitulo.errors, 'is-danger' :
                                                                  submitted && f.subtitulo.errors }"> </textarea>
                        <p class="contador" [class.is-danger]="f.subtitulo.value.length > 150">
                          {{f.subtitulo.value.length}}/150
                        </p>
                        <div *ngIf="submitted" class="errors">

                          <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Nome do Banner*</label>
                        <input formControlName="nomeImagem" class="form-control" type="text"
                          placeholder="Nome do Banner"
                          [ngClass]="{ 'is-success': submitted && !f.nomeImagem.errors, 'is-danger' : submitted && f.nomeImagem.errors }">
                        <p class="contador" [class.is-danger]="f.nomeImagem.value.length > 100">
                          {{f.nomeImagem.value.length}}/100
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.nomeImagem)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Texto do Botão*</label>
                        <input formControlName="nomeLink" class="form-control" type="text" placeholder="Nome do Banner"
                          [ngClass]="{ 'is-success': submitted && !f.nomeLink.errors, 'is-danger' :
                                            submitted && f.nomeLink.errors }">
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.nomeLink)" class="help is-danger">
                            {{error}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Tempo de Exibição*</label>
                        <input formControlName="tempoExibicao" class="form-control" type="number"
                          placeholder="Ex: 12 (12 Segundos)" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.area.errors, 'is-danger' : submitted
                                                                  && f.area.errors }">
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                      getErrors(f.tempoExibicao)"
                            class="help is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 col-lg-3 w-100">
                      <label class="label">É um link externo?</label>
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input id="naoLink" type="radio" class="form-check-input" checked value="0"
                            formControlName="linkExterno" name="linkExterno"
                            [ngClass]="{'is-danger': isLinkExternoSelected,'is-selected': !isLinkExternoSelected}"
                            (click)="changeLinkExterno('0',false)">
                          <label for="linkExterno">Não</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input id="simLink" type="radio" class="form-check-input" value="1" name="linkExterno"
                            formControlName="linkExterno"
                            [ngClass]="{'is-danger': isLinkExternoSelected, 'is-selected':  !isLinkExternoSelected}"
                            (click)="changeLinkExterno('1',true)">
                          <label for="linkExterno">Sim</label>
                        </div>
                      </div>
                    </div>

                    <ng-container *ngIf="isLinkExternoSelected === true; else rotaTemplate">
                      <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                          <label for="my-input">Link*</label>
                          <input formControlName="link" class="form-control" type="text" placeholder="" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.link.errors, 'is-danger' : submitted
                                                                  && f.link.errors }">
                          <p class="contador" [class.is-danger]="f.link.value.length > 255">
                            {{f.link.value.length}}/255
                          </p>

                          <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of
                                                                      getErrors(f.link)" class="help
                                                                      is-danger">
                              {{error}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #rotaTemplate>
                      <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                          <label for="my-input">Rota*</label>
                          <input formControlName="rota" class="form-control" type="text" placeholder="" [ngClass]="{ 'is-success': submitted &&
                                                                  !f.rota.errors, 'is-danger' : submitted
                                                                  && f.rota.errors }">
                          <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of
                                                                      getErrors(f.rota)" class="help
                                                                      is-danger">
                              {{error}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="my-input">Descrição</label>
                        <textarea formControlName="descricao"
                          [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' :  submitted && f.descricao.errors }"
                          class="form-control" placeholder="Descrição do Banner" rows="5">
                                              </textarea>
                        <p class="contador" [class.is-danger]="f.descricao.value.length > 100">
                          {{f.descricao.value.length}}/100
                        </p>
                        <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of
                                                                  getErrors(f.descricao)" class="help is-danger">
                            {{error}}
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-3 w-100">
                      <label class="label">Ativar banner?</label>
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input id="ativo" type="radio" class="form-check-input" checked value="0" name="ativo"
                            formControlName="ativo"
                            [ngClass]="{'is-danger': !isBannerAtivo, 'is-selected': !isBannerAtivo}"
                            (click)="changeStatusBanner('0', false)">
                          <label for="ativo">Não</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input id="ativo1" type="radio" class="form-check-input" value="1" name="ativo"
                            formControlName="ativo"
                            [ngClass]="{'is-success': isBannerAtivo, 'is-selected': isBannerAtivo}"
                            (click)="changeStatusBanner('1',true)">
                          <label for="ativo">Sim</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">

                  <h4 class="titulo-visualizacao">visualização</h4>
                  <div *ngIf="croppedImage" class="banner-perview">
                    <div class="banner-content">
                      <h1 class="titulo-banner">{{f.titulo.value}}</h1>
                      <h3 class="subtitulo-banner">{{f.subtitulo.value}}</h3>
                      <a _ngcontent-serverapp-c8="" class="btn blue">
                        {{f.nomeLink.value}}
                      </a>
                    </div>
                    <div class="whiteShadow">

                    </div>
                    <img [src]="croppedImage" alt="Cropped image" />
                  </div>

                </div>



                <div class="col-md-12 w-100 text-right">
                  <button class="btn blue" type="submit">
                    SALVAR
                  </button>
                </div>

              </div>
            </tab>
          </tabset> -->
        </form>
      </div>
    </div>
  </div>
</section>