<app-hero-banner class="app-hero-banner" [heroBannerModel]="heroBannerModel"></app-hero-banner>
<div class="get-price-box" routerLink="/fale-conosco/solicite-uma-cotacao">
    <p class="text">
        Solicite uma Cotação
    </p>
    <img src="assets/svg/get-price-box-image.svg" alt="Solicite uma Cotação">
</div>
<div class="anchor-buttons">
    <div class="container">
        <div class="buttons-box">
            <a (click)="goToSection('#planos')" tabindex="0" (keyup.enter)="goToSection('#planos')" class="anchor-button" title="Planos">Planos</a>
            <a (click)="goToSection('#produtos')" tabindex="0" (keyup.enter)="goToSection('#produtos')" class="anchor-button" title="Produtos">Produtos</a>
        </div>
    </div>
</div>
<section id="simulate-your-plan">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="small-title">
                        SIMULE SEU PLANO
                    </p>
                    <h1 class="h4 big-title">
                        Faça uma simulação do perfil da sua empresa e veja qual plano ou produto mais se adequa
                    </h1>
                </div>
            </div>
        </div>
        <div class="background">
            <div class="container">
                <div class="info-card">
                    <p class="info-card-title">
                        Em poucos passos você simula o seu plano ideal
                    </p>
                    <p class="sub-description">
                        Siga o passo a passo do nosso simulador, e em poucas perguntas com alguns dados nós conseguiremos indicar o melhor produto e planos para sua empresa. Faça a simulação e descubra.
                    </p>
                    <button (click)="openSimulator()" class="btn btn-digital-cian secondary medium is-hidden-touch" title="Simular agora">
                        Simular Agora
                    </button>

                    <button (click)="openSimulator()" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" title="Simular agora">
                        Simular Agora
                    </button>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="planos">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="small-title">
                        PLANO DE SAÚDE
                    </p>
                    <h2 class="h4 big-title">
                        Conheça nossos planos de saúde empresariais
                    </h2>
                    <div class="sub-description">
                        Ao lado listamos nossos produtos de saúde, eles são destinados de acordo com número de vidas da sua empresa, podendo ser customizáveis ou não de acordo com a necessidade
                    </div>
                </div>
            </div>

            <div class="columns plans-columns flex-wrap">
                <div class="column is-full" *ngFor="let planCard of planCards" [attr.id]="planCard.id">
                    <app-plan-card class="app-plan-card" [planCardModel]="planCard"></app-plan-card>
                </div>
            </div>
        </div>
    </article>
</section>
<app-info-section class="app-info-section" [sectionInfo]="ocupationalSection"></app-info-section>
<app-icon-cards-section class="app-icon-cards-section" id="produtos" [iconCardsSectionModel]="iconCardsSectionModel" [backgroundColorClass]="'blue-background-color'"></app-icon-cards-section>
<app-contact-schedule-a-visit class="app-contact-schedule-a-visit" [secondCard]="secondCard" [bigTitle]="'Entre em contato ou solicite uma cotação'">
</app-contact-schedule-a-visit>
<app-commom-questions class="app-commom-questions"></app-commom-questions>