@import "~src/scss/_variables";
section#fale-conosco-form {
    .container {
        .columns {
            &.infos {
                margin-top: 50px;
            }
            .column {
                &.has-line {
                    position: relative;
                    &::before {
                        background: linear-gradient(to left, #cdecfd 0%, getColor(_bupa, _digital-cian) 100%);
                        content: "";
                        position: absolute;
                        height: 4px;
                        left: -30px;
                        -webkit-transform: translateX(-100%);
                        transform: translateX(-100%);
                        top: 70px;
                        width: 126px;
                    }
                }
                ::ng-deep .contact-info {
                    padding: 32px;
                    display: flex;
                    .contact-content {
                        flex: 0 0 100%;
                        align-self: center;
                        .description {
                            font-weight: normal;
                            font-size: getSize("mbt");
                            line-height: getLineHeight("mbt");
                            color: getColor(_bupa, _navy);
                        }
                        .contact-subdescription {
                            display: flex;
                            margin-top: 1.625rem;
                            &:first-child {
                                margin-top: 3rem;
                            }
                            span {
                                color: getColor(_bupa, _digital-cian);
                                &.text {
                                    align-self: flex-start;
                                    margin-left: 16px;
                                }
                                &.image {
                                    height: 34px;
                                    display: inline-block;
                                }
                                img {
                                    width: 34px;
                                    height: 34px;
                                }
                            }
                        }
                        .contact-link {
                            font-size: 1.5em;
                            line-height: 150%;
                            color: getColor(_bupa, _grey);
                            margin-left: 50px;
                            word-break: break-all;
                            display: block;
                            text-align: left;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .separator {
                            background-color: getColor(_bupa, _navy);
                            height: 1px;
                            margin: 32px 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    section#fale-conosco-form {
        .container {
            .columns {
                .column {
                    &.has-line {
                        &::before {
                            content: unset;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#fale-conosco-form {
        .container {
            .columns {
                &.infos {
                    margin-top: 0px;
                }
                .column {
                    .tabs {
                        ul {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: calc(50% - 11.5px);
                                flex: 0 0 calc(50% - 11.5px);
                                margin: 8px 11.5px;
                                padding: 8px auto;
                                &:first-child {
                                    margin-left: 0;
                                }
                                &:nth-child(2) {
                                    margin-right: 0;
                                }
                                &:nth-child(3) {
                                    margin-left: 0;
                                }
                                &:nth-child(4) {
                                    margin-right: 0;
                                }
                                a {
                                    border-radius: 2px;
                                    border-spacing: 2px;
                                    span {
                                        font-size: 0.75em;
                                    }
                                }
                            }
                        }
                    }
                    ::ng-deep .contact-info {
                        .contact-content {
                            .description {
                                font-size: getSize("p");
                                line-height: getLineHeight("p");
                            }
                            .contact-link {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
