<section id="fale-conosco-form">
    <article>
        <div class="container">

            <div class="columns is-hidden-touch">
                <div class="column is-full is-paddingless-vertical">
                    <app-breadcrumb [breadcrumbs]="activeChanel?.breadcrumbs"></app-breadcrumb>
                </div>
            </div>

            <div class="columns flex-wrap infos">

                <div class="column is-full is-6-desktop">
                    <p class="small-title">
                        FALE CONOSCO
                    </p>
                    <h1 class="h4 big-title">
                        Entre em contato pelo formulário ou por um dos canais de atendimento
                    </h1>
                </div>

                <div class="column is-full is-6-desktop has-line">
                    <p class="description no-margin">
                        Para falar com a Care Plus, selecione o canal desejado e preencha todas as informações do
                        formulário. Em breve, nós retornaremos a sua mensagem.
                    </p>
                </div>
            </div>

            <div class="columns flex-wrap form-fale-conosco">
                <div class="column is-full">
                    <div class="tabs is-toggle is-fullwidth is-centered">
                        <ul>
                            <li [class.is-active]="chanel.active" *ngFor="let chanel of chanelForms">
                                <a [routerLink]="['/fale-conosco', chanel.slug]" [title]="chanel.title">
                                    <span>{{chanel.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <app-solicite-uma-cotacao *ngIf="activeChanel.id == 1"></app-solicite-uma-cotacao>
                    <app-contato *ngIf="activeChanel.id == 2"></app-contato>
                    <app-canal-de-denuncias *ngIf="activeChanel.id == 3"></app-canal-de-denuncias>
                    <app-ouvidoria *ngIf="activeChanel.id == 4"></app-ouvidoria>
                </div>
                
            </div>
        </div>
    </article>
</section>