<section id="fale-conosco-form">
    <article>
        <div class="container">

            <div class="columns is-hidden-touch">
                <div class="column is-full is-paddingless-vertical">
                    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                </div>
            </div>

            <div class="columns flex-wrap infos">

                <div class="column is-full is-6-desktop">
                    <p class="small-title">
                        FALE CONOSCO
                    </p>
                    <h4 class="big-title">
                        Entre em contato pelo formulário ou por um dos canais de atendimento
                    </h4>
                </div>

                <div class="column is-full is-6-desktop has-line">
                    <p class="description no-margin">
                        Para falar com a Care Plus, selecione o canal desejado e preencha todas as informações do
                        formulário. Em breve, nós retornaremos a sua mensagem.
                    </p>
                </div>
            </div>

            <div class="columns flex-wrap form-fale-conosco">
                <div class="column is-full is-8-desktop">
                    <div class="tabs is-toggle is-fullwidth is-centered">
                        <ul>
                            <li [class.is-active]="chanel.active" *ngFor="let chanel of chanelForms; let i = index;"
                                (click)="setActiveChanel(i)">
                                <a>
                                    <span>{{chanel.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <app-solicite-uma-cotacao *ngIf="activeChanel.id == 1"></app-solicite-uma-cotacao>
                    <app-contato *ngIf="activeChanel.id == 2"></app-contato>
                    <app-canal-de-denuncias *ngIf="activeChanel.id == 3"></app-canal-de-denuncias>
                    <app-ouvidoria *ngIf="activeChanel.id == 4"></app-ouvidoria>
                </div>
                <div class="column is-full is-4-desktop">
                    <div class="contact-info blue-background-color">
                        <div class="contact-content">
                            <p class="description no-margin">
                                Se preferir falar por telefone, entre em contato por:
                            </p>
                            <p class="contact-subdescription">
                                <span class="image">
                                    <img src="assets/svg/phone.svg" alt="Atendimento 24h ao beneficiário Telefone">
                                </span>
                                <span class="text">
                                    Atendimento 24h ao beneficiário
                                </span>
                            </p>
                            <a href="tel:0800-13-2992" class="contact-link">
                                0800-13-2992
                            </a>

                            <p class="contact-subdescription">
                                <span class="image">
                                    <img src="assets/svg/phone.svg" alt="Atendimento 24h ao prestador Telefone">
                                </span>
                                <span class="text">
                                    Atendimento no Exterior
                                </span>
                            </p>
                            <a href="tel:114197-9000" class="contact-link">
                                (11) 4197-9000
                            </a>

                            <p class="contact-subdescription">
                                <span class="image">
                                    <img src="assets/svg/phone.svg" alt="Atendimento 24h ao prestador Telefone">
                                </span>
                                <span class="text">
                                    Atendimento 24h ao prestador
                                </span>
                            </p>
                            <a href="tel:1141979000" class="contact-link">
                                (11) 4197-9000
                            </a>
                            <hr class="separator" />
                            <p class="description no-margin">
                                Atendimento à imprensa
                            </p>
                            <p class="contact-subdescription">
                                <span class="image">
                                    <img src="assets/svg/phone.svg" alt="Comunicação Care Plus Telefone">
                                </span>
                                <span class="text">
                                    Comunicação Care Plus
                                </span>
                            </p>
                            <a href="tel:1141979104" class="contact-link">
                                (11) 4197-9104
                            </a>

                            <p class="contact-subdescription">
                                <span class="image">
                                    <img src="assets/svg/email-2.svg" alt="Comunicação Care Plus Email">
                                </span>
                                <span class="text">
                                    Comunicação Care Plus
                                </span>
                            </p>
                            <a href="mailto:imprensa@careplus.com.br" class="contact-link">
                                imprensa@careplus.com.br
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>