<style type="css/text">
    div.card.m-5.position-fixed.shadow {
        z-index: 99999 !important;
        right: 0 !important;
        padding: 20px !important;
        overflow:auto;
        width:300px
    }
</style>
<div class="card shadow my-2" id="card-header">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <a [routerLink]="['/neocms/posts-blog/index']">
                    <img class="arrow-return" src="./../../../../assets/img/arrow.png" alt="">
                    <span class="title-banner">Tags</span>
                </a>
            </div>
            <div style="align-content: flex-end;">
                <button class="btn btn-primary is-primary" type="button" routerLink="/neocms/posts-blog/tag/create"
                    routerLinkActive="active">
                    Criar Nova Tag &nbsp;
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card shadow">
    <div class="card-content">
        <div class="content">
            <table id="tagTable" class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="">Id</th>
                        <th id="">Descrição</th>
                        <th id="">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="tags.length == 0 && !loaded" colspan="3">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="tags.length == 0 && loaded" colspan="3">
                            Não há tags cadastradas
                        </td>
                    </tr>
                    <tr *ngFor="let tag of result">
                        <td>{{tag.id}}</td>
                        <td>{{tag.descricao}}</td>
                        <td>
                            <a [routerLink]="['/neocms/posts-blog/tag', tag.id]" routerLinkActive="active">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            &nbsp;
                            <a (click)="openTagDelete(tag)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>