@import "~src/assets/sass/variables";
@import "~src/assets/sass/styleguide";

#tags {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    h1 {
      font-size: getSize("h2");
    }
    a {
      color: getColor(_bupa, _digital-cian);
      margin: auto 0;
    }
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: getColor(_bupa, _black);
      height: 1px;
      width: 100%;
    }
  }
  .createTag {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 27px;
    }
  }
  table {
    thead {
      background-color: getColor(_bupa, _grey-3);
    }
    tbody {
      cursor: pointer;
     
    }
    tr{
      td:first-child {
        width: 70px;
      }
      td:last-child{
        width: 100px;
      }
    }
  }
  .load {
    width: 100%;
    display: flex;
    svg {
      margin: auto;
    }
  }
}

// @import './../../assets/sass/animations.scss';

// img.arrow-return {
//   width   : 35px;
//   position: absolute;
//   left    : 15px;
//   top     : 0px;
// }

// h4.card-title {
//   padding    : 2px 0px 0px 40px;
//   font-weight: 600;
// }

// // table#tagTable {
// //   width : -webkit-fill-available;
// //   margin: 30px 30px 30px 30px;
// // }

// div.card.card-bg {
//   background-color: #f9f9f9;
//   box-shadow      : inset 0px 0px 20px 0px rgb(0 0 0 / 16%)
// }

// img.icon-upload {
//   width: 30px;
// }

// span.label-dimension {
//   position   : relative;
//   font-weight: 700;
//   display    : flex;
//   width      : 100%;
// }

// span.title-banner {
//   position   : absolute;
//   left       : 60px;
//   top        : 0px;
//   color      : #073457;
//   font-weight: bolder;
//   font-size  : 20px;
// }

// div#card-header {
//   height: 75px;
// }

// #cardAread {
//   animation : fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   transition: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// }

// h4.titulo-visualizacao {
//   padding       : 10px 10px 0px 10px !important;
//   text-transform: capitalize;
// }

// img.thumbnail-image-mobile {
//   width  : 100%;
//   padding: 10px;
// }

// div.shadow.thumbnail-image-box-mobile {
//   margin: 60px auto;
//   width : 75%;
// }

// h4.titulo-visualizacao-mobile {
//   padding       : 10px 10px 0px 10px !important;
//   text-transform: capitalize;
// }

// .card-body {
//   flex      : 1 1 auto;
//   min-height: 1px;
//   padding   : 1.10rem;
// }

// .label {
//   font-weight: bolder;
//   color      : #00335B;
// }

// .btn-primary {
//   background-color: #073457 !important;
// }

// span.tag-descricao-del {
//   font-weight: 700;
//   color      : #d00000;
// }

// fa-icon.trash-icon.ng-fa-icon {
//   color    : #d00000;
//   font-size: 1.5rem;
// }

// button.btn.btn-primary.is-primary {
//   position: absolute !important;
//   right   : 20px !important;
// }
