<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <span class="title">
                <fa-icon [icon]="faArrowCircleLeft" routerLink="/neocms/posts-blog/index" routerLinkActive="active"></fa-icon>
                Editar conteúdo
            </span>
        </div>
    </div>
  </section>
  <form [formGroup]="postsBlogForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Título</label>
                        <div class="control">
                            <input formControlName="titulo" class="input" type="text" placeholder=""
                                [ngClass]="{ 'is-success': submitted && !f.titulo.errors, 'is-danger' : submitted && f.titulo.errors }">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.titulo)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Subtítulo</label>
                        <div class="control">
                            <input
                                [ngClass]="{ 'is-success': submitted && !f.subtitulo.errors, 'is-danger' : submitted && f.subtitulo.errors }"
                                formControlName="subtitulo" class="input" type="text" placeholder="">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="field">
                <label class="label">Descrição Prévia</label>
                <div class="control">
                    <textarea formControlName="descricaoPrevia"
                        [ngClass]="{ 'is-success': submitted && !f.descricaoPrevia.errors, 'is-danger' : submitted && f.descricaoPrevia.errors }"
                        class="textarea" placeholder="" rows="5"></textarea>
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.descricaoPrevia)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
            <div class="field">
              <label class="label">Descrição</label>
              <ckeditor formControlName="descricao"
                  [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }"
                  [editor]="editor" (ready)="onReady($event)">
              </ckeditor>
              <div *ngIf="submitted" class="errors">
                  <p *ngFor="let error of getErrors(f.descricao.errors)" class="help is-danger">
                      {{error}}
                  </p>
              </div>
          </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label labelTeste">Quando será publicado?</label>
                        <div class="control"
                            [ngClass]="{ 'is-success': submitted && !f.dataPublicacao.errors, 'is-danger' : submitted && f.dataPublicacao.errors }">
                            <input id="dataPublicacao" formControlName="dataPublicacao" class="input data" type="date"
                                placeholder="Selecione uma data">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataPublicacao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Quando deverá ser removido?</label>
                        <div class="control">
                            <input id="dataExpiracao" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-success': submitted && !f.dataExpiracao.errors, 'is-danger' : submitted && f.dataExpiracao.errors }"
                                class="input" type="date" placeholder="Selecione uma data">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataExpiracao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Qual é a categoria?</label>
                        <div class="control">
                            <div class="select"
                                [ngClass]="{ 'is-success': submitted && !f.categoriaId.errors, 'is-danger' : submitted && f.categoriaId.errors }">
                                <select formControlName="categoriaId">
                                    <option value="">Selecione..</option>
                                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.categoriaId)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Imagem</label>
                        <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file"
                                    (change)="updateFileName($event.srcElement.files)">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <fa-icon [icon]="faUpload"></fa-icon>
                                    </span>
                                    <span class="file-label">
                                        Escolha um arquivo…
                                    </span>
                                </span>
                                <span class="file-name">
                                    {{arquivoNome}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <section class="hero is-small">
              <div class="hero-body">
                  <div class="container">
                      <h2 class="subtitle">
                          Tags
                      </h2>
                      <div class="tags are-medium">
                          <span (click)="toggleTag(tag)" *ngFor="let tag of tags" class="tag is-clickable"
                              [ngClass]="{'is-success' : tag.selected, 'is-danger' : !tag.selected}">
                              {{tag.descricao}}
                          </span>
                      </div>
                  </div>
              </div>
            </section>
            <br>
  
            <div class="columns">
              <div class="column">
                  <div class="field">
                      <label class="label">Título para SEO</label>
                      <div class="control">
                          <input formControlName="tituloPaginaSEO" class="input" type="text" placeholder=""
                              [ngClass]="{ 'is-success': submitted && !f.tituloPaginaSEO.errors, 'is-danger' : submitted && f.tituloPaginaSEO.errors }">
                      </div>
                      <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.tituloPaginaSEO)" class="help is-danger">
                              {{error}}
                          </p>
                      </div>
                  </div>
                  <div class="columns">
                      <div class="column">
                          <label class="label">Ativar Post?</label>
                          <div class="buttons has-addons">
                              <button type="button" class="button is-danger is-selected" [ngClass]="{'is-danger': !isPostAtivo, 'is-selected': !isPostAtivo}" (click)="changeStatusPost('0', false)">
                                  Não
                              </button>
                              <button type="button" class="button" [ngClass]="{'is-success': isPostAtivo, 'is-selected': isPostAtivo}" (click)="changeStatusPost('1', true)">
                                  Sim
                              </button>
                          </div>
                      </div>
                      <div class="column is-four-fifths">
                          <label class="label">Destacar Post?</label>
                          <div class="buttons has-addons">
                              <button type="button" class="button is-danger is-selected" [ngClass]="{'is-danger': !isPostDestaque, 'is-selected': !isPostDestaque}" (click)="changeStatusDestaque('0', false)">
                                  Não
                              </button>
                              <button type="button" class="button" [ngClass]="{'is-success': isPostDestaque, 'is-selected': isPostDestaque}" (click)="changeStatusDestaque('1', true)">
                                  Sim
                              </button>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <div class="column">
                  <div class="field">
                      <label class="label">Descrição para SEO</label>
                      <div class="control">
                          <textarea formControlName="descricaoPaginaSEO"
                              [ngClass]="{ 'is-success': submitted && !f.descricaoPaginaSEO.errors, 'is-danger' : submitted && f.descricaoPaginaSEO.errors }"
                              class="textarea" placeholder="" rows="4"></textarea>
                      </div>
                      <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.descricaoPaginaSEO)" class="help is-danger">
                              {{error}}
                          </p>
                      </div>
                  </div>
              </div>
          </div> 
        </div>
  
        <footer class="card-footer">
            <p class="card-footer-item">
                <button routerLink="/neocms/posts-blog" routerLinkActive="active" class="button is-light"
                    type="button">
                    Fechar &nbsp;
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </p>
            <p class="card-footer-item">
                <button class="button is-primary" type="submit">
                    Gravar &nbsp;
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </p>
        </footer>
    </div>
  </form>