<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Editar Post
            </h1>
        </div>
    </div>

</div>

<form [formGroup]="postsBlogForm" (ngSubmit)="onSubmit()">
    <div class="container marging-title">
        <tabset>
            <tab heading="Conteudo" id="tabConteudo" class="marging-input">

                <div class="d-inline p-2">
                    <div class="column">
                        <div class="field marging-input">
                            <label class="label">Título</label>
                            <div class="control">
                                <input formControlName="titulo" class="form-control input" type="text" placeholder=""
                                    [ngClass]="{ 'is-success': submitted && !f.titulo.errors, 'is-danger' : submitted && f.titulo.errors }">
                            </div>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.titulo)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="marging-input">
                    <label class="label">Descrição Prévia</label>
                    <div class="control ">
                        <textarea formControlName="descricaoPrevia"
                            [ngClass]="{ 'is-success': submitted && !f.descricaoPrevia.errors, 'is-danger' : submitted && f.descricaoPrevia.errors }"
                            class="form-control textarea " placeholder="" rows="5"></textarea>
                    </div>
                    <div *ngIf="submitted" class="errors">
                        <p *ngFor="let error of getErrors(f.descricaoPrevia)" class="help is-danger">
                            {{error}}
                        </p>
                    </div>
                </div>
                <div class="marging-input ">
                    <label class="label">Descrição</label>
                    <div class="border mb-3" >
                        <ckeditor formControlName="descricao" 
                        [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }"
                        [editor]="editor" (ready)="onReady($event)">
                    </ckeditor>
                    <div *ngIf="submitted" class="errors">
                        <p *ngFor="let error of getErrors(f.descricao.errors)" class="help is-danger">
                            {{error}}
                        </p>
                    </div>
                    </div>
                    
                </div>
                <div class="d-inline p-2  marging-title">
                    <label class="label">Qual é a categoria?</label>
                    <div class="control">
                        <div class="select"
                            [ngClass]="{ 'is-success': submitted && !f.categoriaId.errors, 'is-danger' : submitted && f.categoriaId.errors }">
                            <select formControlName="categoriaId" class="form-control input w-25 p-2">
                                <option value="">Selecione..</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                                    {{categoria.descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="submitted" class="errors">
                        <p *ngFor="let error of getErrors(f.categoriaId)" class="help is-danger">
                            {{error}}
                        </p>
                    </div>
                </div>
            </tab>
            <tab heading="Opções" id="tabOpcoes">
                <div class="column marging-input">
                    <div class="marging-input">
                        <label class="label">Imagem</label>
                        
                        <div class="border marging-input">
                            <div class="col-md-6 d-inline marging-input">
                                <!-- <p class="label">Escolha um arquivo</p>             -->
                                <div class="form-group ml-2">
                                    <input type="file" class="btn btn-primary" name="image"  (change)="fileProgress($event.srcElement.files)" />
                                </div>
                                <!-- <div *ngIf="fileUploadProgress">
                                    Upload progress: {{ fileUploadProgress }}
                                </div> -->
                                <div class="mb-3" *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div>
                            </div>
                            <div class="image-preview mb-3 d-inline border m-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" />                 
                            </div>
                        </div>
                    </div>
                    <div class="marging-title">
                        <label class="label labelTeste">Quando será publicado?</label>
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <input type="text" id="dataPublicacao" formControlName="dataPublicacao"
                                [ngClass]="{ 'is-success': submitted && !f.dataPublicacao.errors, 'is-danger' : submitted && f.dataPublicacao.errors }"
                                placeholder="Selecione uma data" class="form-control data" bsDatepicker
                                [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue'  }">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataPublicacao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>

                    <div class="d-inline ">
                        <label class="label">Quando deverá ser removido?</label>
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <input id="dataExpiracao" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-success': submitted && !f.dataExpiracao.errors, 'is-danger' : submitted && f.dataExpiracao.errors }"
                                class=" form-control input" type="text" placeholder="Selecione uma data" bsDatepicker
                                [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataExpiracao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="marging-input">
                            <label class="label">Ativar Post?</label>
                            <div class="buttons has-addons">
                                <button type="button" class="btn btn-outline-primary is-danger is-selected"
                                    [ngClass]="{'is-danger': !isPostAtivo, 'is-selected': !isPostAtivo}"
                                    (click)="changeStatusPost('0', false)">
                                    Não
                                </button>
                                <button type="button" class="btn btn-outline-primary ml-2"
                                    [ngClass]="{'is-success': isPostAtivo, 'is-selected': isPostAtivo}"
                                    (click)="changeStatusPost('1', true)">
                                    Sim
                                </button>
                            </div>
                        </div>
                        <div class="marging-input is-four-fifths">
                            <label class="label">Destacar Post?</label>
                            <div class="buttons has-addons">
                                <button type="button" class="btn btn-outline-primary is-danger is-selected"
                                    [ngClass]="{'is-danger': !isPostDestaque, 'is-selected': !isPostDestaque}"
                                    (click)="changeStatusDestaque('0', false)">
                                    Não
                                </button>
                                <button type="button" class="btn btn-outline-primary ml-2"
                                    [ngClass]="{'is-success': isPostDestaque, 'is-selected': isPostDestaque}"
                                    (click)="changeStatusDestaque('1', true)">
                                    Sim
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

            </tab>
            <!-- SEO -->
            <tab heading="SEO" id="tabSeo">
                <div class="columns">
                    <div class="column marging-title">
                        <p>
                            A SEO (Otimização para motores de busca) melhora sua classificação nos resultados de buscas.
                            <br />Use esses recursos para que os usuários localizem um item com mais facilidade durante
                            a busca.
                        </p>
                        <div class="field" class="marging-input">
                            <label class="label">Título para SEO</label>
                            <div class="control">
                                <input formControlName="tituloPaginaSEO" class="form-control" type="text" placeholder=""
                                    [ngClass]="{ 'is-success': submitted && !f.tituloPaginaSEO.errors, 'is-danger' : submitted && f.tituloPaginaSEO.errors }">
                            </div>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.tituloPaginaSEO)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column marging-title">
                    <div class="field marging-title">
                        <label class="label">Descrição para SEO</label>
                        <div class="control">
                            <div class="select"
                                [ngClass]="{ 'is-success': submitted && !f.categoriaId.errors, 'is-danger' : submitted && f.categoriaId.errors }">
                                <select formControlName="categoriaId">
                                    <option value="">Selecione..</option>
                                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.categoriaId)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="marging-title">
                    <div class="margin-title">
                        <h5 class="subtitle">
                            Tags
                        </h5>
                        <div class="tags are-medium border mb-5" style="height: 100px;">
                            <span (click)="toggleTag(tag)" *ngFor="let tag of tags" class="tag is-clickable"
                                [ngClass]="{'is-success' : tag.selected, 'is-danger' : !tag.selected}">
                                {{tag.descricao}}
                            </span>
                        </div>
                    </div>
                </div>
                
            </tab>
            <tab heading="Redes Sociais" id="tabRedesSociais"></tab>
        </tabset>



    </div>
  </form>