<div class="second-step">
    <h3 class="big-title white">
        Além do plano de saúde, você tem interesse em outros produtos? Selecione abaixo ou clique para avançar.
    </h3>
    <div class="columns" [formGroup]="secondStepForm">
        <div class="column is-4-desktop is-full">
            <div class="illustration-check" [class.checked]="form?.planoSaude.value == true">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/plans-international.svg" alt="Ilustração Plano de Saúde">
            </div>
            <div class="field">
                <div class="control">
                    <input class="checkbox" disabled [checked]="true" type="checkbox" formControlName="planoSaude"
                        name="planoSaude" id="saude" [ngClass]="{ 'is-invalid' : form?.planoSaude?.errors }" />
                    <label class="checkbox-label">
                        Plano de Saúde
                    </label>
                </div>
            </div>
        </div>

        <div class="column is-4-desktop is-full">
            <div class="illustration-check" [class.checked]="form?.planoOdontologico.value == true">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/plans-dental.svg" alt="Ilustração Plano Odontológico">
            </div>
            <div class="field">
                <div class="control">
                    <input formControlName="planoOdontologico"
                        [ngClass]="{ 'is-invalid' : form?.planoOdontologico?.errors }" class="checkbox"
                        id="odontologico" type="checkbox" name="planoOdontologico">
                    <label class="checkbox-label" for="odontologico">
                        Plano Odontológico
                    </label>
                </div>
            </div>
        </div>

        <div class="column is-4-desktop is-full illustration-check">
            <div class="illustration-check" [class.checked]="form?.planoMedicinal.value == true">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/art-image-one.svg" alt="Ilustração Plano Medicina Ocupacional">
            </div>
            <div class="field">
                <div class="control">
                    <input formControlName="planoMedicinal" [ngClass]="{ 'is-invalid' : form?.planoMedicinal?.errors }"
                        class="checkbox" type="checkbox" name="planoMedicinal" id="medicinaOcupacional"
                        value="medicinaOcupacional">
                    <label class="checkbox-label" for="medicinaOcupacional">
                        MEDICINA OCUPACIONAL
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>