@import "~src/scss/_variables.scss";
#a-care-plus {
    p {
        font-size: getSize("sbm");
        font-weight: 500;
        line-height: getLineHeight("sbm");
        color: getColor(_bupa, _digital-cian);
        margin-bottom: 8px;
        text-align: center;
    }
    .big-title {
        margin: 8px auto 0 auto;
        text-align: center;
        max-width: 736px;
    }
    .video-bg {
        position: relative;
    }

    .video-bg {

        &.white {
            &:after {
                position: absolute;
                content: "";
                z-index: -1;
                top: 12.5%;
                height: 75%;
                left: 16px;
                width: calc(100% - 32px);
                background-color: getColor(_bupa, _white);
            }
        }

        &.blue {
            &:after {
                position: absolute;
                content: "";
                z-index: -1;
                top: 12.5%;
                height: 75%;
                left: 16px;
                width: calc(100% - 32px);
                background-color: rgba(getColor(_bupa, _digital-cian), 0.1);
            }
        }
    }

    .videoBox {
        margin: auto;
        max-height: 511px;
        max-width: 90%;
        position: relative;
        iframe {
            width: 100%;
            height: 503px;
            position: relative;
            border: none;
        }
        &::before {
            background-color: getColor(_bupa, _digital-cian);
            content: "";
            position: absolute;
            height: 8px;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
    .columns {
        margin-bottom: 0;
        &.video-columns {
            margin-top: 55px;
        }
        .column {
            padding-top: 0;
            padding-bottom: 0;
            &.buttons-column {
                display: flex;
                .btn {
                    display: inline-flex;
                    margin: 0 auto;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media (max-width: 61.938rem) {
    #a-care-plus {
        .videoBox {
            iframe {
                height: 303px;
            }
        }
    }
}

@media (max-width: 767px) {
    #a-care-plus {
        .videoBox {
            iframe {
                height: 203px;
            }
        }
    }
}
