<div class="pageloader is-dark" [ngClass]="{'is-active': !pergunta}">
    <span class="title">
        Carregando
    </span>
</div>
<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Editar pergunta
            </h1>
        </div>
    </div>
</section>
<form [formGroup]="perguntaForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content">
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <input formControlName="descricao" class="input" type="text" placeholder=""
                        [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }">
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.descricao)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>

            <div class="field">
                <label class="label">Resposta</label>
                <div class="control">
                    <textarea formControlName="resposta"
                        [ngClass]="{ 'is-success': submitted && !f.resposta.errors, 'is-danger' : submitted && f.resposta.errors }"
                        class="textarea" placeholder="" rows="5"></textarea>
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.resposta)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>

            <div class="field">
                <label class="label">Qual o tipo dessa pergunta?</label>
                <div class="control">
                    <div class="select"
                        [ngClass]="{ 'is-success': submitted && !f.perguntaTipoId.errors, 'is-danger' : submitted && f.perguntaTipoId.errors }">
                        <select formControlName="perguntaTipoId">
                            <option value="">Selecione..</option>
                            <option *ngFor="let perguntaTipo of perguntaTipos" [value]="perguntaTipo.id">
                                {{perguntaTipo.descricao}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.perguntaTipoId)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <button routerLink="/neocms/pergunta" routerLinkActive="active" class="button is-light" type="button">
                    Fechar &nbsp;
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </p>
            <p class="card-footer-item">
                <button class="button is-primary" type="submit" [ngClass]="{'is-loading': btnSubmitDisable}">
                    Gravar &nbsp;
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </p>
        </footer>
    </div>
</form>