<section id="results-section" class="blue-background-color">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-paddingless-vertical">
                    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <h1 class="h3 big-title">
                        {{resultsCountMessage}}
                    </h1>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="filter-box" class="is-paddingless">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column filter-box">
                    <div class="filters">
                        <form [formGroup]="filterForm">
                            <div class="field">
                                <p class="control has-icons-right">
                                    <input [ngClass]="{ 'is-touched': form?.search?.value?.length > 0 }" class="input"
                                        formControlName="search" name="search" type="text" #searchInput>
                                    <label class="label">Buscar</label>
                                    <span (click)="filter()" class="icon is-small is-right is-search">
                                        <img src="assets/svg/search.svg" alt="Buscar">
                                    </span>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="results">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">

                    <p class="description" *ngIf="count > 0">
                        {{count}} resultados encontrados para “{{form.search.value}}”
                    </p>

                    <a routerLink="/careplus-mais" class="btn btn-digital-cian tertiary arrow-right small reverse" title="Voltar à navegação">
                        VOLTAR À NAVEGAÇÃO
                    </a>

                    <ul class="posts" *ngIf="!loading && count > 0" infiniteScroll [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="20" (scrolled)="onScroll()">
                        <li class="post" *ngFor="let post of posts" (click)="goToPostMobile(post)">
                            <p class="post-title">
                                {{post.titulo}}
                            </p>
                            <p class="post-description">
                                {{post.descricaoPrevia}}
                            </p>
                            
                            <a class="next" [routerLink]="['/careplus-mais', post.slug]" [attr.title]="post.titulo">
                                <img src="assets/svg/arrow-left.svg" alt="Próximo">
                            </a>
                        </li>
                    </ul>

                    <p class="no-results" *ngIf="!loading && count == 0">
                        Tente novamente usando outros termos.
                    </p>

                    <div class="loading m-t-30" *ngIf="loading">
                        <div class="loading__circle"></div>
                        <div class="loading__circle"></div>
                        <div class="loading__circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>