<section id="politica-de-privacidade-section">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-3-desktop" *ngIf="width > 1023px">
                    <app-sidebar class="app-sidebar" [elements]="elements">
                    </app-sidebar>
                </div>
                <div class="column is-full is-9-desktop">
                    <div id="aviso-de-privacidade" class="term-section">

                        <h1 class="h4 big-title">
                            Aviso de Privacidade
                        </h1>

                        <p class="sub-description">
                          A <span class="cor-destaque">Care Plus Medicina Assistencial LTDA.</span>, pessoa jurídica de direito privado inscrita no CNPJ/ME
                            sob o nº 02.725.347/0001-27, perante a ANS sob o nº 37995-6, com sede na Alameda Mamoré, nº 687,
                            12º andar, Alphaville, Barueri / SP, CEP: 06454-040, tem o propósito de proporcionar aos seus
                            beneficiários uma vida mais longa, saudável e feliz a partir da dedicação constante e da atenção
                            aos nossos pilares de cuidado e segurança.
                            
                        </p>
                        <br>
                        <p>
                            Empenhada em proteger a segurança e privacidade de seus dados pessoais, a <span class="cor-destaque">Care Plus</span>
                            assegura que todo o tratamento de dados pessoais que realiza está de acordo com a Lei Geral de Proteção de Dados
                            Pessoais (LGPD) e com as demais normas e regulamentações aplicáveis.
                        </p>
                        <br>
                        <p>
                            Este <span class="cor-destaque">Aviso de Privacidade</span> explica como a <span class="cor-destaque">Care Plus</span> coleta, utiliza e armazena as suas informações
                            pessoais. Assim, toda vez que utilizarmos as expressões <span class="cor-destaque">Care Plus</span>, “nós”, “nosso(a)”, “conosco”,
                            estaremos nos referindo à empresa <span class="cor-destaque">Care Plus Medicina Assistencial LTDA.</span>, bem como as demais empresas
                            do nosso Grupo Econômico (Grupo BUPA).
                        </p>
                        <br>
                        <p>
                            Por outro lado, toda vez que utilizarmos as expressões “Você”, “seus”, “suas”, estaremos nos referindo
                            a nossos beneficiários, clientes, usuários do(s) Site(s) e aplicativos, fornecedores, parceiros,
                            credenciados e prestadores de serviços – ou seja, aos Titulares de Dados Pessoais. 
                        </p>
                        <br>
                        <p>
                            Por isso, recomendamos que Você leia com atenção este Aviso de Privacidade e, caso possua alguma dúvida
                            acerca do seu conteúdo ou sobre como tratamos suas informações pessoais, entre em contato conosco pelo
                            e-mail privacidade@careplus.com.br.
                        </p>
                    </div>


                    <div id="definicoes" class="term-section">

                        <h2 class="big-title h4">
                            Definições
                        </h2>
                        <p class="sub-description">
                            Para facilitar o entendimento dos termos contidos neste <span class="cor-destaque">Aviso de Privacidade</span> e
                            nos demais documentos relacionados, recomendamos que consulte as definições abaixo:
                        </p>
                        <br>
                        <p>    
                            <strong>Anonimização:</strong> Processo por meio do qual o dado perde a possibilidade de associação, direta ou indireta,
                            a um indivíduo, considerando os meios técnicos razoáveis e disponíveis no momento do tratamento. Assim, o dado deixa de
                            ser considerado um dado pessoal.
                        </p>
                        <br>
                        <p>    
                            <strong>Controlador:</strong> É a pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões
                            referentes ao tratamento de dados pessoais. Neste caso, a <span class="cor-destaque">Care Plus</span> é controladora dos
                            seus dados pessoais.
                        </p>
                        <br>
                        <p>   
                            <strong>Dado Pessoal:</strong> Qualquer informação relacionada a pessoa natural, direta ou indiretamente, identificada ou
                            identificável. Ou seja, qualquer informação que identifique <strong>Você</strong>, como, por exemplo, nome, RG, CPF,
                            número da carteirinha <span class="cor-destaque">Care Plus</span>, endereço etc.
                        </p>
                        <br>
                        <p>   
                            <strong>Dado Pessoal Sensível:</strong> Categoria especial de dados pessoais referentes a origem racial ou étnica, convicção
                            religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, referentes
                            à saúde ou à vida sexual, dados genéticos ou biométricos relativos à pessoa natural. Aqui estamos falando de relatórios médicos,
                            diagnósticos, pedidos de exames e/ou procedimentos, dados biométricos, dentre outros.
                        </p>
                        <br>
                        <p>   
                            <strong>IP:</strong> Abreviatura de <i>Internet Protocol</i>. É um conjunto de números que identifica o computador dos
                            usuários na Internet.
                        </p>
                        <br>
                        <p>   
                            <strong>LGPD:</strong> Lei Geral de Proteção de Dados - Lei Federal nº. 13.709/2018.
                        </p>
                        <br>
                        <p>   
                            <strong>Logs:</strong> Registros de atividades dos usuários efetuadas no Site.
                        </p>
                        <br>
                        <p>   
                            <strong>Site:</strong> O endereço eletrônico dos sites Care Plus e seus subdomínios.
                        </p>
                        <br>
                        <p>   
                            <strong>Titular de Dados:</strong> Pessoa natural a quem se refere, os dados pessoais que são objeto de tratamento – neste caso, Você.
                        </p>
                        <br>
                        <p>  
                            <strong>Tratamento:</strong> Toda operação realizada com dados pessoais, como, por exemplo, coleta, utilização,
                             acesso, reprodução, compartilhamento, arquivamento, armazenamento, eliminação etc.
                        </p>

                        
                    </div>

                    <div id="quais-info-tratamos" class="term-section">

                        <h3 class="big-title h4">
                            Quais informações tratamos
                        </h3>
                        <p class="sub-description">
                            A <span class="cor-destaque">Care Plus</span> trata suas informações para tornar seus serviços disponíveis a
                            <strong>Você</strong>, para personalizá-los ou para aprimorá-los.                            
                        </p> 
                        <br>                      
                        <p>
                            Durante nosso relacionamento com <strong>Você</strong>, precisaremos de alguns Dados Pessoais, tais como:
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Contato:</strong> nome completo, número de telefone fixo, número de celular, e-mail.
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Identificação:</strong> idade, profissão, Código Brasileiro de Ocupações (“CBO”),
                             geolocalização, estado civil, nacionalidade, número da carteirinha, número de registro nos conselhos
                             de classe (CRM, CRO).
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Imagem:</strong> Foto.
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Financeiro:</strong> instituição bancária, CPF, número da agência e conta corrente.
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Navegação:</strong> endereço de IP, versão do seu sistema operacional, tipo de aparelho
                            utilizado, navegador utilizado, entre outros.
                        </p>
                        <br>
                        <p>
                            <strong>Dados de Saúde:</strong> relatórios médicos, pedidos de exame e/ou procedimentos, resultado de
                             exames, detalhes sobre a sua saúde física ou psicológica, certidão de óbito, certidão de nascimento.
                        </p>
                        <br>
                        <p>
                            <strong>Informações de Acesso e Uso do Aplicativo:</strong> biometria e geolocalização.
                        </p>
                        <br>
                        <p>
                            <strong>Informações para nosso Processo Seletivo:</strong> histórico profissional e acadêmico, número de
                             registro nos conselhos de classe, estado civil, filiação, sexo, data de nascimento, endereço, CPF, RG. 
                        </p>
                        <br>
                        <p>
                            <strong>Informações Solicitadas pela ANS:</strong> data de nascimento, número de matrícula, número do
                             Cartão Nacional de Saúde (“CNS”), sexo, CPF, PIS, PASEO ou NIT, número do Registro de Identidade Civil RIC,
                             título de eleitor, RG, endereço, filiação, Declaração de Nascido Vivo, naturalidade. Na eventualidade de
                             nossos beneficiários possuírem até 12 (doze) anos incompletos, trataremos suas informações pessoais
                             mediante autorização prévia de um de seus pais ou responsável legal, quando aplicável.                             
                        </p>
                        <br>
                        <p>
                            As informações biométricas e de geolocalização que você decidir compartilhar conosco para facilitar seu
                            acesso e utilização do aplicativo <span class="cor-destaque">Care Plus</span> serão tratadas apenas
                            quando você autorizar.   
                        </p>
                        <br>
                        <p>
                            Você pode controlar suas preferências de acesso biométrico diretamente por meio do aplicativo e,
                            caso deseje alterar as permissões de compartilhamento da sua geolocalização, basta ajustar as
                            configurações de compartilhamento do seu aparelho celular ou <i>tablet</i>.   
                        </p>
                    </div>

                    <div id="como-usamos-seus-dados" class="term-section">

                        <h4 class="big-title">
                            Como usamos seus dados pessoais
                        </h4>

                        <p class="sub-description">
                            Os seus Dados Pessoais serão utilizados para finalidades específicas e legítimas, assegurado seu direito
                            a obter informações detalhadas sobre o Tratamento das informações.
                        </p>
                        <br>
                        <p>
                            Portanto, durante a execução de nossas atividades, suas informações pessoais poderão ser tratadas para:  
                        </p>
                        <br>
                        <p>
                            <strong>Identificar Você:</strong> por vezes, precisaremos nos certificar sobre a sua identidade para prevenir fraudes, entregar informações, permitir acesso às nossas áreas logadas no Site e aplicativo, ou para prestar nossos serviços.  
                        </p>
                        <br>
                        <p>
                            <strong>Comunicação com Você:</strong> para atender às solicitações registradas por meio do formulário
                             “Fale Conosco” disponível no Site, fornecer suporte ou informações importantes que possam ser do seu
                             interesse, ou responder às demandas que recebermos por meio do SAC, da Ouvidoria ou outro canal de
                             comunicação disponibilizado por nós.
                        </p>
                        <br>
                        <p>
                            <strong>Personalizar sua experiência:</strong> entender seus interesses ao longo de sua interação com
                             nossos produtos e serviços, incluindo nosso Site e demais plataformas, e adaptá-los às suas necessidades
                             e preferências, recomendar nossa rede credenciada mais próxima com base na sua localização, dentre outros. 
                        </p>
                        <br>
                        <p>
                            <strong>Prestar atendimento presencial:</strong> alguns de nossos produtos, como o programa Mommy Care,
                             contam com atendimentos presenciais a partir de visitas de nossos nutricionistas ou demais prestadores
                             de serviços credenciados. Portanto, utilizaremos suas informações para permitir que o prestador de
                             serviços possa atendê-lo em seu local de preferência. 
                        </p>
                        <br>
                        <p>
                            <strong>Prevenir fraudes:</strong> podemos utilizar seus Dados Pessoais para prevenir, identificar e
                             analisar fraudes e/ou mitigar suas consequências, como nas situações em que recepcionamos pedidos de
                             reembolso sem desembolso, por exemplo.
                        </p>
                        <br>
                        <p>
                            <strong>Conduzir de auditorias:</strong> conduzir auditorias para identificar e prevenir fraudes,
                             proteger nossa propriedade, conciliar nossas contas ou prestar contas às demais empresas do nosso
                             grupo econômico (Grupo BUPA) ou aos órgãos fiscalizadores.
                        </p>
                        <br>
                        <p>
                            <strong>Executar contratos:</strong> processar e faturar serviços, realizar pagamentos e reembolsos,
                             viabilizar o acesso à nossa rede credenciada, entre outras medidas necessárias à execução do seu contrato.
                        </p>
                        <br>
                        <p>
                            <strong>Exercer nossos direitos:</strong> elaborar e protocolar defesas em processos judiciais,
                             administrativos e/ou arbitrais, gerir processos e contencioso ou, ainda, para proteger nosso crédito.
                        </p>
                        <br>
                        <p>
                            <strong>Cumprir com obrigações legais ou regulatórias:</strong> cumprir com obrigações impostas por lei
                             ou por autoridades reguladoras, como a Superintendência de Seguros Privados (SUSEP), Agência Nacional
                             de Saúde Suplementar (ANS), entre outros.
                        </p>
                        <br>
                        <p>
                            <strong>Tutelar a saúde:</strong> processamos informações pessoais, por exemplo, para disponibilizar
                             assistência à saúde aos nossos beneficiários, por meio do agendamento e execução de consultas médicas
                             e procedimentos de saúde, realização de análises clínicas e identificação de procedimentos necessários.
                        </p>
                        <br>
                        <p>
                            <strong>Direcionar publicidade:</strong> envio de comunicações de marketing direto no contexto de campanhas,
                             promoções e publicidade da <span class="cor-destaque">Care Plus</span>, demais empresas do nosso grupo
                             econômico e parceiros comerciais, reservado o seu direito de <i>opt-out</i> a todas estas comunicações.
                        </p>
                        <br>
                        <p>
                            <strong>Realizar análises estatísticas e comerciais:</strong> utilizamos alguns de seus Dados Pessoais
                             para realização de análises estatísticas e comerciais com o objetivo de desenvolver novos produtos e
                             serviços e sempre que houver base legal que autorize este tratamento.
                        </p>
                        <br>
                        <p>
                            <strong>Realizar estudos clínicos:</strong> podemos utilizar sua foto, imagem (caso refira-se a
                             procedimento estético) ou informações patológicas e procedimentais para análise do seu caso clínico,
                             levantamento e sugestão de alternativas ao seu tratamento.
                        </p>




                    </div>

                    <div id="compartilhando-dados-pessoais" class="term-section">

                        <h4 class="big-title">
                            Compartilhamento de seus dados pessoais
                        </h4>

                        <p class="sub-description">
                            Em determinadas situações, a <span class="cor-destaque">Care Plus</span> precisará compartilhar os seus
                            dados pessoais com terceiros. Porém, compartilharemos apenas as informações estritamente necessárias e
                            dentro dos limites legais e regulatórios com:
                        </p>
                        <br>
                        <p>
                          <span class="cor-destaque">1. </span> Empresas parceiras e fornecedores, para desenvolvimento e prestação
                          de serviços disponibilizados a <strong>Você</strong>, sobretudo com as corretoras de benefícios e com nossa rede credenciada.  
                        </p>
                        <br>
                        <p>
                          <span class="cor-destaque">2. </span> Clientes ou estipulantes de contratos coletivos de seguros,
                           para executar contrato do qual <strong>Você</strong> participe como beneficiário.
                        </p>
                        <br>
                        <p>
                          <span class="cor-destaque">3. </span> Autoridades ou entes governamentais para que possamos cumprir com
                           nossas obrigações legais ou regulatórias.
                        </p>
                        <br>
                        <p>
                          <span class="cor-destaque">4. </span> Mediante ordem judicial ou pelo requerimento de autoridades
                           administrativas que detenham competência legal para a sua requisição.
                        </p>
                        <br>
                        <p>
                          <span class="cor-destaque">5. </span> Entre as empresas do nosso grupo econômico para prestação de contas
                           e execução de nossos serviços.
                        </p>
                        <br>
                        <p>
                            Quando aplicável, os terceiros – sejam eles prestadores de serviços, parceiros comerciais ou fornecedores
                            – estão sujeitos a rigorosos contratos que estabelecem critérios mínimos para proteção e segurança de suas
                            informações pessoais.  
                        </p>
                    </div>

                    <div id="como-mantemos" class="term-section">

                        <h4 class="big-title">
                            Como mantemos seus dados pessoais seguros
                        </h4>

                        <p class="sub-description">
                            A <span class="cor-destaque">Care Plus</span> adota medidas técnicas, administrativas e organizacionais para
                            manter seus dados pessoais seguros, a salvo de perda, alterações ou destruição indevidas e vazamentos.
                        </p>
                        <br>
                        <p>
                            Para a execução de nossas atividades, testamos nossa segurança com frequência e utilizamos tecnologia
                            para proteger seus dados pessoais desde o momento em que são coletados até seu armazenamento nossos
                            sistemas. 
                        </p>
                        <br>
                        <p>
                            <strong>Você</strong> deve entender, contudo, que nenhuma transmissão de informações é totalmente segura
                             e a Care Plus não pode garantir que os Dados Pessoais tratados não serão alvo de incidentes de segurança
                             decorrentes de condutas irregulares perpetradas por <strong>Você</strong> ou por terceiros.
                        </p>
                        <br>
                        <p>
                            Portanto, deixamos claro que a <span class="cor-destaque">Care Plus</span> não se responsabiliza ou garante que os dispositivos e
                            equipamentos utilizados por Você para acessar nossos Sites e plataformas se encontram adequadamente
                            protegidos contra <i>softwares</i> nocivos, vírus informáticos e <i>worms</i>.  
                        </p>
                        <br>
                        <p>
                            Caso seus Dados Pessoais sejam alvo de incidentes de segurança, a <span class="cor-destaque">Care Plus</span>
                            adotará medidas para mitigar os prejuízos decorrentes do evento e, paralelamente, cuidará de informá-lo,
                            nos limites de sua obrigação legal.   
                        </p>
                    </div>


                    <div id="por-quanto-tempo" class="term-section">

                        <h4 class="big-title">
                            Por quanto tempo ficamos com seus dados pessoais
                        </h4>

                        <p class="sub-description">
                            A <span class="cor-destaque">Care Plus</span> mantém seus Dados Pessoais, desde que estritamente necessários, pelo período em que durar
                            nossa relação comercial <u>com <strong>Você</strong></u> e até o término da finalidade para a qual suas informações tenham sido
                            coletadas.
                        </p>
                        <br>
                        <p>
                            Quando o período de retenção for finalizado, por exemplo, suas informações serão descartadas de forma segura ou anonimizadas.   
                        </p>
                    </div>

                    <div id="seus-direitos" class="term-section">

                        <h4 class="big-title">
                            Seus direitos
                        </h4>

                        <p class="sub-description">
                           <strong>Você</strong>, como Titular de Dados Pessoais, possui direitos previstos na LGPD. São eles: 
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Confirmação</strong> da existência de Tratamento, de maneira simplificada e em formato claro
                            e completo; 
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Acesso</strong> aos seus dados pessoais, por meio do envio de cópias impressas ou
                             eletrônicas das suas informações;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Correção</strong> de seus dados pessoais, quando incompletos, inexatos ou desatualizados;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Anonimização, Bloqueio ou Eliminação</strong> de seus dados pessoais, quando
                             desnecessários, excessivos ou tratados em desconformidade com a legislação;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Portabilidade</strong> das suas informações a outro fornecedor de serviços ou produto;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Eliminação</strong> dos dados pessoais tratados com base no seu consentimento;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Revogação</strong> do seu consentimento;
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Informação </strong> sobre as entidades, públicas e privadas, com quem compartilhamos
                             seus dados pessoais.
                        </p>
                        <br>
                        <p>
                            Para exercer quaisquer de seus direitos, preencha o formulário disponível <a href="https://privacyportal-de.onetrust.com/webform/1008c9c1-5b06-4f60-b76e-80bb9f385e31/38944ca9-3aea-4529-96cb-f1e28bd0b9e2" title="Exerça seus direitos" target="_blank">aqui</a>.
                        </p>
                        <br>
                        <p>
                            Para atender as suas solicitações, vamos precisar coletar algumas informações para verificar a sua
                             identidade, evitando possíveis fraudes e que um terceiro se passe por <strong>Você</strong>.   
                        </p>
                        <br>
                        <p>
                            Esteja ciente, também, de que esses direitos não são absolutos e nem sempre poderemos atender as suas
                            solicitações, como, por exemplo, no caso de um pedido de eliminação de dados pessoais que precisamos manter
                            para cumprir com obrigações legais e/ou regulatórias, ou para exercer nossos direitos em processos
                            judiciais, administrativos ou arbitrais. Nessa hipótese, <strong>Você</strong> será devidamente informado acerca da
                            inviabilidade do atendimento à sua requisição, bem como das razões de justificam a negativa.   
                        </p>                        
                    </div>

                    <div id="atualizacoes" class="term-section">

                        <h4 class="big-title">
                            Atualizações
                        </h4>

                        <p class="sub-description">
                            A <span class="cor-destaque">Care Plus</span>, a qualquer tempo e sem aviso prévio, poderá revisar este
                            <span class="cor-destaque">Aviso de Privacidade</span> e alterar seu conteúdo, acrescentando ou removendo
                            disposições. Por isso, sempre consulte o nosso Site para verificar a última versão deste
                            <span class="cor-destaque">Aviso de Privacidade</span>.
                        </p>
                    </div>

                    <div id="contato" class="term-section">

                        <h4 class="big-title">
                            Contato
                        </h4>

                        <p class="sub-description">
                            Quaisquer dúvidas relacionadas a este <span class="cor-destaque">Aviso de Privacidade</span> devem ser encaminhadas ao nosso time
                            Encarregado por meio do canal <span class="cor-destaque">privacidade@careplus.com.br</span>. 
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </article>
</section>

<app-learn-more id="learn-more"></app-learn-more>