<section id="politica-de-privacidade-section">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-3-desktop" *ngIf="width > 1023px">
                    <app-sidebar [elements]="elements">
                    </app-sidebar>
                </div>
                <div class="column is-full is-9-desktop">
                    <div id="politica-de-privacidade" class="term-section">

                        <h1 class="h4 big-title">
                            Política de Privacidade
                        </h1>

                        <p class="sub-description">
                            Temos o compromisso de proteger sua privacidade ao lidar com suas informações pessoais. Esta
                            política de privacidade fornece detalhes sobre as informações que coletamos sobre você, como
                            as usamos e como as protegemos. Ele também fornece informações sobre seus direitos. As
                            informações que processamos e os motivos pelos quais as processamos podem ser diferentes em
                            nossos produtos e serviços. Por exemplo, as informações que processamos para fornecer
                            serviços de seguro podem ser diferentes das informações que processamos para fornecer
                            serviços odontológicos ou médicos.
                        </p>
                    </div>


                    <div id="seus-direitos" class="term-section">

                        <h4 class="big-title">
                            Seus Direitos
                        </h4>

                        <p class="sub-description">
                            Você tem o direito de acessar suas informações e solicitar a correção de quaisquer erros,
                            exclusão e restrição do uso de suas informações. Você também tem o direito de retirar a
                            permissão que você nos forneceu para usar suas informações e de solicitar que não sejam mais
                            utilizadas.
                        </p>
                    </div>

                    <div id="para-que-usamos" class="term-section">

                        <h4 class="big-title">
                            Para que usamos suas informações pessoais e nossos motivos legais para fazê-lo
                        </h4>

                        <p class="sub-description">
                            Processamos suas informações pessoais para os fins estabelecidos nesta política de
                            privacidade. Também existem algumas razões legais para processarmos suas informações
                            pessoais (elas dependem de qual categoria de informações pessoais estamos processando).
                            Normalmente, processamos informações pessoais quando é necessário o fornecimento dos
                            serviços estabelecidos em um contrato, quando houver interesse legítimo nossos e/ou de
                            terceiros (como prestadores de saúde, hospitais, etc), e/ou quando for exigido ou permitido
                            por qualquer lei que se aplique.
                        </p>
                    </div>

                    <div id="legitimo-interesse" class="term-section">

                        <h4 class="big-title">
                            Legítimo Interesse
                        </h4>

                        <p class="sub-description">
                            Processamos suas informações pessoais para vários interesses legítimos, incluindo o
                            gerenciamento de todos os aspectos de nosso relacionamento com você, inclusive para nos
                            ajudar a melhorar nossos serviços e produtos, prestar os serviços contratados e exercer
                            nossos direitos e/ou atender suas solicitações.
                        </p>
                    </div>

                    <div id="compartilhando-informacoes" class="term-section">

                        <h4 class="big-title">
                            Compartilhando suas informações
                        </h4>

                        <p class="sub-description">
                            Compartilhamos suas informações nas empresas do grupo econômico da Care Plus, e com
                            contratantes de planos de saúde e/ou programas de saúde (incluindo seu empregador, se você
                            for beneficiário de um plano de saúde e/ou usuário de programa de saúde), com pessoas agindo
                            em seu nome (por exemplo, corretores) e com outras pessoas que nos ajudam a fornecer
                            serviços a você (por exemplo, prestadores de serviços de saúde e prestadores de assistência
                            médica) ou de quem precisamos de informações para nos permitir lidar ou confirmar
                            solicitações ou direitos (por exemplo, associações profissionais). Também compartilhamos
                            suas informações de acordo com a lei. As informações exatas que compartilhamos dependem do
                            motivo pelo qual estamos compartilhando. Por exemplo, se precisarmos compartilhar
                            informações para fornecer assistência médica, compartilharemos categorias especiais de
                            informações, como detalhes de saúde com o profissional médico que esteja te atendendo.
                        </p>
                    </div>

                    <div id="porquanto-tempo-mantemos" class="term-section">

                        <h4 class="big-title">
                            Por quanto tempo manteremos suas informações pessoais
                        </h4>

                        <p class="sub-description">
                            Manteremos suas informações pessoais (i) enquanto você for um beneficiário e/ou usuário dos
                            nossos serviços, (ii) de acordo com legislação em vigor e as definições determinadas pelos
                            reguladores, órgãos ou associações profissionais, e (iii) enquanto perdurar qualquer
                            processo relevante que se aplique a prestação de serviços por parte da Care Plus e/ou de
                            empresas do seu grupo econômico. 
                        </p>
                    </div>


                    <div id="mudancas-e-atualizacoes" class="term-section">

                        <h4 class="big-title">
                            Mudanças ou Atualizações
                        </h4>

                        <p class="sub-description">
                            Periodicamente, podemos revisar estes Termos e da Política de Privacidade, alterando e
                            atualizando suas condições. Seu uso continuado deste Site, após a publicação de quaisquer
                            alterações, confirmará sua aceitação dessas alterações, sendo sua responsabilidade a leitura
                            e observação deste Termo e das alterações realizadas desde a sua última visita.
                        </p>
                    </div>

                    <div id="sobre-o-site" class="term-section">

                        <h4 class="big-title">
                            Sobre o Site e sobre a Care Plus
                        </h4>

                        <p class="sub-description">
                            Este Site pertence a Care Plus, mais formalmente conhecida como Care Plus Medicina
                            Assistencial Ltda. (com sede na Avenida Sagitário, n.º 138, 19º andar – Torre City,
                            Alphaville, CEP 06473-073, cidade Barueri, Estado de São Paulo, inscrita no CNPJ sob o n.º
                            03.823.704/0001-52), é empresa especializada em serviços médicos e odontológicos e que faz
                            parte do grupo Bupa (empresa registrada na Inglaterra e no País de Gales). Pertencem ao
                            grupo econômico da Care Plus no Brasil as empresas: Personal System Serviços Médicos e
                            Odontológicos Ltda., Care Plus Negócios em Saúde Ltda., e Qualywork Serviços Médicos Ltda.
                        </p>

                        <p class="sub-description">
                            Se você tiver alguma dúvida sobre este Site, sobre estes Termos e sobre como processamos
                            suas informações, entre em contato conosco.
                        </p>
                    </div>

                    <div id="violacoes-e-foro" class="term-section">

                        <h4 class="big-title">
                            Violações e Foro
                        </h4>

                        <p class="sub-description">
                            Solicitamos que seja informado imediatamente qualquer tipo de violação destes Termos entre
                            em contato conosco relatando de forma mais completa possível o ocorrido para a Care Plus.
                            Qualquer denúncia será apurada em sigilo e de forma anônima. <strong>Fica eleito o Foro da
                                Comarca da Capital do Estado de São Paulo para se dirimir quaisquer dúvidas. EU LI E
                                COMPREENDI AS DISPOSIÇÕES DESTE INSTRUMENTO (TERMOS DE USO E DA POLÍTICA DE PRIVACIDADE)
                                E ESTOU CIENTE DE SEU INTEIRO TEOR, ACEITANDO SEUS TERMOS E CONDIÇÕES.</strong>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </article>
</section>

<app-learn-more id="learn-more"></app-learn-more>