@import "~src/scss/_variables";

section#social-posts {
    p {
        font-size: getSize("sbm");
        color: getColor(_bupa, _digital-cian);
        line-height: 150%;
        font-weight: 500;
    }

    h4 {
        font-size: getSize("h4");
        color: getColor(_bupa, _navy);
        line-height: 120%;
        font-weight: 600;
    }

    .columns {
        .column {
            .post {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }
        }
    }
    .social-media-box {
        width: 100%;
        height: 100%;
        position: relative;
        .columns {
            margin: 0;
            width: 100%;
            height: 100%;
        }
        .column {
            width: calc(50% - 8px);
            height: calc(50% - 8px);
            margin: 0 8px;
            padding: 0 !important;
            &:nth-child(1) {
                margin-left: 0;
                margin-bottom: 8px;
            }
            &:nth-child(2) {
                margin-right: 0;
                margin-bottom: 8px;
            }
            &:nth-child(3) {
                margin-left: 0;
                margin-top: 8px;
            }
            &:nth-child(4) {
                margin-right: 0;
                margin-top: 8px;
            }
            .share-box {
                width: 100%;
                height: 100%;
                border: 1px solid getColor(_bupa, _grey-3);
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    img {
                        margin: auto;
                        display: flex;
                        align-self: center !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) {
    section#social-posts {
        .media-box {
            height: calc(100vw - 48px);
            padding: 16px;
            .social-media-box {
                width: calc(100% - 32px);
                height: calc(100% - 32px);
            }
        }
    }
}

@media (min-width: 569px) and (max-width: 768px) {
    section#social-posts {
        .media-box {
            height: calc(50vw - 48px);
        }
    }
}

@media (max-width: 768px) {
    section#social-posts {
        .media-box {
            .social-media-box {
                .columns {
                    .column {
                        display: inline-flex;
                        .share-box {
                            a {
                                img {
                                    height: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 569px) and (max-width: 1023px) {
    section#social-posts {
        .columns {
            .column {
                &.is-half-tablet-only {
                    flex: 0 0 50%;
                    width: 50%;
                    display: inline-flex;
                }

                &.media-box {
                    padding: 0 16px;
                    .social-media-box {
                        width: calc(100% - 32px);
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#social-posts {
        .columns {
            .column {
                &.media-box {
                    position: relative;
                    .social-media-box {
                        position: absolute;
                    }
                }
            }
        }
    }
}
