<section id="social-posts" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-full">
                    <p class="section-breadcrumb">REDES SOCIAIS</p>

                    <!-- h1 -->
                    <h1 *ngIf="htag == 'h1'" class="h4 title">Care Plus na mídia</h1>

                    <!-- h2 -->
                    <h2 *ngIf="htag == 'h2'" class="h4 title">Care Plus na mídia</h2>

                    <!-- h3 -->
                    <h3 *ngIf="htag == 'h3'" class="h4 title">Care Plus na mídia</h3>

                    <!-- h4 -->
                    <h4 *ngIf="htag == 'h4'" class="h4 title">Care Plus na mídia</h4>

                    <!-- h5 -->
                    <h5 *ngIf="htag == 'h5'" class="h4 title">Care Plus na mídia</h5>

                    <!-- h6 -->
                    <h6 *ngIf="htag == 'h6'" class="h4 title">Care Plus na mídia</h6>

                </div>
            </div>
            <div class="columns posts-columns">
                <div class="column is-2" *ngFor="let post of posts">
                    <a class="post" [href]="post.link" [title]="post.title + ' - opens in a new window'"
                        target="_blank">
                        <img [src]="post.url" [alt]="post.alt">
                    </a>
                </div>
                <!--
                    Coluna de mídias sociais nas resoluções de tablet para cima
                -->
                <div class="column is-2 media-box is-hidden-touch">
                    <div class="social-media-box">
                        <div class="columns flex-wrap">
                            <div class="column is-6 is-one-quarter-mobile">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.instagram.com/careplusoficial/"
                                        title="Instagram - opens in a new window" target="_blank">
                                        <img src="assets/svg/instagram.svg" alt="Site Instagram">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-mobile">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.facebook.com/careplusnarede/"
                                        title="Facebook - opens in a new window" target="_blank">
                                        <img src="assets/svg/facebook.svg" alt="Site Facebook">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-mobile">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.youtube.com/user/careplusnarede"
                                        title="Youtube - opens in a new window" target="_blank">
                                        <img src="assets/svg/youtube.svg" alt="Site Youtube">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-mobile">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://br.linkedin.com/company/care-plus"
                                        title="Linkedin - opens in a new window" target="_blank">
                                        <img src="assets/svg/linkedin.svg" alt="Site Linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                Coluna de mídias sociais nas resoluções de mobile para baixo
            -->
            <div class="columns is-full is-hidden-desktop">
                <div class="column is-full media-box">
                    <div class="social-media-box">
                        <div class="columns flex-wrap">
                            <div class="column is-6 is-one-quarter-touch">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.instagram.com/careplusoficial/"
                                        title="Instagram - opens in a new window" target="_blank">
                                        <img src="assets/svg/instagram.svg" alt="Instagram">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-touch">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.facebook.com/careplusnarede/"
                                        title="Facebook - opens in a new window" target="_blank">
                                        <img src="assets/svg/facebook.svg" alt="Facebook">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-touch">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://www.youtube.com/user/careplusnarede"
                                        title="Youtube - opens in a new window" target="_blank">
                                        <img src="assets/svg/youtube.svg" alt="Youtube">
                                    </a>
                                </div>
                            </div>
                            <div class="column is-6 is-one-quarter-touch">
                                <div class="share-box">
                                    <a rel="noopener noreferrer" href="https://br.linkedin.com/company/care-plus"
                                        title="Linkedin - opens in a new window" target="_blank">
                                        <img src="assets/svg/linkedin.svg" alt="Linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>