@import "~src/scss/_variables";

section {
    &#about-care-plus {
        .container {
            .columns {
                .column {
                    &:first-child {
                        padding-right: 10.625rem;
                        position: relative;
                        .box-infos {
                            position: sticky;
                            position: -webkit-sticky;
                            top: 0.938rem;

                            .big-title {
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10.625rem;
                                    height: 0.25rem;
                                    background: linear-gradient(to left, #cdecfd 0%, getColor(_bupa, _digital-cian) 100%);
                                    right: 0;
                                    top: 2.5rem;
                                    transform: translateX(95%);
                                }
                            }
                        }
                    }
                    &:last-child {
                        .blue-background-box {
                            padding: 1.5rem;
                            margin-top: 1.75rem;
                            .box-title {
                                font-weight: 500;
                                color: getColor(_bupa, _digital-cian);
                            }

                            .box-description {
                                margin-top: 0.813rem;
                                color: getColor(_bupa, _grey-2);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 64rem) and (max-width: 1400px) {
    section {
        &#about-care-plus {
            .container {
                .columns {
                    .column {
                        &:first-child {
                            padding-right: 5rem;
                            .box-infos {
                                &::before {
                                    width: 4.375rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#about-care-plus {
            .container {
                .columns {
                    .column {
                        &:first-child {
                            padding-right: 1rem;
                            .box-infos {
                                position: initial;
                                .big-title {
                                    &::before {
                                        content: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
