<app-simple-banner [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToNextSection()"></app-simple-banner>
<section #aboutCarePlus id="about-care-plus">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <div class="box-infos">
                        <p class="small-title">
                            Saiba como funciona a Rede Plus
                        </p>
                        <h2 class="h4 big-title">
                            A Rede Plus é composta por profissionais altamente gabaritados e com formação curricular de excelência
                        </h2>
                    </div>
                </div>
                <div class="column is-full is-6-desktop">
                    <p class="description no-margin">
                       Exclusiva para todos os planos, a Rede Plus é uma rede de profissionais muito diferente de tudo que você já viu no mercado. Os profissionais são selecionados por meio de critérios rigorosos que envolvem formação acadêmica e estrutura de atendimento.
                    </p>
                    <p class="sub-description">
                        Esta rede proporciona aos nossos beneficiários uma experiência de atendimento excepcional, aliada a melhor prática médica e, tudo isso, sem que você tenha que ficar se preocupando com limites de reembolso.
                    </p>
                    <p class="sub-description">
                        Você tem acesso ao currículo dos profissionais para visualizar em detalhes a formação, publicações, especializações, dentre outros.
                    </p>
                    <p class="sub-description">
                       Além disso, os consultórios são de alta excelência e possuem facilidades para agendamento das consultas
                    </p>
                    <p class="sub-description">
                       Converse com o seu RH e entenda como funciona.
                    </p>
                    <div class="blue-background-box blue-background-color">
                        <p class="box-title">
                            Que tal experimentar a Rede Plus?
                        </p>
                        <p class="box-description">
                            Ao pesquisar por este serviço em nosso app ou em nosso site, você consegue ver a formação, as publicações e as especializações para identificar qual profissional se encaixa melhor a sua necessidade. Além disso, o agendamento é mais ágil e prático.
Acesse a busca pela Rede Credenciada em nosso site ou app e selecione a opção Rede Plus. Digite a especialidade e região que deseja e escolha o melhor profissional para atendê-lo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<app-a-careplus-video [videoModel]="videoModel" [backgroundColor]="'blue'"></app-a-careplus-video>
<app-info-section [sectionInfo]="accreditedSection"></app-info-section>
<app-accredited-network [backgroundColorClass]="'blue-background-color'"></app-accredited-network>
<app-learn-more [cards]="cards"></app-learn-more>

