<section id="highlight-post">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-full is-6-desktop image-col" [ngClass]="[post?.tipoImagem]">
                    <a [routerLink]="['/careplus-mais/' + post?.slug]">
                        <img [src]="post?.caminhoImagem" [attr.alt]="post?.nomeImagem">
                    </a>
                </div>
                <div class="column is-full is-6-desktop info-col">
                    <p class="small-title">
                        {{post?.noticiaTipo?.descricao}}
                        <span class="separator">|</span>
                        <span class="posted">
                            <img src="assets/svg/clock.svg" alt="10 Horas a atrás">
                            <span class="text">
                                {{post?.periodoAtivo}} Horas a atrás
                            </span>
                        </span>
                    </p>

                    <h1 class="h4 big-title">
                        {{post?.titulo}}
                    </h1>

                    <p class="description">
                        {{post?.subtitulo}}
                    </p>

                    <p class="sub-description">
                        {{post?.descricaoPrevia}}
                    </p>

                    <a [routerLink]="['/careplus-mais/' + post?.slug]"
                        class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                        Leia agora
                    </a>

                    <a [routerLink]="['/careplus-mais/' + post?.slug]"
                        class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop">
                        Leia agora
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>