@import './../../../../assets/sass/animations.scss';

img.arrow-return {
  width   : 35px;
  position: absolute;
  left    : 15px;
  top     : 0px;
}

a {
  color: #00335B;
}



h4.card-title {
  padding    : 2px 0px 0px 40px;
  font-weight: 600;
}

div.card.card-bg {
  background-color: #f9f9f9;
  box-shadow      : inset 0px 0px 20px 0px rgb(0 0 0 / 16%)
}


.media-upload-box {
  width          : 500px;
  height         : 200px;
  background     : #ffffff;
  align-items    : center;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
}

img.icon-upload {
  width: 30px;
}

span.label-dimension {
  position   : relative;
  font-weight: 700;
  display    : flex;
  width      : 100%;
}

ngx-dropzone {
  border         : 0px !important;
  width          : 100% !important;
  height         : auto !important;
  justify-content: center !important;
}

ngx-dropzone-label {
  color      : #6b6b6b !important;
  position   : relative;
  bottom     : auto;
  font-size  : 10px;
  font-family: math;
  font-weight: bold;
}

ngx-dropzone-label#labelDrop {
  position: absolute;
  bottom  : -27px;
  width   : max-content;
}

div.box-upload {
  margin: 30px 0px;
}

.custom-file-input {
  position: relative;
  z-index : 2;
  width   : 100%;
  height  : calc(1.5em + .75rem + 2px);
  margin  : 0;
  opacity : 0;
  cursor  : pointer;
  border  : 1px solid #343a40;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content         : "Procurar";
  cursor          : pointer !important;
  color           : #fff;
  background-color: #343a40;
  border          : 1px solid #343a40;
  outline         : #343a40;
}

::ng-deep {
  img-cropper {
    content: "" !important;

  }

  canvas.canvas-style {
    background-color: white !important;
  }

  input[type="file"] {
    content   : "" !important;
    position  : relative !important;
    width     : 100% !important;
    background: silver !important;
    color     : #343a40 !important;
    margin    : 12px 0px !important;
  }

  input[type="file"]::after {
    content: "" !important;
    color  : #343a40 !important;
  }

  input[type="file"]::placeholder {
    display: none;
  }

  input[type="file"]::content {
    color: #343a40 !important
  }

}

span.title-banner {
  position   : absolute;
  left       : 60px;
  top        : 0px;
  color      : #073457;
  font-weight: bolder;
  font-size  : 20px;
}

div#card-header {
  height: 75px;
}

#cardAread {
  animation : fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  transition: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


div#cardWizardArea {
  min-height: 100%;
  position  : absolute;
  right     : 0;
  left      : 0;
  bottom    : 0px;
  top       : 94px;
  width     : auto;
  height    : fit-content;
}

img.thumbnail-image {
  width  : 100%;
  padding: 10px;
}

div.shadow.thumbnail-image-box {
  margin: 60px 0 0 0;
}

h4.titulo-visualizacao {
  padding       : 10px 10px 0px 10px !important;
  text-transform: capitalize;
}

img.thumbnail-image-mobile {
  width  : 100%;
  padding: 10px;
}

div.shadow.thumbnail-image-box-mobile {
  margin: 60px auto;
  width : 75%;
}

h4.titulo-visualizacao-mobile {
  padding       : 10px 10px 0px 10px !important;
  text-transform: capitalize;
}

.card-body {
  flex      : 1 1 auto;
  min-height: 1px;
  padding   : 1.10rem;
}

.marging-box {
  margin-top    : 55px;
  // margin-left: 35px;
}

.marging-title {
  margin-top: 35px;
}

.marging-input {
  margin-top: 15px;
}

.marging-tab {
  margin-top : 25px;
  margin-left: 10px;
}

.info-icon {
  width      : auto;
  margin-left: 15px;
  display    : inline-grid;
  text-align : center;
  font-size  : small;
  color      : #073457 !important;
}

.tabset {
  display: -webkit-inline-box;
  float  : right;
}

.label {
  font-weight: bolder;
  color      : #00335B;
}

.btn-primary {
  background-color: #073457 !important;
}

.badge-primary {
  background-color: #073457 !important;
  color           : #fff;
}

.btn-outline-primary {
  border-color: #073457 !important;
  color       : #073457;
}

.btn-link {
  color: #073457 !important;
}

.btn-outline-primary:hover {
  border-color: #073457 !important;
  color       : #fff;
}

.btn-outline-primary.dropdown-toggle {
  background-color: #073457 !important;
  color           : #fff;
}

.btn-outline-primary:hover:not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: #073457 !important;
  color           : #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: #073457 !important;
  color           : #fff;
}


.is-danger {
  border-color: red !important;
}


.is-success {
  border-color: green !important;

}


.isSelected {
  background-color: #00335B !important;
  color           : #fff;
}

.notSelected {
  background-color: #f0f0f0 !important;
  color           : #00335B;
}

//refactoring css
button.btn.btn-primary.btn-salvar {
  position: absolute;
  right   : 20px;
}

.link-title {
  position: absolute;
  width   : -webkit-fill-available;
}