<form [formGroup]="postsBlogForm" (ngSubmit)="onSubmit()">
    <section class="is-small">
        <div class="container">
            <span>
                <fa-icon [icon]="faArrowCircleLeft" routerLink="/neocms/posts-blog/index" routerLinkActive="active">
                </fa-icon>
                Criar novo post
            </span>
            <div style="display: -webkit-inline-box; float:right;">
                <p class="">
                    <button class="btn btn-primary is-primary" type="submit">
                        Salvar Post &nbsp;
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
                </p>
            </div>
        </div>
    </section>
    <div class="marging-box">
        <div class="content">
            <tabset>
                <tab heading="Conteudo" id="tabConteudo">
                    <div class="container marging-input">
                        <div class="column ">
                            <div class="field">
                                <label class="label">Título</label>
                                <div class="control">
                                    <input formControlName="titulo" class="form-control input" type="text"
                                        placeholder=""
                                        [ngClass]="{ 'is-success': submitted && !f.titulo.errors, 'is-danger' : submitted && f.titulo.errors }">
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(f.titulo)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column marging-input">
                            <div class="field">
                                <label class="label">Subtítulo</label>
                                <div class="control">
                                    <input
                                        [ngClass]="{ 'is-success': submitted && !f.subtitulo.errors, 'is-danger' : submitted && f.subtitulo.errors }"
                                        formControlName="subtitulo" class="form-control input" type="text"
                                        placeholder="">
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="field marging-input">
                            <label class="label">Descrição Prévia</label>
                            <div class="control">
                                <textarea formControlName="descricaoPrevia"
                                    [ngClass]="{ 'is-success': submitted && !f.descricaoPrevia.errors, 'is-danger' : submitted && f.descricaoPrevia.errors }"
                                    class="form-control textarea" placeholder="" rows="5"></textarea>
                            </div>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.descricaoPrevia)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>
                        <div class="field marging-input">
                            <label class="label">Descrição</label>
                            <ckeditor formControlName="descricao"
                                [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }"
                                [editor]="editor" (ready)="onReady($event)">
                            </ckeditor>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.descricao.errors)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>

                        <div class="d-inline">
                            <div class="field">
                                <label class="label">Qual é a categoria?</label>
                                <div class="control">
                                    <div class="select"
                                        [ngClass]="{ 'is-success': submitted && !f.categoriaId.errors, 'is-danger' : submitted && f.categoriaId.errors }">
                                        <select formControlName="categoriaId"
                                            class="form-control col-xs-12 col-12 col-md-4 form-group">
                                            <option value="">Selecione..</option>
                                            <option *ngFor="let categoria of categorias" [value]="categoria.id">
                                                {{categoria.descricao}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(f.categoriaId)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </tab>

                <tab heading="Opções" id="tabOpcoes">
                    <div class="container marging-input">
                        <label class="label">Imagem</label>
                        <div class="border  marging-input">
                            <div class="col-md-6 d-inline marging-input">
                                <div class="form-group ml-3">
                                    <input type="file" class="btn btn-primary " name="image"
                                        (change)="fileProgress($event.srcElement.files)" />
                                </div>
                                <div *ngIf="fileUploadProgress">
                                    Upload progress: {{ fileUploadProgress }}
                                </div>
                                <div class="mb-3" *ngIf="uploadedFilePath">
                                    {{uploadedFilePath}}
                                </div>

                            </div>
                            <div class="image-preview mb-3 d-inline border m-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" />
                            </div>
                        </div>
                        <!-- <div class="input-group mb-2">
                            <label class="custom-file-label">
                                <input class="custom-file-input" type="file" (change)="updateFileName($event.srcElement.files)">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Selecionar</span>
                                  </div>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <fa-icon [icon]="faUpload"></fa-icon> -->
                        <!-- </span>
                                    <span class="custom-file-label">
                                        Escolha um arquivo…
                                    </span>
                                </span>
                                <span class="custom-file-label">
                                    {{arquivoNome}}
                                </span>
                            </label>
                        </div> -->


                        <div class="marging-box">
                            <label class="label labelTeste">Quando será publicado?</label>
                            <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input type="text" id="dataPublicacao" formControlName="dataPublicacao"
                                    [ngClass]="{ 'is-success': submitted && !f.dataPublicacao.errors, 'is-danger' : submitted && f.dataPublicacao.errors }"
                                    placeholder="Selecione uma data" class="form-control data" bsDatepicker
                                    [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue'  }">
                            </div>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.dataPublicacao)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>

                        <div class="d-inline ">
                            <label class="label">Quando deverá ser removido?</label>
                            <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input id="dataExpiracao" formControlName="dataExpiracao"
                                    [ngClass]="{ 'is-success': submitted && !f.dataExpiracao.errors, 'is-danger' : submitted && f.dataExpiracao.errors }"
                                    class=" form-control input" type="text" placeholder="Selecione uma data"
                                    bsDatepicker
                                    [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }">
                            </div>
                            <div *ngIf="submitted" class="errors">
                                <p *ngFor="let error of getErrors(f.dataExpiracao)" class="help is-danger">
                                    {{error}}
                                </p>
                            </div>
                        </div>
                        <div class="marging-title">
                            <h4 class="subtitle">
                                Tags
                            </h4>
                            <div class="tags are-medium">
                                <span (click)="toggleTag(tag)" *ngFor="let tag of tags" class="tag is-clickable">
                                    {{tag.descricao}}
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                </tab>

                <tab heading="SEO" id="tabSeo">
                    <div class="container marging-input">
                        <div class="column">
                            <div class="field">
                                <label class="label">Título para SEO</label>
                                <div class="control">
                                    <input formControlName="tituloPaginaSEO" class="form-control input" type="text"
                                        placeholder=""
                                        [ngClass]="{ 'is-success': submitted && !f.tituloPaginaSEO.errors, 'is-danger' : submitted && f.tituloPaginaSEO.errors }">
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(f.tituloPaginaSEO)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="marging-input">
                                    <label class="label">Ativar Post?</label>
                                    <div class="buttons has-addons">
                                        <button type="button" class="btn btn-outline-primary is-danger is-selected"
                                            [ngClass]="{'is-danger': !isPostAtivo, 'is-selected': !isPostAtivo}"
                                            (click)="changeStatusPost('0', false)">
                                            Não
                                        </button>
                                        <button type="button" class="btn btn-outline-primary ml-2"
                                            [ngClass]="{'is-success': isPostAtivo, 'is-selected': isPostAtivo}"
                                            (click)="changeStatusPost('1', true)">
                                            Sim
                                        </button>
                                    </div>
                                </div>
                                <div class="marging-input is-four-fifths">
                                    <label class="label">Destacar Post?</label>
                                    <div class="buttons has-addons">
                                        <button type="button" class="btn btn-outline-primary is-danger is-selected"
                                            [ngClass]="{'is-danger': !isPostDestaque, 'is-selected': !isPostDestaque}"
                                            (click)="changeStatusDestaque('0', false)">
                                            Não
                                        </button>
                                        <button type="button" class="btn btn-outline-primary ml-2"
                                            [ngClass]="{'is-success': isPostDestaque, 'is-selected': isPostDestaque}"
                                            (click)="changeStatusDestaque('1', true)">
                                            Sim
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="column">
                            <div class="marging-input field">
                                <label class="label">Descrição para SEO</label>
                                <div class="control">
                                    <textarea formControlName="descricaoPaginaSEO"
                                        [ngClass]="{ 'is-success': submitted && !f.descricaoPaginaSEO.errors, 'is-danger' : submitted && f.descricaoPaginaSEO.errors }"
                                        class="form-control textarea" placeholder="" rows="4"></textarea>
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(f.descricaoPaginaSEO)" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</form>