<div class="card">
    <div class="card-content">
        <p class="title">
            Não achei essa página, o link está correto?
        </p>
        <hr>
        <p class="text-red">
            Caso queira ir para a homepage, clique no botão abaixo
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <button [routerLink]="['/']" class="button is-info" type="button">
                <fa-icon [icon]="faHome"></fa-icon>
            </button>
        </p>
    </footer>
</div>