<div>
    <span class="title">
        <fa-icon [icon]="faArrowCircleLeft" routerLink="/neocms/usuarios" routerLinkActive="active"></fa-icon>
        Configuração
    </span>
    <div style="display: inline-block; float:right;" >
        <button type="button" class="btn btn-primary" style="margin-left: 10px;">
            Desativar
          </button>
          <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="salvarAlteracoes()">
            Salvar alterações
          </button>
         
    </div>
    
    
</div>
<section class="margin-title">
    <div class="container">
        <h5 class="title">
            Editar permissões de usuário
        </h5>
    </div>
</section>
    <div class="content">
        <div class="marging-box">
            <label class="switch" >
                <input type="checkbox" id="checkVisualizador" (change)="eventCheck($event.target)">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">Visualizador</span>
            <span class="info-icon">
                <fa-icon [icon]="faInfoCircle" 
                popover="Perfil de Visualizador tem acesso apenas a visualizar dados da aplicação."
                popoverTitle="Perfil de Visualizador"
                placement="right" ></fa-icon>
            </span>
        </div>
        <div class="marging-box">
            <label class="switch">
                <input type="checkbox" id="checkEditor" (change)="eventCheck($event.target)">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">Editor</span>
            <span class="info-icon">
                <fa-icon [icon]="faInfoCircle" 
                popover="Perfil de Editor tem acesso a visualizar e editar dados da aplicação."
                popoverTitle="Perfil de Editor"
                placement="right" ></fa-icon>
            </span>
        </div>
        <div class="marging-box">
            <label class="switch">
                <input type="checkbox" id="checkColaborador" (change)="eventCheck($event.target)">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">Colaborador</span>
            <span class="info-icon">
                <fa-icon [icon]="faInfoCircle" 
                popover="Perfil de Colaborador tem acesso a funcionalidades especificas da aplicação."
                popoverTitle="Perfil de Colaborador"
                placement="right" ></fa-icon>
            </span>
        </div>
       
        <div class="marging-box">
            <label class="switch">
                <input type="checkbox" id="checkAdministrador" (change)="eventCheck($event.target)" value="Administrador">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">Administrador</span>
            <span class="info-icon">
                <fa-icon [icon]="faInfoCircle" 
                popover="Perfil de Administrador tem acesso completo a aplicação."
                popoverTitle="Perfil de Administrador"
                placement="right" ></fa-icon>
            </span>
        </div>
    </div>