<div class="menu-lateral shadow">
  <div class="menu-header">
    <a class="logos" routerLink="/neocms">
      <img class=" img-logo-carePlus" src="assets/img/carePlus-logo.svg" alt="CarePlus">
      <img class=" img-logo-cms" src="assets/img/neocms-white.png" alt="NeoCMS">
    </a>
  </div>
  <div class="menu-group">
    <ul class="menu-list">
      <div class="title-list">
        <span class="menu-label">Sistema</span>
      </div>
      <li class="menu-item">
        <a routerLink="/neocms" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
          <img src="assets/img/dashboard.svg" alt="Dashboard">
          <p>
            Dashboard
          </p>
        </a>
      </li>

      <div class="title-list">
        <span class="menu-label">Home Page</span>
      </div>
      <li class="menu-item">
        <a routerLink="/neocms/banner" routerLinkActive="is-active">
          <img src="assets/img/banner.svg" alt="Banners">
          <p>
            Banners
          </p>

        </a>
      </li>

      <div class="title-list">
        <span class="menu-label">Blog</span>
      </div>
      <li class="menu-item">
        <a routerLink="/neocms/posts-blog/categorias/index" routerLinkActive="is-active">
          <img src="assets/img/categorias.svg" alt="Categorias">
          <p>
            Categorias
          </p>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/neocms/posts-blog/index" routerLinkActive="is-active">
          <img src="assets/img/posts.svg" alt="Posts">
          <p>Posts</p> 
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/neocms/posts-blog/mais-lidos" routerLinkActive="is-active">
          <img src="assets/img/posts2.svg" alt="Posts Mais Lidos">
         <p>
          Posts Mais Lidos
         </p>
        </a>
      </li>
      <!--
            <li class="menu-item">
                <a routerLink="/neocms/noticia/index" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faNewspaper"></fa-icon>
                    </span> Notícia
                </a>
            </li>
            -->
      <li class="menu-item">
        <a routerLink="/neocms/posts-blog/tag" routerLinkActive="is-active">
          <img src="assets/img/tag.svg" alt="Tags">
        <p>
          Tags
        </p> 
        </a>
      </li>

      <div class="title-list">
        <span class="menu-label">Newsletter</span>
      </div>
      <li class="menu-item">
        <a routerLink="/neocms/newsletter/index" routerLinkActive="is-active">
          <img src="assets/img/cadastrados.svg" alt="Cadastrados">
         <p>
          Cadastrados
         </p> 
        </a>
      </li>
      <!--
            <li class="menu-item">
                <a routerLink="/neocms/noticia/tipo" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </span> Tipo de Notícia
                </a>
            </li>
            -->

      <!--
            <div class="title-list">
                <span class="menu-label">A Care Plus</span>
            </div>
            <li class="menu-item">
                <a routerLink="/neocms/careplus-diferencial" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faImages"></fa-icon>
                    </span> Diferencial
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/careplus-depoimento" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faImages"></fa-icon>
                    </span> Depoimento
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/cliente" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faImages"></fa-icon>
                    </span> Cliente
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/careplus-perfil" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faImages"></fa-icon>
                    </span> Perfil
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/usuario" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faImages"></fa-icon>
                    </span> Usuario
                </a>
            </li>
            -->
      <!--
            <div class="title-list">
                <span class="menu-label">Administração</span>
            </div>
            <li class="menu-item">
                <a routerLink="/neocms/plano" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faDiagnoses"></fa-icon>
                    </span> Planos de Saúde
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/resultado-financeiro" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
                    </span> Resultados Financeiro
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/documento" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
                    </span> Documento
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/documento-tipo" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
                    </span> Documento Tipo
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/pergunta-tipo" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
                    </span> Tipo de pergunta
                </a>
            </li>
            <li class="menu-item">
                <a routerLink="/neocms/pergunta" routerLinkActive="is-active">
                    <span class="icon is-small">
                        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
                    </span> Pergunta
                </a>
            </li>
            -->
    </ul>
  </div>
</div>