@import "~src/scss/_variables";
section#contact {
    .big-title {
        font-weight: 600;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .cards {
        margin-top: 71px;
        .phone-description {
            font-size: getSize("mbt");
            line-height: getLineHeight("mbt");
            color: getColor(_bupa, _grey);
            font-weight: normal;
            span {
                &.contact-info {
                    a {
                        color: getColor(_bupa, _grey);
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &.info {
                    display: block;
                    font-size: getSize("sbm");
                    line-height: getLineHeight("sbm");
                    font-weight: normal;
                }
            }
        }
        .phone ::ng-deep .app-card {
            img {
                top: -23px;
                height: 46px;
                max-height: 46px;
            }
        }
    }
    .button-column {
        padding: 0;
        margin-top: 2.813rem;
        display: flex;
        .btn {
            display: inline-flex;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1023px) {
    section#contact {
        .cards {
            margin-top: unset;
            .phone-description {
                font-size: getSize("sbm");
                span {
                    &.contact-info {
                        a {
                            color: getColor(_bupa, _digital-cian);
                        }
                    }
                }
            }
        }
        .button-column {
            margin-top: 20px;
            .btn {
                display: inline-flex;
                margin: unset;
            }
        }
    }
}
