<section id="contact" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <h4 class="h4 big-title">Para saber mais, entre em contato</h4>
            <div class="columns cards flex-wrap">
                <div class="column is-6">
                    <app-card class="app-card" [card]="contactCard"></app-card>
                </div>
                <div class="column is-6 phone">
                    <app-card class="app-card" [card]="phoneCard">
                        <div class="icon-card-extra-content">
                            <p class="phone-description">
                                <span class="contact-info">
                                    <a href="tel:1141979017" class="first-phone" title="(11) 4197-9017"> (11) 4197-9017</a>
                                </span> ou
                                <span class="contact-info">
                                    <a href="tel:08007711234" class="second-phone" title="0800-771-1234"> 0800-771-1234</a>
                                </span>
                                <span class="info">
                                    (para beneficiários que não residem em São Paulo).
                                </span>
                            </p>
                        </div>
                    </app-card>
                </div>
                <div class="column is-12 button-column">
                    <a #buttonElement id="button" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch" *ngIf="button" routerLink="/fale-conosco/contato" [title]="button.text">
                        {{button.text}}
                    </a>

                    <a #buttonElement class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" *ngIf="button" routerLink="/fale-conosco/contato" [title]="button.text">
                        {{button.text}}
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>