@import "~src/scss/_variables";
section#app-careplus {
    position: relative;
    margin: 60px 0;
    .container {
        .columns {
            .column {
                &.image {
                    position: relative;
                    .smartphone {
                        position: absolute;
                        width: 327px;
                        height: 670px;
                        left: 16px;
                        top: -108px;
                        margin: auto;
                        border: 16px getColor(_bupa, _black) solid;
                        background-color: getColor(_bupa, _black);
                        border-radius: 36px;
                        .content {
                            width: 100%;
                            height: 100%;
                            background: getColor(_bupa, _white);
                            position: relative;
                            border-radius: 20px;
                            video {
                                border-radius: 20px;
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                                left: 0;
                                display: block;
                            }
                        }
                    }
                }
                .infos {
                    margin-top: 30px;
                    li {
                        font-size: getSize("p");
                        line-height: 200%;
                        color: getColor(_bupa, _grey);
                        display: flex;
                        position: relative;
                        padding-left: 32px;
                        &:before {
                            position: absolute;
                            content: "";
                            background-image: getSvg("list-star.svg");
                            width: 19px;
                            height: 19px;
                            align-self: center;
                            top: calc(50% - 9.5px);
                            left: 0;
                        }
                    }
                }
                .app-stores-box {
                    margin-top: 57px;
                    width: 100%;
                    display: flex;
                    a {
                        width: 176px;
                        height: 52px;
                        &.app-store {
                            margin-left: 32px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    section#app-careplus {
        .container {
            .columns {
                .column {
                    &.image {
                        .smartphone {
                            position: initial;
                            top: unset;
                            left: unset;
                            width: 250px;
                            margin: auto;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 1023px) {
    section#app-careplus {
        .container {
            .columns {
                .column {
                    &.image {
                        .smartphone {
                            width: 210px !important;
                            max-width: 400px;
                            height: auto;
                            margin: 20px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#app-careplus {
        margin: 0;
        .container {
            .columns {
                &.principal {
                    flex-direction: column-reverse;
                    display: flex;
                }
                .column {
                    &.image {
                        .smartphone {
                            position: relative;
                            top: unset;
                            left: unset;
                            width: 100%;
                            max-width: 400px;
                            height: auto;
                            border-width: 14px;
                            .content {
                                display: block;
                                video {
                                    display: block;
                                }
                            }
                        }
                    }
                    &.mobile-store-infos {
                        position: relative;
                        .store-infos {
                            position: absolute;
                            bottom: 16px;
                            a {
                                display: block;
                                &.play-store {
                                    margin-top: 9px;
                                }
                                &.app-store {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    section#app-careplus {
        .container {
            .columns {
                .column {
                    &.image {
                        .smartphone {
                            border-radius: 24px;
                            border-width: 10px;
                            margin-top: 20px;
                            .content {
                                border-radius: 14px;
                                video {
                                    border-radius: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}