<section id="appCareplus" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns principal">
                <div class="column is-half-desktop is-full image is-hidden-touch">
                    <img src="assets/img/cellphone.png" alt="App careplus" class="cellphone">
                </div>
                <div class="column is-half-desktop is-full">
                    <p class="small-title">
                        APP CARE PLUS
                    </p>
                    <h4 class="big-title">
                        Aplicativo Care Plus:
                        mais facilidade para você
                    </h4>
                    <p class="description">
                        Baixe o aplicativo e tenha acesso a todos os serviços oferecidos para os beneficiários.
                    </p>

                    <ul class="infos is-hidden-touch">
                        <li>Peça reembolsos de despesas médicas </li>
                        <li>Acesse e apresente a sua carteirinha virtual</li>
                        <li>Solicite autorizações e acompanhe pelo seu smartphone</li>
                    </ul>

                    <div class="app-stores-box is-hidden-touch">
                        <a href="" class="play-store">
                            <img src="assets/svg/playstore.svg" alt="App Playstore">
                        </a>
                        <a href="" class="app-store">
                            <img src="assets/svg/appstore.svg" alt="App Appsore">
                        </a>
                    </div>

                    <div class="mobile-app-store-box is-hidden-desktop columns is-mobile">
                        <div class="image column is-6">
                            <img src="assets/img/cellphone.png" alt="App careplus" class="cellphone">
                        </div>

                        <div class="column is-6 mobile-store-infos">
                            <div class="store-infos">
                                <p class="description">
                                    Baixe agora!
                                </p>
                                <a href="" class="play-store">
                                    <img src="assets/svg/playstore.svg" alt="App Playstore">
                                </a>
                                <a href="" class="app-store">
                                    <img src="assets/svg/appstore.svg" alt="App Appsore">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>