@import "./variables";

html,
body {
    font-size: 1rem;

    &.using-mouse {
        outline: none;
        * {
            outline: none !important;
        }
    }
}

h1,
.h1 {
    font-size: getSize("h1");
    line-height: getLineHeight("h1");
}

h2,
.h2 {
    font-size: getSize("h2");
    line-height: getLineHeight("h2");
}

h3,
.h3 {
    font-size: getSize("h3");
    line-height: getLineHeight("h3");
}

h4,
.h4 {
    font-size: getSize("h4");
    line-height: getLineHeight("h4");
}

p,
.p {
    font-size: getSize("p");
    line-height: getLineHeight("p");
}

.small-title {
    font-weight: 500;
    font-size: getSize("sbm");
    line-height: getLineHeight("sbm");
    color: getColor(_bupa, _digital-cian);
    text-transform: uppercase;
    &.white {
        color: getColor(_bupa, _white);
    }
}
.big-title {
    max-width: 30.5rem;
    margin-top: 8px;
    color: getColor(_bupa, _navy);
    font-weight: 600;
    &.no-margin {
        margin-top: 0;
    }
    &.white {
        color: getColor(_bupa, _white);
    }
}

.description {
    margin-top: 16px;
    font-weight: 500;
    font-size: getSize("mbt");
    line-height: getLineHeight("mbt");
    color: getColor(_bupa, _grey);

    &.no-margin {
        margin-top: 0;
    }
    &.white {
        color: getColor(_bupa, _white);
    }
}

.sub-description {
    margin-top: 32px;
    font-weight: normal;
    font-size: getSize("p");
    line-height: getLineHeight("p");
    color: getColor(_bupa, _grey);
    &.no-margin {
        margin-top: 0;
    }
    &.white {
        color: getColor(_bupa, _white);
    }
}

@media (max-width: 1023px) {
    .big-title {
        font-size: 1.25em;
        line-height: 120%;
    }

    .description {
        font-size: 1.125em;
        line-height: 150%;
    }

    .sub-description {
        font-size: 0.875em;
        line-height: 150%;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.white-background-color {
    background-color: getColor(_bupa, _white);
}

.blue-background-color {
    background-color: getColor(_carePlus, _blue-section);
}

.navy-background-color {
    background-color: getColor(_bupa, _navy);
}

.is-paddingless-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

.align-self-center {
    align-self: center;
}

.get-price-box {
    position: fixed;
    width: 18.75rem;
    height: 3.75rem;
    background-color: getColor(_bupa, _fuchsia);
    display: flex;
    padding: 1rem 1.5rem;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
    z-index: 204;
    border-radius: 6px 6px 0px 0;
    border: 3px solid getColor(_bupa, _fuchsia);
    border-bottom-width: 0;
    transition: background-color 0.3s ease-in-out;


    &:hover {
        background-color: getColor(_bupa, _white);


        .text {
            color: getColor(_bupa, _fuchsia);
        }
    }

    .text {
        align-self: center;
        margin: 0;
        color: getColor(_bupa, _white);
        font-size: getSize("p");
        line-height: getLineHeight("p");
        font-weight: 600;
        transition: color 0.3s ease-in-out;
    }

    img.girl {
        width: 3rem;
        height: 3rem;
        position: absolute;
        right: 1.5rem;
        align-self: center;
        top: calc(50% - 24px);
    }
    .icon {
        display: none;
    }
}

@media (min-width: 80rem) {
    .get-price-box {
        right: calc(100% - (100vw + 1216px) / 2);
    }
}

@media (max-width: 63.938rem) {
    .get-price-box {
        bottom: 5.875rem;
        right: 1.375rem;
        position: fixed;
        width: 4.25rem;
        height: 4.25rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: getColor(_bupa, _fuchsia);

        .text {
            display: none;
        }
        img.girl {
            position: absolute;
            right: 10px;
            align-self: center;
            top: 10px;
        }
        .icon {
            background-color: #fc0000;
            border-radius: 100%;
            display: flex;
            height: 21px;
            width: 21px;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: -5px;
        }
    }
}

.divAcessibilidade{
    display: none;
}
