/* All default colors backup */
// $color-map: (
//     _bupa: (
//         // Hexadecimal colors
//         _digital-cian: var(--bupa_digital-cian),
//         _navy: var(--bupa_navy),
//         _purple: var(--bupa_purple),
//         _violet: var(--bupa_violet),
//         _fuchsia: var(--bupa_fuchsia),
//         _burgundy: var(--bupa_burgundy),
//         _digital-orange: var(--bupa_digital-orange),
//         _teal: var(--bupa_teal),
//         _green: var(--bupa_green),
//         _red: var(--bupa_red),
//         _dark-green: var(--bupa_dark-green),
//         _digital-lime: var(--bupa_digital-lime),
//         _grey: var(--bupa_grey),
//         _grey-2: var(--bupa_grey-2),
//         _grey-3: var(--bupa_grey-3),
//         _grey-4: var(--bupa_grey-4),
//         _grey-5: var(--bupa_grey-5),
//         _white: var(--bupa_white),
//         _black: var(--bupa_black),
//         _blue-menu: var(--bupa_blue-menu),
//         // Rgb colors
//         _digital-cian-rgb: var(--bupa_digital-cian-rgb),
//         _navy-rgb: var(--bupa_navy-rgb),
//         _purple-rgb: var(--bupa_purple-rgb),
//         _violet-rgb: var(--bupa_violet-rgb),
//         _fuchsia-rgb: var(--bupa_fuchsia-rgb),
//         _burgundy-rgb: var(--bupa_burgundy-rgb),
//         _digital-orange-rgb: var(--bupa_digital-orange-rgb),
//         _teal-rgb: var(--bupa_teal-rgb),
//         _green-rgb: var(--bupa_green-rgb),
//         _dark-green-rgb: var(--bupa_dark-green-rgb),
//         _digital-lime-rgb: var(--bupa_digital-lime-rgb),
//         _grey-rgb: var(--bupa_grey-rgb),
//         _grey-2-rgb: var(--bupa_grey-2-rgb),
//         _grey-3-rgb: var(--bupa_grey-3-rgb),
//         _grey-4-rgb: var(--bupa_grey-4-rgb),
//         _grey-5-rgb: var(--bupa_grey-5-rgb),
//         _white-rgb: var(--bupa_white-rgb),
//         _black-rgb: var(--bupa_black-rgb),
//         _blue-menu-rgb: var(--bupa_blue-menu-rgb)
//     ),
//     _carePlus: (
//         // Hexadecimal colors
//         _green: var(--carePlus_green),
//         _light-green: var(--carePlus_light-green),
//         _light-blue: var(--carePlus_light-blue),
//         _dark-green: var(--carePlus_dark-green),
//         _blue-btn-text: var(--carePlus_blue-btn-text),
//         _error: var(--carePlus_error),
//         _valid: var(--carePlus_valid),
//         _drop-down-option: var(--carePlus_drop-down-option),
//         _checkbox-border: var(--carePlus_checkbox-border),
//         _warning: var(--carePlus_warning),
//         _success: var(--carePlus_success),
//         _blue-section: var(--carePlus_blue-section),
//         _grey_inactive_tab: var(--carePlus_grey_inactive_tab),
//         _grey-5: var(--carePlus_grey-5),
//         _blue-plan-card: var(--carePlus_blue-plan-card),
//         // Rgb colors
//         _green-rgb: var(--carePlus_green-rgb),
//         _light-green-rgb: var(--carePlus_light-green-rgb),
//         _light-blue-rgb: var(--carePlus_light-blue-rgb),
//         _dark-green-rgb: var(--carePlus_dark-green-rgb),
//         _blue-btn-text-rgb: var(--carePlus_blue-btn-text-rgb),
//         _error-rgb: var(--carePlus_error-rgb),
//         _valid-rgb: var(--carePlus_valid-rgb),
//         _drop-down-option-rgb: var(--carePlus_drop-down-option-rgb),
//         _checkbox-border-rgb: var(--carePlus_checkbox-border-rgb),
//         _warning-rgb: var(--carePlus_warning-rgb),
//         _success-rgb: var(--carePlus_success-rgb),
//         _grey_inactive_tab-rgb: var(--carePlus_grey_inactive_tab-rgb),
//         _blue-plan-card-rgb: var(--carePlus_blue-plan-card-rgb)
//     ),
//     _bottom-line: (
//         // Hexadecimal colors
//         _light-green: var(--bottom-line_light-green),
//         _dark-green: var(--bottom-line_dark-green),
//         // Rgb colors
//         _light-green-rgb: var(--bottom-line_light-green-rgb),
//         _dark-green-rgb: var(--bottom-line_dark-green-rgb)
//     ),
// );


/* All default colors */
$color-map: (
    _bupa: (
        // Hexadecimal colors
        _digital-cian:  #0079c8,
        _navy:  #00335b,
        _purple: #6a2ca1,
        _violet: #a4219b,
        _fuchsia: #c6007e,
        _burgundy: #942151,
        _digital-orange: #db3907,
        _teal: #008385,
        _green: #007a3d,
        _red: #e8505b,
        _dark-green: #18542c,
        _digital-lime: #678004,
        _grey: #333333,
        _grey-2: #808080,
        _grey-3: #c9c9c9,
        _grey-4: #f1efeb,
        _grey-5: #7f7f7f,
        _white: #ffffff,
        _black: #000,
        _blue-menu: #50a1ff,
    ),
    _carePlus: (
        // Hexadecimal colors
        _green: #00837b,
        _light-green: #a7d59d,
        _light-blue: #f2f8fc,
        _dark-green: #006660,
        _blue-btn-text: #0064a5,
        _error: #ff3e1d,
        _valid: #00d200,
        _drop-down-option: #2c2c2c,
        _checkbox-border: #a8a7a4,
        _warning: #a4904b,
        _success: #49b869,
        _blue-section: #e5f2fa,
        _grey_inactive_tab: #c9c9c9,
        _grey-5: #f5f6f8,
        _blue-plan-card: #bce4ff,
    ),
    _bottom-line: (
        // Hexadecimal colors
        _light-green: #b3d59c,
        _dark-green: #007777,
    ),
);

$asset-base-path: "~src/assets";

/* Default font */
$mainFont: "Montserrat";

/* The default font size for html is 16px */
$base-size: 16;

/* A function to get color from color map */
@function getColor($color, $shade: "base", $map: $color-map) {
    // check color exists
    @if (map-has-key($map, $color)) {
        $value: map-get($map, unquote($color));
        // check if color or map
        @if type-of($value) == function {
            // return color
            @return $value;
        }
        // check shade of color exists
        @if (map-has-key($value, $shade)) {
            // return shade of color
            @return map-get($value, $shade);
        }
    }
    // else do nothing
    @return null;
}

/* A function to create all type of assets path */
@function asset($type, $file) {
    @return url($asset-base-path + "/" + $type + "/" + $file);
}

/* A function to create image Path */
@function getImage($file) {
    @return asset("img", $file);
}

/* A function to create svg Path */
@function getSvg($file) {
    @return asset("svg", $file);
}

@function getSize($tag) {
    @if $tag == "h1" {
        @return (56 / $base-size) * 1em;
    }
    @if $tag == "h2" {
        @return (48 / $base-size) * 1em;
    }
    @if $tag == "h3" {
        @return (40 / $base-size) * 1em;
    }
    @if $tag == "h4" {
        @return (32 / $base-size) * 1em;
    }
    @if $tag == "mbt" {
        @return (24 / $base-size) * 1em;
    }
    @if $tag == "p" {
        @return (16 / $base-size) * 1em;
    }
    @if $tag == "sbm" {
        @return (12 / $base-size) * 1em;
    }
    @if $tag == "cta" {
        @return (16 / $base-size) * 1em;
    }
}
@function getLineHeight($tag) {
    @if $tag == "h1" {
        @return 120%;
    }
    @if $tag == "h2" {
        @return 120%;
    }
    @if $tag == "h3" {
        @return 120%;
    }
    @if $tag == "h4" {
        @return 120%;
    }
    @if $tag == "mbt" {
        @return 150%;
    }
    @if $tag == "p" {
        @return 150%;
    }
    @if $tag == "sbm" {
        @return 150%;
    }
    @if $tag == "cta" {
        @return 150%;
    }
}
