@import "~src/scss/_variables.scss";

#newsletter{
    width: 100%;
    padding: 24px 16px;
    background-color: #f4f9fc;

    
    /*somente para teste*/
    margin: auto;
    margin-bottom: 20px;
    /*somente para teste*/

    .title{
        font-size: getSize('mbt');
        line-height: getLineHeight('mbt');
        color: getColor(_bupa, _navy);
        margin-bottom: 24px;
        font-weight: normal;
    }
    form{
        display: flex;
        flex-direction: column;
        button{
            margin: auto 0 auto auto;
        }
    }

}