<div id="newsletter">
    <p class="title">
        Cadastre-se para receber conteúdos em primeira mão!
    </p>
    <form [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <p class="control">
                <input
                    [ngClass]="{ 'is-valid': !form?.nomeCompleto?.errors, 'is-invalid' : form?.nomeCompleto?.dirty && form?.nomeCompleto?.errors, 'is-touched': form?.nomeCompleto?.value?.length > 0 }"
                    class="input" formControlName="nomeCompleto" type="text">
                <label class="label">Nome Completo</label>
            </p>
            <div *ngIf="form.nomeCompleto?.touched" class="errors">
                <p *ngFor="let error of getErrors(form?.nomeCompleto)" class="help is-danger">
                    {{error}}
                </p>
            </div>
        </div>
        <div class="field">
            <p class="control">
                <input
                    [ngClass]="{ 'is-valid': !form.email.errors, 'is-invalid' : form.email.dirty && form.email.errors, 'is-touched': form.email.value.length > 0 }"
                    class="input" formControlName="email" type="email" [email]="true">
                <label class="label">Email</label>
            </p>
            <div *ngIf="form.email.touched" class="errors">
                <p *ngFor="let error of getErrors(form.email)" class="help is-danger">
                    {{error}}
                </p>
            </div>
        </div>

        <button class="btn btn-digital-cian secondary arrow-right small is-hidden-touch"
            [disabled]="!newsLetterForm.valid || loading" [class.loading]="loading">
            Cadastrar
        </button>

        <button class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop"
            [disabled]="!newsLetterForm.valid || loading" [class.loading]="loading">
            Cadastrar
        </button>

    </form>
</div>