@import "~src/scss/_variables";

section {
    &#category-section {
        min-height: 238px;
        .container {
            .title-column {
                align-self: center;
                .big-title {
                    margin: 10px auto 0 auto;
                    text-align: center;
                }
            }
        }
    }

    &#post-info {
        .social-icons {
            display: inline-flex;
            li {
                display: inline-block;
                padding: 0 15px;
                height: 22px;
                align-self: baseline;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    height: 22px;
                    img {
                        height: 22px;
                    }
                }
            }
        }

        .post-header {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            align-items: stretch;
            justify-content: space-between;
            padding: 0 0 24px 0;
            border-bottom: 1px solid getColor(_grey-2);

            .publish-and-views {
                display: inline-flex;
                align-self: center;

                .publish,
                .views {
                    display: flex;
                    span:not(.image) {
                        margin-left: 10px;
                        align-self: center;
                        font-weight: normal;
                        font-size: getSize("sbm");
                        line-height: getLineHeight("sbm");
                        color: getColor(_bupa, _digital-cian);
                    }
                    .image {
                        margin: auto;
                    }
                }

                .views {
                    margin-left: 38px;
                }
            }
        }

        .post-body {
            margin-top: 70px;

            .big-title {
                max-width: 100%;
            }

            .post-image {
                width: 100%;
                object-fit: cover;
                margin-top: 60px;
            }

            .post-content {
                margin-top: 20px;
                p{
                    margin: 20px 0;
                }
            }

            .observation {
                margin-top: 12px;
                font-style: italic;
                font-weight: normal;
                font-size: getSize("p");
                line-height: getLineHeight("p");
                color: getColor(_bupa _grey-2);
            }
        }

        .is-anounce {
            margin-top: 40px;
            display: block;
        }

        .post-footer {
            margin-top: 120px;
            border-top: 1px solid getColor(_bupa, _navy);
            border-bottom: 1px solid getColor(_bupa, _navy);
            padding: 60px 0;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;

            .social-icons {
                margin-right: 34px;
            }

            .post-tags {
                display: flex;
                flex-wrap: wrap;
                li {
                    display: inline-block;
                    padding-left: 12px;
                    padding-right: 12px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        color: getColor(_bupa, _digital-cian);
                        text-decoration: none;
                        font-weight: normal;
                        font-size: getSize("sbm");
                        line-height: getLineHeight("sbm");
                        cursor: initial;
                    }
                }
            }
        }
        .anounces {
            padding: 14px 16px;
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#category-section {
            min-height: 180px;
            .container {
                .columns {
                    min-height: 120px;
                    display: flex;
                    .column:first-child {
                        display: none;
                    }
                }
                .title-column {
                    h3 {
                        text-align: center;
                    }
                }
            }
        }

        &#post-info {
            .social-icons {
                width: 100%;
                flex: 0 0 100%;
                align-items: center;
                justify-content: center;
            }

            .post-header {
                flex-wrap: wrap;
                flex-direction: row;

                .publish-and-views {
                    order: 1;
                    width: 100%;
                    flex: 0 0 100%;
                    justify-content: space-between;
                }

                .social-icons {
                    margin-top: 20px;
                    order: 2;
                }
            }
            .post-footer {
                .post-tags {
                    margin-top: 20px;
                    margin-left: -12px;
                    margin-right: -12px;

                    li {
                        &:first-child {
                            padding-left: 12px;
                        }

                        &:last-child {
                            padding-right: 12px;
                        }
                    }
                }
            }

            .is-anounce {
                width: calc((100% / 3));
                align-self: center;

                padding-left: 15px;
                padding-right: 15px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                img {
                    width: 100%;
                }
            }

            .anounces {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 767px) {
    section {
        &#post-info {
            .is-anounce {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
