<section class="blue-background-color" id="category-section">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-paddingless-vertical">
                    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                </div>
                <div class="column is-full align-self-center title-column">
                    <h2 class="h3 big-title">
                        Comunicados e avisos
                    </h2>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="post-info">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-full is-9-desktop">
                    <div class="post-header">
                        <ul class="social-icons">
                            <li>
                                <a title="Compartilhe no linkedin"
                                    href="https://www.linkedin.com/sharing/share-offsite/?url={{pageURL}}"
                                    target="_blank">
                                    <img src="assets/svg/linkedin.svg" alt="Linkedin">
                                </a>
                            </li>
                            <!-- <li>
                                <a href="">
                                    <img src="assets/svg/instagram.svg" alt="Instagram">
                                </a>
                            </li> -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{pageURL}}" target="_blank">
                                    <img src="assets/svg/facebook-second-logo.svg" alt="Facebook"
                                        title="Compartilhe no facebook">
                                </a>
                            </li>
                            <li>
                                <a href="mailto:?body={{pageURL}}" title="Compartilhe por e-mail" target="_blank">
                                    <img src="assets/svg/mail.svg" alt="E-mail">
                                </a>
                            </li>
                        </ul>

                        <div class="publish-and-views">
                            <div class="publish">
                                <span class="has-tooltip-top image" data-tooltip="Publicado há 10 horas a trás">
                                    <img src="assets/svg/clock.svg" alt="Publicado há">
                                </span>
                                <span>
                                    10 horas a trás
                                </span>
                            </div>
                            <div class="views">
                                <span class="has-tooltip-top image" data-tooltip="1000 visualizações">
                                    <img src="assets/svg/eye.svg" alt="Visualizações">
                                </span>
                                <span>
                                    1000
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="post-body">
                        <h3 class="big-title no-margin">
                            Como combater o COVID-19 com resiliência
                        </h3>
                        <p class="description">
                            As autoridades públicas estão tomando medidas decisivas para responder à ameaça emergente à
                            saúde, o Corona Vírus, levando a comunidade e empresas a reconsiderar a adequação de suas
                            medidas de preparação. Esta página reúne informações para ajudar as pessoas e empresas a
                            gerenciar e mitigar o risco.
                        </p>

                        <img [src]="post?.caminhoImagem" [attr.alt]="post?.nomeImagem" class="post-image">
                        <p class="observation">
                            Lorem ipsum dolor sit amet, consect adi elit. Scelerisque eu sit egestas am dorime
                        </p>
                        <div class="post-content" [innerHTML]="post?.corpoDescricao"></div>
                    </div>

                    <div class="post-footer">
                        <ul class="social-icons">
                            <li>
                                <a title="Compartilhe no linkedin"
                                    href="https://www.linkedin.com/sharing/share-offsite/?url={{pageURL}}"
                                    target="_blank">
                                    <img src="assets/svg/linkedin.svg" alt="Linkedin">
                                </a>
                            </li>
                            <!-- <li>
                                <a href="">
                                    <img src="assets/svg/instagram.svg" alt="Instagram">
                                </a>
                            </li> -->
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{pageURL}}" target="_blank" title="Compartilhe no facebook">
                                    <img src="assets/svg/facebook-second-logo.svg" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="mailto:?body={{pageURL}}" title="Compartilhe por e-mail" target="_blank">
                                    <img src="assets/svg/mail.svg" alt="E-mail">
                                </a>
                            </li>
                        </ul>

                        <ul class="post-tags">
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                            <li class="post-tag">
                                <a href="#" title="Tema 1">#Tema 1</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column is-full is-3-desktop anounces">
                    <app-most-read></app-most-read>

                    <app-newsletter></app-newsletter>

                    <a href="#" title="Banner publicitario 1" class="is-anounce">
                        <img src="assets/img/banner-publicitario-1.jpg" alt="Banner publicitario 1">
                    </a>
                    <a href="#" title="Banner publicitario 2" class="is-anounce">
                        <img src="assets/img/banner-publicitario-2.jpg" alt="Banner publicitario 2">
                    </a>
                    <a href="#" title="Banner publicitario 3" class="is-anounce">
                        <img src="assets/img/banner-publicitario-3.jpg" alt="Banner publicitario 3">
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
<app-icon-cards-section [iconCardsSectionModel]="iconCardsSectionModel"
    [backgroundColorClass]="'blue-background-color'"></app-icon-cards-section>
<app-social-posts></app-social-posts>