@import "~src/scss/_variables";
section.iconCardsSection {
    .container {
        .small-title {
            &.centered {
                text-align: center;
            }
        }
        .big-title {
            max-width: 100%;
            &.centered {
                margin: 8px auto 0 auto;
                text-align: center;
                max-width: 39.5rem;
            }
        }
        .sub-description {
            color: getColor(_bupa, _navy);
            max-width: 100%;
            &.centered {
                margin: 32px auto 0 auto;
                text-align: center;
                max-width: 37rem;
            }
        }
        .button-column {
            display: flex;
            .btn-digital-cian.secondary {
                margin: 0 auto;
                margin-top: 1.125rem;
            }
            .btn-digital-cian.tertiary {
                padding-left: 0;
            }
        }
        .cards {
            overflow-x: auto;
             ::ng-deep .app-card {
                .content .card {
                    min-width: 14.063rem;
                    .card-title {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
