<section class="iconCardsSection" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-full">
                    <p class="small-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.smallTitle">
                        {{iconCardsSectionModel?.smallTitle}}
                    </p>
                    
                    <h1 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h1'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h1>

                    <h2 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h2'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h2>

                    <h3 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h3'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h3>

                    <h4 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h4'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h4>

                    <h5 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h5'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h5>

                    <h6 class="h4 big-title" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.bigTitle && iconCardsSectionModel?.htag == 'h6'" [style.maxWidth.px]="iconCardsSectionModel?.bigTitleMaxWidth">
                        {{iconCardsSectionModel?.bigTitle}}
                    </h6>

                    <p class="sub-description" [class.centered]="iconCardsSectionModel?.cendered" *ngIf="iconCardsSectionModel?.subDescription">
                        {{iconCardsSectionModel?.subDescription}}
                    </p>
                </div>
            </div>
            <div class="columns cards is-mobile">
                <div class="column" [ngClass]="[iconCardsSectionModel?.columnClass]" *ngFor="let card of iconCardsSectionModel?.cards">
                    <app-card class="app-card" [card]="card"></app-card>
                </div>
            </div>

            <div class="columns" *ngIf="iconCardsSectionModel?.button">
                <div class="column button-column">

                    <!--
                        Botões com routerLink
                    -->
                    <a *ngIf="iconCardsSectionModel?.button?.routerLink" [routerLink]="iconCardsSectionModel?.button?.routerLink" [queryParams]="iconCardsSectionModel?.button?.queryParams" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch" [title]="iconCardsSectionModel?.button?.text">
                        {{
                            iconCardsSectionModel?.button?.text
                        }}
                    </a>

                    <a *ngIf="iconCardsSectionModel?.button?.routerLink" [routerLink]="iconCardsSectionModel?.button?.routerLink" [queryParams]="iconCardsSectionModel?.button?.queryParams" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" [title]="iconCardsSectionModel?.button?.text">
                        {{
                            iconCardsSectionModel?.button?.text
                        }}
                    </a>

                    <!--
                        Botões com href
                    -->
                    <a *ngIf="iconCardsSectionModel?.button?.link" [href]="iconCardsSectionModel?.button?.link" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch" [title]="iconCardsSectionModel?.button?.text">
                        {{
                            iconCardsSectionModel?.button?.text
                        }}
                    </a>

                    <a *ngIf="iconCardsSectionModel?.button?.link" [href]="iconCardsSectionModel?.button?.link" class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop" [title]="iconCardsSectionModel?.button?.text">
                        {{
                            iconCardsSectionModel?.button?.text
                        }}
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>