.container {
    .is-centered {
        margin: 0 auto;
        display: table;

        &.big-title {
            max-width: 50rem;
            text-align: center;
        }

        &.btn {
            margin: 96px auto 0 auto;
        }
    }
}
