<div class="third-step">
    <div class="columns">
        <div class="column is-6-desktop is-full">
            <img src="assets/svg/final-step-image.svg" alt="">
        </div>
        <div class="column is-6-desktop is-full align-self-center">
            <h4 class="big-title white no-margin">
                O nosso produto mais indicado
                para sua empresa é:
            </h4>

            <h3 class="big-title white no-margin">
                {{selectedPlan?.name}}
            </h3>

            <p class="description white">
                <!-- Este é o nosso plano que atende empresas de 30 a 200 vidas que atuam em diversos setores. Você pode
                molda-lo à necessidade da sua empresa. Entre em contato para saber mais. -->

                {{selectedPlan?.description}}
            </p>

            <div class="third-step-buttons">

                <a (click)="goToPlan()" class="btn btn-digital-cian medium">
                    Saiba mais
                </a>

                <button (click)="finish.emit()" class="btn btn-secondary medium">
                    Solicite uma cotação
                </button>
            </div>
        </div>
    </div>
</div>