<div class="pageloader is-dark" [ngClass]="{'is-active': !noticiaTipo}">
    <span class="title">
        Carregando
    </span>
</div>
<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Editar tipo de notícia
            </h1>
        </div>
    </div>
</section>
<form [formGroup]="noticiaTipoForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input formControlName="descricao" class="input" type="text" placeholder=""
                                [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.descricao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <button routerLink="/neocms/noticia/tipo" routerLinkActive="active" class="button is-light"
                    type="button">
                    Fechar &nbsp;
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </p>
            <p class="card-footer-item">
                <button class="button is-primary" type="submit">
                    Gravar &nbsp;
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </p>
        </footer>
    </div>
</form>