<div class="table-box">
    <table>
        <caption class="is-hidden">Componente de tabela</caption>
        <thead>
            <tr>
                <th id="headOfItem" *ngFor="let headItem of table?.headItems">
                    <p>{{headItem.text}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bodyItem of table?.bodyItems; let i = index">
                <td *ngFor="let headItem of table?.headItems">
                    <p *ngIf="headItem.title != 'button'">{{bodyItem[headItem.title]}}</p>
                    <a *ngIf="headItem.title == 'button' && !bodyItem?.button?.download" class="download-link" [href]="bodyItem?.button?.href" [title]="bodyItem.button?.title">
                        {{bodyItem.button?.title}} <span class="sizeLink" *ngIf="bodyItem?.size?.placeholder"> {{bodyItem.size.placeholder}}</span>
                        <span class="icon" *ngIf="bodyItem.button?.icon" [innerHtml]="bodyItem.button?.icon | safe">
                        </span>
                    </a>

                    <a *ngIf="headItem.title == 'button' && bodyItem?.button?.download" class="download-link" [href]="bodyItem?.button?.href" [title]="bodyItem.button?.title" download>
                        {{bodyItem.button?.title}} <span class="sizeLink" *ngIf="bodyItem?.size?.placeholder"> {{bodyItem.size.placeholder}}</span>
                        <span class="icon" *ngIf="bodyItem.button?.icon" [innerHtml]="bodyItem.button?.icon | safe">
                        </span>
                    </a>
                </td>
            </tr>
            <tr *ngIf="table?.bodyItems?.length === 0">
                <td [attr.colspan]="table?.headItems.length">
                    Nenhum item encontrado.
                </td>
            </tr>
        </tbody>
    </table>
</div>
