<div class="table-box">
    <table>
        <thead>
            <tr>
                <th *ngFor="let headItem of table?.headItems">
                    <p>{{headItem.text}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bodyItem of table?.bodyItems; let i = index">
                <td *ngFor="let headItem of table?.headItems">
                    <p *ngIf="headItem.key != 'button'">{{bodyItem[headItem.key]}}</p>
                    <a *ngIf="headItem.key == 'button' && !bodyItem?.button?.download" class="download-link" [href]="bodyItem?.button?.href" [attr.title]="bodyItem.button?.title">
                        {{bodyItem.button?.title}}
                        <span class="icon" *ngIf="bodyItem.button?.icon" [innerHtml]="bodyItem.button?.icon | safe">
                        </span>
                    </a>

                    <a *ngIf="headItem.key == 'button' && bodyItem?.button?.download" class="download-link" [href]="bodyItem?.button?.href" [attr.title]="bodyItem.button?.title" download>
                        {{bodyItem.button?.title}}
                        <span class="icon" *ngIf="bodyItem.button?.icon" [innerHtml]="bodyItem.button?.icon | safe">
                        </span>
                    </a>
                </td>
            </tr>
            <tr *ngIf="table?.bodyItems?.length === 0">
                <td [attr.colspan]="table?.headItems.length">
                    Nenhum item encontrado.
                </td>
            </tr>
        </tbody>
    </table>
</div>