.title-color {
    color: #00335B !important;
    font-weight: 400;
    font-style: normal;
}

.card-body {
    height: 230px;
    width: 100%;
    margin: auto;
}

.card-title {
    font-size: 8rem;
    position: absolute;
    left: 30px;
    top: 45px;
    font-weight: 700;
}

.card-subtitle {
   left: 35px;
    right: 10px;
    position: absolute;
    bottom: 20px;
    text-align: justify;
    text-justify: auto;
    font-weight: 700;
    text-transform: math-auto;
}

.card-title-post {
    line-height: 1.2ch;
    width: 150px;
    top: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: 28px;
    position: absolute;
}

.post {
    width: 710px;
    left: 200px;
    height: 310px;
    display: flex;
    align-self: flex-end;
    margin-left: 20px;
    top: 27px;
    position: absolute;
    .card {
        background: url(../../../assets/img/image-placeholder.png) no-repeat center;
        background-size: cover;
    }
}

.post-title {
    margin-top: 30px;
}

.posts-ul {
    line-height: 1.0ch;
}

.icon-card{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 40px;
    color: #9e7819;
}