<section #ourProgramsSection id="our-programs">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-5-desktop">
                    <p class="small-title">
                        Nossos programas
                    </p>
                    <h4 class="big-title">
                        Pessoas que acreditam e querem construir um mundo melhor
                    </h4>
                    <p class="description">
                        Aqui na Care Plus nosso foco e compromisso é com o futuro.
                        Vem com a gente!
                    </p>
                    <p class="sub-description">
                        Nosso programa de talentos visa integrar, capacitar e formar profissionais com os melhores
                        currículos capazes de fazer parte não só da nossa transformação, mas capazes de transformar o
                        mundo.
                    </p>
                    <a href="https://careplus.gupy.io/" target="_blank"
                        class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch"
                        title="Inscreva-se no programa">
                        VEJA TODAS AS VAGAS
                    </a>
                    <a href="https://careplus.gupy.io/" target="_blank"
                        class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop"
                        title="Inscreva-se no programa">
                        VEJA TODAS AS VAGAS
                    </a>
                </div>
                <div class="column is-full is-7-desktop">
                    <app-slider *ngIf="width > 767" [sliderModel]="sliderModel"></app-slider>
                    <app-slider *ngIf="width < 768" [sliderModel]="sliderModel"></app-slider>
                </div>
            </div>
        </div>
    </article>
</section>