@import "~src/scss/_variables";

section#our-programs {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 41.66666667%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: rgba(getColor(_bupa, _digital-cian-rgb), 0.1);
    }
    .container {
        .btn {
            margin-top: 48px;
        }
    }
}

@media (max-width: 1023px) {
    section#our-programs {
        &:before {
            content: unset;
        }

        .container {
            .btn {
                margin-top: 30px;
                &.btn.tertiary {
                    padding-left: 0;
                }
            }
        }
    }
}
