<div class="card">
    <div class="card-header">
        Cadastro de Perfil
    </div>
    <div class="card-body">
        <ng-wizard [config]="configBanner" (stepChanged)="stepChanged($event)">
            <ng-wizard-step [title]="'Perfil'" [description]="'Novo Perfil'">

                <div class="row">
                    <div class="col-md-12 col-lg-4 m-auto">

                        <form [formGroup]="careplusPerfilForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                         
                                <div class="form-group col-md-12">
                                    <label class="label">Cod Perfil</label>
                                    <input formControlName="perfilId" class="form-control" type="number" placeholder=""
                                    [ngClass]="{ 'is-success': submitted && !f.perfilId.errors, 'is-danger' : submitted && f.perfilId.errors }">
                                    <div *ngIf="submitted" class="errors">
                                        <p *ngFor="let error of getErrors(f.perfilId)" class="help is-danger">
                                            {{error}}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="label">Descrição</label>
                                    <input formControlName="descricao" class="form-control" type="text" placeholder=""
                        [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }">
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12 w-100 text-right">
                                    <button class="badge badge-dark shadow p-3" type="submit">
                                        SALVAR ALTERAÇÕES
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </ng-wizard-step>
        </ng-wizard>
    </div>
    <div class="card-footer">

    </div>
</div>



