@import "~src/scss/_variables";

section#our-differentials {
    .container {
        .cards {
            margin-top: 30px;
            .card-content {
                width: 100%;
                height: 100%;
                padding: 0 0 30px 0;
                position: relative;
                .card-title {
                    font-weight: 500;
                    font-size: getSize("mbt");
                    line-height: getLineHeight("mbt");
                    color: getColor(_bupa, _navy);
                    transition: color 0.3s ease-in-out;
                }

                .sub-description {
                    font-weight: normal;
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                    color: getColor(_bupa, _grey);
                    text-align: left;
                    transition: color 0.3s ease-in-out;
                }

                .btn.tertiary {
                    padding-left: 0;
                    margin-top: 20px;
                }
            }

            ::ng-deep app-card {
                .content {
                    .card.default {
                        padding: 25px 16px;
                        transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
                        &:hover {
                            background-color: getColor(_bupa, _digital-cian);
                            border: 1px solid getColor(_bupa, _digital-cian);

                            .card-title {
                                color: getColor(_bupa, _white);
                            }

                            .sub-description {
                                color: getColor(_bupa, _white);
                            }

                            .btn.tertiary {
                                color: getColor(_bupa, _white);

                                svg {
                                    fill: getColor(_bupa, _white);
                                    path {
                                        fill: getColor(_bupa, _white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .display-flex {
            display: flex;
        }

        .btn {
            &.is-centered {
                margin: 45px auto 0 auto;
                display: inline-flex;
            }

            &.tertiary {
                padding-left: 0;
            }
        }
    }
}
