<section id="our-differentials" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-paddingless-vertical">
                    <p class="small-title">
                        Nossos Diferenciais
                    </p>
                </div>

                <div class="column is-6-desktop is-full is-paddingless-vertical">
                    <h2 class="h4 big-title">
                        Vantagens que só a Care Plus tem
                    </h2>
                </div>

                <div class="column is-6-desktop is-full is-paddingless-vertical">
                    <p class="sub-description no-margin">
                        Somos a maior operadora de saúde premium do mercado e oferecemos diversos benefícios exclusivos
                        para nossos beneficiários, empresas, corretores e credenciados.
                    </p>
                </div>
            </div>
            <div class="columns cards flex-wrap">
                <div class="column is-full is-4-desktop" *ngFor="let card of cards">
                    <app-card>
                        <div class="card-content">
                            <p class="card-title">
                                {{card?.title}}
                                <a class="next is-hidden-desktop" *ngIf="card?.button"
                                    [routerLink]="[card?.button?.routerLink]"
                                    [attr.title]="card?.title">
                                    <img src="assets/svg/arrow-left.svg" [attr.alt]="card?.title">
                                </a>
                            </p>
                            <p class="sub-description">
                                {{card?.description }}
                            </p>
                            <a class="btn btn-digital-cian tertiary arrow-right medium is-hidden-touch"
                                *ngIf="card?.button" [routerLink]="[card?.button?.routerLink]" [attr.title]="card?.button?.text">
                                {{
                                    card?.button?.text
                                }}
                            </a>
                        </div>
                    </app-card>
                </div>


                <div class="column is-full display-flex">
                    <a routerLink="/a-careplus/diferenciais" fragment="perfis"
                        class="btn btn-digital-cian secondary arrow-right medium is-centered is-hidden-touch"
                        title="Veja todos">
                        Veja todos
                    </a>


                    <a routerLink="/a-careplus/diferenciais" fragment="perfis"
                        class="btn btn-digital-cian tertiary arrow-right medium is-centered is-hidden-desktop" title="Veja todos">
                        Veja todos
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>