<section id="see-dates" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="h4 big-title">
                        Consulte as datas e disponibilidade de horários
                    </h1>
                </div>
            </div>
            <div class="columns flex-wrap">
                <div class="column is-5-desktop is-full">
                    <mat-form-field>
                        <input matInput [min]="minDate" placeholder="Data" [satDatepicker]="picker3" value=""
                            (dateChange)="onDate($event)">
                        <sat-datepicker #picker3>
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix [for]="picker3">
                            <mat-icon svgIcon="datepickerCustom" matDatepickerToggleIcon></mat-icon>
                        </sat-datepicker-toggle>
                    </mat-form-field>

                    <p class="schedule-description">
                        Você não precisa agendar para ser atendido. O atendimento acontece por ordem de chegada. <br />
                        <strong>Ligue antes para confirmar os horários.</strong>
                    </p>
                </div>

                <div class="column is-7-desktop is-full consult-infos">
                    <div class="loading" *ngIf="loading">
                        <div class="loading__circle"></div>
                        <div class="loading__circle"></div>
                        <div class="loading__circle"></div>
                    </div>

                    <ul class="units" *ngIf="!loading">
                        <li class="unity" *ngFor="let unity of units" [class.closed]="unity?.fechada">
                            <div class="unity-header column is-7">
                                <p class="title is-marginless">
                                    {{unity?.nome}}
                                </p>
                                <p class="sub-description no-margin is-hidden-touch">
                                    {{unity?.descricao}}
                                </p>
                            </div>
                            <div class="column is-5 heading-buttons" [class.display-flex]="unity?.fechada">
                                <a *ngIf="!unity.fechada" [href]="'#'+ unity?.id"
                                    class="btn btn-digital-cian tertiary arrow-right small acc-heading">
                                    VER HORÁRIOS
                                </a>
                                <a *ngIf="!unity.fechada" [href]="'tel:'+ unity?.telefoneSemFormatacao"
                                    class="btn btn-phone blue-background-color">
                                    <span>
                                        <img src="assets/svg/phone-digital-cian.svg" alt="Telefone Unidade Cenu">
                                    </span>
                                    <span class="text">
                                        {{unity?.telefone}}
                                    </span>
                                </a>

                                <p *ngIf="unity?.fechada" class="is-closed">
                                    FECHADO
                                </p>

                            </div>
                            <div class="collapse-content acc-content" [attr.id]="unity?.id">
                                <div class="unity-infos column is-4-desktop is-full">
                                    <p class="sub-description address-title no-margin">
                                        Endereço
                                    </p>

                                    <p class="sub-description address-description no-margin small">
                                        {{unity?.endereco?.endereco}}
                                    </p>
                                </div>
                                <div class="unity-infos column is-4-desktop is-full">
                                    <p class="sub-description address-title no-margin">
                                        Bairro
                                    </p>

                                    <p class="sub-description address-description no-margin small">
                                        {{unity?.endereco?.bairro}}
                                    </p>
                                </div>
                                <div class="unity-infos column is-4-desktop is-full">
                                    <p class="sub-description address-title no-margin">
                                        Município
                                    </p>

                                    <p class="sub-description address-description no-margin small">
                                        {{unity?.endereco?.municipio}}
                                    </p>
                                </div>
                                <div class="unity-infos column is-4-desktop is-full"
                                    *ngFor="let periodo of unity?.periodos">
                                    <p class="sub-description address-description disponible-hour no-margin bold">
                                        {{periodo?.nome}}: {{periodo?.descricaoHoras}}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>