section#careplusPlus {
    .container {
        .text-columns {
            position: relative;

            .right-button {
                position: absolute;
                right: 0;
                top: calc(50% - 23px);
            }

            .small-title {
                display: block;
            }

            .big-title {
                max-width: 764px;
            }
        }
    }
}

@media (max-width: 1023px) {
    section#careplusPlus {
        .container {
            .text-columns {
                .right-button{
                    position: initial;
                    padding-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
} 