section#careplus-plus {
    .container {
        .text-columns {
            position: relative;

            .right-button {
                position: absolute;
                right: 0;
                top: calc(50% - 23px);
            }

            .small-title {
                display: block;
            }

            .big-title {
                max-width: 764px;
            }
        }
    }
}

.mobile-or-desktop {
    padding: 16px 24px;
    font-size: 1em;
    line-height: 150%;
}

@media (max-width: 1023px) {
    section#careplus-plus {
        .container {
            .text-columns {
                .right-button {
                    position: relative;
                    padding-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    .mobile-or-desktop {
        padding: 16px 16px;
        font-size: 0.75em;
    }
}
