section#careplus-plus {
    .container {
        .text-columns {
            position: relative;

            .right-button {
                position: absolute;
                right: 0;
                top: calc(50% - 23px);
            }

            .small-title {
                display: block;
            }

            .big-title {
                max-width: 47.75rem;
            }
        }
    }
}

.mobile-or-desktop {
    padding: 1rem 1.5rem;
    font-size: 1em;
    line-height: 150%;
}

@media (max-width: 1023px) {
    section#careplus-plus {
        .container {
            .text-columns {
                .right-button {
                    position: relative;
                    padding-left: 0;
                    margin-top: 1.25rem;
                }
            }
        }
    }
    .mobile-or-desktop {
        padding: 1rem 1rem;
        font-size: 0.75em;
    }
}
