<section class="hero is-dark is-small">
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
              Cadastrar nova Categoria
          </h1>
      </div>
  </div>
</section>
<form [formGroup]="categoriasForm" (ngSubmit)="onSubmit()">
  <div class="card">
      <div class="card-content">
          <div class="columns">
              <div class="column">
                  <div class="field">
                      <label class="label">Título</label>
                      <div class="control">
                          <input formControlName="titulo" class="input" type="text" placeholder=""
                              [ngClass]="{ 'is-success': submitted && !f.titulo.errors, 'is-danger' : submitted && f.titulo.errors }">
                      </div>
                      <div *ngIf="submitted" class="errors">
                          <p *ngFor="let error of getErrors(f.titulo)" class="help is-danger">
                              {{error}}
                          </p>
                      </div>
                  </div>
              </div>              
          </div>
          <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                  <textarea formControlName="descricao"
                      [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }"
                      class="textarea" placeholder="" rows="5"></textarea>
              </div>
              <div *ngIf="submitted" class="errors">
                  <p *ngFor="let error of getErrors(f.descricao)" class="help is-danger">
                      {{error}}
                  </p>
              </div>
          </div>
      </div>

      <footer class="card-footer">
          <p class="card-footer-item">
              <button routerLink="/neocms/categorias" routerLinkActive="active" class="button is-light"
                  type="button">
                  Fechar &nbsp;
                  <fa-icon [icon]="faTimes"></fa-icon>
              </button>
          </p>
          <p class="card-footer-item">
              <button class="button is-primary" type="submit" [ngClass]="{'is-loading': btnSubmitDisable}">
                  Gravar &nbsp;
                  <fa-icon [icon]="faCheck"></fa-icon>
              </button>
          </p>
      </footer>
  </div>
</form>