@import "~src/scss/_variables";

section {
    &#nossosPilares {
        .container {
            .our-pillars-box {
                position: sticky;
                position: -webkit-sticky;
                top: 15px;

                .big-title {
                    margin-top: 0;
                }
            }

            .items {
                .item {
                    padding-top: 32px;
                    padding-bottom: 32px;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    section {
        &#nossosPilares {
            .container {
                .our-pillars-box {
                    .big-title {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: calc((-100vw + 1216px) / 2);
                            width: calc((100vw - 1280px) / 2);
                            background: linear-gradient(
                                to right,
                                getColor(_bupa, _digital-cian) 60%,
                                getColor(_bottom-line, _dark-green) 60%,
                                getColor(_bottom-line, _dark-green) 80%,
                                getColor(_bottom-line, _light-green) 80%
                            );
                            height: 4px;
                            top: calc(50% - 2px);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1399px) {
    section {
        &#nossosPilares {
            .container {
                .our-pillars-box {
                    position: sticky;
                    position: -webkit-sticky;
                    top: 87px;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#nossosPilares {
            .container {
                .our-pillars-box {
                    position: unset;
                    top: unset;
                }
                .items {
                    .item {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
