<app-simple-banner [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToNextSection()"></app-simple-banner>
<section #aboutPlusNetwork id="about-plus-network">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <div #boxInfos class="box-infos">
                        <p class="small-title">
                            Sobre trabalhar na Care Plus
                        </p>
                        <h2 class="h4 big-title">
                            Conheça o nosso trabalho e some sua experiência a ele
                        </h2>
                    </div>
                </div>
                <div class="column is-full is-6-desktop">
                    <p class="description no-margin">
                        Buscamos talentos que gostem de desafios e que tenham a inovação e a humanização como características
                    </p>
                    <p class="sub-description">
                        Nos preocupamos com nossos colaboradores e queremos proporcionar o melhor para todos. Nosso time é composto por pessoas capacitadas e sempre preparados para ajudar os novos talentos. Venha fazer parte desse time e conheça nossa trajetória. Um ambiente representativo, que preza pela diversidade e respeito, capaz de te acolher de todas as formas.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<app-a-careplus-video [videoModel]="videoModel" [backgroundColor]="'blue'"></app-a-careplus-video>
<app-join-the-team [reverse]="true"></app-join-the-team>
<app-learn-more [cards]="cards"></app-learn-more>

<app-social-posts></app-social-posts>
