<app-simple-banner class="app-simple-banner" [simpleBannerModel]="foundPlan?.simpleBannerModel"
    (goToNextSection)="goToSection('#about-plan')">
</app-simple-banner>
<div class="anchor-buttons">
    <div class="container">
        <div class="buttons-box">
            <a (click)="goToSection('#products', 1)" tabindex="0" (keyup.enter)="goToSection('#products', 1)"
                class="anchor-button" title="Planos de Saúde">Planos de Saúde</a>
            <a (click)="goToSection('#products', 2)" tabindex="0" (keyup.enter)="goToSection('#products', 2)"
                class="anchor-button" title="Planos Odontológicos">Planos Odontológicos</a>
        </div>
    </div>
</div>
<app-info-section class="app-info-section" id="about-plan" [sectionInfo]="foundPlan?.aboutPlan"></app-info-section>
<app-plans-infos class="app-plans-infos" id="products-info" [plan]="foundPlan"
    (setSelectedOptionId)="selectedOptionId = $event" [selectedOptionId]="selectedOptionId"
    [backgroundColorClass]="'blue-background-color'">
</app-plans-infos>
<app-info-section class="app-info-section" [sectionInfo]="foundPlan?.dentalSection"></app-info-section>
<app-hospitals-list class="app-hospitals-list" [smallTitle]="foundPlan?.hospitalListSection?.smallTitle"
    [bigTitle]="foundPlan?.hospitalListSection?.bigTitle" [tableHead]="foundPlan?.tableHead"
    [customHospitals]="foundPlan?.hospitalList">
</app-hospitals-list>
<app-info-section class="app-info-section" [sectionInfo]="foundPlan?.plansSection"></app-info-section>
<app-icon-cards-section class="app-icon-cards-section" id="products"
    [iconCardsSectionModel]="foundPlan?.iconCardsSectionModel" [backgroundColorClass]="'blue-background-color'">
</app-icon-cards-section>
<app-info-section class="app-info-section" [sectionInfo]="foundPlan?.clinicSection"></app-info-section>
<section id="clinic-services" *ngIf="foundPlan?.clinicInfos">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="h4 big-title">
                        {{foundPlan?.clinicInfos?.bigTitle}}
                    </h2>
                </div>
            </div>

            <div class="columns flex-wrap cards">
                <div class="column is-3-desktop is-full" *ngFor="let item of foundPlan?.clinicInfos?.items">
                    <app-card>
                        <div class="card-content">
                            <p class="card-description">
                                {{item?.text}}
                            </p>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </article>
</section>
<app-accredited-network class="app-accredited-network" [backgroundColorClass]="'blue-background-color'">
</app-accredited-network>
<app-info-section class="app-info-section" [sectionInfo]="foundPlan?.travelSection"></app-info-section>
<app-contact-schedule-a-visit class="app-contact-schedule-a-visit" [secondCard]="foundPlan?.secondCard"
    [bigTitle]="'Entre em contato ou solicite uma cotação'" [backgroundColorClass]="'blue-background-color'">
</app-contact-schedule-a-visit>
<app-careplus-plus></app-careplus-plus>