@import "~src/scss/_variables";
.anchor-buttons {
    height: 62px;
    z-index: 202;
    .container {
        position: relative;
        .buttons-box {
            z-index: 203;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            width: 504px;
            height: 82px;
            background-color: getColor(_bupa, _white);
            border-radius: 2px;
            box-shadow: 2px 2px 6px rgba(getColor(_bupa, _black), 0.25);
            display: flex;
            a {
                flex: 0 0 calc(50% - 0.5px);
                width: calc(50% - 0.5px);
                height: 100%;
                text-align: center;
                font-size: getSize("p");
                line-height: 82px;
                color: getColor(_bupa, _black);
                transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.1s ease-in-out,
                    color 0.3s ease-in-out, -webkit-transform 0.1s ease-in-out;
                &:first-child {
                    border-right: 0.5px solid getColor(_bupa, _grey-3);
                }
                &:last-child {
                    border-left: 0.5px solid getColor(_bupa, _grey-3);
                }
                &:hover {
                    color: getColor(_bupa, _white);
                    background-color: getColor(_bupa, _digital-cian);
                }
            }
        }
    }
}

section#clinic-services {
    .container {
        .columns {
            margin: 0;
            .column {
                padding-top: 0;
                padding-bottom: 0;
                .big-title {
                    max-width: 592px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            &.cards {
                margin-top: 48px;
                .column {
                    ::ng-deep .app-card {
                        .card.default {
                            padding: 34px 20px;
                            .card-content {
                                padding: 0;
                                .card-description {
                                    font-weight: normal;
                                    font-size: getSize("mbt");
                                    line-height: getLineHeight("mbt");
                                    color: getColor(_bupa, _navy);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#clinic-services {
        .container {
            .columns {
                &.cards {
                    margin-top: 32px;
                    .column {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        ::ng-deep .app-card {
                            .card.default {
                                .card-content {
                                    .card-description {
                                        font-size: getSize("p");
                                        line-height: getLineHeight("p");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 505px) and (max-width: 1023px) {
    ::ng-deep .app-simple-banner {
        .container {
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 504px) {
    .anchor-buttons {
        height: 112px;
        .container {
            .buttons-box {
                width: 100%;
                transform: translateY(0%);
                margin-top: 30px;
            }
        }
    }
}
