@import "~src/scss/_variables";

section {
    &#vacancy-details-main-section {
        .container {
            .big-title {
                max-width: 800px;
                margin: 38px auto 0 auto;
                text-align: center;
            }
        }
    }

    &#vacancy-informations {
        .container {
            ul.pre-requisites {
                margin-top: 32px;
                li {
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            form {
                margin-top: 32px;

                .input-file-label {
                    font-weight: 500;
                    color: getColor(_bupa, _black);
                    margin-top: 16px;
                    margin-bottom: 16px;
                }

                .textarea {
                    margin-top: 21px;
                }

                .required-fields-info {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 0.625em;
                    line-height: 150%;
                    color: getColor(_bupa, _grey-2);
                }

                .btn {
                    margin-top: 7px;
                    float: right;
                }
            }
        }
    }

    &#see-all-vacancies {
        .container {
            .columns {
                .column {
                    .custom-padding {
                        padding: 70px 105px;
                        position: relative;

                        &:before {
                            background: linear-gradient(to right, #cdecfd 0%, getColor(_bupa, _digital-cian) 100%);
                            content: "";
                            position: absolute;
                            height: 4px;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                        }

                        .btn {
                            align-self: center;
                            float: right;

                            &.btn.tertiary {
                                padding-left: 0;
                            }
                        }

                        .columns {
                            .column {
                                &:last-child {
                                    display: flex;
                                    justify-content: flex-end;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#vacancy-informations {
            .container {
                form {
                    .btn {
                        float: unset;
                        padding-left: 0;
                    }
                }
            }
        }

        &#see-all-vacancies {
            padding-bottom: 0;
            .container {
                padding: 0;
                .columns {
                    .column {
                        padding: 0;
                        .custom-padding {
                            padding: 30px 32px;

                            &:before {
                                content: unset;
                            }

                            .sub-description {
                                margin-top: 16px;
                            }

                            .btn {
                                align-self: unset;
                                float: unset;
                                margin-top: 16px;

                                &.btn.tertiary {
                                    padding-left: 0;
                                }
                            }

                            .columns {
                                .column {
                                    &:last-child {
                                        display: block;
                                        justify-content: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
