<section>
    <article>
        <div class="container">
            <div class="columns breadcrumb">
                <div class="column is-paddingless-vertical">
                    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                </div>
            </div>
            <div class="columns site-map flex-wrap">
                <div class="column is-half-tablet-only">
                    <p class="subtitle">
                        Nossos Parceiros
                    </p>
                    <a routerLink="/sou-beneficiario" title="Para o Beneficiário">
                        Para o Beneficiário
                    </a>
                    <br>
                    <a routerLink="/sou-rh" title="Para o RHs">
                        Para o RH
                    </a>
                    <br>
                    <a routerLink="/sou-corretor" title="Para o Corretor">
                        Para o Corretor
                    </a>
                    <br>
                    <a routerLink="/sou-credenciado" title="Para o Credenciado">
                        Para o Credenciado
                    </a>
                </div>
                <div class="column is-half-tablet-only">
                    <a routerLink="/a-careplus" title="A Care Plus" class="heading5 subtitle">
                        A Care Plus
                    </a>
                    <a routerLink="/a-careplus" title="A Empresa">
                        A Empresa
                    </a>
                    <br>
                    <a routerLink="/a-careplus/diferenciais" title="Diferenciais">
                        Diferenciais
                    </a>
                    <br>
                    <a routerLink="/a-careplus/rede-plus" title="Rede Plus">
                        Rede Plus
                    </a>
                    <br>
                    <a routerLink="/a-careplus/gestao-de-saude" title="Gestão de Saúde">
                        Gestão de Saúde
                    </a>
                    <br>
                    <a routerLink="/a-careplus/responsabilidade-social"
                        title="Sustentabilidade / Responsabilidade Social">
                        Responsabilidade Social
                    </a>
                    <br>
                    <a routerLink="/a-careplus/perguntas-frequentes" title="Perguntas Frequentes">
                        Perguntas Frequentes
                    </a>
                    <br>
                    <a routerLink="/a-careplus/materiais-de-saude" title="Materiais de Saúde">
                        Materiais de Saúde
                    </a>
                    <br>
                    <a routerLink="/a-careplus/termos-e-condicoes" title="Termos e Condições">
                        Termos e Condições
                    </a>
                    <br>
                    <a routerLink="/a-careplus_privacy/politica-de-privacidade" title="Política de Privacidade">
                        Política de Privacidade
                    </a>
                    <br>
                    <a href="https://privacyportal-de.onetrust.com/webform/1008c9c1-5b06-4f60-b76e-80bb9f385e31/38944ca9-3aea-4529-96cb-f1e28bd0b9e2" title="Exerça seus Direitos" target="_blank" rel="noopener noreferrer">
                        Exerça seus Direitos
                    </a>
                    <br>
                    <a routerLink="/a-careplus/resultados-financeiros" title="Resultados Financeiros">
                        Resultados Financeiros
                    </a>
                </div>
                <div class="column is-half-tablet-only">
                    <a routerLink="/planos-e-produtos" title="Planos e Produtos" class="heading5 subtitle">
                        Planos e Produtos
                    </a>
                    <a routerLink="/planos-e-produtos" fragment="planos" title="Care Plus Saúde">
                        Care Plus Saúde
                    </a>
                    <br>
                    <a routerLink="/planos-e-produtos/medicina-ocupacional" title="Care Plus Ocupacional">
                        Care Plus Ocupacional
                    </a>
                    <br>
                    <a routerLink="/planos-e-produtos" fragment="planos" title="Care Plus Dental">
                        Care Plus Dental
                    </a> 
                    <br>
                    <a href="https://store.careplus.com.br/" target="_blank" rel="noopener noreferrer"
                        title="Care Plus Dental - Individual">
                        Care Plus Dental - Individual
                    </a>
                </div>
                <div class="column is-half-tablet-only">
                    <a routerLink="/carreiras" title="Carreiras" class="subtitle">
                        Carreiras
                    </a>
                    <a routerLink="/carreiras" title="Carreiras">
                        Carreiras
                    </a>
                    <br>
                    <a routerLink="/carreiras/vagas" title="Vagas">
                        Vagas
                    </a>
                    <p class="subtitle m-t-30">
                        Documentos
                    </p>
                    <a routerLink="/compliance" title="Compliance">
                        Compliance
                    </a>
                    <br>
                    <a routerLink="/idss" title="IDSS">
                        IDSS
                    </a>
                    <br>
                    <a routerLink="/pesquisa-satisfacao" title="Pesquisa de Satisfação">
                        Pesquisa de Satisfação
                    </a>
                </div>
                <div class="column is-half-tablet-only">
                    <a routerLink="/fale-conosco" title="Fale Conosco" class="subtitle">
                        Fale Conosco
                    </a>
                    <a routerLink="/fale-conosco/solicite-uma-cotacao" title="Solicite uma Proposta 1">
                        Solicite uma Proposta
                    </a>
                    <br>
                    <a routerLink="/fale-conosco/contato" title="Contato">
                        Contato
                    </a>
                    <br>
                    <a routerLink="/fale-conosco/canal-de-denuncias" title="Canal de Denúncias">
                        Canal de Denúncias
                    </a>
                    <br>
                    <a title="Simule Planos e Produtos" (click)="openSimulator()">
                        Simule Planos e Produtos
                    </a>
                    <br />
                    <a href="https://www8.careplus.com.br/portal/portal/modulos/rede/pesquisaRedeCP.aspx"
                        target="_blank" rel="noopener noreferrer" title="Rede Credenciada opens in a new window">
                        Rede Credenciada
                    </a>
                    <br>
                    <a href="https://www8.careplus.com.br/portal/substituicaorede.aspx" target="_blank"
                        rel="noopener noreferrer" title="Substituição de Rede opens in a new window">
                        Substituição de Rede
                    </a>
                    <br>
                    <a class="subtitle m-t-30" routerLink="/careplus-mais" title="Care Plus +">
                        Care Plus +
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>