@import "~src/scss/_variables";

section#faleConoscoForm {
    .container {
        .columns {
            &.infos {
                margin-top: 50px;
            }
            .column {
                &.has-line {
                    position: relative;
                    &::before {
                        background: linear-gradient(
                            to left,
                            var(--bupa_digital-cian) 60%,
                            var(--bottom-line_dark-green) 60%,
                            var(--bottom-line_dark-green) 80%,
                            var(--bottom-line_light-green) 80%
                        );
                        content: "";
                        position: absolute;
                        height: 4px;
                        left: -30px;
                        -webkit-transform: translateX(-100%);
                        transform: translateX(-100%);
                        top: 70px;
                        width: 126px;
                    }
                }

                .contact-info {
                    padding: 32px;
                    display: flex;
                    .contact-content {
                        flex: 0 0 100%;
                        align-self: center;
                        .description {
                            font-weight: normal;
                            font-size: getSize("mbt");
                            line-height: getLineHeight("mbt");
                            color: getColor(_bupa, _navy);
                        }

                        .contact-subdescription {
                            display: flex;
                            margin-top: 26px;

                            &:first-child {
                                margin-top: 48px;
                            }

                            span {
                                color: getColor(_bupa, _digital-cian);

                                &.text {
                                    align-self: flex-start;
                                    margin-left: 16px;
                                }

                                &.image {
                                    height: 34px;
                                    display: inline-block;
                                }

                                img {
                                    width: 34px;
                                    height: 34px;
                                }
                            }
                        }

                        .contact-link {
                            font-size: 1.5em;
                            line-height: 150%;
                            color: var(--bupa_grey);
                            text-align: center;
                            margin-left: 50px;
                            word-break: break-all;
                            display: block;
                            text-align: left;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .separator {
                            background-color: getColor(_bupa, _navy);
                            height: 1px;
                            margin: 32px 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    section#faleConoscoForm {
        .container {
            .columns {
                .column {
                    &.has-line {
                        &::before {
                            content: unset;
                        }
                    }
                }
            }
        }
    }
}
