<section id="how-it-works" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-5-desktop is-full">
                    <h4 class="big-title no-margin has-line">
                        Saiba como funciona e para quem é o Consulta Fácil
                    </h4>
                </div>
                <div class="column is-7-desktop is-full">
                    <p class="sub-description no-margin">
                        Nossos beneficiários contam com atendimento médico de clínicos gerais e pediatras, nas Clínicas
                        Personal System e uma unidade exclusiva do Fleury, em diversos horários e dias da semana, sem a
                        necessidade de agendamento prévio.
                    </p>
                    <p class="sub-description">
                        Ideal para pacientes que apresentam os seguintes quadros:
                    </p>

                    <ul class="items">
                        <li class="item">
                            <p class="sub-description no-margin">
                                Atendimento para adultos:
                            </p>
                            <p class="sub-description">
                                Gripe, resfriado, sinusite, febre, inflamação/infecção de garganta, infecção urinária,
                                rinite, entre outros.
                            </p>
                        </li>
                        <li class="item">
                            <p class="sub-description no-margin">
                                Atendimento pediátrico:
                            </p>
                            <p class="sub-description">
                                Febre, dor de garganta, urticária, tosse, secreção nasal, alergia da fralda, choro sem
                                causa aparente, reação à vacina, refluxo, entre outros.
                            </p>
                        </li>
                        <li class="item">
                            <p class="sub-description no-margin">
                                Orientação e informação:
                            </p>
                            <p class="sub-description">
                                O Consulta Fácil também oferece orientações sobre a rede credenciada e agendamento de
                                consulta com especialistas, além de esclarecimento de dúvidas sobre assuntos
                                relacionados à saúde.
                            </p>
                        </li>
                        <li class="item">
                            <p class="sub-description no-margin">
                                Horário de Atendimento:
                            </p>
                            <p class="sub-description">
                                Para verificar o horário de atendimento, acesse nosso site <span><a
                                        href="https://www.careplus.com.br"
                                        title="https://www.careplus.com.br"
                                        target="_blank">www.careplus.com.br</a></span>, menu
                                Diferenciais, opção Consulta Fácil.
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </article>
</section>