<section #sectionProduct class="is-produto" [ngClass]="backgroundColorClass">
    <div class="columns">
        <div class="column is-12">
            <p class="section-category has-text-centered">
                Nossos planos
            </p>
            <h4 class="title has-text-centered">
                Soluções personalizadas em saúde com absoluta dedicação e cuidado
            </h4>
            <p class="content has-text-centered">
                Humanização, qualidade de vida e experiência com a melhor relação custo-benefício.
            </p>
        </div>
    </div>

    <div class="columns products is-desktop">
        <div class="column has-border product-padding is-plano-saude is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/soho">
            <h3 class="product-title">
                Soho
            </h3>
            <h5 class="product-subtitle">
                De 2 a 29 vidas
            </h5>
            <p class="content">
                O Care Plus SoHo apresenta planos para pequenas empresas, de 2 a 29 vidas e é indicado para aquelas que
                atuam em home office ou com operações mais enxutas.
            </p>

            <a class="saiba-mais">
                Saiba mais
                <svg class="fill" width="24" height="14" viewBox="0 0 24 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.2765 0.30227C14.9993 0.646632 15.0581 1.14752 15.4091 1.42025L17.8881 3.34793L21.1446 6.20683L0.808734 6.20683C0.361773 6.20683 -3.25064e-07 6.5634 -3.0586e-07 7.00274C-2.86656e-07 7.44208 0.361774 7.79864 0.808734 7.79864L20.9414 7.79864L15.2915 12.6022C14.954 12.8887 14.9158 13.3917 15.208 13.7244C15.5002 14.0571 16.0108 14.0937 16.3488 13.8061L23.7196 7.53918C23.8959 7.38955 23.9978 7.17253 24 6.94331C24 6.94119 24 6.93906 24 6.93694C24 6.70984 23.9019 6.49389 23.7299 6.3432L18.9282 2.12967L16.4125 0.17174C16.062 -0.10099 15.5536 -0.0426223 15.2765 0.30227Z" />
                </svg>
            </a>
        </div>
        <div class="column has-border product-padding is-plano-odontologico is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/clube-careplus">
            <h3 class="product-title">
                Clube Care Plus
            </h3>
            <h5 class="product-subtitle">
                De 30 a 200 vidas
            </h5>
            <p class="content">
                O Clube Care Plus apresenta planos para empresas, de 30 a 200 vidas e é indicado para aquelas que estão
                em crescimento e expandindo seus negócios.
            </p>

            <a class="saiba-mais">
                Saiba mais
                <svg class="fill" width="24" height="14" viewBox="0 0 24 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.2765 0.30227C14.9993 0.646632 15.0581 1.14752 15.4091 1.42025L17.8881 3.34793L21.1446 6.20683L0.808734 6.20683C0.361773 6.20683 -3.25064e-07 6.5634 -3.0586e-07 7.00274C-2.86656e-07 7.44208 0.361774 7.79864 0.808734 7.79864L20.9414 7.79864L15.2915 12.6022C14.954 12.8887 14.9158 13.3917 15.208 13.7244C15.5002 14.0571 16.0108 14.0937 16.3488 13.8061L23.7196 7.53918C23.8959 7.38955 23.9978 7.17253 24 6.94331C24 6.94119 24 6.93906 24 6.93694C24 6.70984 23.9019 6.49389 23.7299 6.3432L18.9282 2.12967L16.4125 0.17174C16.062 -0.10099 15.5536 -0.0426223 15.2765 0.30227Z" />
                </svg>
            </a>
        </div>
        <div class="column has-border product-padding is-medicina-ocupacional is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/empresarial">
            <h3 class="product-title ">
                Empresarial
            </h3>
            <h5 class="product-subtitle">
                Para mais de 200 vidas
            </h5>
            <p class="content">
                O Care Plus Empresarial apresenta planos totalmente customizáveis, para mais de 200 vidas e é indicado
                para
                grandes empresas.
            </p>

            <a class="saiba-mais">
                Saiba mais
                <svg class="fill" width="24" height="14" viewBox="0 0 24 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.2765 0.30227C14.9993 0.646632 15.0581 1.14752 15.4091 1.42025L17.8881 3.34793L21.1446 6.20683L0.808734 6.20683C0.361773 6.20683 -3.25064e-07 6.5634 -3.0586e-07 7.00274C-2.86656e-07 7.44208 0.361774 7.79864 0.808734 7.79864L20.9414 7.79864L15.2915 12.6022C14.954 12.8887 14.9158 13.3917 15.208 13.7244C15.5002 14.0571 16.0108 14.0937 16.3488 13.8061L23.7196 7.53918C23.8959 7.38955 23.9978 7.17253 24 6.94331C24 6.94119 24 6.93906 24 6.93694C24 6.70984 23.9019 6.49389 23.7299 6.3432L18.9282 2.12967L16.4125 0.17174C16.062 -0.10099 15.5536 -0.0426223 15.2765 0.30227Z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column has-text-centered">
            <a class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch" routerLink="/planos-e-produtos"
                title="Link para página de produtos">
                Ver planos e produtos
            </a>
            <a class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop" routerLink="/planos-e-produtos"
            title="Link para página de produtos">
                Ver planos e produtos
            </a>
        </div>
    </div>
</section>