<section #sectionProduct class="is-produto" [ngClass]="backgroundColorClass">
    <div class="columns">
        <div class="column is-12">
            <p class="section-category has-text-centered">
                Nossos planos
            </p>
            <h2 class="h4 title has-text-centered">
                Soluções personalizadas em saúde com absoluta dedicação e cuidado
            </h2>
            <p class="content has-text-centered">
                Humanização, qualidade de vida e experiência com a melhor relação custo-benefício.
            </p>
        </div>
    </div>

    <div class="columns products is-desktop">
        <div class="column has-border product-padding is-plano-saude is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/soho">
            <h3 class="product-title h4">
                Care Plus Soho
            </h3>
            <h5 class="product-subtitle">
                De 2 a 29 vidas
            </h5>
            <p class="content">
                O Care Plus SoHo apresenta planos para pequenas empresas, de 2 a 29 vidas e é indicado para aquelas que
                atuam em home office ou com operações mais enxutas.
            </p>

            <a class="saiba-mais" title="Saiba mais">
                Conheça o Care Plus Soho
            </a>
        </div>
        <div class="column has-border product-padding is-plano-odontologico is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/clube-careplus">
            <h3 class="product-title h4">
                Clube Care Plus
            </h3>
            <h5 class="product-subtitle">
                De 30 a 200 vidas
            </h5>
            <p class="content">
                O Clube Care Plus apresenta planos para empresas, de 30 a 200 vidas e é indicado para aquelas que estão
                em crescimento e expandindo seus negócios.
            </p>

            <a class="saiba-mais" title="Saiba mais">
                Conheça o Clube Care Plus
            </a>
        </div>
        <div class="column has-border product-padding is-medicina-ocupacional is-full-tablet is-4-desktop"
            routerLink="/planos-e-produtos/careplus-empresarial">
            <h3 class="product-title h4">
                Care Plus Empresarial
            </h3>
            <h5 class="product-subtitle">
                Para mais de 200 vidas
            </h5>
            <p class="content">
                O Care Plus Empresarial apresenta planos totalmente customizáveis, para mais de 200 vidas e é indicado
                para
                grandes empresas.
            </p>

            <a class="saiba-mais" title="Saiba mais">
                Conheça o Care Plus Empresarial
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column has-text-centered">
            <a class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch" routerLink="/planos-e-produtos"
                title="Ver Planos e Produtos">
                Ver Planos e Produtos
            </a>
            <a class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop"
                routerLink="/planos-e-produtos" title="Ver Planos e Produtos">
                Ver Planos e Produtos
            </a>
        </div>
    </div>
</section>