<div class="content" [class.pd-top-20]="card.type === 'icon'">
    <div *ngIf="card.type === 'default'" class="card default" [ngClass]="card.backgroundColorClass">
        <ng-content select=".card-content"></ng-content>
    </div>

    <div *ngIf="card.type === 'icon' && !card.routerLink" class="card icon-card" [ngClass]="card.backgroundColorClass"
        (click)="collapse()">
        <div class="image" [ngClass]="card.backgroundColorClass">
            <img *ngIf="card.imagePath" [src]="card.imagePath" alt="Card image">
        </div>
        <p *ngIf="card.title" class="card-title" [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse"
            [innerHTML]="card.title"></p>
        <p class="card-description" #p [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse"
            *ngIf="card.description">{{card.description}}</p>
        <!--
            Botão com routerLink
        -->
        <a *ngIf="card?.button?.routerLink" [routerLink]="[card?.button?.routerLink]"
            [queryParams]="card?.button?.queryParams" #link [class.collapsed]="collapsed"
            [class.hasCollapse]="card.hasCollapse" class="link" [title]="card?.button?.text">
            {{card?.button?.text}}
        </a>

        <!--
            Botão com href
        -->
        <a *ngIf="card?.button?.link" [href]="card?.button?.link" [target]="card?.button?.target" #link
            [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse" class="link"
            [title]="card?.button?.text">
            {{card?.button?.text}}
        </a>

        <!--
            Botão com action
        -->
        <button *ngIf="card?.button?.action" (click)="card.button.action()" #link [class.collapsed]="collapsed"
            [class.hasCollapse]="card.hasCollapse" class="link" [title]="card?.button?.text">
            {{card?.button?.text}}
        </button>
        <ng-content></ng-content>
        <ng-content select=".icon-card-extra-content"></ng-content>
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
        <span class="line-4"></span>
    </div>

    <a [routerLink]="card.routerLink" *ngIf="card.type === 'icon' && card.routerLink" class="card icon-card"
        [ngClass]="card.backgroundColorClass" (click)="collapse()" [title]="card.title">
        <div class="image" [ngClass]="card.backgroundColorClass">
            <img *ngIf="card.imagePath" [src]="card.imagePath" alt="Card image">
        </div>
        <p *ngIf="card.title" class="card-title" [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse"
            [innerHTML]="card.title"></p>
        <p class="card-description" #p [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse"
            *ngIf="card.description">{{card.description}}</p>
        <!--
            Botão com routerLink
        -->
        <a *ngIf="card?.button?.routerLink" [routerLink]="[card?.button?.routerLink]"
            [queryParams]="card?.button?.queryParams" #link [class.collapsed]="collapsed"
            [class.hasCollapse]="card.hasCollapse" class="link" [title]="card?.button?.text">
            {{card?.button?.text}}
        </a>

        <!--
            Botão com href
        -->
        <a *ngIf="card?.button?.link" [href]="card?.button?.link" [target]="card?.button?.target" #link
            [class.collapsed]="collapsed" [class.hasCollapse]="card.hasCollapse" class="link"
            [title]="card?.button?.text">
            {{card?.button?.text}}
        </a>
        <ng-content></ng-content>
        <ng-content select=".icon-card-extra-content"></ng-content>
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
        <span class="line-4"></span>
    </a>

    <a [routerLink]="[card?.button?.routerLink]" *ngIf="card.type === 'post'" [title]="card.post.titulo">
        <div class="card image-card">

            <div class="img" [style.background]="'url(' + card?.post?.caminhoCompleto + ')'"
                [style.background-position]="'center'">
            </div>
            <div class="tags" *ngIf="card.post.postTag">
                <p *ngFor="let tag of card.post.postTag | slice:0:2">{{tag?.descricao}}</p>
            </div>
            <div class="content">
                <p class="card-title"> {{card.post.titulo | substring: 40}}</p>
                <p class="card-description">{{card.post.descricaoPrevia | substring: 60}}</p>
            </div>
        </div>
    </a>

    <div class="card promo-card" *ngIf="card.type === 'promo'">

        <img [src]="card.promoImage" [alt]="card?.mainTitles[0]?.bigTitle + ' ' + card?.mainTitles[0]?.smallTitle">

        <div class="logo-box">
            <div class="logo-content">
                <img class="logo" [src]="card.logo" *ngIf="card.logo"
                    alt="'Logo ' + card?.mainTitles[0]?.bigTitle + ' ' + card?.mainTitles[0]?.smallTitle">
            </div>
        </div>

        <div class="card-body">
            <div class="internal-content">
                <p class="promocard-title" *ngFor="let mainTitle of card?.mainTitles">
                    {{mainTitle?.bigTitle}}
                    <span *ngIf="mainTitle?.smallTitle" class="small">
                        {{mainTitle.smallTitle}}
                    </span>
                </p>

                <p class="sub-description" [class.no-margin]="!card?.bigTitle && i == 0"
                    *ngFor="let desciption of card?.desciptions; let i = index">
                    {{desciption}}
                </p>
            </div>
            <hr class="separator">
            <ng-content select=".promo-content"></ng-content>
        </div>
    </div>
</div>