form {
    .columns {
        .column {
            #captcha_element_solicite_uma_cotacao {
                display: flex;
                justify-content: flex-end;

                + .field {
                    max-width: 19rem;
                    width: 100%;
                    float: right;
                }
            }

            .btn.right {
                float: right;
            }

            .btn.tertiary {
                padding-left: 0;
            }

            &.display-flex {
                display: flex;
            }

            .field .control input.checkbox {

                &#aceiteDeTermos {
                    width: 1.625rem
                }

                + label.checkbox-label {
                    left: 0;
                    z-index: 0;

                    a {
                        z-index: 1;
                        pointer-events: visible;
                        white-space: wrap;
                    }
                }
            }
        }
    }
    .titulo-cotacao {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 0.625rem;

            &:last-child {
                font-size: 0.813rem;
                color: grey;
                margin-bottom: 0;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 1023px) {
    form {
        .columns {
            .column {
                #captcha_element_solicite_uma_cotacao {
                    display: center;
                    justify-content: center;
                }
            }
        }
    }
}
