form {
    .columns {
        .column {
            #captcha_element_solicite_uma_cotacao {
                display: flex;
                justify-content: flex-end;

                + .field {
                    max-width: 304px;
                    width: 100%;
                    float: right;
                }
            }

            .btn.right {
                float: right;
            }

            .btn-text {
                padding-left: 0;
            }

            &.display-flex {
                display: flex;
            }

            .field .control input.checkbox {

                &#aceiteDeTermos {
                    width: 26px
                }

                + label.checkbox-label {
                    left: 0;
                    z-index: 0;

                    a {
                        z-index: 1;
                        pointer-events: visible;
                        white-space: wrap;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    form {
        .columns {
            .column {
                #captcha_element_solicite_uma_cotacao {
                    display: center;
                    justify-content: center;
                }
            }
        }
    }
}