<form [formGroup]="soliciteUmaCotacaoForm">
    <div class="columns flex-wrap has-negative-margin">

        <div class="column is-full is-4-desktop">
            <label>
                Qual o tamanho da sua empresa?
            </label>
        </div>

        <div class="column is-full is-8-desktop">
            <app-dropdown [options]="dropDownItems" [default]="defaultItem" [canUnselect]="false"
                (setFilter)="selectPlan($event)">
            </app-dropdown>
            <div class="field">
                <div *ngIf="form.plano.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.plano)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-4-desktop">
            <label>
                Qual(is) plano(s) ou produto(s) deseja cotar?
            </label>
        </div>

        <div class="column is-full is-8-desktop">
            <div class="columns flex-wrap">
                <div class="column is-full is-6 is-paddingless-vertical">
                    <div class="field">
                        <div class="control">
                            <input formControlName="planoSaude" [ngClass]="{ 'is-invalid' : form?.planoSaude?.errors }"
                                class="checkbox" id="planoSaude" type="checkbox" name="plano">
                            <label class="checkbox-label" for="planoSaude">
                                Plano de Saúde
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column is-full is-6 is-paddingless-vertical">
                    <div class="field">
                        <div class="control">
                            <input formControlName="planoOdontologico"
                                [ngClass]="{ 'is-invalid' : form?.planoOdontologico?.errors }" class="checkbox"
                                id="planoOdontologico" type="checkbox" name="plano">
                            <label class="checkbox-label" for="planoOdontologico">
                                Plano Odontológico
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column is-full is-6 is-paddingless-vertical">
                    <div class="field">
                        <div class="control">
                            <input formControlName="planoMedicinal"
                                [ngClass]="{ 'is-invalid' : form?.planoMedicinal?.errors }" class="checkbox"
                                id="planoMedicinal" type="checkbox" name="plano">
                            <label class="checkbox-label" for="planoMedicinal">
                                Medicina Ocupacional
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.nome.errors, 'is-invalid' : form.nome.dirty && form.nome.errors, 'is-touched': form.nome.value.length > 0 }"
                        class="input" formControlName="nome" type="text">
                    <label class="label">Nome completo *</label>
                </p>
                <div *ngIf="form.nome.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.nome)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.email.errors, 'is-invalid' : form.email.dirty && form.email.errors, 'is-touched': form.email.value.length > 0 }"
                        class="input" formControlName="email" type="text">
                    <label class="label">E-mail *</label>
                </p>
                <div *ngIf="form.email.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.email)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.telefone.errors, 'is-invalid' : form.telefone.dirty && form.telefone.errors, 'is-touched': form.telefone.value.length > 0 }"
                        class="input" formControlName="telefone" type="tel"
                        [mask]="form.telefone?.value?.length > 10 ? '(00) 00000-0000' : '(00) 0000-00000'"
                        [validation]="false">
                    <label class="label">Telefone *</label>
                </p>
                <div *ngIf="form.telefone.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.telefone)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.cpf.errors, 'is-invalid' : form.cpf.dirty && form.cpf.errors, 'is-touched': form.cpf.value.length > 0 }"
                        mask="000.000.000-00" [validation]="false" class="input" formControlName="cpf" type="tel">
                    <label class="label">CPF *</label>
                </p>
                <div *ngIf="form.cpf.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.cpf, 'CPF')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.cnpj.errors, 'is-invalid' : form.cnpj.dirty && form.cnpj.errors, 'is-touched': form.cnpj.value.length > 0 }"
                        mask="00.000.000/0000-00" [validation]="false" class="input" formControlName="cnpj" type="tel">
                    <label class="label">CNPJ *</label>
                </p>
                <div *ngIf="form.cnpj.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.cnpj, 'CNPJ')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form.razaoSocial.errors, 'is-invalid' : form.razaoSocial.dirty && form.razaoSocial.errors, 'is-touched': form.razaoSocial.value.length > 0 }"
                        class="input" formControlName="razaoSocial" type="text">
                    <label class="label">Razão social *</label>
                </p>
                <div *ngIf="form.razaoSocial.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.razaoSocial)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <div class="field">
                <p class="control">
                    <textarea name="mensagem" cols="30" rows="10"
                        [ngClass]="{ 'is-valid': !form.mensagem.errors, 'is-invalid' : form.mensagem.dirty && form.mensagem.errors, 'is-touched': form.mensagem.value.length > 0 }"
                        class="textarea" formControlName="mensagem" placeholder="Menságem *"></textarea>
                </p>
                <div *ngIf="form.mensagem.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.mensagem, 'Menságem')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-6-desktop is-full-touch is-offset-6-desktop">
            <div id="captcha_element_solicite_uma_cotacao"></div>
            <div class="field">
                <div *ngIf="form.validCaptcha.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.validCaptcha, 'Captcha')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <button class="btn btn-primary medium is-hidden-touch right" (click)="sendForm()">
                ENVIAR
            </button>

            <button class="btn btn-text small is-hidden-desktop" (click)="sendForm()">
                ENVIAR
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.3492 0.938082C11.1433 1.24975 11.187 1.70309 11.4477 1.94993L13.2895 3.69461L15.7088 6.28211L0.600826 6.28211C0.268769 6.28211 -2.39681e-07 6.60482 -2.25521e-07 7.00246C-2.11362e-07 7.40009 0.268769 7.7228 0.600826 7.7228L15.5578 7.7228L11.3604 12.0703C11.1097 12.3297 11.0812 12.7849 11.2983 13.086C11.5154 13.3871 11.8947 13.4203 12.1459 13.16L17.6218 7.48797C17.7528 7.35254 17.8285 7.15613 17.8301 6.94867C17.8301 6.94675 17.8301 6.94483 17.8301 6.94291C17.8301 6.73737 17.7572 6.54191 17.6294 6.40553L14.0621 2.592L12.1932 0.819944C11.9328 0.573104 11.5551 0.625931 11.3492 0.938082Z"
                        fill="#0079C8" />
                </svg>
            </button>
        </div>
    </div>

</form>