<section id="alimentacao-saudavel">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <p class="small-title">
                        NOSSAS PARCERIAS
                    </p>
                </div>
                <div class="column is-full is-6-desktop is-paddingless-vertical">

                    <h2 class="h4 big-title no-margin" [class.has-line]="width < 1024">
                        Alimentação Saudável
                    </h2>

                    <p class="sub-description">
                        Pensando em estimular cada vez mais os hábitos corretos de nutrição, a Gestão de Saúde firmou
                        parceria com empresas que fornecem refeições congeladas e chefs de cozinha profissionais que
                        ajudam a preparar pratos deliciosos e balanceados.
                    </p>

                </div>

                <div class="column is-full is-6-desktop is-paddingless-vertical" [class.has-line]="width > 1023">
                    <p class="description no-margin">
                        Todos os beneficiários da Care Plus têm direito a descontos especiais nas compras com os
                        parceiros. Veja quais são:
                    </p>

                </div>
            </div>

            <div class="columns flex-wrap cards">
                <div class="column is-full is-4-desktop">
                    <app-card [card]="congeladosDaSoniaCard">
                        <div class="promo-content">
                            <a rel="noopener noreferrer" href="https://www.congeladosdasonia.com.br"
                                title="www.congeladosdasonia.com.br opens in a new window " target="_blank"
                                class="main-link">
                                www.congeladosdasonia.com.br
                            </a>
                            <p class="small-description">
                                Rio de Janeiro:
                                <span>
                                    <a href="tel:02134619779" title="Rio de Janeiro telefone 1: (21) 3461-9779"
                                        class="bold">
                                        (021) 3461-9779
                                    </a>
                                </span>
                                <span>e</span>
                                <span>
                                    <a href="tel:0800240083" title="Rio de Janeiro telefone 2: (21) 3878-8838"
                                        class="bold">
                                        (21) 3878-8838
                                    </a>
                                </span>
                                <br />
                                <span class="obs">* Consulte as regiões de entrega</span>
                            </p>
                        </div>
                    </app-card>
                </div>

                <div class="column is-full is-4-desktop">
                    <app-card [card]="promolightCard">
                        <div class="promo-content">
                            <a rel="noopener noreferrer" href="https://www.prontolight.com.br"
                                title="https://www.prontolight.com.br opens in a new window" target="_blank"
                                class="main-link">
                                www.prontolight.com.br
                            </a>
                            <p class="small-description">
                                São Paulo (grande São Paulo):
                                <br />
                                <span>
                                    <a href="tel:01155451500"
                                        title="São Paulo (grande São Paulo) telefone 1: (011) 5545-1500" class="bold">
                                        (011) 5545-1500
                                    </a>
                                </span>
                                ou
                                <span>
                                    <a href="tel:011984953240"
                                        title="São Paulo (grande São Paulo) Whats App: (011) 5545-1500" class="bold">
                                        (011) 98495-3240 (WhatsApp)
                                    </a>
                                </span>
                                <br />
                                <span class="obs">* Consulte as regiões de entrega</span>
                            </p>
                        </div>
                    </app-card>
                </div>

                <div class="column is-full is-4-desktop">
                    <app-card [card]="personalCookCard">
                        <div class="promo-content">
                            <p class="sub-description no-margin">
                                Esta parceria está disponível apenas para a cidade de São Paulo e Alphaville.
                                Para ter acesso ao serviço e consultar os descontos, entre em contato diretamente com os
                                chefs pelos canais:
                            </p>

                            <p class="sub-description">
                                Victor e Daniela - Personal Chefs
                                <br />
                                <span>
                                    <a href="tel:011998017441" title="Victor e Daniela - Personal Chefs Telefone 1"
                                        class="bold">
                                        (011) 99801-7441
                                    </a>
                                </span>
                                ou
                                <span>
                                    <a href="tel:011967920188" title="Victor e Daniela - Personal Chefs Telefone 2"
                                        class="bold">
                                        (011) 96792-0188
                                    </a>
                                </span>
                                <br />
                            </p>

                            <a rel="noopener noreferrer" href="https://facebook.com/victoredaniela"
                                title="Facebook opens in a new window" target="_blank" class="small-link">
                                facebook.com/victoredaniela
                            </a>

                            <a href="mailto:vdpersonalchefs@gmail.com" title="E-mail" class="small-link grey-2">
                                vdpersonalchefs@gmail.com
                            </a>
                        </div>
                    </app-card>
                </div>

                <div class="column is-full is-4-desktop">
                    <app-card [card]="personalChefsCard">
                        <div class="promo-content">
                            <p class="sub-description no-margin">
                                Esta parceria está disponível apenas para a cidade de São Paulo e Alphaville.
                                Para ter acesso ao serviço e consultar os descontos, entre em contato diretamente com os
                                chefs pelos canais:
                            </p>

                            <p class="sub-description">
                                Victor e Daniela - Personal Chefs
                                <br />
                                <span>
                                    <a href="tel:011998017441" title="Victor e Daniela - Personal Chefs telefone 1"
                                        class="bold">
                                        (011) 99801-7441
                                    </a>
                                </span>
                                ou
                                <span>
                                    <a href="tel:011967920188" title="Victor e Daniela - Personal Chefs telefone 2"
                                        class="bold">
                                        (011) 96792-0188
                                    </a>
                                </span>
                                <br />
                            </p>

                            <a rel="noopener noreferrer" href="https://facebook.com/victoredaniela"
                                title="Facebook opens in a new window" target="_blank" class="small-link">
                                facebook.com/victoredaniela
                            </a>

                            <a href="mailto:vdpersonalchefs@gmail.com" title="E-mail" class="small-link grey-2">
                                vdpersonalchefs@gmail.com
                            </a>
                        </div>
                    </app-card>
                </div>

            </div>
        </div>
    </article>
</section>

<section id="assesoria-esportiva">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <p class="small-title">
                        NOSSAS PARCERIAS
                    </p>
                </div>
                <div class="column is-full is-6-desktop is-paddingless-vertical">

                    <h3 class="h4 big-title no-margin" [class.has-line]="width < 1024">
                        Assessoria esportiva e Grupos de Corrida e Caminhada
                    </h3>

                    <p class="sub-description">
                        Para estimular a prática de atividades físicas, a Care Plus possui parcerias com assessorias
                        esportivas em São Paulo e Alphaville, com descontos para todos os beneficiários.
                    </p>

                </div>

                <div class="column is-full is-6-desktop is-paddingless-vertical" [class.has-line]="width > 1023">
                    <p class="description no-margin">
                        Todos os beneficiários da Care Plus têm direito a descontos especiais nas compras com os
                        parceiros. Veja quais são:
                    </p>

                </div>
            </div>

            <div class="columns flex-wrap cards">
                <div class="column is-full is-4-desktop">
                    <app-card [card]="fourAnyOneCard">
                        <div class="promo-content">
                            <a rel="noopener noreferrer" href="https://www.4any1.com.br" title="opens in a new window"
                                target="_blank" class="main-link">
                                www.4any1.com.br
                            </a>
                            <p class="small-description">
                                São Paulo
                                <br />
                                <span>
                                    <a href="tel:01138858069" title="São Paulo Telefone 1" class="bold">
                                        (011) 3885-8069
                                    </a>
                                </span>
                                ou
                                <span>
                                    <a href="tel:01138878906" title="São Paulo Telefone 2" class="bold">
                                        (011) 3887-8906
                                    </a>
                                </span>
                            </p>
                        </div>
                    </app-card>
                </div>

            </div>
        </div>
    </article>
</section>