<app-banner class="blog-banners" [banners]="banners" [hasAnchor]="false" [breadcrumbs]="breadcrumbs" [area]="'blog'">
</app-banner>
<section id="careplus-plus-filters" class="is-paddingless">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column filter-box">
                    <div class="filters">
                        <form [formGroup]="filterForm">
                            <div class="columns flex-wrap">
                                <div class="column is-9-desktop is-full">
                                    <ul class="category-filter">
                                        <li *ngFor="let category of categories">
                                            <a [class.active]="selectCategoryId == category.id"
                                                [routerLink]="['/careplus-mais/categoria', category.id]"
                                                [attr.title]="category.titulo">
                                                {{category.titulo}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column is-3-desktop is-full">
                                    <div class="field">
                                        <p class="control has-icons-right">
                                            <input class="input" formControlName="search" name="search" type="text"
                                                (keypress)="omitSpecialCharacters($event)"
                                                (keyup.enter)="filter()">
                                            <label class="label">Buscar</label>
                                            <span
                                                [style.cursor]="filterForm.value.search && filterForm.value.search !+ null && filterForm.value.search.length > 0 ? 'pointer' : 'not-allowed'"
                                                (click)="filter()" class="icon is-small is-right is-search">
                                                <img src="assets/svg/search.svg" alt="Buscar">
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<app-highlight-post [post]="highLightPost" *ngIf="highLightPost"></app-highlight-post>
<app-last-posts [posts]="recentPosts"></app-last-posts>
<app-cross-content-section class="blog-cross-content" [style.paddingTop.px]="recentPosts.length > 0 ? 0 : 60"
    [crossContentModel]="crossContentModel"></app-cross-content-section>
<app-all-posts [posts]="allPosts" [allPostsLoaded]="allPostsLoaded" [loading]="loadingAllPosts" (loadMore)="loadMore()"></app-all-posts>

<app-social-posts></app-social-posts>