<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title">
                OPERADORA DE SAÚDE PREMIUM COM 27 ANOS DE MERCADO
            </p>
            <hr>
            <p>
                Há mais de 27 anos a Care Plus olha para o futuro e, por isso, somos uma das maiores operadoras de saúde
                premium do
                mundo. A inovação é um motor permanente da nossa empresa para a excelência em serviços, sem esquecer o
                lado humano,
                nossa maior marca.
            </p>
            <br>
            <p>
                Oferecemos planos de saúde e odontológico, com atendimento diferenciado, para mais de mil empresas e
                mais de 110 mil
                beneficiários.
            </p>
            <br>
            <p>
                Desde 2016, somos parte da Bupa, com acesso a 1,2 milhão de provedores de saúde distribuídos por todo o
                mundo. Focamos
                na entrega e gerenciamento de soluções personalizadas em saúde para empresas que valorizam este serviço
                como ferramenta
                de atração e retenção de seus colaboradores.
            </p>
            <br>
            <p>
                <strong>Apoio a RH</strong>
                <br>
                Atendimento personalizado exclusivo aos gestores de benefícios e seus colaboradores. Nosso objetivo é,
                cada vez mais,
                estreitar o relacionamento com o cliente.
            </p>
            <br>
            <p>
                Em pesquisas de satisfação realizadas constatamos que 96% dos gestores de benefícios clientes Care Plus
                indicam ou
                indiciariam o plano para outras empresas.
            </p>
            <br>
            <p>
                <fa-icon [icon]="faCheck"></fa-icon> 3 das 5 melhores empresas para trabalhar optaram por Care Plus.
                <br>
                <fa-icon [icon]="faCheck"></fa-icon> Ferramentas: inclusão e exclusão de beneficiários diretamente no
                site e emissão de fatura pela web e, para o plano
                empresarial, acesso a relatórios gerenciais com estatísticas mensais.
            </p>
            <br>
            <p>
                * Oferecido sem custo para empresas com mais de 100 titulares. Empresas com quantidade de titulares
                inferior a 100, a
                Care Plus disponibiliza consultor via e-mail e telefone.
            </p>
            <br>
            <p>
                <strong>Atendimento Garantido</strong>
                <br>
                Única operadora que possui SLA com a garantia do processamento do reembolso de despesas médicas, prévia
                de reembolso e
                liberação de senhas de autorização em até 3 dias úteis*, com pagamento de multa aos beneficiários se não
                cumprir os
                prazos.
            </p>
            <br>
            <p>
                *Com exceção de reembolso de despesas hospitalares, honorários médicos cirúrgicos, quimioterapia,
                radioterapia e
                medicamentos, que possuem prazos de reembolso de 5 dias úteis.
            </p>
            <br>
            <p>
                <strong>Excelência em Saúde</strong>
                <br>
                Permite a realização de exames nos mais renomados laboratórios do país sem a necessidade de autorização
                prévia.
            </p>
            <br>
            <p>
                <strong>Benefícios Adicionais</strong>
                <br>
                <fa-icon [icon]="faCheck"></fa-icon> Cobertura de eventos médicos de US$ 300.000,00 para viagens
                internacionais*
                <br>
                <fa-icon [icon]="faCheck"></fa-icon> Gestão de Saúde: programa de prevenção de riscos cardíacos –
                hipertensão arterial, colesterol e diabetes – e outras
                patologias mais graves. Tudo é feito através de um monitoramento diferenciado com foco na melhoria na
                saúde e qualidade
                de vida.
                <br>
                <fa-icon [icon]="faCheck"></fa-icon> Ferramentas online: recursos como solicitação de reembolso e
                acompanhamento de processos.
            </p>
            <br>
            <p>
                * Sem custo para os planos Master I. Para os demais padrões de plano, o benefício é estendido com custo
                adicional.
            </p>
        </div>
    </div>
</div>