@import "~src/assets/sass/variables";
@import "~src/assets/sass/styleguide";

#edit-user {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    h1 {
      font-size: getSize("h2");
    }
    a {
      color: getColor(_bupa, _digital-cian);
      margin: auto 0;
    }
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: getColor(_bupa, _black);
      height: 1px;
      width: 100%;
    }
  }
  form{
    .permission{
      display: flex;
      flex-direction: column;
    }
    .custom-control-input{
      
    }
    .custom-control-label{
      cursor: pointer;
    }
  }
  .load {
    width: 100%;
    display: flex;
    svg {
      margin: auto;
    }
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1e7e34;
  background-color: #1e7e34;
}
// .hidden {
//   display: none;
// }

// img.thumbnail-banner {
//   width     : 13rem;
//   box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
//   cursor    : pointer;
// }

// input.custom-control-input:checked~.custom-control-label::before {
//   color           : #fff;
//   border-color    : #1e7e34;
//   background-color: #1e7e34;
// }

// fa-icon.icon-action.ng-fa-icon {
//   color : #343a40;
//   cursor: pointer;
// }

// a.badge.badge-dark.shadow.p-3 {
//   position: absolute;
//   right   : 15px;
//   top     : 0px;
// }





// .btn-group.btn-group-permitions {
//   display        : grid;
//   justify-content: space-between;
//   text-align     : left;
//   margin         : auto;
//   padding        : 0;

//   button.btn.btn-primary.btn-permitions {
//     width           : 100%;
//     height          : 30px;
//     margin          : 5px 5px;
//     padding         : 0px 0px 0px 10px;
//     border-radius   : 25px;
//     background-color: #00335b;
//     border          : 1px solid #002b4d;
//     line-height     : 0;
//     text-align      : inherit;
//   }

//   button.btn.btn-primary.btn-permitions ::before {
//     content  : "â—";
//     position : relative;
//     left     : -5px;
//     top      : 3px;
//     font-size: 30px;
//     color    : #b7b7b7;
//   }

//   button.btn.btn-primary.btn-permitions:checked ::before {
//     position : relative;
//     left     : -18px;
//     top      : 3px;
//     font-size: 30px;
//     color    : #22e032;
//   }
// }


// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

// :root {
//   --primary-color  : #185ee0;
//   --secondary-color: #e6eef9;
// }

// *,
// *:after,
// *:before {
//   box-sizing: border-box;
// }

// body {
//   font-family     : "Inter", sans-serif;
//   background-color: rgba(#e6eef9, 0.5);
// }

// .container {
//   position       : absolute;
//   left           : 0;
//   top            : 0;
//   right          : 0;
//   bottom         : 0;
//   display        : flex;
//   align-items    : center;
//   justify-content: center;
// }

// .tabs {
//   display         : flex;
//   position        : relative;
//   background-color: #fff;
//   box-shadow      : 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
//   padding         : 0.75rem;
//   border-radius   : 99px; // just a high number to create pill effect

//   * {
//     z-index: 2;
//   }
// }

// input[type="radio"] {
//   display: none;
// }

// .tab {
//   display        : flex;
//   align-items    : center;
//   justify-content: center;
//   height         : 54px;
//   width          : 200px;
//   font-size      : 1.25rem;
//   font-weight    : 500;
//   border-radius  : 99px; // just a high number to create pill effect
//   cursor         : pointer;
//   transition     : color 0.15s ease-in;
// }

// .notification {
//   display         : flex;
//   align-items     : center;
//   justify-content : center;
//   width           : 2rem;
//   height          : 2rem;
//   margin-left     : 0.75rem;
//   border-radius   : 50%;
//   background-color: var(--secondary-color);
//   transition      : 0.15s ease-in;
// }

// input[type="radio"] {
//   &:checked {
//     &+label {
//       color: var(--primary-color);

//       &>.notification {
//         background-color: var(--primary-color);
//         color           : #fff;
//       }
//     }
//   }
// }

// input[id="radio-1"] {
//   &:checked {
//     &~.glider {
//       transform: translateX(0);
//     }
//   }
// }

// input[id="radio-2"] {
//   &:checked {
//     &~.glider {
//       transform: translateX(100%);
//     }
//   }
// }

// input[id="radio-3"] {
//   &:checked {
//     &~.glider {
//       transform: translateX(200%);
//     }
//   }
// }

// .glider {
//   position        : absolute;
//   display         : flex;
//   height          : 54px;
//   width           : 200px;
//   background-color: var(--secondary-color);
//   z-index         : 1;
//   border-radius   : 99px; // just a high number to create pill effect
//   transition      : 0.25s ease-out;
// }

// @media (max-width: 700px) {
//   .tabs {
//     transform: scale(0.6);
//   }
// }


// .error {
//   color: red;
// }

// @supports(-webkit-appearance: none) or (-moz-appearance: none) {

//   input[type='checkbox'],
//   input[type='radio'] {
//     --active          : #00335B;
//     --active-inner    : #fff;
//     --focus           : 2px rgba(39, 94, 254, .3);
//     --border          : #BBC1E1;
//     --border-hover    : #00335B;
//     --background      : #fff;
//     --disabled        : #F6F8FF;
//     --disabled-inner  : #E1E6F9;
//     -webkit-appearance: none;
//     -moz-appearance   : none;
//     height            : 21px;
//     outline           : none;
//     display           : inline-block;
//     vertical-align    : top;
//     position          : relative;
//     margin            : 0;
//     cursor            : pointer;
//     border            : 1px solid var(--bc, var(--border));
//     background        : var(--b, var(--background));
//     transition        : background .3s, border-color .3s, box-shadow .2s;

//     &:after {
//       content   : '';
//       display   : block;
//       left      : -0.2px;
//       top       : 0;
//       position  : absolute;
//       transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
//     }

//     &:checked {
//       --b    : var(--active);
//       --bc   : var(--active);
//       --d-o  : .3s;
//       --d-t  : .6s;
//       --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
//     }

//     &:disabled {
//       --b    : var(--disabled);
//       cursor : not-allowed;
//       opacity: .9;

//       &:checked {
//         --b : var(--disabled-inner);
//         --bc: var(--border);
//       }

//       &+label {
//         cursor: not-allowed;
//       }
//     }

//     &:hover {
//       &:not(:checked) {
//         &:not(:disabled) {
//           --bc: var(--border-hover);
//         }
//       }
//     }

//     &:focus {
//       box-shadow: 0 0 0 var(--focus);
//     }

//     &:not(.switch) {
//       width: 21px;

//       &:after {
//         opacity: var(--o, 0);
//       }

//       &:checked {
//         --o: 1;
//       }
//     }

//     &+label {
//       font-size     : 14px;
//       line-height   : 21px;
//       display       : inline-block;
//       vertical-align: top;
//       cursor        : pointer;
//       margin-left   : 4px;
//     }
//   }

//   input[type='checkbox'] {
//     &:not(.switch) {
//       border-radius: 7px;

//       &:after {
//         width      : 5px;
//         height     : 9px;
//         border     : 2px solid var(--active-inner);
//         border-top : 0;
//         border-left: 0;
//         left       : 7px;
//         top        : 4px;
//         transform  : rotate(var(--r, 20deg));
//       }

//       &:checked {
//         --r: 43deg;
//       }
//     }

//     &.switch {
//       width        : 38px;
//       border-radius: 11px;

//       &:after {
//         left         : 2px;
//         top          : 2px;
//         border-radius: 50%;
//         width        : 15px;
//         height       : 15px;
//         background   : var(--ab, var(--border));
//         transform    : translateX(var(--x, 0));
//       }

//       &:checked {
//         --ab: var(--active-inner);
//         --x : 17px;
//       }

//       &:disabled {
//         &:not(:checked) {
//           &:after {
//             opacity: .6;
//           }
//         }
//       }
//     }
//   }

//   input[type='radio'] {
//     border-radius: 50%;

//     &:after {
//       width        : 19px;
//       height       : 19px;
//       border-radius: 50%;
//       background   : var(--active-inner);
//       opacity      : 0;
//       transform    : scale(var(--s, .7));
//     }

//     &:checked {
//       --s: .5;
//     }
//   }
// }

// // Demo

// ul {
//   margin    : 12px;
//   padding   : 0;
//   list-style: none;
//   width     : 100%;
//   max-width : 320px;

//   li {
//     margin  : 16px 0;
//     position: relative;
//   }
// }

// html {
//   box-sizing: border-box;
// }

// * {
//   box-sizing: inherit;

//   &:before,
//   &:after {
//     box-sizing: inherit;
//   }
// }

// // Center & dribbble
// body {
//   min-height     : 100vh;
//   font-family    : 'Inter', Arial, sans-serif;
//   color          : #8A91B4;
//   display        : flex;
//   justify-content: center;
//   align-items    : center;
//   background     : #F6F8FF;

//   @media(max-width: 800px) {
//     flex-direction: column;
//   }
// }