<section id="politica-de-cookies-section">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-3-desktop" *ngIf="width > 1023px">
                    <app-sidebar class="app-sidebar" [elements]="elements">
                    </app-sidebar>
                </div>
                <div class="column is-full is-9-desktop">
                    <div id="politica-de-cookies" class="term-section">

                        <h1 class="h4 big-title">
                            Política de Cookies
                        </h1>
                        <h5 class="sub-title">
                            Última alteração em 06 de outubro de 2022
                        </h5>

                        <p class="sub-description">
                          A <span class="cor-destaque">Care Plus</span> utiliza <i>cookies, web beacons</i> e tecnologias semelhantes (“Cookies”)
                          para melhorar o desempenho de seus <i>websites</i> ("Site") e personalizar a sua experiência de navegação de acordo com
                          o que pode te interessar. 
                            
                        </p>
                        <br>
                        <p>
                            Assim como todas as demais atividades de Tratamento de Dados Pessoais que realizamos, o uso de Cookies pelo nosso
                            Site está em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei Federal nº 13.709/2018, ou “LGPD”) e
                            com as demais normas e regulamentações aplicáveis.
                        </p>
                        <br>
                        <p>
                            Esta Política de Cookies explica como a <span class="cor-destaque">Care Plus</span> coleta, utiliza e armazena
                            Cookies e é complementar ao <a href="/a-careplus/aviso-de-privacidade" title="Aviso de Privacidade" target="_blank"><u>Aviso de Privacidade</u></a>, 
                            que está disponível para consulta a qualquer tempo.
                        </p>
                        <br>
                        <p>
                            O que <b>Você</b> pode encontrar neste documento?  
                        </p>
                        <br>
                        <p>
                            <span class="cor-destaque">1.</span>&emsp;O que são Cookies?
                        </p>                       
                        <p>
                            <span class="cor-destaque">2.</span>&emsp;Quais Cookies utilizamos?
                        </p>                       
                        <p>
                            <span class="cor-destaque">3.</span>&emsp;Como gerenciar Cookies por meio do seu navegador
                        </p>                       
                        <p>
                            <span class="cor-destaque">4.</span>&emsp;Atualizações
                        </p>                       
                        <p>
                            <span class="cor-destaque">5.</span>&emsp;Contato
                        </p>
                    </div>                   
                    <br>
                    <div id="definicao" class="term-section">
                        <h1 class="h4 big-title">
                            O que são Cookies ?
                        </h1>
                        <br>
                        <p>
                            Cookies são pequenos arquivos de texto armazenados pelo programa navegador utilizado por <b>Você</b>
                                e que, além de exercerem funções essenciais para o correto funcionamento de sites, permitem que os
                                websites visitados por <b>Você</b> reconheçam seu dispositivo e preferências e forneçam informações
                                que podem ser usadas para melhorar sua experiência <i>online</i>. 
                        </p>
                    </div>                       
                    <br>
                    <div id="quais-cookies-utilizamos" class="term-section">
                        <h1 class="h4 big-title">
                            Quais Cookies utilizamos ?
                        </h1>
                        <br>
                        <p>
                            Esta seção apresenta informações sobre a tecnologia de Cookies que utilizamos em nossos Sites
                            e aplicativos. Quando Dados Pessoais são coletados por esses Cookies, a <span class="cor-destaque">Care Plus</span> 
                            é a Controladora dessas informações, de acordo com a Lei Geral de Proteção de Dados Pessoais.
                        </p>
                        <br>
                        <p>
                            Para melhor entendimento deste e de outros termos da legislação de proteção de dados, bem como para obter
                            informações sobre o tratamento de seus Dados Pessoais, seus direitos enquanto Titular de Dados, entre outros,
                            consulte nosso <a href="/a-careplus/aviso-de-privacidade" title="Aviso de Privacidade" target="_blank"><u>Aviso de Privacidade</u></a>.
                        </p>
                        <br>
                        <p>
                            Os Cookies utilizados pelos Sites <span class="cor-destaque">Care Plus</span> são:   
                        </p>
                        <br>
                        <p>
                            <b>Analíticos:</b>&nbsp; Cookies analíticos visam aprimorar o desempenho e funcionamento dos Sites e aplicativos.
                            São aqueles Cookies que possibilitam a coleta e análise de dados estatísticos e que permitem verificar,
                            por exemplo, quais páginas <b>Você</b> acessou e quantas vezes foram acessadas.  
                        </p>
                        <br>
                        <p>
                            <b>Funcionalidade:</b>&nbsp; São os Cookies responsáveis por guardar as suas preferências indicadas à medida
                                em que <b>Você</b> navega e utiliza nossos Sites e aplicativos, fazendo com que <b>Você</b> não precise
                                selecioná-las novamente.  
                        </p>
                        <br>
                        <p>
                            <b>Necessários:</b>&nbsp; Cookies necessários para o funcionamento dos Sites e aplicativos e que não podem
                            ser desligados na sessão de preferências. Costumam ser utilizados apenas quando uma interação sua com nossos
                            Sites e aplicativos exige uma resposta.
                        </p>
                        <br>
                        <p>
                            <b>Publicidade:</b>&nbsp; Esses Cookies nos permitem oferecer anúncios personalizados de acordo com suas
                            preferências em nossos Sites ou aplicativos a partir do rastreamento de suas interações com nossos Sites
                            e aplicativos.
                        </p>
                        <br>
                        <p>
                            <b>Publicidade Direcionada (<i>Targeting</i>):</b>&nbsp; Cookies oferecidos por nossos parceiros de publicidade.
                            Podem ser utilizadas pelas empresas, como Facebook, por exemplo, para definição de seu perfil e para direcionamento
                            de publicidade mais relevante, de acordo com seus interesses.
                        </p>
                        <br>
                        <p>
                            <b>Desempenho:</b>&nbsp; Cookies de desempenho são utilizados para coletar informações sobre como os visitantes utilizam
                                nossos Sites e aplicativos, quais páginas são mais visitadas ou apresentam mais mensagens de erro. Esses cookies monitoram
                                apenas o desempenho dos Sites e aplicativos à medida em que o Usuário os utiliza e não coletam informações identificáveis
                                sobre os visitantes, o que significa que todos os dados coletados são anônimos e usados apenas para implementação de melhorias.
                        </p>
                        <br>
                        <p>
                            <b>Redes Sociais:</b>&nbsp; Esses Cookies são definidos para permitir que <b>Você</b> compartilhe nosso conteúdo com seus amigos
                                nas redes. São capazes de rastrear seu navegador em outros Sites e de criar um perfil dos seus interesses.
                        </p>
                        <br>
                        <p>
                            <b>Sessão:</b>&nbsp; São Cookies temporários, armazenados pelo período em que <b>Você</b> permanece logado em nossos Sites e aplicativos,
                                mas que são imediatamente destruídos quando <b>Você</b> faz <i>Logoff</i> ou fecha seu navegador.
                        </p>
                        <br>
                        <p>
                            Esses Cookies podem ser subcategorizados em primários ou secundários:   
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Cookies Primários</strong> são criados e utilizados em um domínio único, ou seja, não são compartilhadas informações com sites de terceiros.
                        </p>
                        <br>
                        <p>
                            <strong>&#x2713; Cookies Secundários</strong>, por sua vez, são criados em um domínio e compartilhados com todos os terceiros que
                                utilizam o mesmo código de rastreamento. Sua função principal é rastrear sua atividade <i>online</i> para, por exemplo, disponibilizar anúncios personalizados, de acordo com seus interesses.   
                        </p>
                    </div>
                    <br>
                    <div id="como-gerenciar-cookies" class="term-section">
                        <h1 class="h4 big-title">
                            Como gerenciar Cookies por meio do seu navegador
                        </h1>
                        <br>
                        <p>
                            <b>Você</b> pode controlar os Cookies por meio das configurações do Gerenciador de Cookies. <b>Você</b> pode controlar os dados coletados
                            por Cookies por meio das configurações do seu navegador de <i>internet</i>.  
                        </p>
                        <br>
                        <p>
                            Ao acessar os controles de seu navegador, é possível limitar como os websites que <b>Você</b> visitou utilizam Cookies,
                            bloqueá-los (com exceção daqueles absolutamente necessários), removê-los de seu histórico ou até configurar o navegador para
                            recusar todos os Cookies ou notificá-lo quando um Cookie estiver sendo enviado.  
                        </p>
                        <br>
                        <p>
                            Nesse caso, sugerimos que <b>Você</b> altere suas preferências nos navegadores de todos os seus Dispositivos.  
                        </p>
                        <br>
                        <p>
                            Caso deseje apagar ou gerenciar os Cookies do seu navegador, siga as instruções abaixo:   
                        </p>
                        <br>
                        <br>
                        <p>
                            <a href="https://www.apple.com/br/legal/privacy/br/cookies/#:~:text=No%20iPad%2C%20iPhone%20ou%20iPod,a%20determinadas%20partes%20desses%20sites." title="Safari iPhone" target="_blank"><u>Safari (iPhone)</u></a> 
                        </p>
                        <br>
                        <p>
                            <a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac" title="Safari Mac" target="_blank"><u>Safari (Mac)</u></a> 
                        </p>
                        <br>
                        <p>
                            <a href="https://support.mozilla.org/pt-BR/kb/limpe-cookies-e-dados-de-sites-no-firefox" title="Mozilla Firefox" target="_blank"><u>Mozilla Firefox</u></a> 
                        </p>
                        <br>
                        <p>
                            <a href="https://www.samsung.com/uk/support/mobile-devices/what-are-cookies-and-how-do-i-enable-or-disable-them-on-my-samsung-galaxy-device/" title="Samsung Internet (Mobile)" target="_blank"><u>Samsung Internet (Mobile)</u></a> 
                        </p>
                        <br>
                        <p>
                            <a href="https://support.microsoft.com/pt-br/microsoft-edge/excluir-cookies-no-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09#:~:text=No%20Edge%2C%20selecione%20Configura%C3%A7%C3%B5es%20e%20mais%20%3E%20Configura%C3%A7%C3%B5es%20%3E%20Cookies%20e,cujos%20cookies%20voc%C3%AA%20deseja%20excluir."
                                title="Microsoft Edge" target="_blank"><u>Microsoft Edge</u></a> 
                        </p>                          
                        <br>
                        <p>
                            <a href="https://www.opera.com/pt-br/features/bookmarks" title="Opera" target="_blank"><u>Opera</u></a> 
                        </p>
                        <br>
                        <p>
                            Por favor, esteja ciente de que desativar Cookies pode causar impactos negativos na sua experiência, assim como no funcionamento
                            e usabilidade dos Sites e aplicativos que <b>Você</b> visitar.  
                        </p>
                    </div>
                    <br>
                    <div id="atualizacoes-cookies" class="term-section">
                        <h1 class="h4 big-title">
                            Atualizações
                        </h1>
                        <br>
                        <p>
                            A Care Plus, a qualquer tempo e sem aviso prévio, poderá revisar esta Política de Cookies e alterar seu conteúdo,
                            acrescentando ou removendo disposições. Por isso, sempre consulte o nosso Site para verificar a última versão deste documento.   
                        </p> 
                    </div>
                    <br>
                    <div id="contato-cookies" class="term-section">
                        <h1 class="h4 big-title">
                            Contato
                        </h1>
                        <br>
                        <p>
                            Dúvidas relacionadas a esta Política de Cookies devem ser encaminhadas ao nosso Encarregado por meio do canal
                            <span class="cor-destaque">privacidade@careplus.com.br</span>.                             
                        </p> 
                    </div>
                   

                </div>
            </div>
        </div>
    </article>
</section>

<app-learn-more id="learn-more"></app-learn-more>