@import "~src/scss/_variables.scss";

.accordion {
    border: 1px solid getColor(_bupa, _grey-3);
    border-radius: 4px;
    overflow: hidden;
    max-width: 800px;
    margin: auto;

    .item {
        border-bottom: 1px solid getColor(_bupa, _grey-3);

        .acc-heading {
            display: block;
            padding: 28px 22px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */
            /* Bupa Grey */
            color: getColor(_bupa, _grey);
            position: relative;
            padding-right: 50px;
            word-break: break-word;

            &::before {
                width: 18px;
                height: 100%;
                position: absolute;
                background-image: getSvg("open.svg");
                right: 20px;
                top: 0;
                content: "";
                background-position: center center;
                background-repeat: no-repeat;
            }

            &.active {
                color: getColor(_bupa, _digital-cian);
                background: rgba(getColor(_bupa, _digital-cian-rgb), 0.1);
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                border-left: solid 3px getColor(_bupa, _digital-cian);

                &::before {
                    background-image: getSvg("close.svg");
                }
            }
        }

        .acc-content {
            margin: 0;
            overflow: hidden;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            /* Firefox 4 */
            -webkit-transition: all 0.3s;
            /* Safari and Chrome */
            -o-transition: all 0.3s;
            /* Opera */
            .inner {
                height: 100%;
                padding: 0 22px 22px;
                background: rgba(getColor(_bupa, _digital-cian-rgb), 0.1);
                border-left: solid 3px getColor(_bupa, _digital-cian);

                h5 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: getSize("p");
                    line-height: 125%;
                    margin: 0;
                    color: getColor(_bupa, _grey);
                    padding-bottom: 30px;
                }

                ul {
                    padding-top: 0;
                    margin-top: 0;
                    padding-bottom: 30px;

                    &.disc {
                        padding: 0 22px;
                        list-style: disc;
                    }

                    &.circle {
                        padding: 0 22px;
                        list-style-type: circle;
                    }

                    &.lower-latin {
                        padding: 0 22px;
                        list-style: lower-latin;

                        li {
                            font-weight: bold;
                            span {
                                font-weight: normal;
                            }
                        }
                    }

                    li {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                        margin: 0;
                        color: getColor(_bupa, _gray-2);
                    }
                }

                .m-t-22 {
                    margin-top: 22px;
                }

                ol {
                    margin-top: 22px;
                    padding: 0 22px;

                    &.no-margin {
                        margin-top: 0;
                    }
                }

                .tg-wrap {
                    margin-top: 22px;
                    max-width: 100%;
                    overflow-x: scroll;

                    table {
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;
                        background-color: getColor(_bupa, _white);
                        border: 1px solid getColor(_bupa, _grey-3);
                        border-radius: 4px;

                        th,
                        td {
                            text-align: left;
                            padding: 8px;
                            border: unset;
                        }
                        thead {
                            width: 100%;
                            tr {
                                background-color: rgba(getColor(_bupa, _digital-cian-rgb), 0.1);
                                td {
                                    padding: 22px 15px;
                                    font-weight: 500;
                                    font-size: getSize("p");
                                    line-height: 100%;
                                    color: getColor(_bupa, _black);
                                }
                            }
                        }

                        tbody {
                            width: 100%;
                            tr {
                                &:nth-child(even) {
                                    background-color: #f2f2f2;
                                }

                                td {
                                    padding: 22px 15px;
                                    font-weight: 500;
                                    font-size: getSize("p");
                                    line-height: 100%;
                                    color: getColor(_bupa, _grey-2);

                                    &.custom {
                                        border-top: 1px solid getColor(_bupa, _grey-3);
                                        border-right: 1px solid getColor(_bupa, _grey-3);
                                        vertical-align: middle;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }

                .sub-description {
                    margin-top: 22px;

                    &.no-margin {
                        margin-top: 0;
                    }

                    .underline {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
