<div class="columns ac">

    <div class="column is-12">
        <div class="accordion">
            <div class="item" *ngFor="let item of questions; let i = index;">
                <a [href]="'#acc' + i" class="acc-heading" [attr.title]="item.title">{{item.title}}</a>

                <section [attr.id]="'acc' + i" class="acc-content is-paddingless">
                    <div class="inner" [innerHTML]="item?.description">

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>