<section id="lastPosts">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <p class="small-title">
                        Últimas Publicações
                    </p>
                    <h4 class="big-title">
                        Fique por dentro dos conteúdos mais recentes
                    </h4>
                </div>
                <div class="column is-full is-9-desktop is-paddingless">
                    <div class="columns flex-wrap">
                        <div class="column is-4-desktop is-full" *ngFor="let post of posts">
                            <app-card [card]="post"></app-card>
                        </div>
                    </div>
                </div>

                <div class="column is-full is-3-desktop">
                    <app-most-read></app-most-read>

                    <app-newsletter></app-newsletter>
                </div>
            </div>
        </div>
    </article>
</section>