<section id="last-posts">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <p class="small-title">
                        Últimas Publicações
                    </p>
                    <h2 class="h4 big-title">
                        Fique por dentro dos conteúdos mais recentes
                    </h2>
                </div>
                <div class="column is-full is-9-desktop is-paddingless">
                    <div class="columns flex-wrap is-flex-between-tablet">
                        <div class="column is-4-desktop is-full is-6-between-tablet" *ngFor="let post of posts">
                            <app-card [card]="post"></app-card>
                        </div>
                        <div class="column is-full" *ngIf="posts.length == 0">
                            <p class="h4 no-posts-found">
                                Nenhum resultado encontrado.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-full is-3-desktop">
                    <div class="columns flex-wrap is-flex-between-tablet">
                        <div class="column is-paddingless is-full is-6-between-tablet is-offset-3-between-tablet">
                            <app-most-read></app-most-read>
                        </div>
                        <div class="column is-paddingless is-full">
                            <app-newsletter></app-newsletter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>