section#last-posts {
    .container {
        .columns {
            .column {
                .big-title {
                    max-width: 100%;
                }

                .no-posts-found{
                    color: getColor(_bupa, _navy);
                    text-align: center;
                    margin-top: 60px;
                }
            }
        }
    }
}
