<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Tem certeza que deseja excluir esse banner?</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>
                <strong>Título:</strong> {{banner?.titulo}}
            </p>
            <p>
                <strong>Subtítulo:</strong> {{banner?.subtitulo}}
            </p>
            <p>
                <strong>Descrição:</strong> {{banner?.descricao}}
            </p>
            <p>
                <strong>Rota:</strong> {{banner?.rota}}
            </p>
            <p>
                <strong>Imagem:</strong> {{banner?.nomeImagem}}
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="closeModal()">Não</button>
            <button class="button is-danger" (click)="deleteBanner()">Sim</button>
        </footer>
    </div>
</div>