<section id="our-disponible-vacancies">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <p class="small-title">
                        Nossas Vagas disponíveis
                    </p>
                    <h4 class="big-title">
                        Se identificou com a Care Plus e quer fazer parte do nosso time?
                    </h4>
                </div>
                <div class="column is-full is-6-desktop has-line">
                    <p class="description no-margin">
                        Aqui você consegue visualizar todas as vagas que nós temos e aberto.
                    </p>
                    <p class="sub-description">
                        Você pode filtrar pela sua área de interesse ou realizar uma buscar pelo nome da vaga ou área de
                        atuação.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section id="a-careplus-vacancies-filters">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column filter-box">
                    <div class="filters">
                        <form [formGroup]="filterForm">
                            <div class="columns">
                                <div class="column is-3-desktop is-full">
                                    <p class="filter-label">
                                        Encontre sua vaga
                                    </p>
                                </div>
                                <div class="column is-4 -desktop is-full">
                                    <app-dropdown [options]="dropDownOptions" [default]="{ key: 'Todas', value: 'all' }"
                                        (setFilter)="changeCategory($event);"></app-dropdown>
                                </div>
                                <div class="column is-3-desktop is-full">
                                    <div class="field">
                                        <p class="control has-icons-right">
                                            <input [ngClass]="{ 'is-touched': form.search.value?.length > 0 }"
                                                class="input" formControlName="search" name="search" type="text"
                                                (keyup)="filter()">
                                            <label class="label">Buscar</label>
                                            <span class="icon is-small is-right has-tooltip-left"
                                                data-tooltip="Digite aqui o nome do documento que deseja pesquisar">
                                                <img src="assets/svg/search.svg" alt="Buscar">
                                            </span>
                                        </p>
                                        <div *ngIf="form.search.touched && getErrors(form.search).length > 0"
                                            class="errors">
                                            <p *ngFor="let error of getErrors(form.search)" class="help is-danger">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2-desktop is-full buttons-form">
                                    <button class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch"
                                        (click)="filter()">
                                        Filtrar
                                    </button>
                                    <button class="btn btn-digital-cian tertiary arrow-right small is-hidden-desktop"
                                        (click)="filter()">
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="list-vacations">
                        <div class="list-head">
                            <h4 class="big-title">
                                {{selectedCategory?.key}}
                            </h4>
                        </div>
                        <ul class="vacancies">
                            <li class="vacancy" *ngFor="let vacancy of vacancies">
                                <p class="description no-margin">
                                    {{vacancy.title}}
                                </p>
                                <p class="sub-description">
                                    {{vacancy.description}}
                                </p>
                                <p class="sub-description">
                                    {{vacancy.location}}
                                </p>

                                <a [routerLink]="[vacancy.button.link]"
                                    class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                                    {{vacancy.button.title}}
                                </a>

                                <a [routerLink]="[vacancy.button.link]"
                                    class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop">
                                    {{vacancy.button.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>