@import "~src/scss/_variables";
section {
    &#our-disponible-vacancies {
        .container {
            .columns {
                .column {
                    &:first-child {
                        padding-right: 185px;
                    }
                    &.has-line {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 176px;
                            height: 4px;
                            background: linear-gradient(to left, #cdecfd 0%, getColor(_bupa, _digital-cian) 100%);
                            transform: translateX(calc(-100% - 20px));
                            top: 40px;
                        }
                    }
                }
            }
        }
    }
    &#a-careplus-vacancies-filters {
        margin-top: 80px;
        .container {
            .columns {
                .column {
                    &.filter-box {
                        position: relative;
                        .filters {
                            box-shadow: 2px 2px 6px rgba(getColor(_bupa, _black-rgb), 0.25);
                            background-color: getColor(_bupa, _white);
                            border-radius: 2px;
                            position: absolute;
                            left: 16px;
                            width: calc(100% - 32px);
                            top: -120px;
                            padding: 32px 25px;
                            form {
                                .columns {
                                    display: flex;
                                    .column {
                                        align-self: center;
                                        display: inline-flex;
                                        padding: 0;
                                        padding-left: 16px;
                                        padding-right: 16px;
                                        &:first-child {
                                            padding-left: 0;
                                        }
                                        &:last-child {
                                            margin-right: 0px;
                                            padding-right: 0;
                                        }
                                        .app-dropdown {
                                            width: 100%;
                                        }
                                        .filter-label {
                                            font-weight: 600;
                                            line-height: 100%;
                                            letter-spacing: 3.5px;
                                            color: getColor(_bupa, _navy);
                                        }
                                        .field {
                                            max-width: 100%;
                                            width: 100%;
                                            display: block;
                                            height: 56px;
                                            .control {
                                                display: flex;
                                                width: 100%;
                                                input:not([type="radio"]) {
                                                    min-width: 100px;
                                                }
                                            }
                                        }
                                        &.buttons-form {
                                            justify-content: space-between;
                                            .btn {
                                                width: 100%;
                                                padding: 18px 32px;
                                                line-height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .list-vacations {
                .big-title {
                    text-transform: capitalize;
                }
                .vacancies {
                    margin-top: 30px;
                    .vacancy {
                        display: flex;
                        position: relative;
                        flex-wrap: wrap;
                        padding: 32px 0 32px 5px;
                        border-top: 1px solid getColor(_bupa, _grey-3);
                        &:last-child {
                            border-bottom: 1px solid getColor(_bupa, _grey-3);
                        }
                        .description {
                            width: 100%;
                            flex: 0 0 100%;
                        }
                        .sub-description {
                            width: 100%;
                            flex: 0 0 100%;
                        }
                        .btn {
                            align-self: center;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    section {
        &#a-careplus-vacancies-filters {
            .columns {
                .column {
                    &.filter-box {
                        .filters {
                            form {
                                .columns {
                                    .column {
                                        &.buttons-form {
                                            justify-content: unset !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#our-disponible-vacancies {
            .container {
                .columns {
                    .column {
                        &:first-child {
                            padding-right: 16px;
                        }
                        &.has-line {
                            margin-top: 15px;
                            position: relative;
                            &::before {
                                transform: translateX(0%);
                                top: -7.5px;
                            }
                        }
                    }
                }
            }
        }
        &#a-careplus-vacancies-filters {
            .container {
                .columns {
                    .column {
                        &.filter-box {
                            height: 180px;
                            .filters {
                                position: relative;
                                left: 0;
                                width: 100%;
                                form {
                                    .columns {
                                        display: block;
                                        justify-content: unset;
                                        .column {
                                            display: flex;
                                            align-self: unset;
                                            padding-left: 0;
                                            padding-right: 0;
                                            margin: 20px 0;
                                            &:first-child {
                                                margin-top: 0;
                                            }
                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                            .field {
                                                max-width: 100%;
                                                width: 100%;
                                                .control {
                                                    input:not([type="radio"]) {
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                            .btn.tertiary {
                                                padding-left: 0 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .list-vacations {
                    .vacancies {
                        .vacancy {
                            .sub-description {
                                margin-top: 16px;
                            }
                            .btn {
                                display: block;
                                position: initial;
                                &.btn.tertiary {
                                    padding-left: 0;
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 359px) {
    section {
        &#a-careplus-vacancies-filters {
            .container {
                .columns {
                    .column {
                        &.filter-box {
                            height: 200px;
                            .filters {
                                top: -100px;
                            }
                        }
                    }
                }
            }
        }
    }
}