<section class="hero is-login is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <img src="assets/img/neocms-white.png" alt="NeoCMS">
            </div>
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email" placeholder="Insira seu email" formControlName="email" class="input"
                                    [ngClass]="{ 'is-success': submitted && !f.email.errors, 'is-danger' : submitted && f.email.errors || error }">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                                </span>
                            </div>
                            <p *ngIf="submitted && f.email.errors?.required" class="help is-danger">
                                Email é obrigatório
                            </p>
                            <p *ngIf="error" class="help is-danger">
                                {{error.message}}
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Senha</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="*******" class="input" formControlName="senha"
                                    [ngClass]="{ 'is-success': submitted && !f.senha.errors, 'is-danger' : submitted && f.senha.errors || error }">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faLock"></fa-icon>
                                </span>
                            </div>
                            <p *ngIf="submitted && f.senha.errors?.required" class="help is-danger">
                                Senha é obrigatória
                            </p>
                        </div>
                        <div class="field">
                            <a>Esqueceu sua senha?</a>
                        </div>
                        <div class="field">
                            <button class="button is-success">
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>