<app-banner [banners]="banners" [area]="'rh'" [hasAnchor]="true" (slideToNextElement)="slideToSection()"></app-banner>
<app-info-section #infoSection [sectionInfo]="simulationSection"></app-info-section>
<app-product></app-product>
<app-icon-cards-section [iconCardsSectionModel]="iconCardsSectionModel" [backgroundColorClass]="'blue-background-color'">
</app-icon-cards-section>
<app-differential></app-differential>
<app-info-section [sectionInfo]="ocupationalSection"></app-info-section>
<app-contact-schedule-a-visit [backgroundColorClass]="'blue-background-color'"></app-contact-schedule-a-visit>
<app-materials></app-materials>
<app-careplus-plus></app-careplus-plus>
<app-social-posts></app-social-posts>