<div class="card">
    <div class="card-content">
        <div class="content">
            <section class="hero is-dark is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Tipos de pergunta
                        </h1>
                    </div>
                </div>
            </section>
            <table id="PerguntaTipoTable" class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="">Id</th>
                        <th id="">Descrição</th>
                        <th id="">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="perguntaTipos.length == 0 && !loaded" colspan="3">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="perguntaTipos.length == 0 && loaded" colspan="3">
                            Não há tipos de pergunta cadastrados
                        </td>
                    </tr>
                    <tr *ngFor="let perguntaTipo of perguntaTipos">
                        <td>{{perguntaTipo.id}}</td>
                        <td>{{perguntaTipo.descricao}}</td>
                        <td>
                            <a [routerLink]="['./', perguntaTipo.id]" routerLinkActive="active">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            &nbsp;
                            <a (click)="openPerguntaTipoDelete(perguntaTipo)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <a routerLink="/neocms/pergunta-tipo/create" routerLinkActive="active" class="card-footer-item">
            Criar novo tipo de pergunta &nbsp;
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>
    </footer>
</div>

<app-pergunta-tipo-delete *ngIf="showPerguntaTipoDelete" [perguntaTipo]="perguntaTipo" (onClose)="getPerguntaTipos()">
</app-pergunta-tipo-delete>