@import "~src/scss/_variables";
.links {
    min-height: 1.5rem;
    .link {
        margin-left: 1.313rem;
        position: relative;
        display: inline-flex;
        align-self: center;
        &::before {
            content: "";
            position: absolute;
            width: 0.313rem;
            height: 0.563rem;
            left: -13px;
            align-self: center;
            top: calc(50% - 4.5px);
            background-image: getSvg("arrow-right-grey.svg");
        }
        &:first-child {
            margin-left: 0;
            &::before {
                content: unset;
            }
        }
        a {
            font-weight: 500;
            font-size: 0.75em;
            line-height: 125%;
            color: getColor(_bupa, _grey-2);
            &.active {
                color: getColor(_bupa, _digital-cian);
            }
        }
    }
}

@media (max-width: 1023px) {
    .links {
        display: none;
    }
}
