<div class="card">
    <div class="card-content">
        <div class="content">
            <section class="hero is-dark is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Documentos
                        </h1>
                    </div>
                </div>
            </section>
            <table id="documentoTable" class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="">Id</th>
                        <th id="">Descrição</th>
                        <th id="">Imagem</th>
                        <th id="">Tipo de documento</th>
                        <th id="">Perfil</th>
                        <th id="">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="documentos.length == 0 && !loaded" colspan="6">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="documentos.length == 0 && loaded" colspan="6">
                            Não há documentos cadastrados
                        </td>
                    </tr>
                    <tr *ngFor="let documento of documentos">
                        <td>{{documento.id}}</td>
                        <td>{{documento.descricao}}</td>
                        <td>{{documento.documentoTipo?.descricao}}</td>
                        <td>{{documento.careplusPerfil?.descricao}}</td>
                        <td>{{documento.nomeDocumento}}</td>
                        <td>
                            <a [routerLink]="['./', documento.id]" routerLinkActive="active">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            &nbsp;
                            <a (click)="openDocumentoDelete(documento)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <a routerLink="/neocms/documento/create" routerLinkActive="active" class="card-footer-item">
            Criar novo documento &nbsp;
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>
    </footer>
</div>

<app-documento-delete *ngIf="showDocumentoDelete" [documento]="documento" (onClose)="getDocumentos()">
</app-documento-delete>