<section id="termos-e-condicoes">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-3-desktop" *ngIf="width > 1023px">
                    <app-sidebar class="app-sidebar" [elements]="elements">
                    </app-sidebar>
                </div>
                <div class="column is-full is-9-desktop">
                    <div id="termos-de-uso-e-aviso-de-privacidade" class="term-section">
                        <h1 class="h4 big-title no-margin" style="padding-top: 10px;">
                            Termos de Uso
                        </h1>                                         

                        <p class="sub-description">
                            <b>1. Partes, objeto, aceite expresso e abrangência.</b> Estes Termos de Uso (“Termo”) constituem um
                            contrato entre você (“Usuário”) e a Care Plus Medicina Assistencial LTDA. (“Care Plus”),
                            pessoa jurídica de direito privado, inscrita no CNPJ/ME sob o nº. 02.725.347/0001-27, 
                            com sede na Alameda Mamoré, nº. 687, 12º andar, conjuntos 1.201 a 1.204, Alphaville, 
                            cidade de Barueri, estado de São Paulo, CEP 06454-040.
                        </p>

                        <p class="sub-description">
                            <b>1.1.</b> O presente Termo tem como escopo regular a utilização, pelos Usuários,
                            dos websites e aplicativos de domínio Care Plus (em conjunto denominados “Plataformas”),
                            estes últimos disponíveis para acesso via tablet e/ou smartphone por meio do download através
                            das plataformas App Store e Google Play.
                        </p>

                        <p class="sub-description">
                            <b>1.2.</b> Por livre escolha, o Usuário pode optar por fazer uso, ou não, das Plataformas.
                            Entretanto, para utilizá-las, o Usuário deverá ler atentamente o teor integral deste Termo e,
                            caso concorde com as disposições nele inseridas, deverá manifestar seu aceite.
                            Este aceite se dará por meio da seleção do checkbox correspondente à opção “Aceito o Termo”,
                            disponível quando do acesso às Plataformas.
                        </p>

                        <p class="sub-description">
                            <b>1.3.</b> A não observância, pelo Usuário, de qualquer disposição constante neste Termo poderá acarretar
                            a sua exclusão e/ou suspensão, a exclusivo critério da Care Plus e sem aviso prévio,
                            além de eventual responsabilização cível e criminal a que o Usuário possa estar sujeito em razão
                            de suas ações ou omissões.
                        </p>

                        <p class="sub-description">
                            <b>1.4.</b> O presente Termo está disponível para leitura, a qualquer momento no aplicativo ou website da Care Plus.
                        </p>

                        <p class="sub-description">
                            <b>2. Finalidade</b> Por meio das Plataformas, o Usuário poderá solicitar a cotação e contratação
                             de serviços, solicitar autorizações e reembolsos, gerenciar a utilização de planos, agendar
                             teleconsultas, consultar rede credenciada e o número de seu certificado, contatar a central
                             de Atendimento e Relacionamento, falar com consultores, denunciar ocorrências, entre outras atividades disponíveis.
                        </p>

                        <p class="sub-description">
                            <b>3. Privacidade.</b> O <a href="https://www.careplus.com.br/a-careplus/aviso-de-privacidade" target="_blank">Aviso de Privacidade</a>  da Care Plus detalha como seus dados pessoais e dados pessoais
                            sensíveis serão tratados e como protegemos sua privacidade e suas informações, de forma que todos
                            os termos discriminados no Aviso se aplicam também a este Termo.
                        </p>

                        <p class="sub-description">
                            <b>3.1.</b> Caso o Usuário tome ciência de qualquer acesso não autorizado a sua conta, uso indevido de sua
                            senha ou de qualquer outra violação de segurança, real ou suspeita, o Usuário deverá notificar
                            a Care Plus, imediatamente, por meio do e-mail privacidade@careplus.com.br.
                        </p>

                        <p class="sub-description">
                            <b>4. Regras básicas.</b> O acesso e navegação por nossas Plataformas requerem a atenção a certas regras.
                            Antes de se cadastrar em nossas Plataformas, leia com atenção as seguintes normas.
                        </p>

                        <p class="sub-description">
                            <b>4.1.</b> Para utilizar as Plataformas, é necessário que o Usuário forneça alguns dados pessoais.
                            Em razão disso, o Usuário reconhece ser o único responsável, inclusive perante terceiros,
                            pela veracidade dos dados que fornecer à Care Plus, de forma que a Care Plus não possui qualquer
                            responsabilidade pela veracidade e precisão de tais informações.
                        </p>

                        <p class="sub-description">
                            <b>4.2.</b> O Usuário compreende que a Care Plus poderá, a seu exclusivo critério, realizar as buscas que
                            julgar necessárias para apuração de eventuais dados incorretos, inverídicos ou desatualizados,
                            bem como solicitar dados adicionais e/ou documentos que estime serem pertinentes, a fim de verificar
                            a conformidade das informações fornecidas pelo Usuário, conforme manda a Lei Federal nº 13.709/2018
                            (“Lei Geral de Proteção de Dados”).
                        </p>

                        <p class="sub-description">
                            <b>4.3.</b> Caso a Care Plus decida confirmar a veracidade dos dados cadastrais do Usuário e constate a
                            existência de dados incorretos, inverídicos e/ou desatualizados ou, ainda, caso o Usuário se furte
                            ou se negue a informar os dados requeridos, a Care Plus poderá suspender, temporária ou definitivamente,
                            o acesso do Usuário ao Aplicativo, sem prejuízo da aplicação de outras medidas que entenda necessárias
                            e oportunas.
                        </p>

                        <p class="sub-description">
                            <b>4.4.</b> Na hipótese de a Care Plus detectar alguma irregularidade cadastral e for possível,
                             de acordo com a legislação, corrigir e/ou complementar as informações, o Usuário será informado
                             por meio de SMS (Short Message Service) e/ou dos canais de contato indicados nas Plataformas para que
                             proceda à regularização dos dados inconsistentes, sob pena de ter seu cadastro recusado.
                        </p>

                        <p class="sub-description">
                            <b>4.5.</b> Após o fornecimento das informações solicitadas, a Care Plus poderá inserir o e-mail
                             do Usuário no rol de direcionamento automático para divulgação de conteúdo publicitário.
                        </p>

                        <p class="sub-description">
                            <b>4.6.</b> A utilização das áreas logadas das Plataformas pelo Usuário possui caráter pessoal
                             e intransferível e está autorizada unicamente para fins lícitos relacionados ao propósito a que
                             a Plataforma se destina, de acordo com este Termo.
                        </p>

                        <p class="sub-description">
                            <b>5. Proibições.</b> É proibido sondar, examinar ou testar a vulnerabilidade das Plataformas ou de
                             quaisquer redes a elas conectadas, bem como violar suas respectivas medidas de segurança ou autenticação.
                        </p>

                        <p class="sub-description">
                            <b>5.1.</b> É proibido fazer pesquisa reversa, rastrear ou tentar rastrear qualquer informação sobre qualquer
                            outro Usuário das Plataformas, bem como explorar as Plataformas, ou qualquer serviço ou informação
                            disponíveis, visando revelar quaisquer informações, incluindo dados pessoais, que não sejam as suas
                            próprias.
                        </p>

                        <p class="sub-description">
                            <b>5.2.</b> É proibido utilizar dispositivos, softwares ou rotinas para interferir ou tentar interferir
                             no funcionamento correto das Plataformas, bem como falsificar e/ou manipular identificadores com a
                             finalidade de mascarar a origem de qualquer mensagem ou transmissão enviada pelo Usuário por meio das
                             Plataformas.
                        </p>

                        <p class="sub-description">
                            <b>6. Responsabilidades do Usuário pelo uso das Plataformas.</b> Para utilizar as Plataformas da Care Plus,
                            o Usuário deve possuir uma conta de acesso às áreas logadas. A confidencialidade das informações
                            mantidas nas contas, inclusive das senhas de acesso às áreas logadas, são de sua exclusiva
                            responsabilidade.
                        </p>

                        <p class="sub-description">
                            <b>6.1.</b> Por meio do aceite deste Termo, o Usuário reconhece e declara:
                        </p>

                        <p class="sub-description">
                            a.&ensp;Possui capacidade jurídica para celebrar este Termo e utilizar o Portal;
                        </p>

                        <p class="sub-description">
                            b.&ensp;Ser responsável por quaisquer consequências decorrentes do uso das informações disponíveis
                            nas Plataformas, respondendo, inclusive perante terceiros, por qualquer reivindicação que venha a ser
                            apresentada à Care Plus, judicial ou extrajudicialmente, em virtude de eventuais danos morais e/ou
                            materiais, quando decorrentes de seu mau uso das Plataformas;
                        </p>

                        <p class="sub-description">
                            c.&ensp;Reconhecer e concordar que as Plataformas não devem ser utilizadas para fins ilícitos;
                        </p>

                        <p class="sub-description">
                            d.&ensp;Reconhecer que não poderá inserir conteúdo ou material capaz de incorporar elementos nocivos
                            nas Plataformas, capazes de impedir seu o normal funcionamento, de prejudicar os sistemas informáticos
                            da Care Plus ou de terceiros, ou de danificar documentos e/ou arquivos eletrônicos nelas armazenados;
                        </p>

                        <p class="sub-description">
                            e.&ensp;Compreender que suas credenciais de acesso, tais como, login, senha, token, número PIN, são de
                            natureza individual e intransferível, não devendo ser fornecidas a terceiros;
                        </p>

                        <p class="sub-description">
                            f.&ensp;Estar ciente de que a Care Plus não efetuará ligações ou enviará e-mails para solicitar suas
                            credenciais de acesso, de forma que o Usuário se compromete a comunicar a Care Plus caso receba
                            qualquer requerimento nesse sentido;
                        </p>

                        <p class="sub-description">
                            g.&ensp;Entender que, em caso de suspeita de ocorrência de fraude, seu acesso às Plataformas poderá ser
                            suspenso ou bloqueado a qualquer tempo, sem a necessidade de prévio aviso, de forma que nada lhe
                            seja devido em decorrência de tal fato; e
                        </p>

                        <p class="sub-description">
                            h.&ensp;Reconhecer que, em qualquer hipótese, é o único responsável pela utilização das Plataformas e pela
                            confidencialidade de suas credenciais de acesso às áreas logadas, isentando a Care Plus de toda e
                            qualquer responsabilidade que decorra de danos e prejuízos causados pelo uso indevido de tais
                            credenciais.
                        </p>

                        <p class="sub-description">
                            <b>7. Limitações e exclusão de garantias e responsabilidades.</b> Sem prejuízo das demais isenções de 
                            responsabilidade indicadas no presente Termo, a Care Plus não será responsável por:
                        </p>

                        <p class="sub-description">
                            a.&ensp;Indisponibilidades, erros e/ou falhas eventualmente apresentadas pelas Plataformas, inclusive
                            por qualquer defraudação da utilidade que o Usuário possa atribuir às Plataformas, pela sua falibilidade,
                            nem por qualquer dificuldade de acesso enfrentada pelo Usuário;
                        </p>

                        <p class="sub-description">
                            b.&ensp;Conteúdo de outros websites cujos endereços estejam disponíveis nas Plataformas, ou cujo endereço das
                            Plataformas esteja neles disponível. A Care Plus não garante o ressarcimento de quaisquer danos causados
                            pelos websites nesse item referidos.
                        </p>

                        <p class="sub-description">
                            c.&ensp;Erros e/ou inconsistências na transmissão de dados da rede, bem como relacionados à qualidade ou
                            disponibilidade da conexão de internet capazes de obstar o adequado recebimento de informações pela
                            Care Plus, ou pelo Usuário;
                        </p>

                        <p class="sub-description">
                            d.&ensp;Dados desatualizados, incompletos e/ou inverídicos eventualmente apresentados por meio das Plataformas;
                        </p>

                        <p class="sub-description">
                            e.&ensp;Utilização das Plataformas em desacordo com o disposto neste Termo;
                        </p>

                        <p class="sub-description">
                            f.&ensp;Danos e prejuízos, de qualquer natureza, decorrentes da divulgação a terceiros não autorizados
                            de dados fornecidos por meio das Plataformas, quando a divulgação ocorrer por falha exclusivamente
                            atribuível ao Usuário ou a terceiros que fujam do controle razoável da Care Plus;
                        </p>

                        <p class="sub-description">
                            g.&ensp;Presença de vírus ou demais elementos nocivos nas Plataformas, capazes de causar alterações em seus
                            sistemas informáticos (<i>software e hardware</i>) ou em documentos eletrônicos armazenados em seus sistemas
                            informáticos, eximindo-se a Care Plus de qualquer responsabilidade por eventuais danos e prejuízos
                            decorrentes de quaisquer elementos nocivos inseridos por terceiros, que fujam de seu controle razoável; e
                        </p>

                        <p class="sub-description">
                            h.&ensp;Garantir a legalidade dos documentos importados pelo Usuário perante as Plataformas,
                            o que é de responsabilidade total e exclusiva do Usuário. 
                        </p>

                        <p class="sub-description">
                            <b>7.1.</b> A Care Plus poderá, a qualquer momento e sem aviso prévio:
                        </p>

                        <p class="sub-description">
                            a.&ensp;Modificar ou suspender a operação das Plataformas ou o acesso, integral ou parcial a elas,
                            por qualquer motivo;
                        </p>

                        <p class="sub-description">
                            b.&ensp;Modificar ou alterar as Plataformas, integral ou parcialmente, e quaisquer políticas ou termos
                             aplicáveis, avisando aos Usuários neste caso; e
                        </p>

                        <p class="sub-description">
                            c.&ensp;Interromper, parcial ou integralmente, a operação das Plataformas, caso necessário para 
                            manutenções, correção de erros ou outras alterações. 
                        </p>

                        <p class="sub-description">
                            <b>7.1.1</b> Em nenhuma das situações acima a Care Plus será responsável perante o Usuário ou terceiros
                             por quaisquer perdas ou danos.
                        </p>

                        <p class="sub-description">
                            <b>8. Sanções.</b> Sem prejuízo de outras medidas cabíveis, a Care Plus poderá, a seu exclusivo critério,
                             suspender, temporária ou definitivamente, a conta do Usuário, promovendo medidas legais cabíveis ou
                             suspendendo a prestação de seus serviços se:
                        </p>                        

                        <p class="sub-description">
                            a.&ensp;O Usuário descumprir quaisquer das disposições constantes neste Termo;
                        </p>

                        <p class="sub-description">
                            b.&ensp;A Care Plus possuir suspeitas de que o Usuário pratica ou praticou atos fraudulentos ou ilegais; ou
                        </p>

                        <p class="sub-description">
                            c.&ensp;Caso não seja possível a verificação da identidade do Usuário, ou se os dados e informações
                            fornecidos estiverem incorretos. 
                        </p>

                        <p class="sub-description">
                            <b>8.1</b> A Care Plus poderá, a qualquer momento, limitar o acesso do Usuário às Plataformas,
                             sendo possível negá-lo ou suspendê-lo, em caso de suspeita de uso indevido ou ilícito, o que poderá
                             motivar a exclusão de todas as informações fornecidas pelo Usuário sem que qualquer tipo de indenização
                             ou compensação seja devida.
                        </p>

                        <p class="sub-description">
                            <b>9. Propriedade Intelectual.</b> O Usuário não adquire, por meio do presente Termo, nenhum direito
                            de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, direitos autorais
                            ou direitos sobre informações confidenciais ou segredos de negócio, sobre ou relacionados ao Aplicativo,
                            bem como à base de dados composta por informações de Usuários, os quais são de propriedade exclusiva da
                            Care Plus.
                        </p>

                        <p class="sub-description">
                            <b>9.1.</b> Nesse sentido, cada um dos textos, imagens, fotografias, projetos, dados, imagens, vídeos,
                            ilustrações, ícones, tecnologias, links e demais conteúdos audiovisuais ou sonoros, incluindo o software
                            das Plataformas, desenhos gráficos e códigos fonte, são de utilização exclusiva da Care Plus, e são
                            protegidos pelas leis e tratados internacionais, vedada sua cópia, reprodução, ou qualquer outro tipo
                            de utilização, ficando os infratores sujeitos às sanções civis e criminais correspondentes, nos termos
                            das Leis n°s 9.279/1996, 9.609/1998, 9.610/1998.
                        </p>

                        <p class="sub-description">
                            <b>9.2.</b> As marcas, os nomes comerciais ou logotipos de qualquer espécie apresentados por meio das
                            Plataformas são de propriedade da Care Plus ou de terceiro que tenha permitido o seu uso, de modo que
                            a utilização das Plataformas não importa autorização para que o Usuário possa citar tais marcas, nomes
                            comerciais e logotipos.
                        </p>

                        <p class="sub-description">
                            <b>9.3.</b> Caso o Usuário identifique a violação de direitos relativos à propriedade intelectual,
                             poderá enviar uma denúncia por meio do e-mail corporate@careplus.com.br, para que a Care Plus averigue
                             a situação indicada, e adote as medidas necessárias para a apuração e resolução de eventual
                             irregularidade.
                        </p>

                        <p class="sub-description">
                            <b>10. Duração e término do acesso.</b> As Plataformas serão disponibilizadas ao Usuário por prazo
                            indeterminado, reservado à Care Plus o direito de modificar, suspender ou encerrar o acesso, a qualquer
                            tempo e sem necessidade de aviso prévio, não cabendo qualquer indenização ao Usuário em razão disso.
                        </p>

                        <p class="sub-description">
                            <b>11. Contato.</b> Todas as comunicações encaminhadas pelo Usuário à Care Plus serão consideradas
                             válidas quando realizadas através do “Fale Conosco” disponibilizado nas Plataformas, ao passo que todas
                             as comunicações enviadas aos Usuários pela Care Plus serão consideradas válidas quando realizadas
                             por meio de qualquer dos meios de contato indicados pelo Usuário, incluindo-se, mas não limitado
                             a e-mail e telefone.
                        </p>

                        <p class="sub-description">
                            <b>12. Modificações.</b> Nenhuma alteração ou renúncia de direitos relativa ao presente Termo será válida
                            exceto se expressamente acordada entre as partes. A omissão, por qualquer das partes, em exigir da outra
                            o cumprimento de qualquer obrigação prevista neste Termo não implica em renúncia ao respectivo direito.
                        </p>

                        <p class="sub-description">
                            <b>12.1.</b> É de única e exclusiva responsabilidade do Usuário verificar o conteúdo deste Termo
                             periodicamente, certificando-se de que analisou sua versão mais atualizada, com base na data indicada
                             no início do documento.
                        </p>

                        <p class="sub-description">
                            <b>13. Disposições Gerais.</b>
                        </p>

                        <p class="sub-description">
                            <b>13.1.</b> Qualquer cláusula ou condição deste instrumento que, por qualquer razão, venha a ser
                             reputada nula ou ineficaz por qualquer juízo ou tribunal, não afetará a validade das demais disposições
                             deste Termo, as quais permanecerão plenamente válidas e vinculantes.
                        </p>

                        <p class="sub-description">
                            <b>13.2.</b> A falha ou abstenção da Care Plus em exigir quaisquer direitos ou disposições do presente
                            Termo não constituirá renúncia ou novação, podendo este exercer regularmente o seu direito, dentro dos
                            prazos legais.
                        </p>

                        <p class="sub-description">
                            <b>13.3.</b> A Care Plus poderá, a qualquer tempo e a seu exclusivo critério, ceder ou transferir,
                             total ou parcialmente, os direitos e obrigações decorrentes do presente Termo.
                        </p>

                        <p class="sub-description">
                            <b>14. Foro.</b> As partes elegem o foro da Comarca da cidade de Barueri, estado de São Paulo
                            como o único competente para dirimir as questões decorrentes do presente Termo com renúncia expressa
                            a qualquer outro, por mais privilegiado que seja.
                        </p>
                    </div>  
                   
                </div>
            </div>
        </div>
    </article>
</section>

<app-learn-more class="app-learn-more" id="learn-more"></app-learn-more>