<section id="termos-e-condicoes">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-3-desktop" *ngIf="width > 1023px">
                    <app-sidebar [elements]="elements">
                    </app-sidebar>
                </div>
                <div class="column is-full is-9-desktop">
                    <div id="termos-de-uso-e-politica-de-privacidade" class="term-section">
                        <h4 class="big-title no-margin">
                            Termos de Uso e Política de Privacidade
                        </h4>

                        <p class="sub-description">
                            O objetivo destes Termos de Uso é assegurar e estabelecer as condições de uso e uma política
                            de transparência, privacidade e segurança entre você e a Care Plus, durante a utilização
                            deste Site.
                        </p>

                        <p class="sub-description">
                            Disponibilizamos este Site para permitir que você, na qualidade de beneficiário e/ou
                            usuário, utilize os serviços e programas da Care Plus. Tudo isso pois a Care Plus tem como
                            objetivo de ajudar as pessoas a viver uma vida mais longa, saudável e feliz. Estes Termos de
                            Uso (“Termos”) são fornecidos para proteger você, o usuário deste Site, e a Care Plus.
                        </p>

                        <p class="sub-description">
                            Leia atentamente estes Termos antes de começar a usar este Site. Estes Termos estabelecem os
                            termos legais que se aplicam ao uso deste Site. Ao acessar e usar este Site, você aceita e
                            concorda que estes Termos se aplicarão a qualquer uso que você faça deste Site ou a qualquer
                            uso que você faça de qualquer material, documentação ou conteúdo publicado ou
                            disponibilizado neste Site. Isso inclui texto, dados, informações, gráficos, interfaces,
                            logotipos, fotografias, vídeo e outros materiais de mídia disponibilizados (sendo juntos
                            “Materiais”).
                        </p>

                        <p class="sub-description">
                            Se você não concordar com estes Termos, não use este Site.
                        </p>
                    </div>

                    <div id="descricao-do-servico" class="term-section">
                        <h4 class="big-title">
                            Descrição do Serviço
                        </h4>

                        <p class="sub-description">
                            O Site consiste em oferecer informações e serviços ao usuário e/ou beneficiário de plano de
                            saúde e/ou programa de saúde prestado pela Care Plus e/ou pelas empresas de seu grupo
                            econômico. Auxiliando ainda na consulta de reembolsos, exames, procedimentos e rede
                            credenciada.
                        </p>

                    </div>

                    <div id="obrigacoes-e-conduta-do-usuario" class="term-section">

                        <h4 class="big-title">
                            Obrigações e Conduta do Usuário
                        </h4>

                        <p class="sub-description">
                            As obrigações constantes deste item não se aplicam ao serviço de busca do Site e de outros
                            serviços que não requeiram qualquer cadastro por parte do usuário. Em consideração à
                            utilização do Site o usuário concorda em: (a) fornecer informações verdadeiras, exatas,
                            atuais e completas sobre si mesmo quando do registro em formulário específico (Cadastro de
                            Usuário) para acesso ao Serviço; (b) conservar e atualizar imediatamente tais informações de
                            registro para mantê-las verdadeiras, exatas, atuais e completas. Se qualquer informação
                            fornecida pelo usuário for falsa, incorreta, desatualizada ou incompleta, ou caso a Care
                            Plus tenha razões suficientes para suspeitar que tais informações sejam falsas, incorretas,
                            desatualizadas ou incompletas, terá o direito em suspender ou cancelar imediatamente,
                            independente de notificação, a conta do usuário e recusar toda e qualquer utilização,
                            presente ou futura do Site, ou parte dele.
                        </p>

                        <p class="sub-description">
                            O usuário concorda em cumprir a legislação vigente sobre a utilização do Site e sobre envio
                            de conteúdos aceitáveis. O usuário também concorda em não reproduzir, duplicar, copiar,
                            vender, revender ou explorar com finalidade comercial qualquer parte (i) do serviço prestado
                            pela Care Plus, e/ou (ii) do Site incluindo sua utilização ou acesso.
                        </p>

                    </div>

                    <div id="conta-do-usuario-identificacao-senha-e-seguranca" class="term-section">

                        <h4 class="big-title">
                            Conta do Usuário, Identificação, Senha e Segurança
                        </h4>

                        <p class="sub-description">
                            Durante o processo de registro de conta, o usuário deverá escolher uma senha e
                            identificação, passando a ser integralmente responsável por manter a confidencialidade da
                            senha e desta identificação bem como por todas as atividades que ocorram sob sua senha e/ou
                            identificação. Você, usuário, deve saber que sua senha pessoal é confidencial e
                            criptografada, o que garante seu sigilo. Somente mediante sua senha pessoal, você estará
                            apto a alterar e cadastrar seus dados pessoais. Aconselhamos que você utilize uma sequência
                            de algarismos ou de letras que não lhe identifique diretamente. O usuário concorda em:
                            <strong>(a)</strong>
                            notificar imediatamente a Care Plus sobre qualquer uso não autorizado da sua senha ou conta
                            ou qualquer outra quebra de segurança de que tome conhecimento;
                        </p>

                        <p class="sub-description">
                            <strong>(b)</strong> sair de sua conta de usuário ao final de cada sessão e assegurar que
                            esta não seja acessada por terceiros não autorizados. A Care Plus não será responsável por
                            qualquer perda ou dano decorrente do descumprimento do disposto neste item por parte do
                            usuário.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </article>
</section>

<app-learn-more id="learn-more"></app-learn-more>