section {
    &#termos-e-condicoes {
        .container {
            .term-section {
                margin-top: 1.375rem;
                &:first-child {
                    margin-top: 0;
                }
                .big-title {
                    max-width: 100%;
                }
            }
            .app-sidebar {
                height: 100%;
                display: block;
            }
        }
    }
}
