<div id="most-read">
    <p class="title">Mais lidas</p>
    <h2 class="description">Veja as matérias preferidas dos leitores</h2>

    <a [routerLink]="['/careplus-mais', post.slug]" [title]="post.titulo + ' - opens in a new window'" target="_blank" *ngFor="let post of posts">
        <div class="post">
            <img [src]="post?.caminhoCompleto" [alt]="post.titulo">
            <div class="title">
                <p>{{post.titulo | substring: 40}}</p>

            </div>
        </div>
    </a>

    <a class="btn btn-digital-cian tertiary arrow-right small" routerLink="/careplus-mais/resultado-de-busca">
        Veja Todas as Matérias
    </a>
</div>