<div id="most-read">
    <p class="title">Mais lidas</p>
    <p class="description">Veja as matérias preferidas dos leitores</p>

    <a [routerLink]="['/careplus-mais', post.slug]" [attr.title]="post.titulo" target="_blank" *ngFor="let post of posts">
        <div class="post">
            <img [src]="post?.caminhoCompleto" [alt]="post.titulo">
            <div class="title">
                <p>{{post.titulo}}</p>

            </div>
        </div>
    </a>

    <a class="btn btn-digital-cian tertiary arrow-right small" routerLink="/careplus-mais/busca">
        Veja Todas
    </a>
</div>