<div id="most-read">
    <p class="title">Mais lidas</p>
    <p class="description">Veja as matérias preferidas dos leitores</p>

    <!-- TODO está sem slug atualmente, não foi contemplado nas tarefas do backend -->
    <a [routerLink]="['/careplus-mais', post.id]" [attr.title]="post.titulo" target="_blank" *ngFor="let post of posts">
        <div class="post">
            <img [src]="post.caminhoImagem" [alt]="post.titulo">
            <div class="title">
                <p>{{post.titulo}}</p>

            </div>
        </div>
    </a>

    <button class="btn btn-digital-cian tertiary arrow-right small">
        Veja Todas
    </button>
</div>