.neocms-main {
  padding-top: 5%;
}

div.container-conteudo {
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 50px;
  top: 110px;
  left: 300px;
  bottom: 0px;
  width: auto;
  background-color: white;
}

