@import "~src/scss/_variables";

form {
    .columns {
        &.w-100 {
            width: 100%;
        }
        .column {
            &.display-flex {
                display: flex;
            }
            &.align-bottom{
                align-self: flex-end;
                .depoimento{
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                    strong{
                        display: block;
                        margin-top: 1.25rem;
                        font-weight: bold;
                    }
                }
            }

            .btn.right {
                float: right;
            }

            .btn.tertiary {
                padding-left: 0;
            }

            .obs {
                margin-top: 0.625rem;
                font-size: getSize("sbm");
                color: getColor(_bupa, _grey-2);
            }

            .captcha-image {
                width: 6.688rem;
                height: 2.188rem;
                border-radius: 0.313rem;
            }

            .code-infos {
                label {
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                }

                p {
                    font-size: getSize("sbm");
                    line-height: getLineHeight("sbm");
                }
            }

            .captcha {
                .column {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            #captcha_element_canal_de_denuncias {
                display: flex;
                justify-content: flex-end;

                + .field {
                    max-width: 19rem;
                    width: 100%;
                    float: right;
                }
            }

            .message {
                margin-top: 2rem;
                background-color: unset;
            }

            .field .control input.checkbox {
                &#aceiteDeTermos {
                    width: 1.625rem;
                }

                + label.checkbox-label {
                    left: 0;
                    z-index: 0;
                    &:before {
                        min-width: 1.625rem;
                    }

                    a {
                        z-index: 1;
                        pointer-events: visible;
                        white-space: wrap;
                    }
                }
            }
        }
    }
}
