<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Tem certeza que deseja excluir essa notícia?</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>
                <strong>Título:</strong> {{noticia?.titulo}}
            </p>
            <p>
                <strong>Subtítulo:</strong> {{noticia?.subtitulo}}
            </p>
            <p>
                <strong>Data de publicação:</strong> {{noticia?.dataPublicacao}}
            </p>
            <p>
                <strong>Tipo de notícia:</strong> {{noticia?.noticiaTipo?.descricao}}
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="closeModal()">Não</button>
            <button class="button is-danger" (click)="deleteNoticia();">Sim</button>
        </footer>
    </div>
</div>