<form [formGroup]="ouvidoriaForm">

    <div class="columns flex-wrap has-negative-margin">
        <div class="column is-6">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form?.ProtocoloAtendimento?.errors && form?.ProtocoloAtendimento?.touched, 'is-invalid' : form.ProtocoloAtendimento?.dirty && form?.ProtocoloAtendimento?.errors, 'is-touched': form?.ProtocoloAtendimento?.value?.length > 0 }"
                        class="input" formControlName="ProtocoloAtendimento" type="tel" appOnlyNumbers>
                    <label class="label">Número do Protocolo na Central</label>
                </p>
                <div *ngIf="form.ProtocoloAtendimento.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.ProtocoloAtendimento, 'Protocolo')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form?.NomeContato?.errors && form?.NomeContato?.touched, 'is-invalid' : form.NomeContato?.dirty && form?.NomeContato?.errors, 'is-touched': form?.NomeContato?.value?.length > 0 }"
                        class="input" formControlName="NomeContato" type="text">
                    <label class="label">Nome</label>
                </p>
                <div *ngIf="form.NomeContato.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.NomeContato, 'Nome')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full-touch is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form?.CPFCNPJ?.errors && form?.CPFCNPJ?.touched, 'is-invalid' : form.CPFCNPJ?.dirty && form?.CPFCNPJ?.errors && form?.CPFCNPJ?.touched, 'is-touched': form?.CPFCNPJ?.value?.length > 0 }"
                        mask="000.000.000-00" [validation]="false" class="input" formControlName="CPFCNPJ" type="tel">
                    <label class="label">CPF</label>
                </p>
                <div *ngIf="form.CPFCNPJ.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.CPFCNPJ, 'CPF')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full is-6-desktop">
            <div class="field">
                <p class="control">
                    <input
                        [ngClass]="{ 'is-valid': !form?.Email?.errors, 'is-invalid' : form?.Email?.dirty && form?.Email?.errors, 'is-touched': form.Email?.value?.length > 0 }"
                        class="input" formControlName="Email" type="text">
                    <label class="label">E-mail *</label>
                </p>
                <div *ngIf="form?.Email?.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.Email)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="columns display-flex has-negative-margin is-mobile">
                <div class="column is-4 is-paddingless-vertical">
                    <div class="field">
                        <p class="control">
                            <input
                                [ngClass]="{ 'is-valid': !form?.DDDTelefoneCelular?.errors && form?.DDDTelefoneCelular?.touched, 'is-invalid' : form.DDDTelefoneCelular?.dirty && form?.DDDTelefoneCelular?.errors, 'is-touched': form?.DDDTelefoneCelular?.value?.length > 0 }"
                                class="input" formControlName="DDDTelefoneCelular" type="tel">
                            <label class="label">DDD *</label>
                        </p>
                        <div *ngIf="form?.DDDTelefoneCelular?.touched" class="errors">
                            <p *ngFor="let error of getErrors(form.DDDTelefoneCelular, 'DDD')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-8 is-paddingless-vertical">
                    <div class="field">
                        <p class="control">
                            <input
                                [ngClass]="{ 'is-valid': !form?.TelefoneCelular?.errors && form?.TelefoneCelular?.touched, 'is-invalid' : form.TelefoneCelular?.dirty && form?.TelefoneCelular?.errors, 'is-touched': form?.TelefoneCelular?.value?.length > 0 }"
                                class="input" formControlName="TelefoneCelular" type="tel"
                                [mask]="form.TelefoneCelular?.value?.length > 8 ? '00000-0000' : '0000-00000'"
                                [validation]="false">
                            <label class="label">Telefone celular *</label>
                        </p>
                        <div *ngIf="form?.TelefoneCelular?.touched" class="errors">
                            <p *ngFor="let error of getErrors(form.TelefoneCelular, 'Telefone Celular')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="columns display-flex has-negative-margin is-mobile">
                <div class="column is-4 is-paddingless-vertical">
                    <div class="field">
                        <p class="control">
                            <input
                                [ngClass]="{ 'is-valid': !form?.DDDTelefoneResidencial?.errors && form?.DDDTelefoneResidencial?.touched, 'is-invalid' : form.DDDTelefoneResidencial?.dirty && form?.DDDTelefoneResidencial?.errors, 'is-touched': form?.DDDTelefoneResidencial?.value?.length > 0 }"
                                class="input" formControlName="DDDTelefoneResidencial" type="tel">
                            <label class="label">DDD</label>
                        </p>
                        <div *ngIf="form?.DDDTelefoneResidencial?.touched" class="errors">
                            <p *ngFor="let error of getErrors(form.DDDTelefoneResidencial, 'DDD')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-8 is-paddingless-vertical">
                    <div class="field">
                        <p class="control">
                            <input
                                [ngClass]="{ 'is-valid': !form?.TelefoneResidencial?.errors && form?.TelefoneResidencial?.touched, 'is-invalid' : form.TelefoneResidencial?.dirty && form?.TelefoneResidencial?.errors, 'is-touched': form?.TelefoneResidencial?.value?.length > 0 }"
                                class="input" formControlName="TelefoneResidencial" type="tel"
                                [mask]="form.TelefoneResidencial?.value?.length > 8 ? '00000-0000' : '0000-00000'"
                                [validation]="false">
                            <label class="label">Telefone residencial</label>
                        </p>
                        <div *ngIf="form?.TelefoneResidencial?.touched" class="errors">
                            <p *ngFor="let error of getErrors(form.TelefoneResidencial, 'Telefone Residencial')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <div class="columns display-flex has-negative-margin">
                <div class="column is-full-touch is-3-desktop display-flex is-paddingless-vertical">
                    <label class="align-self-center">
                        Assunto *
                    </label>
                </div>

                <div class="column is-full-touch is-9-desktop is-paddingless-vertical">
                    <app-dropdown [options]="subjects" [default]="defaultSubject" [canUnselect]="false"
                        (setFilter)="selectSubject($event)">
                    </app-dropdown>
                    <div class="field" *ngIf="!form?.IdAssunto?.valid && form?.IdAssunto?.touched">
                        <div class="errors">
                            <p *ngFor="let error of getErrors(form.IdAssunto, 'Assunto')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <div class="columns display-flex has-negative-margin">
                <div class="column is-full-touch is-3-desktop display-flex is-paddingless-vertical">
                    <label class="align-self-center">
                        Classificação *
                    </label>
                </div>

                <div class="column is-full-touch is-9-desktop is-paddingless-vertical">
                    <app-dropdown [options]="classifications" [default]="defaultClassification" [canUnselect]="false"
                        (setFilter)="selectClassification($event)">
                    </app-dropdown>
                    <div class="field" *ngIf="!form?.IdClassificacao?.valid && form?.IdClassificacao?.touched">
                        <div class="errors">
                            <p *ngFor="let error of getErrors(form.IdClassificacao, 'Classificação')" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <div class="field">
                <p class="control">
                    <textarea name="Mensagem" cols="30" rows="10"
                        [ngClass]="{ 'is-valid': !form.Mensagem?.errors, 'is-invalid' : form.Mensagem.dirty && form.Mensagem?.errors, 'is-touched': form.Mensagem?.value?.length > 0 }"
                        class="textarea" formControlName="Mensagem" placeholder="Menságem *"></textarea>
                </p>
                <div *ngIf="form.Mensagem.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.Mensagem, 'Menságem')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-full">
            <div class="field">
                <div class="control">
                    <div class="file has-name">
                        <label class="file-label">
                            <input (change)="fileChangeEvent($event)" class="file-input" type="file" multiple
                                accept="image/x-png,image/gif,image/jpeg, image/x-ms-bmp, application/pdf">
                            <span class="file-cta">
                                <span class="file-label">
                                    Escolher arquivos &nbsp;
                                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.35 6.04C18.67 2.59 15.64 0 12 0C9.11 0 6.6 1.64 5.35 4.04C2.34 4.36 0 6.91 0 10C0 13.31 2.69 16 6 16H19C21.76 16 24 13.76 24 11C24 8.36 21.95 6.22 19.35 6.04ZM14 9V13H10V9H7L12 4L17 9H14Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </span>
                            <span class="file-name">
                                {{filesNumber > 0 ? filesNumber + ' arquivo(s) selecionado(s)' :  'Nenhum arquivo selecionado'}}
                            </span>
                        </label>
                        <p class="obs">
                            <strong>Importante:</strong> Extensões permitidas bmp, gif, jpg ou pdf, com no máximo
                            2mb.
                        </p>
                        <div *ngFor="let file of files; let i = index;" class="file-details" [class.first]="i === 0">
                            <h5 class="file-name-with-extension">
                                {{file.name}}
                                <span class="trash-icon" (click)="deleteFile(i)">
                                    <img src="assets/svg/trash.svg" alt="Deletar">
                                </span>
                            </h5>
                            <p class="file-size">
                                {{filerHelper.humanFileSize(file.size, false)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-6-desktop is-full-touch is-offset-6-desktop">
            <div id="captcha_element_ouvidoria"></div>
            <div class="field">
                <div *ngIf="form.validCaptcha.touched" class="errors">
                    <p *ngFor="let error of getErrors(form.validCaptcha, 'Captcha')" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>    

        <div class="column is-full">
            <button class="btn btn-primary medium is-hidden-touch right" (click)="sendForm()">
                ENVIAR
            </button>

            <button class="btn btn-text small is-hidden-desktop" (click)="sendForm()">
                ENVIAR
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.3492 0.938082C11.1433 1.24975 11.187 1.70309 11.4477 1.94993L13.2895 3.69461L15.7088 6.28211L0.600826 6.28211C0.268769 6.28211 -2.39681e-07 6.60482 -2.25521e-07 7.00246C-2.11362e-07 7.40009 0.268769 7.7228 0.600826 7.7228L15.5578 7.7228L11.3604 12.0703C11.1097 12.3297 11.0812 12.7849 11.2983 13.086C11.5154 13.3871 11.8947 13.4203 12.1459 13.16L17.6218 7.48797C17.7528 7.35254 17.8285 7.15613 17.8301 6.94867C17.8301 6.94675 17.8301 6.94483 17.8301 6.94291C17.8301 6.73737 17.7572 6.54191 17.6294 6.40553L14.0621 2.592L12.1932 0.819944C11.9328 0.573104 11.5551 0.625931 11.3492 0.938082Z"
                        fill="#0079C8" />
                </svg>
            </button>
        </div>

    </div>

</form>