@import "~src/scss/_variables";

form {
    .columns {
        &.w-100 {
            width: 100%;
        }
        .column {
            &.display-flex {
                display: flex;
            }

            .btn.right {
                float: right;
            }

            .btn-text {
                padding-left: 0;
            }

            .obs {
                margin-top: 10px;
                font-size: getSize("sbm");
                color: getColor(_bupa, _grey-2);
            }

            #captcha_element_ouvidoria {
                display: flex;
                justify-content: flex-end;

                + .field {
                    max-width: 304px;
                    width: 100%;
                    float: right;
                }
            }
        }
    }
}
