<section id="join-the-team" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns" [class.reverse-columns]="reverse">
                <div class="column is-half-desktop is-full infos">
                    <p class="small-title">ENTRE PARA O TIME</p>
                    <h1 class="h4 big-title">
                        Se identificou com a Care Plus e quer fazer parte do nosso time?
                    </h1>

                    <img class="is-hidden-desktop img-mobile" src="assets/img/join-the-team.jpg" alt="Junte-se ao time">

                    <p class="description">
                        Cadastre-se para integrar nosso banco de talentos, veja as nossas vagas ou se cadastre para
                        oportunidades futuras
                    </p>
                    <p class="sub-description">
                        Estamos compondo um time repleto de talentos, envie para nós os seus dados pessoais e
                        profissionais e caso não tenha uma vaga para você vamos incluir você em nosso banco e entraremos
                        em contato para futuras oportunidades. Construa o futuro conosco. 
                    </p>

                    <a class="btn btn-fuchsia secondary medium is-hidden-touch" routerLink="/carreiras/vagas" title="Faça parte do nosso time">
                        Faça parte do nosso time
                    </a>
                    <a class="btn btn-fuchsia secondary tertiary arrow-right is-hidden-desktop" routerLink="/carreiras/vagas" title="Faça parte do nosso time">
                        Faça parte do nosso time
                    </a>
                </div>
                <div class="column is-half-desktop is-hidden-touch">
                    <img src="assets/img/join-the-team.png" alt="Junte-se ao time">
                </div>
            </div>
        </div>
    </article>
</section>