<section id="join-the-team" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns" [class.reverse-columns]="reverse">
                <div class="column is-half-desktop is-full infos">
                    <p class="small-title">ENTRE PARA O NOSSO TIME</p>
                    <h2 class="h4 big-title">
                        Se identificou conosco? Quer fazer parte deste time?
                    </h2>

                    <img class="is-hidden-desktop img-mobile" src="assets/img/join-the-team.png" alt="Junte-se ao time">

                    <p class="description">
                        Cadastre-se e faça parte do nosso banco de talentos. Fique de olho nas vagas e receba as oportunidades futuras.
                    </p>
                    <p class="sub-description">
                        Para fazer parte deste time de talentos, envie seus dados. Se não houver vagas para o seu perfil, fique tranquilo, seu currículo ficará guardado em nosso banco de dados para futuras oportunidades. 
                    </p>

                    <a class="btn btn-fuchsia secondary medium is-hidden-touch" routerLink="/carreiras_careers/vagas"
                        title="Faça parte do nosso time">
                        Faça parte do nosso time!
                    </a>
                    <a class="btn btn-fuchsia secondary tertiary arrow-right is-hidden-desktop"
                        routerLink="/carreiras_careers/vagas" title="Faça parte do nosso time">
                        Faça parte do nosso time!
                    </a>
                </div>
                <div class="column is-half-desktop is-hidden-touch">
                    <img src="assets/img/join-the-team.png" alt="Junte-se ao time">
                </div>
            </div>
        </div>
    </article>
</section>