@import "~src/scss/_variables";
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(getColor(_bupa, _black), 0.6);
    display: flex;
    .modal-body {
        z-index: 1002;
        position: relative;
        align-self: center;
        width: 50%;
        margin-left: 25%;
        min-height: 100px;
        max-height: 80%;
        overflow: auto;
        background-color: getColor(_bupa, _white);
        box-shadow: 0px 0.608796px 1.38363px rgba(getColor(_bupa, _black), 0.0196802), 0px 1.46302px 3.32505px rgba(getColor(_bupa, _black), 0.0282725), 0px 2.75474px 6.26078px rgba(getColor(_bupa, _black), 0.035), 0px 4.91399px 11.1682px rgba(getColor(_bupa, _black), 0.0417275), 0px 9.19107px 20.8888px rgba(getColor(_bupa, _black), 0.0503198), 0px 22px 50px rgba(getColor(_bupa, _black), 0.07);
        border-radius: 4px;
        padding: 40px 80px;
        @media (max-width: 61.938rem) {
            width: 80%;
            margin-left: 10%;
            max-height: 80%;
            padding: 15px;
        }
        .times-icon {
            position: absolute;
            right: 1.125rem;
            top: 1.125rem;
            width: 1.25rem;
            height: 1.25rem;
            cursor: pointer;
            z-index: 3;
            .lines {
                position: relative;
                width: 1.25rem;
                height: 1.25rem;
                display: flex;
                .first-line {
                    position: absolute;
                    left: 0;
                    align-self: center;
                    width: 1.25rem;
                    height: 2px;
                    background-color: getColor(_bupa, _grey-2);
                    transform: rotate(-45deg);
                }
                .second-line {
                    position: absolute;
                    left: 0;
                    align-self: center;
                    width: 1.25rem;
                    height: 2px;
                    background-color: getColor(_bupa, _grey-2);
                    transform: rotate(45deg);
                }
            }
        }
        &.info {
            border-bottom: 6.29px solid getColor(_bupa, _digital-cian);
        }
        &.error {
            border-bottom: 6.29px solid getColor(_carePlus, _error);
        }
        &.base,
        &.feedback {
            max-width: 628px;
            margin-left: calc(50% - (628px / 2));
            @media (max-width: 61.938rem) {
                width: 80%;
                margin-left: 10%;
            }
        }
        &.table,
        &.content {
            width: 80rem;
            margin-left: calc(50% - (1280px / 2));
            @media (max-width: 1380px) {
                width: 80%;
                margin-left: 10%;
            }
        }
        &.video {
            max-width: 800px;
            margin-left: calc(50% - (800px / 2));
            padding: 50px 0 0 0;
            background-color: getColor(_bupa, _digital-cian);
            @media (max-width: 61.938rem) {
                width: 80%;
                margin-left: 10%;
            }
            .times-icon {
                .lines {
                    .first-line {
                        background-color: getColor(_bupa, _white);
                    }
                    .second-line {
                        background-color: getColor(_bupa, _white);
                    }
                }
            }
        }
        .feedback-content {
            width: 100%;
            .feedback-image {
                display: block;
                margin: 0 auto;
            }
            .title {
                font-weight: 500;
                font-size: getSize("mbt");
                line-height: getLineHeight("mbt");
                text-align: center;
                color: getColor(_bupa, _navy);
                margin-top: 30px;
            }
            .description {
                margin-top: 13px;
                font-weight: normal;
                font-size: getSize("p");
                line-height: getLineHeight("p");
                text-align: center;
                color: getColor(_bupa, _grey-2);
            }
            .modal-button {
                position: relative;
                border: 2px solid getColor(_bupa, _digital-cian);
                border-radius: 2px;
                padding: 16px 24px;
                color: getColor(_bupa, _digital-cian);
                background-color: getColor(_bupa, _white);
                display: flex;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                margin-top: 30px;
                &.has-icon {
                    padding-left: 56px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 24px;
                        width: 22px;
                        height: 15px;
                        align-self: center;
                        background-image: getSvg("blue-arrow-left.svg");
                        transition: left 0.3s ease-in-out;
                        top: calc(50% - 7.5px);
                    }
                    &:hover {
                        &::before {
                            left: 14px;
                        }
                    }
                }
            }
        }
        .table-content {
            .title {
                font-weight: 500;
                font-size: getSize("mbt");
                line-height: getLineHeight("mbt");
                color: getColor(_bupa, _grey);
                margin-bottom: 38px;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                background-color: getColor(_bupa, _white);
                border: 1px solid getColor(_bupa, _grey-3);
                border-radius: 4px;
                th,
                td {
                    text-align: left;
                    padding: 8px;
                    border: unset;
                }
                thead {
                    width: 100%;
                    tr {
                        background-color: rgba(getColor(_bupa, _digital-cian), 0.1);
                        th {
                            padding: 22px 15px;
                            font-weight: 500;
                            font-size: getSize("p");
                            line-height: 100%;
                            color: getColor(_bupa, _black);
                        }
                    }
                }
                tbody {
                    width: 100%;
                    tr {
                        &:nth-child(even) {
                            background-color: #f2f2f2;
                        }
                        td {
                            padding: 22px 15px;
                            font-weight: 500;
                            font-size: getSize("p");
                            line-height: 100%;
                            color: getColor(_bupa, _grey-2);
                        }
                    }
                }
            }
        }
        .content {
            .small-title {
                font-weight: normal;
                font-size: getSize("sbm");
                line-height: getLineHeight("sbm");
                color: getColor(_bupa, _digital-cian);
                margin: 0;
            }
            .title {
                font-weight: 600;
                font-size: getSize("h4");
                line-height: getLineHeight("h4");
                color: getColor(_bupa, _navy);
                margin: 0;
                margin-top: 6px;
            }
            .paragraphs {
                .paragraph-title {
                    margin-top: 30px;
                    font-weight: 600;
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                    color: getColor(_bupa, _grey);
                }
                .paragraph {
                    margin-top: 30px;
                    font-weight: 500;
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                    color: getColor(_bupa, _grey);
                }
            }
        }
    }
    .video {
        .videoBox {
            margin: auto;
            max-height: 511px;
            max-width: 100%;
            position: relative;
            iframe {
                width: 100%;
                height: 511px;
                position: relative;
                border: none;
            }
            @media (max-width: 61.938rem) {
                max-height: 18.75rem;
                iframe {
                    height: 18.75rem;
                }
            }
        }
    }
    .modal-close-div {
        z-index: 1001;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
