@import "~src/scss/_variables";
section {
    &#a-careplus-documents-filters {
        .container {
            .columns {
                .column {
                    &.filter-box {
                        position: relative;
                        .filters {
                            box-shadow: 2px 2px 6px rgba(getColor(_bupa, _black), 0.25);
                            background-color: getColor(_bupa, _white);
                            border-radius: 2px;
                            position: absolute;
                            left: 16px;
                            width: calc(100% - 32px);
                            top: -120px;
                            form {
                                ul {
                                    padding: 32px 26px;
                                    display: flex;
                                    justify-content: space-between;
                                    li {
                                        align-self: center;
                                        display: inline-flex;
                                        width: 100%;
                                        .field {
                                            display: block;
                                            height: 3.5rem;
                                            width: 100%;
                                            .control {
                                                display: flex;
                                                width: 100%;
                                                input:not([type="radio"]) {
                                                    min-width: 100px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
             ::ng-deep .app-documents {
                .columns {
                    &.cards {
                        margin-top: 42px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1150px) {
    section {
        &#a-careplus-documents-filters {
            .container {
                .columns {
                    .column {
                        &.filter-box {
                            .filters {
                                form {
                                    ul {
                                        li {
                                            input[type="radio"]~label {
                                                font-size: 0.75em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &#a-careplus-documents-filters {
            .container {
                .columns {
                    .column {
                        &.filter-box {
                            height: 0;
                            .filters {
                                position: relative;
                                left: 0;
                                width: 100%;
                                form {
                                    ul {
                                        padding: 15px 26px;
                                        display: block;
                                        justify-content: unset;
                                        li {
                                            display: flex;
                                            align-self: unset;
                                            margin: 20px 0;
                                            .field {
                                                max-width: 100%;
                                                width: 100%;
                                                .control {
                                                    input:not([type="radio"]) {
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                 ::ng-deep .app-documents {
                    .columns {
                        &.cards {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 359px) {
    section {
        &#a-careplus-documents-filters {
            .container {
                .columns {
                    .column {
                        &.filter-box {
                            height: 40px;
                            .filters {
                                top: -100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
