<app-banner [banners]="banners" [area]="'corretor'" [hasAnchor]="true" [breadcrumbs]="breadcrumbs"
    (slideToNextElement)="slideToSection()"></app-banner>
<app-a-careplus-video [videoModel]="videoModel" #videoCareplus></app-a-careplus-video>
<app-differential [differentials]="differentials"></app-differential>
<app-icon-cards-section [iconCardsSectionModel]="iconCardsSectionModel"
    [backgroundColorClass]="'blue-background-color'">
</app-icon-cards-section>
<app-contact-schedule-a-visit></app-contact-schedule-a-visit>
<app-materials [backgroundColorClass]="'blue-background-color'"></app-materials>
<app-careplus-plus></app-careplus-plus>
<app-social-posts></app-social-posts>

<div class="get-price-box" routerLink="/fale-conosco">
    <p class="text">
        Solicite uma Cotação
    </p>
    <img src="assets/svg/get-price-box-image.svg" alt="Solicite uma cotação">
</div>