<section class="cross-content-section">
    <div class="background blue-background-color"></div>
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <!-- h1 -->
                    <h1 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h1'">
                        {{crossContentModel?.bigTitle}}
                    </h1>

                    <!-- h2 -->
                    <h2 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h2'">
                        {{crossContentModel?.bigTitle}}
                    </h2>

                    <!-- h3 -->
                    <h3 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h3'">
                        {{crossContentModel?.bigTitle}}
                    </h3>

                    <!-- h4 -->
                    <h4 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h4'">
                        {{crossContentModel?.bigTitle}}
                    </h4>

                    <!-- h5 -->
                    <h5 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h5'">
                        {{crossContentModel?.bigTitle}}
                    </h5>

                    <!-- h6 -->
                    <h6 class="h4 big-title" *ngIf="crossContentModel?.bigTitle && crossContentModel.htag == 'h6'">
                        {{crossContentModel?.bigTitle}}
                    </h6>

                    <div class="content-info">
                        <div class="info-box" *ngIf="crossContentModel?.boxContent">
                            <div class="info-title">
                                {{crossContentModel?.boxContent?.title}}
                            </div>
                            <div class="info-description">
                                {{crossContentModel?.boxContent?.description}}
                            </div>
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                class="btn btn-digital-cian tertiary arrow-right medium"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                {{crossContentModel?.boxContent?.button?.text}}
                            </a>

                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="crossContentModel?.boxContent?.button?.link"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                class="btn btn-digital-cian tertiary arrow-right medium"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                {{crossContentModel?.boxContent?.button?.text}}
                            </a>
                        </div>
                        <div class="first-image" *ngIf="crossContentModel?.firstImage">
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.firstImage?.src"
                                    [alt]="crossContentModel?.firstImage?.alt">
                            </a>
                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="[crossContentModel?.boxContent?.button?.link]"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.firstImage?.src"
                                    [alt]="crossContentModel?.firstImage?.alt">
                            </a>
                        </div>
                        <div class="second-image" *ngIf="crossContentModel?.secondImage">
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.secondImage?.src"
                                    [alt]="crossContentModel?.secondImage?.alt">
                            </a>
                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="[crossContentModel?.boxContent?.button?.link]"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                [title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.secondImage?.src"
                                    [alt]="crossContentModel?.secondImage?.alt">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>