<section class="cross-content-section">
    <div class="background blue-background-color"></div>
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="h4 big-title" *ngIf="crossContentModel?.bigTitle">
                        {{crossContentModel?.bigTitle}}
                    </h2>
                    <div class="content-info">
                        <div class="info-box" *ngIf="crossContentModel?.boxContent">
                            <div class="info-title">
                                {{crossContentModel?.boxContent?.title}}
                            </div>
                            <div class="info-description">
                                {{crossContentModel?.boxContent?.description}}
                            </div>
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                class="btn btn-digital-cian tertiary arrow-right medium"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                {{crossContentModel?.boxContent?.button?.text}}
                            </a>

                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="crossContentModel?.boxContent?.button?.link"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                class="btn btn-digital-cian tertiary arrow-right medium"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                {{crossContentModel?.boxContent?.button?.text}}
                            </a>
                        </div>
                        <div class="first-image" *ngIf="crossContentModel?.firstImage">
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.firstImage?.src"
                                    [alt]="crossContentModel?.firstImage?.alt">
                            </a>
                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="[crossContentModel?.boxContent?.button?.link]"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.firstImage?.src"
                                    [alt]="crossContentModel?.firstImage?.alt">
                            </a>
                        </div>
                        <div class="second-image" *ngIf="crossContentModel?.secondImage">
                            <a *ngIf="crossContentModel?.boxContent?.button?.routerLink"
                                [routerLink]="[crossContentModel?.boxContent?.button?.routerLink]"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.secondImage?.src"
                                    [alt]="crossContentModel?.secondImage?.alt">
                            </a>
                            <a *ngIf="crossContentModel?.boxContent?.button?.link"
                                [href]="[crossContentModel?.boxContent?.button?.link]"
                                [target]="crossContentModel?.boxContent?.button?.target"
                                [attr.title]="crossContentModel?.boxContent?.button?.text">
                                <img [src]="crossContentModel?.secondImage?.src"
                                    [alt]="crossContentModel?.secondImage?.alt">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>