@import "~src/scss/_variables";
@import "~src/scss/_mixins";

section {
    &.cross-content-section {
        position: relative;
        .background {
            height: 57.42331288%;
            max-height: 29.25rem;
            width: 100%;
            position: absolute;
            bottom: 9.438rem;
        }
        .container {
            .big-title {
                max-width: 63.25rem;
                text-align: center;
                margin: 0 auto;
            }

            .content-info {
                height: 41.5rem;
                width: 100%;
                position: relative;
                margin-top: 4.688rem;

                .info-box {
                    position: absolute;
                    left: 0;
                    top: 27.56024096%;
                    width: 30.26315789%;
                    background-color: getColor(_bupa, _digital-cian);
                    display: block;
                    padding: 2rem 2.125rem;
                    z-index: 1;
                    .info-title {
                        font-weight: 600;
                        font-size: getSize("h4");
                        line-height: getLineHeight("h4");
                        color: getColor(_bupa, _white);
                    }

                    .info-description {
                        font-size: getSize("p");
                        line-height: getLineHeight("p");
                        margin-top: 0.5rem;
                        color: getColor(_bupa, _white);
                    }

                    .btn-digital-cian.tertiary {
                        float: right;
                        padding-bottom: 0;
                        padding-top: 0;
                        margin-top: 0.5rem;
                        color: getColor(_bupa, _white);

                        svg {
                            fill: getColor(_bupa, _white);

                            path {
                                fill: getColor(_bupa, _white);
                            }
                        }

                        &:before {
                            border: solid getColor(_bupa, _white);
                            @include arrowElement(-45deg);
                        }

                        &:hover {
                            &:before {
                                border: solid getColor(_bupa, _white);
                                @include arrowElement(-45deg);
                                right: 0.938rem;
                            }
                        }
                    }
                }
                .first-image {
                    position: absolute;
                    width: 44.73684211%;
                    right: 38.15789474%;
                    img {
                        width: 100%;
                        object-fit: cover;
                        @include animationCrossContent();
                    }
                }
                .second-image {
                    position: absolute;
                    width: 43.42105263%;
                    top: 22.89156627%;
                    right: 0;
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 31.25rem;
                        @include animationCrossContent();
                    }
                }
            }
        }
    }
}

@media (min-width: 64rem) and (max-width: 75rem) {
    section {
        &.cross-content-section {
            .container {
                .content-info {
                    height: 35.5rem;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section {
        &.cross-content-section {
            .background {
                height: 100%;
                max-height: unset;
                bottom: 0;
            }
            .container {
                .content-info {
                    height: auto;
                    margin-top: 1.875rem;
                    .info-box {
                        width: 100%;
                        top: 0%;
                        position: relative;

                        .btn-digital-cian.tertiary {
                            float: unset;
                            padding-left: 0;
                            margin-top: 0.625rem;
                        }
                    }

                    .first-image {
                        display: none;
                    }
                    .second-image {
                        display: none;
                    }
                }
            }
        }
    }
}
