<app-simple-banner [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToSection('#orientacao-medica-24h')">
</app-simple-banner>
<app-info-section id="orientacao-medica-24h" [sectionInfo]="medicalOrientationSection">
    <div class="extra-content blue-background-color">

        <p class="extra-content-title">
            <span class="text is-marginless">
                Orientação médica pediátrica:
            </span>
        </p>
        <p class="extra-content-small-title">
            Até 14 anos
        </p>

        <p class="extra-content-title">
            <span class="text is-marginless">
                Orientação médica adulta:
            </span>
        </p>
        <p class="extra-content-small-title">
            A partir dos 15 anos
        </p>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Pelo telefone <a class="bold" href="tel:0800162992">0800 16 2992</a>
        </p>

    </div>
</app-info-section>

<app-info-section id="nutri-a-distancia" [sectionInfo]="nutriADistancia">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/edit.svg" alt="Inscrição">
            </span>
            <span class="text bold">
                Inscrição
            </span>
        </p>

        <p class="extra-content-small-title">
            Para participar do programa, você deve preencher o questionário de inscrição
            e aguardar o nosso contato.
        </p>

        <a href="https://careplus.healthmap.com.br/ccadcliente?locale=pt-BR" target="_blank" class="btn btn-text small">
            INSCREVA-SE
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.3492 0.938082C11.1433 1.24975 11.187 1.70309 11.4477 1.94993L13.2895 3.69461L15.7088 6.28211L0.600826 6.28211C0.268769 6.28211 -2.39681e-07 6.60482 -2.25521e-07 7.00246C-2.11362e-07 7.40009 0.268769 7.7228 0.600826 7.7228L15.5578 7.7228L11.3604 12.0703C11.1097 12.3297 11.0812 12.7849 11.2983 13.086C11.5154 13.3871 11.8947 13.4203 12.1459 13.16L17.6218 7.48797C17.7528 7.35254 17.8285 7.15613 17.8301 6.94867C17.8301 6.94675 17.8301 6.94483 17.8301 6.94291C17.8301 6.73737 17.7572 6.54191 17.6294 6.40553L14.0621 2.592L12.1932 0.819944C11.9328 0.573104 11.5551 0.625931 11.3492 0.938082Z"
                    fill="#0079C8" />
            </svg>
        </a>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text bold">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais, envie um e-mail para: <a class="bold"
                href="mailto:governancaclinica@careplus.com.br">governancaclinica@careplus.com.br </a>
        </p>
    </div>
</app-info-section>

<section id="icare">
    <article>
        <div class="container">
            <div class="columns flex-wrap align-self-center">
                <div class="column is-5-desktop is-full">
                    <p class="small-title">
                        GESTÃO DE SAÚDE
                    </p>
                    <h4 class="big-title">
                        iCare
                    </h4>
                    <p class="sub-description">
                        O iCare é um canal de comunicação da Care Plus com objetivo de divulgar vídeos realizados por
                        nutricionistas, psicólogos e profissionais de saúde renomados sobre diferentes temas atuais e de
                        interesse.
                    </p>
                </div>

                <div class="column is-7-desktop is-full">
                    <app-slider *ngIf="width > 767" [sliderModel]="sliderModel"></app-slider>
                    <app-slider *ngIf="width < 768" [sliderModel]="sliderModel"></app-slider>
                </div>
            </div>
        </div>
    </article>
</section>

<app-icon-cards-section [iconCardsSectionModel]="iconCardsSectionModel"
    [backgroundColorClass]="'blue-background-color'"></app-icon-cards-section>

<app-careplus-plus></app-careplus-plus>