<app-simple-banner class="app-simple-banner" [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToSection('#orientacao-medica-24h')">
</app-simple-banner>
<app-info-section class="app-info-section" id="orientacao-medica-24h" [sectionInfo]="medicalOrientationSection">
    <div class="extra-content blue-background-color">

        <p class="extra-content-title">
            <span class="text is-marginless">
                Orientação médica pediátrica:
            </span>
        </p>
        <p class="extra-content-small-title">
            Até 14 anos
        </p>

        <p class="extra-content-title">
            <span class="text is-marginless">
                Orientação médica adulta:
            </span>
        </p>
        <p class="extra-content-small-title">
            A partir dos 15 anos
        </p>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Pelo telefone <a class="bold" href="tel:0800162992" title="0800 16 2992">0800 16 2992</a>
        </p>

    </div>
</app-info-section>

<app-info-section class="app-info-section" id="nutri-a-distancia" [sectionInfo]="nutriADistancia">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/edit.svg" alt="Inscrição">
            </span>
            <span class="text bold">
                Inscrição
            </span>
        </p>

        <p class="extra-content-small-title">
            Para participar do programa, você deve preencher o questionário de inscrição e aguardar o nosso contato.
        </p>

        <a rel="noopener noreferrer" href="https://careplus.healthmap.com.br/ccadcliente?locale=pt-BR" target="_blank" class="btn btn-digital-cian tertiary arrow-right medium" title="Inscreva-se">
            Inscreva-se
        </a>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text bold">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais, envie um e-mail para: <a class="bold" href="mailto:governancaclinica@careplus.com.br" title="governancaclinica@careplus.com.br">governancaclinica@careplus.com.br </a>
        </p>
    </div>
</app-info-section>

<section id="icare">
    <article>
        <div class="container">
            <div class="columns flex-wrap align-self-center">
                <div class="column is-5-desktop is-full">
                    <p class="small-title">
                        Serviços On-line
                    </p>
                    <h2 class="h4 big-title">
                        iCare
                    </h2>
                    <p class="sub-description">
                        O iCare é um canal de comunicação da Care Plus com objetivo de divulgar vídeos realizados por nutricionistas, psicólogos e profissionais de saúde renomados sobre diferentes temas atuais e de interesse.
                    </p>
                </div>

                <div class="column is-7-desktop is-full">
                    <app-slider class="app-slider" *ngIf="width > 767" [sliderModel]="sliderModel"></app-slider>
                    <app-slider class="app-slider" *ngIf="width < 768" [sliderModel]="sliderModel"></app-slider>
                </div>
            </div>
        </div>
    </article>
</section>

<app-icon-cards-section class="app-icon-cards-section" [iconCardsSectionModel]="iconCardsSectionModel" [backgroundColorClass]="'blue-background-color'"></app-icon-cards-section>