<app-banner [banners]="banners" [hasAnchor]="false" [breadcrumbs]="breadcrumbs"></app-banner>
<section id="careplusPlusFilters" class="is-paddingless">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column filter-box">
                    <div class="filters">
                        <form [formGroup]="filterForm">
                            <div class="columns flex-wrap">
                                <div class="column is-9-desktop is-full">
                                    <p class="filter-title">
                                        Filtros:
                                    </p>
                                    <ul class="category-filter">
                                        <li *ngFor="let category of categories">
                                            <a [class.active]="selectCategoryId == category.id"
                                                (click)="activeCategory(category.id)">
                                                {{category.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column is-3-desktop is-full">
                                    <div class="field">
                                        <p class="control has-icons-right">
                                            <input
                                                [ngClass]="{ 'is-valid': !form?.search?.errors, 'is-invalid' : form?.search.touched && form?.search.errors, 'is-touched': form?.search?.value?.length > 0 }"
                                                class="input" formControlName="search" name="search" type="text">
                                            <label class="label">Buscar</label>
                                            <span (click)="filter()" class="icon is-small is-right is-search">
                                                <img src="assets/svg/search.svg" alt="">
                                            </span>
                                        </p>
                                        <!-- <div *ngIf="form.search.touched" class="errors">
                                            <p *ngFor="let error of getErrors(form.search)" class="help is-danger">
                                                {{error}}
                                            </p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<app-highlight-post [post]="highLightPost"></app-highlight-post>
<app-last-posts [posts]="recentPosts"></app-last-posts>
<app-cross-content-section [crossContentModel]="crossContentModel"></app-cross-content-section>
<app-all-posts [posts]="allPosts" [allPostsLoaded]="allPostsLoaded" (loadMore)="loadMore()"></app-all-posts>

<app-social-posts></app-social-posts>