<app-simple-banner [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToNextSection()"></app-simple-banner>
<section #aboutPlusNetwork id="aboutPlusNetwork">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <div #boxInfos class="box-infos">
                        <p class="small-title">
                            Sobre a Rede Plus
                        </p>
                        <h4 class="big-title">
                            Conheça o nosso trabalho e traga sua carreira para a Care Plus
                        </h4>
                    </div>
                </div>
                <div class="column is-full is-6-desktop">
                    <p class="description no-margin">
                        Nossos talentos só crescem todos os dias e formamos um futuro ideal para todos.
                    </p>
                    <p class="sub-description">
                        A Care Plus se preocupa com os seus colaboradores e queremos oferecer o melhor para eles, nosso
                        time é composto de pessoas capacitadas para ajudar a sua carreira a decolar. Venha fazer parte
                        desse time e conheça nosso trabalho nesses 27 anos, criamos um ambiente capaz de te acolher de
                        todas as formas, com representatividade, diversidade e respeito por todos.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<app-a-careplus-video [videoModel]="videoModel" [backgroundColor]="'#0079C81A'"></app-a-careplus-video>
<app-info-section *ngFor="let infoSection of infoSections" [sectionInfo]="infoSection"></app-info-section>
<app-join-the-team [reverse]="true"></app-join-the-team>
<app-learn-more></app-learn-more>
<app-careplus-plus></app-careplus-plus>
<app-social-posts></app-social-posts>