<nav *ngIf="router.url != '/login'" class="navbar fixed-top navbar-light shadow bg-careplus">
    <a class="navbar-brand" routerLink="/neocms">
        <img class="img-logo-cms" src="assets/img/neocms-white.png" alt="NeoCMS">
    </a>
    <div>
        <!--
        <a class="navbar-item nav-tag">
            <span class="icon is-small">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span class="tag is-primary tag-notif">6</span>
        </a>
        -->
        <a href="javascript:void();" (click)="logOff()" class="navbar-item text-white text-right pt-5">
            <span class="icon is-small">
                <fa-icon [icon]="faPowerOff"></fa-icon>
            </span>
        </a>
        <!-- <img src="assets/img/deus.jpg" class="rounded-circle shadow user-img"> -->
    </div>
</nav>