<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is--brand" routerLink="/neocms" routerLinkActive="active">
            <img src="/assets/img/neocms-white.png" alt="NeoCMS">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navBarNeoCMS" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div *ngIf="usuario" class="navbar-end">
            <a class="navbar-item nav-tag">
                <span class="icon is-small">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                <span class="tag is-primary tag-notif">6</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <figure class="image is-32x32" style="margin-right:.5em;">
                        <img src="assets/img/deus.jpg" [alt]="usuario.nome">
                    </figure>
                    {{usuario.nome}}
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        <span class="icon is-small">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        &nbsp; Meu Cadastro
                    </a>
                    <hr class="navbar-divider">
                    <a (click)="logOff()" class="navbar-item">
                        <span class="icon is-small">
                            <fa-icon [icon]="faPowerOff"></fa-icon>
                        </span>
                        &nbsp; Desconectar
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>