@import "~src/assets/sass/variables";
@import "~src/assets/sass/styleguide";

#users {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    h1 {
      font-size: getSize("h2");
    }
    a {
      color: getColor(_bupa, _digital-cian);
      margin: auto 0;
    }
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: getColor(_bupa, _black);
      height: 1px;
      width: 100%;
    }
  }
  .createUser {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 15px;
    }
  }
  table {
    thead {
      background-color: getColor(_bupa, _grey-3);
    }
    tbody {
      cursor: pointer;
    }
    td {
      vertical-align: middle;
    }
  }
  button {
    padding: 10px 15px;
  }
  .load {
    width: 100%;
    display: flex;
    svg {
      margin: auto;
    }
  }
}

// .hidden {
//   display: none;
// }

// img.thumbnail-banner {
//   width     : 13rem;
//   box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
//   cursor    : pointer;
// }

// input.custom-control-input:checked~.custom-control-label::before {
//   color           : #fff;
//   border-color    : #1e7e34;
//   background-color: #1e7e34;
// }

// fa-icon.icon-action.ng-fa-icon {
//   color : #343a40;
//   cursor: pointer;
// }

// a.badge.badge-dark.shadow.p-3 {
//   position: absolute;
//   right   : 15px;
//   top     : 0px;
// }
