<app-banner [banners]="banners" [breadcrumbs]="breadcrumbs" [area]="'diferenciais'" [hasAnchor]="true"
    (slideToNextElement)="slideToSection()"></app-banner>
<section id="nossos-pilares" #sectionNossosPilares>
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <div class="our-pillars-box">
                        <h2 class="h4 big-title">
                            Nossos Pilares
                        </h2>
                        <p class="description">
                            Em tudo o que fazemos, nos dedicamos para que você tenha sempre o melhor. Por trás disso, há
                            muito carinho e paixão no cuidado com a saúde e bem estar.
                        </p>
                    </div>
                </div>
                <div class="column is-full is-6-desktop">
                    <div class="items">
                        <div class="item">
                            <p class="small-title">
                                Atendimento
                            </p>
                            <p class="description">
                                Entregar um Atendimento 360 e gerar muita confiança entre os Beneficiários é a chave do sucesso
                            </p>
                            <p class="sub-description">
                                APara a Care Plus, atender bem é muito mais do que ser cordial. Ter honestidade e tratar o próximo com educação é um dever
                            </p>
                        </div>
                        <div class="item">
                            <p class="small-title">
                                Acolhimento
                            </p>
                            <p class="description">
                                Estar sempre próximo aos beneficiários e parceiros é um dos valores mais importantes para nós
                            </p>
                            <p class="sub-description">
                                O acolhimento faz parte da nossa essência e assumimos a responsabilidade de cuidar da sua saúde e de quem você ama. Aqui, você nunca estará sozinho
                            </p>
                        </div>
                        <div class="item">
                            <p class="small-title">
                                Humanização
                            </p>
                            <p class="description is-bold">
                                Cuidado, carinho e tratamento humanizado são a nossa marca
                            </p>
                            <p class="sub-description">
                                O lado humano é nossa maior marca. Dedicamos os nossos esforços para que todos tenham uma vida mais saudável e feliz
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<app-a-careplus-video [videoModel]="videoModel" [backgroundColor]="'#0079C81A'"></app-a-careplus-video>
<app-profiles [backgroundColorClass]="'blue-background-color'"></app-profiles>
<app-careplus-plus></app-careplus-plus>