<app-banner [banners]="banners" [breadcrumbs]="breadcrumbs" [area]="'diferenciais'" [hasAnchor]="true"
    (slideToNextElement)="slideToSection()"></app-banner>
<section id="nossos-pilares" #sectionNossosPilares>
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full is-6-desktop">
                    <div class="our-pillars-box">
                        <h4 class="big-title">
                            Nossos Pilares
                        </h4>
                        <p class="description">
                            Em tudo o que fazemos, nos dedicamos para que você tenha sempre o melhor. Por trás disso, há
                            muito carinho e paixão no cuidado com a saúde e bem estar.
                        </p>
                    </div>
                </div>
                <div class="column is-full is-6-desktop">
                    <div class="items">
                        <div class="item">
                            <p class="small-title">
                                Atendimento
                            </p>
                            <p class="description">
                                93% dos participantes avaliam a experiência da Care Plus como ótima ou boa.
                            </p>
                            <p class="sub-description">
                                Atender bem é muito mais do que ser cordial. Ter honestidade e tratar o próximo com
                                educação é um dever. A Care Plus tem plena consciência disso e, por essa razão, é
                                extremamente rigorosa no que diz respeito ao atendimento. Para nós, atender bem é estar
                                disponível, esclarecer dúvidas, orientar os processos, ser ágil, mostrar empatia e
                                ajudar cada pessoa de um jeito único. O atendimento faz parte de toda a experiência em
                                saúde que a gente oferece com os nossos programas exclusivos, ampla rede credenciada e
                                facilidades digitais.
                            </p>
                        </div>
                        <div class="item">
                            <p class="small-title">
                                Acolhimento
                            </p>
                            <p class="description">
                                Proximidade
                            </p>
                            <p class="sub-description">
                                Quem procura soluções em saúde, precisa de amparo e proteção em todos os momentos. Seja
                                na realização de um simples exame ou consulta ou durante um tratamento longo e, muitas
                                vezes, difícil. Nesse sentido, a Care Plus estende a mão a todos os beneficiários,
                                empresas, corretores e credenciados. O acolhimento faz parte da nossa essência e
                                assumimos a responsabilidade de cuidar da sua saúde e de quem você ama. Aqui, você nunca
                                estará sozinho.
                            </p>
                        </div>
                        <div class="item">
                            <p class="small-title">
                                Humanização
                            </p>
                            <p class="description is-bold">
                                Cuidado e tratamento humano
                            </p>
                            <p class="sub-description">
                                O lado humano é nossa maior marca. Dedicamos os nossos esforços para que todos tenham
                                uma vida mais saudável e feliz. Além disso, para a Care Plus, os laços verdadeiros
                                contam muito e, por isso, procuramos manter relacionamentos próximos com beneficiários,
                                empresas, corretores e credenciados. Sabemos que alguns processos podem ser mais
                                burocráticos, mas enquanto pudermos, faremos de tudo para facilitar. Afinal, do outro
                                lado, sempre tem um pai, mãe, filho ou amigo que merecem toda a atenção e o melhor
                                cuidado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<app-a-careplus-video [videoModel]="videoModel" [backgroundColor]="'#0079C81A'"></app-a-careplus-video>
<app-profiles [backgroundColorClass]="'blue-background-color'"></app-profiles>
<app-careplus-plus></app-careplus-plus>