Options +FollowSymLinks -Multiviews -Indexes

AddType application/font-woff           .woff
AddType application/font-woff2          .woff2
AddType application/json                .json
AddType application/vnd.ms-fontobject   .eot
AddType application/x-font-opentype     .otf
AddType application/x-font-ttf          .ttf
AddType image/svg+xml                   .svg
AddType video/mp4                       .mp4
AddType video/ogg                       .ogv
AddType video/webm                      .webm

# Define tempos de expiração e compressão de conteúdo para o Apache
# Define política de CORS para fontes
<IfModule mod_headers.c>
    # 1 ANO
    ExpiresActive On
    <FilesMatch "\.(otf|ico|pdf|flv|svg|woff)$">
        Header set Cache-Control "max-age=29030400, public"
        ExpiresDefault "access plus 1 years"
        Header unset Last-Modified
        Header unset ETag
        SetOutputFilter DEFLATE
    </FilesMatch>

    # 1 MÊS
    <FilesMatch "\.(jpg|jpeg|png|gif|swf|mp4)$">
        Header set Cache-Control "max-age=2419200, public"
        ExpiresDefault "access plus 1 month"
        SetOutputFilter DEFLATE
    </FilesMatch>

    # 1 SEMANA
    <FilesMatch "\.(xml|txt|css|js)$">
        Header set Cache-Control "max-age=604800, public"
        ExpiresDefault "access plus 1 week"
        SetOutputFilter DEFLATE
    </FilesMatch>

    # 30 MIN
    <FilesMatch "\.(html|htm|php)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
    # Fim dos tempos de expiração e compressão

    # Define política de CORS para fontes
    <FilesMatch ".(eot|otf|svg|ttf|woff2|json?)$">
       Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

RewriteEngine on
RewriteBase /

# HTTP para HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-ARR-SSL} ^$
RewriteCond %{HTTP_HOST} !local$ [NC]
RewriteCond %{HTTP_HOST} !localhost$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [NE,L,R=301]

# Redirect all to index
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [QSA,L]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ /$1.html [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.html [QSA,L]