AuthType Basic
AuthName "Careplus Protected Area"
AuthUserFile /var/www/html/homolog/careplus.homolog.neotix.com.br/dist/browser/.htpasswd
Require valid-user

Options +FollowSymLinks -Multiviews -Indexes

AddType application/font-woff           .woff
AddType application/font-woff2          .woff2
AddType application/json                .json
AddType application/vnd.ms-fontobject   .eot
AddType application/x-font-opentype     .otf
AddType application/x-font-ttf          .ttf
AddType image/svg+xml                   .svg
AddType video/mp4                       .mp4
AddType video/ogg                       .ogv
AddType video/webm                      .webm

RewriteEngine on
RewriteBase /

# Redirect all to index
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [QSA,L]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ /$1.html [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.html [QSA,L]

<ifmodule mod_expires.c>
ExpiresActive On // shows the activation/deactivation of cache-control & expires headers
ExpiresDefault "access plus 1 month"
</ifmodule>
