<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RULE1" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/care-plus-empresarial.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos/empresarial" redirectType="Temporary"/>
        </rule>
        <rule name="RULE2" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE3" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-odontologicos/dental-prime-clinic.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE4" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/nossos-diferenciais/credenciado.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/diferenciais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE5" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/fale-conosco/contato.aspx" />
            </conditions>
            <action type="Redirect" url="/fale-conosco/contato" redirectType="Temporary"/>
        </rule>
        <rule name="RULE6" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/nossos-diferenciais/beneficiario.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/diferenciais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE7" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-odontologicos/nossos-produtos.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE8" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-odontologicos/default.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE9" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-odontologicos/nossos-diferenciais.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE10" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/soho.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos/soho" redirectType="Temporary"/>
        </rule>
        <rule name="RULE11" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/institucional.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE12" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/ocupacional" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos/medicina-ocupacional" redirectType="Temporary"/>
        </rule>
        <rule name="RULE13" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/biblioteca-da-saude/gestacao.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE14" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/care-plus-200.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos/clube-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE15" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/nossos-diferenciais/corretor.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/diferenciais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE16" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/mobile.aspx" />
            </conditions>
            <action type="Redirect" url="/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE17" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/missao-visao-valores.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE18" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/nossos-diferenciais/gestor-rh.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/diferenciais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE19" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/reajuste-de-contratos.aspx" />
            </conditions>
            <action type="Redirect" url="/planos-e-produtos" redirectType="Temporary"/>
        </rule>
        <rule name="RULE20" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/nossos-diferenciais.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/diferenciais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE21" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/dl/RN_389anexo.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE22" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/biblioteca-da-saude/alimentacao.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE23" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/Atendimento-Presencial-Care-Plus.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE24" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/resultados-financeiros.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/resultados-financeiros" redirectType="Temporary"/>
        </rule>
        <rule name="RULE25" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/H1N1_INFO_V02 - CI.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE26" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/coronavirus/files/guia-de-vigilancia-2020.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE27" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/biblioteca-da-saude/atividade-fisica.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE28" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/fale-conosco/visita.aspx" />
            </conditions>
            <action type="Redirect" url="/fale-conosco/contato" redirectType="Temporary"/>
        </rule>
        <rule name="RULE29" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/Contratos-reajuste-coletivo_Pool-RN-309_052014-a-042015.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE30" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/politica-privacidade.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus/politica-de-privacidade" redirectType="Temporary"/>
        </rule>
        <rule name="RULE31" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/fale-conosco/imprensa.aspx" />
            </conditions>
            <action type="Redirect" url="/fale-conosco/contato" redirectType="Temporary"/>
        </rule>
        <rule name="RULE32" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/pesquisa-satisfacao.aspx" />
            </conditions>
            <action type="Redirect" url="/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE33" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/RELACAO-DOS-CONTRATOS-COLETIVOS-DO-POOL-DE-RISCO-2019.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE34" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/coronavirus/files/BE6-Boletim-Especial-do-COE.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE35" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/Contratos-reajuste-coletivo_Pool-RN-309_052013-a-042014.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE36" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/RELACAO-DOS-CONTRATOS-COLETIVOS-DO-POOL-DE-RISCO-2018.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE37" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/biblioteca-da-saude/doencas.aspx" />
            </conditions>
            <action type="Redirect" url="/careplus-mais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE38" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/Reajuste-Pool-RN309-de-052015-a-042016_site.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE39" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/Pesquisa_de_Satisfação_ANS_Care_Plus_IDSS_2020_Base_2019_v2.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE40" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/RELACAO-DOS-CONTRATOS-COLETIVOS-DO-POOL-DE-RISCO-2017.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE41" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/Cuco.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE42" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/biblioteca-da-saude/ferramentas.aspx" />
            </conditions>
            <action type="Redirect" url="/a-careplus" redirectType="Temporary"/>
        </rule>
        <rule name="RULE43" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/Pesquisa_de_Satisfação_ANS_Care_Plus-2020_(Base_2019).pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE44" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/d-b.aspx" />
            </conditions>
            <action type="Redirect" url="/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE45" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/RELACAO-DOS-CONTRATOS-COLETIVOS-DO-POOL-DE-RISCO-2020.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE46" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/FJB_20-CARE_PLUS-Parecer_de_Auditoria_170.pdf" />
            </conditions>
            <action type="Redirect" url="a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE47" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/DL/20160505-comunicado-interno.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE48" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/planos-de-saude/DL/RELACAO-DOS-CONTRATOS-COLETIVOS-DO-POOL-DE-RISCO-2016.pdf" />
            </conditions>
            <action type="Redirect" url="/a-careplus/materiais" redirectType="Temporary"/>
        </rule>
        <rule name="RULE49" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/canaldenuncias" />
            </conditions>
            <action type="Redirect" url="https://www8.careplus.com.br/portal/portal/modulos/home/canalDenuncias.aspx" redirectType="Temporary"/>
        </rule>
        <rule name="RULE50" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/comercial" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/comercial" redirectType="Temporary"/>
        </rule>
        <rule name="RULE51" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/contrato" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/contrato" redirectType="Temporary"/>
        </rule>
        <rule name="RULE52" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/funcionarios" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/funcionarios" redirectType="Temporary"/>
        </rule>
        <rule name="RULE53" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/intcp" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/portal/intcp/default.aspx" redirectType="Temporary"/>
        </rule>
        <rule name="RULE54" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/intranet/indicador" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/intranet/indicador" redirectType="Temporary"/>
        </rule>
        <rule name="RULE55" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/mgm" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/mgm" redirectType="Temporary"/>
        </rule>
        <rule name="RULE56" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/microsoft" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/microsoft" redirectType="Temporary"/>
        </rule>
        <rule name="RULE57" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/opcionais-cp" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/opcionais-cp" redirectType="Temporary"/>
        </rule>
        <rule name="RULE58" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/opcionais-p" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/opcionais-p" redirectType="Temporary"/>
        </rule>
        <rule name="RULE59" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/pa" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/relacionamento/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE60" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/pd" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/pd/md/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE61" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/pd/md" />
            </conditions>
            <action type="Redirect" url="http://www4.careplus.com.br/pd/md/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE62" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/personalsystem" />
            </conditions>
            <action type="Redirect" url="http://www9.personalsystem.med.br/personalsystem/index.aspx" redirectType="Temporary"/>
        </rule>
        <rule name="RULE63" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/personalsystem/personalsystem/psystem" />
            </conditions>
            <action type="Redirect" url="http://www4.personalsystem.med.br/personalsystem/psystem/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE63" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/relacionamento" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/relacionamento" redirectType="Temporary"/>
        </rule>
        <rule name="RULE63" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/soho" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/soho/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE63" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/soho/corretor" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/soho/" redirectType="Temporary"/>
        </rule>
        <rule name="RULE63" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="/soho/admin" />
            </conditions>
            <action type="Redirect" url="http://www8.careplus.com.br/soho/admin/login.aspx" redirectType="Temporary"/>
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
