@import "~src/scss/_variables";
@media (max-width: 1770px) {
    .footer {
        .site-map-ancor {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1399px) {
    .footer {
        padding-bottom: 16px !important;
        .site-map {
            .certificacoes {
                a {
                    margin: 0;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-top: 10px;
                    width: 117px;
                }
                img,
                svg {
                    width: 100%;
                }
            }
            .stores {
                a {
                    margin: 0;
                    margin-left: 0 !important;
                    margin-top: 10px;
                }
                img {
                    width: 100%;
                }
            }
            .ans {
                a {
                    margin: 0;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-top: 10px;
                    flex: 0 0 100%;
                }
            }
        }
    }
}

@media (max-width: 61.938rem) {
    .is-hidden-down-tablet {
        display: none !important;
        visibility: hidden;
    }
}

@media (min-width: 62rem) {
    .is-hidden-up-tablet {
        display: none !important;
    }
    .footer {
        padding: 52px 75px 60px 75px !important;
    }
}

.mobile-sitemap {
    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 110px;
    right: -100%;
    z-index: 10;
    padding: 32px 16px;
    overflow: auto;
    transition: all 0.4s ease-in-out;
    &.open {
        right: 0;
    }
    div {
        height: 210%;
    }

    .h3 {
        text-align: left;
        font-size: 24px;
        color: #00335b;
        position: relative;
        margin-bottom: 40px;

        &::after {
            content: "";
            width: 145px;
            position: absolute;
            height: 4px;
            bottom: -16px;
            left: 0;
            background: #0079c8;
        }
    }
    .times-icon {
        right: 40px;
        top: 55px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        position: absolute;
        .lines{
            .first-line {
                position: absolute;
                left: 0;
                align-self: center;
                width: 28px;
                height: 2px;
                background-color: getColor(_bupa, _digital-cian);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            .second-line {
                position: absolute;
                left: 0;
                align-self: center;
                width: 28px;
                height: 2px;
                background-color: getColor(_bupa, _digital-cian);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

    }

    ul {
        text-align: left;
        list-style: none;
        margin: 24px 0;

        strong {
            font-size: 20px;
            color: #00335b;
            font-weight: 500;
            a{
                color: #00335b;
            }
        }

        a {
            color: #333333;
        }

        li {
            margin: 16px 0;
        }

        li + li {
            margin: 8px 0;
        }
        &:last-of-type {
            margin-bottom: 200px;
        }
    }
}

.footer {
    padding: 52px 75px 0;
    background: getColor(_bupa, _navy);
    position: relative;
    @media (max-width: 61.938rem) {
        padding: 0;
    }
    &:before {
        background: linear-gradient(to right, #cdecfd 0%, getColor(_bupa, _digital-cian) 100%);
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        left: 0;
        top: 0;
    }
    .last-divider {
        margin: 0;
    }
    hr {
        background-color: getColor(_bupa, _grey-3);
        margin: 1.625rem 0;
        @media (max-width: 61.938rem) {
            margin: 0;
        }
    }
    a {
        color: getColor(_bupa, _white);
        &.bottom {
            margin-top: 3.75rem;
            display: block;
            max-width: 140px;
        }
    }
    p,
    .heading5 {
        color: getColor(_bupa, _white);
    }
    .heading5.subtitle {
        font-weight: 500;
        white-space: nowrap;
        font-size: getSize("p");
        line-height: getLineHeight("p");
        color: getColor(_bupa, _white);
    }
    a.subtitle {
        font-weight: 500 !important;
        white-space: nowrap;
        font-size: getSize("p") !important;
        line-height: getLineHeight("p") !important;
        color: getColor(_bupa, _white);
        cursor: pointer;
    }
    .buttons {
        padding: 0 15px;
        padding-top: 28px;
        margin-bottom: 0;
        align-items: stretch;
        @media (min-width: 62rem) {
            display: none;
        }

        ::ng-deep .app-card .card {
            display: flex;
            a {
                align-self: center;
            }
        }
    }
    .certifications {
        padding: 0 15px 22px 15px;
        margin-top: 10px;
        p {
            text-align: left;
            color: getColor(_bupa, _white);
            margin-bottom: 14px;
        }
        .certifications-images {
            display: flex;
            flex-wrap: wrap;
            img {
                width: 89px;
                flex: 0 0 89px;
                margin: 11px 10px;
                &:first-child {
                    margin-left: 0px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &.trust-sign {
                    mix-blend-mode: screen;
                }
            }
        }
    }
    .privacy-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 16px;

        a {
            font-size: 14px;
        }

        ul {
            margin-left: 0;
            li {
                color: #fff;
                font-size: 14px;
                margin: 0;
                margin-left: 1.625rem;
            }
        }
    }
    .sitemap-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 0 16px;
        margin-top: 32px;

        a {
            margin-right: 16px;
            font-size: 14px;
        }

        a + a {
            margin-right: 0;
            margin-left: 16px;
        }
    }

    .entre-em-contato {
        white-space: nowrap;
        font-style: normal;
        font-weight: 500;
        font-size: getSize("mbt");
        line-height: getLineHeight("mbt");
        display: flex;
        align-items: center;
        color: getColor(_bupa, _white);
    }
    .atendimento {
        font-style: normal;
        font-weight: normal;
        font-size: getSize("sbm");
        line-height: 200%;
        display: flex;
        align-items: center;
        color: getColor(_bupa, _white);
        &.presencial {
            font-size: getSize("p");
            line-height: getLineHeight("p");
        }
    }
    .telefone {
        font-style: normal;
        font-weight: 500;
        font-size: getSize("p");
        line-height: 120%;
        display: flex;
        align-items: center;
        color: getColor(_bupa, _white);

        &.second {
            margin-top: 10px;
        }
    }
    .horario-atendimento {
        font-weight: bold;
        font-size: getSize("p");
        line-height: getLineHeight("p");
        display: flex;
        align-items: center;
        max-width: 213px;
    }
    .consulte-endereco {
        font-weight: normal;
        font-size: getSize("p");
        line-height: getLineHeight("p");
        display: flex;
        align-items: center;
        text-decoration-line: underline;
    }
    .site-map {
        text-align: left;
        margin-bottom: 3%;
        a {
            font-weight: normal;
            font-size: getSize("sbm");
            line-height: 200%;
        }

        .m-t-30 {
            margin-top: 30px;
        }

        .certificacoes {
            display: flex;
            flex-wrap: wrap;
            p {
                width: 100%;
                flex: 0 0 100%;
            }
            a {
                display: inline-block;
                align-self: flex-end;
                margin-left: 20px;
                margin-right: 6px;
                line-height: 100%;
                &:nth-child(2) {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                img {
                    &.trust-sign {
                        mix-blend-mode: screen;
                    }
                }

                span#siteseal {
                    height: 54px;
                    display: block;
                }
            }
        }
        .stores {
            display: flex;
            flex-wrap: wrap;
            p {
                width: 100%;
                flex: 0 0 100%;
                margin-bottom: 31px;
            }
            a {
                align-self: flex-end;
                display: inline-block;
                margin-left: 6px;
                margin-right: 6px;
                line-height: 100%;
                position: relative;
                width: 121px;
                height: 36px;
                &:nth-child(2) {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                img {
                    width: 121px;
                    height: 36px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        .social-media {
            display: flex;
            flex-wrap: wrap;
            p {
                width: 100%;
                flex: 0 0 100%;
                margin-bottom: 3rem;
            }
            a {
                margin: 0;
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 0px;
                flex: 0 0 25%;
                line-height: 100%;
                position: relative;
                align-self: flex-end;
                svg {
                    margin: 0 auto;
                    display: block;
                    max-width: 16px;
                    position: absolute;
                    bottom: 0;
                    height: auto;
                    left: 0;

                    &.youtube {
                        margin-top: -3px;
                    }
                }
            }
        }
        .ans {
            align-self: flex-end;
            display: flex;
            flex-wrap: wrap;
            p {
                width: 100%;
                flex: 0 0 100%;
            }
            a {
                align-self: center;
                display: block;
                line-height: 100%;
                cursor: initial;
                &:not(.btn-ans) {
                    width: 100%;
                    flex: 0 0 100%;
                    img {
                        width: 138px;
                    }
                }
                &.btn-ans {
                    border-top: groove 2px getColor(_bupa, _white);
                    border-left: groove 2px getColor(_bupa, _white);
                    border-bottom: ridge 2px getColor(_bupa, _white);
                    border-right: ridge 2px getColor(_bupa, _white);
                    display: inline-block;
                    padding: 3px 20px;
                    background: #616161;
                    text-align: center;
                    text-transform: uppercase;
                    color: getColor(_bupa, _white);
                    font-size: 11px;
                    margin-top: 10px;
                }
            }
        }
    }
    .careplus-dados-rodape {
        padding-top: 1rem;
        * {
            font-weight: normal;
            font-size: getSize("sbm");
            line-height: getLineHeight("sbm");
            display: flex;
            align-items: center;
        }
        a {
            font-style: normal;
            font-weight: normal;
            font-size: getSize("sbm");
            line-height: getLineHeight("sbm");
            display: flex;
            align-items: center;
            color: getColor(_bupa, _white);
            background: transparent;
            border: none;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .by-neotix {
            justify-content: flex-end;
            font-style: normal;
            font-weight: normal;
            font-size: getSize("sbm");
            line-height: getLineHeight("sbm");
            display: flex;
            align-items: center;
            color: getColor(_bupa, _white);
            padding: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            p {
                width: 100%;
                text-align: center;
                display: block;
            }
        }
        .careplus {
            p {
                font-style: normal;
                font-weight: normal;
                font-size: getSize("sbm");
                line-height: getLineHeight("sbm");
                color: getColor(_bupa, _white);
            }
        }
    }
    .site-map-closed {
        font-style: normal;
        font-weight: 500;
        font-size: getSize("p");
        line-height: getLineHeight("p");
        display: flex;
        align-items: center;
        color: getColor(_bupa, _white);
        svg {
            transition: transform 0.5s;
            -webkit-transition: 0.5s;
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        ::ng-deep .app-card {
            .content {
                padding-top: 0px;
                .card {
                    padding: 11px 11px 11px 11px !important;
                    img {
                        width: 40px !important;
                        height: 20px !important;
                        left: 16px !important;
                        top: -11px !important;
                    }
                }
            }
        }
        .certifications {
            padding: 0 30px 22px 30px;
            .certifications-images {
                margin: 0 -10px;
                img {
                    &:first-child {
                        margin-left: 10px;
                    }
                    &:last-child {
                        margin-right: 10px;
                    }
                }

                a {
                    &.btn-ans {
                        border-top: groove 2px getColor(_bupa, _white);
                        border-left: groove 2px getColor(_bupa, _white);
                        border-bottom: ridge 2px getColor(_bupa, _white);
                        border-right: ridge 2px getColor(_bupa, _white);
                        display: table;
                        padding: 3px 20px;
                        background: #616161;
                        text-align: center;
                        text-transform: uppercase;
                        color: getColor(_bupa, _white);
                        font-size: 11px;
                        margin-top: 5px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .careplus-dados-rodape {
            .by-neotix {
                p {
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                }
            }
            .careplus {
                p {
                    font-size: getSize("p");
                    line-height: getLineHeight("p");
                }
            }

            hr {
                &.last-divider {
                    margin: 16px 0;
                }
            }
        }
    }
}
