<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cadastrar nova notícia
            </h1>
        </div>
    </div>
</section>
<form [formGroup]="noticiaForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Título</label>
                        <div class="control">
                            <input formControlName="titulo" class="input" type="text" placeholder=""
                                [ngClass]="{ 'is-success': submitted && !f.titulo.errors, 'is-danger' : submitted && f.titulo.errors }">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.titulo)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Subtítulo</label>
                        <div class="control">
                            <input
                                [ngClass]="{ 'is-success': submitted && !f.subtitulo.errors, 'is-danger' : submitted && f.subtitulo.errors }"
                                formControlName="subtitulo" class="input" type="text" placeholder="">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.subtitulo)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Descrição Prévia</label>
                <div class="control">
                    <textarea formControlName="descricaoPrevia"
                        [ngClass]="{ 'is-success': submitted && !f.descricaoPrevia.errors, 'is-danger' : submitted && f.descricaoPrevia.errors }"
                        class="textarea" placeholder="" rows="5"></textarea>
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.descricaoPrevia)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label labelTeste">Quando será publicado?</label>
                        <div class="control"
                            [ngClass]="{ 'is-success': submitted && !f.dataPublicacao.errors, 'is-danger' : submitted && f.dataPublicacao.errors }">
                            <input id="dataPublicacao" formControlName="dataPublicacao" class="input data" type="date"
                                placeholder="Selecione uma data">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataPublicacao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Quando deverá ser removido?</label>
                        <div class="control">
                            <input id="dataExpiracao" formControlName="dataExpiracao"
                                [ngClass]="{ 'is-success': submitted && !f.dataExpiracao.errors, 'is-danger' : submitted && f.dataExpiracao.errors }"
                                class="input" type="date" placeholder="Selecione uma data">
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.dataExpiracao)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Qual o tipo da notícia?</label>
                        <div class="control">
                            <div class="select"
                                [ngClass]="{ 'is-success': submitted && !f.noticiaTipoId.errors, 'is-danger' : submitted && f.noticiaTipoId.errors }">
                                <select formControlName="noticiaTipoId">
                                    <option value="">Selecione..</option>
                                    <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.descricao}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(f.noticiaTipoId)" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Imagem</label>
                        <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file"
                                    (change)="updateFileName($event.srcElement.files)">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <fa-icon [icon]="faUpload"></fa-icon>
                                    </span>
                                    <span class="file-label">
                                        Escolha um arquivo…
                                    </span>
                                </span>
                                <span class="file-name">
                                    {{arquivoNome}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <section class="hero is-small">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="subtitle">
                            Tags
                        </h2>
                        <div class="tags are-medium">
                            <span (click)="toggleTag(tag)" *ngFor="let tag of resultTags" class="tag is-clickable"
                                [ngClass]="{'is-success' : tag.selected, 'is-danger' : !tag.selected}">
                                {{tag.descricao}}
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero is-small">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="subtitle">
                            Blocos
                        </h2>
                    </div>
                </div>
            </section>
            <div class="notification" *ngFor="let bloco of blocos.controls; let i=index" formArrayName="bloco">
                <button *ngIf="blocos.controls.length > 1" class="delete" type="button"
                    (click)="removeBloco(i)"></button>
                <div [formGroupName]="i">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Título</label>
                                <div class="control">
                                    <input formControlName="titulo"
                                        [ngClass]="{ 'is-success': submitted && !bloco.get('titulo').errors, 'is-danger' : submitted && bloco.get('titulo').errors }"
                                        class="input" type="text" placeholder="">
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(bloco.get('titulo'))" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">SubTítulo</label>
                                <div class="control">
                                    <input formControlName="subtitulo"
                                        [ngClass]="{ 'is-success': submitted && !bloco.get('subtitulo').errors, 'is-danger' : submitted && bloco.get('subtitulo').errors }"
                                        class="input" type="text" placeholder="">
                                </div>
                                <div *ngIf="submitted" class="errors">
                                    <p *ngFor="let error of getErrors(bloco.get('subtitulo'))" class="help is-danger">
                                        {{error}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Descrição</label>
                        <ckeditor formControlName="descricao"
                            [ngClass]="{ 'is-success': submitted && !bloco.get('descricao').errors, 'is-danger' : submitted && bloco.get('descricao').errors }">
                        </ckeditor>
                        <div *ngIf="submitted" class="errors">
                            <p *ngFor="let error of getErrors(bloco.get('descricao'))" class="help is-danger">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="field">
                <div class="control">
                    <button type="button" (click)="addBloco()" class="button is-link">
                        Adicionar Bloco &nbsp;
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <button routerLink="/neocms/noticia/index" routerLinkActive="active" class="button is-light"
                    type="button">
                    Fechar &nbsp;
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </p>
            <p class="card-footer-item">
                <button class="button is-primary" type="submit">
                    Gravar &nbsp;
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </p>
        </footer>
    </div>
</form>