<section class="section home-banner no-margin">
    <div class="carousel" id="carousel-banner">
        <div class="stepper" *ngIf="banners.length > 1">
            <div class="play-carrousel">
                <div class="play" (click)="toggleBannerPercentage()"
                    [ngClass]="[stopped ? 'stopped' : '', loading ? 'loading' : '']">
                    <svg id="svg" width="34" height="34" viewPort="0 0 17 17" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="17" cy="17" r="15" fill="transparent" stroke-dasharray="94" stroke-dashoffset="94">
                        </circle>
                        <circle #circlePercentage id="bar" cx="17" cy="17" r="15" stroke="#F1EFEB" fill="transparent"
                            stroke-dasharray="94" stroke-dashoffset="94"></circle>
                    </svg>
                </div>
                <ul class="steps">
                    <li class="step" *ngFor="let banner of banners; let i = index;" [class.active]="banner.slideAtual"
                        (click)="setCurrentSlide(i)">

                    </li>
                </ul>
            </div>
        </div>
        <div *ngFor="let banner of banners; let i = index;" class="item"
            [ngStyle]="{ 'background-image': 'url(' + (width > 1023 ? banner?.caminhoCompletoDesktop : banner?.caminhoCompletoMobile) + ') '}"
            [ngClass]="[banner?.firstInteraction ? 'firstInteraction' :  '', banner?.slideAtual ? 'active' : '']"
            [@slider]="banner.bannerState" (@slider.done)="captureDoneEvent($event)" [attr.index]="i">

            <div class="container breadcrumb-container" *ngIf="breadcrumbs && breadcrumbs?.length > 0">
                <div class="columns breadcrumb">
                    <div class="column is-paddingless-vertical">
                        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="columns">
                    <div class="column is-6 banner-home-description">
                        <h1 *ngIf="banner?.titulo && banner.slideAtual"
                            class="h3 banner-title">
                            {{ banner.titulo }}
                        </h1>
                        <h2 *ngIf="banner?.titulo && !banner.slideAtual"
                            class="h3 banner-title">
                            {{ banner.titulo }}
                        </h2>
                        <p *ngIf="banner?.subtitulo" class="banner-content">
                            {{ banner.subtitulo }}
                        </p>

                        <!-- Button with routerLink -->
                        <a *ngIf="banner?.rota && banner?.linkExterno == '0'"
                            [routerLink]="banner?.rota" [fragment]="banner?.ancora" [attr.title]="banner?.nomeLink"
                            class="btn btn-digital-cian primary medium is-hidden-touch">
                            {{banner?.nomeLink}}
                        </a>

                        <a *ngIf="banner?.rota && banner?.linkExterno == '0'"
                            [routerLink]="banner?.rota" [fragment]="banner?.ancora" [attr.title]="banner?.nomeLink"
                            class="btn btn-white-to-digital-cian primary medium is-hidden-desktop">
                            {{banner?.nomeLink}}
                        </a>

                        <!-- Button with  -->
                        <a *ngIf="banner?.linkExterno == '1' && banner?.link"
                            [href]="banner?.link" target="_blank" [attr.title]="banner?.nomeLink"
                            class="btn btn-digital-cian primary medium is-hidden-touch">
                            {{banner?.nomeLink}}
                        </a>

                        <a *ngIf="banner?.linkExterno == '1' && banner?.link"
                            [href]="banner?.link" target="_blank" [attr.title]="banner?.nomeLink"
                            class="btn btn-white-to-digital-cian primary medium is-hidden-desktop">
                            {{banner?.nomeLink}}
                        </a>
                    </div>
                </div>
            </div>

            <img *ngIf="hasAnchor" class="mouse-icon" src="assets/svg/mouse.svg" (click)="slideToNextElement.emit()"
                alt="Mouse Down">
        </div>
    </div>
</section>