<div class="card my-2" id="card-header">
    <div class="card-body">
        <div class="row">
            <div class="link-title">
                <a [routerLink]="['/neocms/posts-blog/index']">
                    <img class="arrow-return" src="assets/img/arrow.png" alt="">
                    <span class="title-banner">Posts mais lidos</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="content marging-box my-5">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card">
            <table class="table table-hover text-nowrap">
                <thead class="">
                    <th class="col-md-6 w-25 text-center">Título do Post</th>
                    <th class="col-md-6 w-25 text-center">Vizualizações</th>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="posts.length == 0 && !loaded" colspan="6">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="posts.length == 0 && loaded" colspan="6">
                            Não há posts cadastrados
                        </td>
                    </tr>
                    <tr
                        *ngFor="let post of posts | paginate: { itemsPerPage: contador, currentPage: paginaAtual, totalItems: count }">
                        <td class="col-md-2 w-25 text-center">
                            {{post.titulo}}
                        </td>
                        <td class="col-md-2 w-25 text-center text-truncate">
                            {{post.vizualizacoes}}
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <pagination-controls class="bg-dark" (pageChange)="onPageChange($event)"
                            previousLabel="Anterior" nextLabel="Próximo">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>