<section class="is-diferencial" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column left-column is-hidden-touch" [class.active]="differential.active"
                    *ngFor="let differential of differentials; let i = index;">
                    <img [src]="differential.image"
                        [alt]="'Diferenciais de ' + differentials[currentDifferential]?.title" />
                    <a *ngIf="getScreenWidth >= 1023" routerLink="/a-careplus/diferenciais" title="Conheça nossos Diferenciais"
                        class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                        Conheça nossos Diferenciais
                    </a>
                </div>
                <div class="column has-divider is-hidden-touch">
                    <hr class="bupa-divider" />
                </div>
                <div class="column right-column">
                    <p class="small-title">
                        Diferenciais da Care Plus
                    </p>

                    <!-- h1 -->
                    <h1 *ngIf="htag == 'h1'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h1>

                    <!-- h2 -->
                    <h2 *ngIf="htag == 'h2'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h2>

                    <!-- h3 -->
                    <h3 *ngIf="htag == 'h3'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h3>

                    <!-- h4 -->
                    <h4 *ngIf="htag == 'h4'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h4>

                    <!-- h5 -->
                    <h5 *ngIf="htag == 'h5'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h5>

                    <!-- h6 -->
                    <h6 *ngIf="htag == 'h6'" class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h6>

                    <div class="is-hidden-desktop mobile-image" [class.active]="differential.active"
                        *ngFor="let differential of differentials; let i = index;">
                        <a *ngIf="getScreenWidth < 1023" routerLink="/a-careplus/diferenciais" title="Conheça nossos Diferenciais"
                            class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop">
                            Conheça nossos Diferenciais
                        </a>
                    </div>
                    <div class="accordion-wrapper">
                        <div class="accordion-item open" [class.active]="differential.active"
                            *ngFor="let differential of differentials; let i = index;">
                            <div class="height-percentage"></div>
                            <p class="accordion-item-heading" [class.active]="differential.active"
                                (click)="activate(i)">
                                {{differential.title}}
                            </p>
                            <div class="accordion-item-content" #accordionContent
                                [style.height.px]="differential.active ? accordionContent.scrollHeight : 0"
                                [class.active]="differential.active">
                                <p>
                                    {{differential.content}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
