<section class="is-diferencial" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column left-column is-hidden-touch" [class.active]="differential.active" *ngFor="let differential of differentials; let i = index;">
                    <img [src]="differential.image" [alt]="'Diferenciais de ' + differentials[currentDifferential]?.title"/>
                    <a routerLink="/a-careplus/diferenciais" title="Conheça nossos Diferenciais" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                        Conheça nossos Diferenciais
                    </a>
                </div>
                <div class="column has-divider is-hidden-touch">
                    <hr class="bupa-divider" />
                </div>
                <div class="column right-column">
                    <p class="small-title">
                        Diferenciais da Care Plus
                    </p>
                    <h3 class="h4 big-title">
                        3 das 5 empresas mais valiosas do mundo escolhem a Care Plus
                    </h3>
                    <div class="is-hidden-desktop mobile-image" [class.active]="differential.active" *ngFor="let differential of differentials; let i = index;">
                        <a routerLink="/a-careplus/diferenciais" title="Conheça nossos Diferenciais" class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop">
                            Conheça nossos Diferenciais
                        </a>
                    </div>
                    <div class="accordion-wrapper">
                        <div class="accordion-item open" [class.active]="differential.active"
                            *ngFor="let differential of differentials; let i = index;">
                            <div class="height-percentage"></div>
                            <h4 class="accordion-item-heading" [class.active]="differential.active"
                                (click)="activate(i)">
                                {{differential.title}}
                            </h4>
                            <div class="accordion-item-content" #accordionContent [style.height.px]="differential.active ? accordionContent.scrollHeight : 0" [class.active]="differential.active">
                                <p>
                                    {{differential.content}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
