<div class="card my-2" id="card-header">
  <div class="card-body">
    <div class="row">
      <div class="link-title">
        <a [routerLink]="['/neocms']">
          <img class="arrow-return" src="./../../../../assets/img/arrow.png" alt="">
          <span class="title-banner">Banners</span>
        </a>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-novo-post" routerLink="/neocms/banner/create"
          routerLinkActive="active">Novo Banner</button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table id="bannerTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">Imagem</th>
              <th scope="col" class="text-center">Título</th>
              <th scope="col" class="text-center">Ativo</th>
              <th scope="col" class="text-center">Area</th>
              <th scope="col" class="text-center">Cadastrado em:</th>
              <th scope="col" class="text-center">Tempo de Exibição</th>
              <th scope="col" class="text-center">Ação</th>
            </tr>
          </thead>
          <tbody>
            <td *ngIf="banners.length == 0 && !loaded" colspan="6">
              <progress class="progress is-large is-info" max="100">60%</progress>
            </td>
            <td class="has-text-centered" *ngIf="banners.length == 0 && loaded" colspan="6">
              Não há banners cadastrados
            </td>
            <tr *ngFor="let banner of banners | paginate: { itemsPerPage: contador, currentPage: paginaAtual }"
              class="table-cell text-center">
              <td class="hidden">{{banner.id}}</td>
              <td class="">
                <a [routerLink]="[ './edit', banner.id]" routerLinkActive="active ">
                  <img class="thumbnail-banner"
                    src="{{banner.caminhoDesktop + pathDivision + banner.nomeImagemDesktop}}">
                </a>


              </td>
              <td class="py-3 align-middle text-center">
                {{banner.titulo}}
              </td>
              <td class="py-3 align-middle text-center">
                <div class="custom-control custom-switch">

                  <input type="checkbox" class="custom-control-input" [ngModel]="banner.ativo">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </td>
              <td class="py-3 align-middle text-center">
                {{banner.area}}
              </td>
              <td class="py-3 align-middle text-center">
                {{banner.dataCadastro | date: 'dd/MM/yyyy'}}
              </td>
              <td class="py-3 align-middle text-center">
                <span class="badge badge-dark shadow-sm p-2">{{banner.tempoExibicao}} milissegundos</span>
              </td>

              <td class="py-3 align-middle text-center">
                <a [routerLink]="[ './edit', banner.id]" routerLinkActive="active" title="Editar">
                  <fa-icon class="icon-action" [icon]="faPencilAlt"></fa-icon>
                </a>
                <a class="text-right text-danger" (click)="openModal(template)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </a>
                <ng-template #template>
                  <div class="modal-body text-center">
                    <fa-icon class="trash-icon" [icon]="faTrash"></fa-icon>
                    <p>Deseja exluir o banner: <span class="tag-descricao-del">{{banner.titulo}}</span>?</p>
                    <button type="button" class="btn btn-default" (click)="confirm(banner.id)">Sim</button>
                    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-banner-delete *ngIf="showBannerDelete" [banner]="banner" (onClose)="getBanners()"></app-banner-delete>
