<section id="contact-schedule-a-visit" [ngClass]="backgroundColorClass">
    <article>
        <div class="container">
            <h4 class="big-title">{{bigTitle}}</h4>
            <div class="columns cards flex-wrap">
                <div class="column is-6">
                    <app-card [card]="firstCard" (click)="open(firstCard)"></app-card>
                </div>
                <div class="column is-6">
                    <app-card [card]="secondCard" (click)="open(secondCard)"></app-card>
                </div>
            </div>
        </div>
    </article>
</section>