@import "~src/scss/_variables";
section#contact-schedule-a-visit {
    .container {
        max-width: 55rem;
        .big-title {
            text-align: center;
            margin: 0 auto;
        }
        .cards {
            margin-top: 4.438rem;
             ::ng-deep .app-card {
                .card {
                    padding: 2.438rem 1.625rem 1.625rem 1.625rem;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#contact-schedule-a-visit {
        .container {
            .cards {
                margin-top: 1.875rem;
            }
        }
    }
}
