<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Tem certeza que deseja excluir esse depoimento sobre a Careplus?</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>
                <strong>Autor:</strong> {{careplusDepoimento?.autor}}
            </p>
            <p>
                <strong>Descrição:</strong> {{careplusDepoimento?.descricao}}
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="closeModal()">Não</button>
            <button class="button is-danger" (click)="deleteCareplusDepoimento()">Sim</button>
        </footer>
    </div>
</div>