<section id="simulador" [@finish]="finishAnimationState" (@finish.done)="captureDoneEvent($event)">
    <a tabindex="0" class="times-icon" (keyup.enter)="finishAnimationState = 'close'"
        (click)="finishAnimationState = 'close'" title="Fechar">
        <div class="lines">
            <span class="first-line"></span>
            <span class="second-line"></span>
        </div>
    </a>
    <article>
        <app-home-step [@homeLeaveAnimation]="homeAnimationState" (goToNextStep)="homeAnimationState = 'stepper'">
        </app-home-step>
        <div class="container stepper-container" [hidden]="homeAnimationState == 'home'"
            [@stepperEnterAnimation]="homeAnimationState" (@stepperEnterAnimation.done)="captureDoneEvent($event)"
            [style.position]="stepperPosition">
            <mat-horizontal-stepper labelPosition="right" [disableRipple]="true" [linear]="true" [ngClass]="stepClass"
                (selectionChange)="onStepChange($event)" #stepper>
                <mat-step [stepControl]="secondStepForm">
                    <ng-template matStepLabel>Customização</ng-template>
                    <form [formGroup]="secondStepForm">
                        <app-second-step [secondStepForm]="secondStepForm"></app-second-step>
                    </form>
                    <div>
                        <button class="btn btn-white-to-digital-cian primary medium align-right"
                            [disabled]="!secondStepForm?.valid" matStepperNext>Avançar</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="firstStepForm"
                    *ngIf="secondStepForm.value.planoSaude || secondStepForm.value.planoOdontologico">
                    <ng-template matStepLabel>Tamanho da Empresa</ng-template>
                    <form [formGroup]="firstStepForm">
                        <app-first-step [firstStepForm]="firstStepForm"></app-first-step>
                    </form>
                    <div>
                        <button class="btn btn-white-to-digital-cian primary medium align-right"
                            [disabled]="!firstStepForm?.valid" matStepperNext>Avançar</button>
                        <button class="btn btn-white-to-digital-cian secondary medium align-right back-button"
                            matStepperPrevious>Voltar</button>
                    </div>
                </mat-step>
                <mat-step>
                    <app-third-step (finish)="scheduleAVisit()" [selectedPlan]="selectedPlan"></app-third-step>
                </mat-step>

                <ng-template matStepperIcon="edit" let-index="index">
                    <span *ngIf="currentStep != 3">
                        {{currentStep}}
                    </span>
                    <mat-icon *ngIf="currentStep == 3">done</mat-icon>
                </ng-template>

                <ng-template matStepperIcon="number" let-index="index">
                    <span *ngIf="currentStep != 3">
                        {{index + 1}}
                    </span>
                    <mat-icon *ngIf="currentStep == 3">done</mat-icon>
                </ng-template>
            </mat-horizontal-stepper>
        </div>
    </article>
</section>