section#error {
    .container {
        .columns {
            .column {
                .big-title {
                    margin-top: 32px;
                }

                .btn {
                    margin-top: 32px;

                    &.btn.tertiary {
                        padding-left: 0;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    section#error {
        .container {
            .columns {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}
