<section id="error">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column is-paddingless-vertical is-6-desktop is-full">
                    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
                    <h1 class="h4 big-title">
                        Infelizmente não encontramos a página que você está procurando
                    </h1>
                    <p class="sub-description">
                        Você pode realizar uma busca em nosso site ou voltar para a nossa home principal. Você também
                        consegue navegar pelo nosso site através do cabeçalho.
                    </p>
                    <a routerLink="/home" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                        Voltar para Home
                    </a>


                    <a routerLink="/home" class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop">
                        Voltar para Home
                    </a>
                </div>
                <div class="column is-paddingless-vertical is-6-desktop is-full">
                    <img src="assets/svg/error-404.svg" alt="Imagem erro 404">
                </div>
            </div>
        </div>
    </article>
</section>