.marging-box{
    margin-top: 55px;
    // margin-left: 35px;
  }
  .margin-title{
      margin-top: 35px;
  }
  
.info-icon{
    width: auto;
    margin-left: 15px;
    display: inline-grid;
    text-align: center;
    font-size: small;
}
.yellowStar{
    color: gold;
}
