.a{
    color: #073457 !important;
}

.marging-box{
    margin-top: 55px;
    // margin-left: 35px;
  }
  .margin-title{
      margin-top: 35px;
  }
  
.info-icon{
    width: auto;
    margin-left: 15px;
    display: inline-grid;
    text-align: center;
    font-size: small;
    color: #073457;
}
.yellowStar{
    color: gold;
}

.btn-primary{
    background-color: #073457 !important;
}

.btn-outline-primary
{
    color: #073457 !important;
}
