<div>
    <span class="title">
        <fa-icon [icon]="faArrowAltCircleLeft" routerLink="/neocms/posts-blog/index" routerLinkActive="active"></fa-icon>
        Blog Care Plus+
    </span>

    <div style="display: -webkit-inline-box; float:right;">

        <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="getPosts()">
            Ver todos
        </button>
        <!-- <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="salvarAlteracoes()">
            Ver rascunhos
        </button>
        <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="salvarAlteracoes()">
            Agendados
        </button> -->
    </div>
    <div style="display: -webkit-inline-box;  float:right;">
        <select class="form-control" id="categorias" style="margin-left: 15px; width: 200px;"
            (change)="getPostByCategory($event.target)">
            <option>Categorias...</option>
            <option *ngFor="let cat of categorias">{{cat.descricao}}</option>
        </select>
        <input type="search" class="form-control" style="margin-left: 15px; width: 300px;"
            placeholder="Pesquisar por titulo" (change)="filterPosts($event.target)" />
    </div>
</div>
<section class="margin-title">
    <div class="container">
        <!-- <h5 class="title">
            Editar permissões de usuário
        </h5> -->
    </div>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="marging-box">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead style="text-align-last:center; font-weight: 200;"> 
                            <th>Favorito</th>
                            <th>Imagem</th>
                            <th>Titulo</th>
                            <th>Data Publicação</th>
                            <th>Categoria</th>
                            <th >Ações</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="postsBlog.length == 0 && !loaded" colspan="6">
                                    <progress class="progress is-large is-info" max="100">60%</progress>
                                </td>
                                <td class="has-text-centered" *ngIf="postsBlog.length == 0 && loaded" colspan="6">
                                    Não há posts cadastrados
                                </td>
                            </tr>
                            <tr *ngFor="let post of postsBlog">
                                <td style="vertical-align:inherit">
                                    <fa-icon [icon]="faStar" [ngClass]="{yellowStar: post.destaque == 'true'}">
                                    </fa-icon>
                                </td>
                                <td>
                                    <img src="{{ post.caminhoImagem + post.nomeImagem }}"
                                        [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
                                </td>
                                <td style="width: 300px;">{{post.titulo}}</td>
                                <td>
                                    {{post.dataPublicacao}}
                                </td>
                                <td>
                                    {{post.categoria}}
                                </td>
                                <td style="align-content: flex-end;">
                                    <button type="button" class="btn btn-primary" style="float: right;" *ngIf="!podeEscrever"
                                       (click)="salvarAlteracoes()">
                                        Revisar e autorizar
                                    </button>
                                    <div *ngIf="post.status != 'pendente'" style="float: right;"   >
                                        <a [routerLink]="['./', post.id]" routerLinkActive="active" class="info-icon"
                                            alt="Visualizar post" >
                                            <fa-icon [icon]="faEye"></fa-icon>
                                            <span>preview</span>
                                        </a>
                                        <a [routerLink]="['/neocms/posts-blog/edit', post.id]" routerLinkActive="active" class="info-icon"
                                            alt="Editar post">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                            <span>editar</span>
                                        </a>
                                        <a [routerLink]="['/neocms/posts-blog/delete', post.id]" routerLinkActive="active" class="info-icon"
                                            alt="Excluir post">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            <span>excluir</span>
                                        </a>
                                        <a [routerLink]="['./', post.id]" routerLinkActive="active" class="info-icon"
                                            alt="Duplicar post">
                                            <fa-icon [icon]="faClone"></fa-icon>
                                            <span>duplicar</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="card-footer">
    <button type="button" class="btn btn-primary" routerLink="/neocms/posts-blog/create" routerLinkActive="active" >
        Novo post &nbsp;
        <fa-icon [icon]="faPlus"></fa-icon>
    </button>
</footer>


<!-- <app-posts-blog-delete *ngIf="showPostsDelete" [post]="postBlog" (onClose)="getPosts()"></app-posts-blog-delete> -->