<app-simple-banner [simpleBannerModel]="simpleBannerModel" (goToNextSection)="goToSection('#mommy-care')">
</app-simple-banner>
<app-info-section id="mommy-care" [sectionInfo]="mommyCareSection">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/edit.svg" alt="Inscrição">
            </span>
            <span class="text">
                Inscrição
            </span>
        </p>

        <p class="extra-content-small-title">
            Para participar do programa, você deve preencher o questionário de inscrição
            e aguardar o nosso contato.
        </p>

        <a rel="noopener noreferrer" href="https://careplus.healthmap.com.br/ccadcliente?locale=pt-BR" target="_blank"
            class="btn btn-digital-cian tertiary arrow-right small">
            INSCREVA-SE
        </a>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>

        <p class="extra-content-small-title">
            Para saber mais, envie um e-mail para <a class="bold"
                href="mailto:gestaosaude@careplus.com.br" title="gestaosaude@careplus.com.br">gestaosaude@careplus.com.br </a> ou, se preferir, entre em
            contato por telefone: <a class="bold" href="tel:11 41979017" title="11 41979017">(11) 4197-9017 </a> ou <a class="bold"
                href="tel:08007711234" title="0800 771 1234">0800 771 1234</a> (para beneficiários que não residem em São Paulo).
        </p>
    </div>
</app-info-section>
<app-info-section id="prevencao-de-doencas-cardiovasculares" [sectionInfo]="gerenciamentoDeDoencasCronicas">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>

        <p class="extra-content-small-title">
            Caso você seja um participante do programa e queira agendar suas consultas, pode ligar diretamente em nossa
            Central de Atendimento: <a class="bold" href="tel:11 41979017" title="Central de Atendmento: (11) 4197-9000">(11) 4197-9000 </a>
        </p>
    </div>
</app-info-section>

<app-info-section id="programa-de-acolhimento" [sectionInfo]="programaDeAcolhimento">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais, envie um e-mail para <a class="bold"
                href="mailto:gestaosaude@careplus.com.br" title="gestaosaude@careplus.com.br">gestaosaude@careplus.com.br </a> ou, se preferir, entre em
            contato por telefone: <a class="bold" href="tel:11 41979017">(11) 4197-9017 </a> ou <a class="bold"
                href="tel:08007711234" title="0800 771 1234">0800 771 1234</a> (para beneficiários que não residem em São Paulo).
        </p>
    </div>
</app-info-section>

<app-info-section id="mental-health" [sectionInfo]="mentalHealth">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais, entre em contato através do telefone: <a class="bold" href="tel:11 41974555" title="(11)
            4197-4555">(11)
                4197-4555</a>
        </p>
    </div>
</app-info-section>

<app-info-section id="cuidado-da-familia" [sectionInfo]="cuidadosDaFamilia">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais, entre em
            contato por telefone: <a class="bold" href="tel:11 41979017" title="(11) 4197-9017">(11) 4197-9017 </a> ou <a class="bold"
                href="tel:08007711234" title="0800 771 1234">0800 771 1234</a> (para beneficiários que não residem em São Paulo).
        </p>
    </div>
</app-info-section>

<app-info-section id="programa-de-cuidado-oncologico" [sectionInfo]="programaDeCuidadoOncologico">
    <div class="extra-content blue-background-color">
        <p class="extra-content-title">
            <span>
                <img src="assets/svg/edit.svg" alt="Inscrição">
            </span>
            <span class="text">
                Inscrição
            </span>
        </p>

        <p class="extra-content-small-title">
            Para participar do programa, você deve preencher o questionário de inscrição
            e aguardar o nosso contato.
        </p>

        <a rel="noopener noreferrer" href="https://careplus.healthmap.com.br/ccadcliente?locale=pt-BR" target="_blank"
            class="btn btn-digital-cian tertiary arrow-right small" title="Inscreva-se">
            INSCREVA-SE
        </a>

        <p class="extra-content-title">
            <span>
                <img src="assets/svg/phone-digital-cian.svg" alt="Contato">
            </span>
            <span class="text">
                Contato
            </span>
        </p>
        <p class="extra-content-small-title">
            Para saber mais envie um e-mail: <a class="bold"
                href="mailto:governancaclinica@careplus.com.br" title="governancaclinica@careplus.com.br">governancaclinica@careplus.com.br</a>
        </p>
    </div>
</app-info-section>

<app-icon-cards-section [iconCardsSectionModel]="iconCardsSectionModel"
    [backgroundColorClass]="'blue-background-color'"></app-icon-cards-section>

