@import "~src/scss/_variables.scss";

#related-posts {
    padding: 122px 0;
    background-color: #f4f9fc;
    .container {
        .column {
            padding: 16px;
        }
        .title {
            font-size: getSize("sbm");
            line-height: getLineHeight("sbm");
            color: getColor(_bupa, _digital-cian);
            text-transform: uppercase;
            margin-bottom: 6px;
        }
        .description {
            font-weight: 600;
            color: getColor(_bupa, _navy);
            margin-bottom: 8px;
        }
    }
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display: flex;
    }
}

@media (max-width: 1024px) {
    #related-posts {
        .mobile-hidden {
            display: none;
        }
        .desktop-hidden {
            display: flex;
        }
    }
}
