<nav class="navbar background bupa-navy info-header" [class.open]="openedDropDown" role="navigation"
    aria-label="main navigation" (click)="toggleDropDown()">
    <div class="drop-down">
        <p class="selected">
            {{selectedPage}}
            <span>
                <img src="assets/svg/angle-down-white.svg" alt="Toggle">
            </span>
        </p>
    </div>
</nav>
<div class="dropdown-options" [class.open]="openedDropDown">
    <ul>
        <li hidden>

        </li>
        <li>
            <a routerLink="/sou-beneficiario" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="toggleDropDown(false)" title="Sou Beneficiario">
                Sou Beneficiario
            </a>
        </li>
        <li>
            <a routerLink="/sou-rh" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="toggleDropDown(false)" title="Sou RH">
                Sou RH
            </a>
        </li>
        <li>
            <a routerLink="/sou-corretor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="toggleDropDown(false)" title="Sou Corretor">
                Sou Corretor
            </a>
        </li>
        <li>
            <a routerLink="/sou-credenciado" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="toggleDropDown(false)" title="Sou Credenciado">
                Sou Credenciado
            </a>
        </li>
    </ul>
</div>

<div *ngIf="openedDropDown" class="close-drop-down" (click)="toggleDropDown(false)"></div>

<nav class="navbar background menu-header" role="navigation" aria-label="main navigation">
    <div class="columns is-mobile">
        <div class="column is-6">
            <img class="logo-careplus-mobile" routerLink="/" src="assets/img/Logo CP branco horizontal.png"
                alt="Logo mobile careplus">
        </div>

        <div class="column is-6">
            <input tabindex="-1" id="menu-check" type="checkbox" [checked]="checked">
            <label tabindex="-1" class="label-menu" (click)="initTransition()">
                <span class="menu-mobile">
                    <span class="hamburger"></span>
                </span>
            </label>
            <a rel="noopener noreferrer" [href]="careplusUrl + 'LoginBeneficiario.aspx'"
                title="Entrar - opens in a new window" target="_blank">
                <img class="user-icon" src="assets/svg/user-digital-cian.svg" alt="User Icon">
            </a>
        </div>
    </div>
</nav>

<div #menu class="menu">
    <div #firstLayer class="layer" [@layerAnimation]="layerAnimation" (@layerAnimation.done)="captureDoneEvent($event)">
    </div>
    <div #secondLayer class="container" [@containerAnimation]="containerAnimation"
        (@containerAnimation.done)="captureDoneEvent($event)">
        <div class="times-icon">
            <input tabindex="-1" id="menu-check-container" type="checkbox" [checked]="checked">
            <label tabindex="-1" class="label-menu" (click)="initTransition()">
                <span class="menu-mobile">
                    <span class="hamburger"></span>
                </span>
            </label>
        </div>
        <div #body class="body" (resized)="positionFooterOnBottom($event)">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="initTransition()" tabindex="0" title="Home">
                <img class="logo-careplus-mobile" src="assets/img/assets/img/Logo CP branco horizontal.png" alt="Logo mobile careplus">
            </a>


            <p class="page-title">
                {{selectedPage}}
            </p>
            <div class="buttons">
                <a routerLink="/sou-beneficiario" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="initTransition()" class="button" title="Sou Beneficiário">Sou Beneficiário</a>
                <a routerLink="/sou-rh" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="initTransition()" class="button" title="Sou RH">Sou RH</a>
                <a routerLink="/sou-corretor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="initTransition()" class="button" title="Sou Corretor">Sou Corretor</a>
                <a routerLink="/sou-credenciado" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="initTransition()" class="button" title="Sou Credenciado">Sou Credenciado</a>
            </div>
            <div class="line"></div>

            <ul class="vantagens">
                <li [ngClass]="'acc' + (i + 1)" *ngFor="let menuItem of subMenu.items; let i = index;">

                    <!-- Botão de accordion - Aparece somente quando houver sub-itens -->
                    <a tabindex="0" (click)="expandAccordion('acc' + (i + 1))" [title]="menuItem.title"
                        *ngIf="menuItem.subItems && menuItem.subItems.length > 0">
                        {{menuItem.title}}
                    </a>

                    <!-- Botão com routerLink sem accordion - Aparece somente quando não houver sub-itens -->
                    <a tabindex="0" [routerLink]="menuItem.routerLink" [fragment]="menuItem.fragment"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="initTransition()"
                        tabindex="0" [title]="menuItem.title"
                        *ngIf="(!menuItem.subItems || (menuItem.subItems && menuItem.subItems.length == 0)) && menuItem.routerLink">
                        {{menuItem.title}}
                    </a>

                    <!-- Botão com href sem accordion - Aparece somente quando não houver sub-itens -->
                    <a tabindex="0" [href]="menuItem.href" target="_blank" rel="noopener noreferrer"
                        (click)="initTransition()" tabindex="0" [title]="menuItem.title + ' - opens in a new window'"
                        *ngIf="(!menuItem.subItems || (menuItem.subItems && menuItem.subItems.length == 0)) && menuItem.href">
                        {{menuItem.title}}
                    </a>

                    <!-- Aparece somente quando houver sub-itens -->
                    <input *ngIf="menuItem.subItems && menuItem.subItems.length > 0" tabindex="-1" type="checkbox"
                        [id]="'acc'+ (i + 1)" [name]="'acc'+ (i + 1)" [checked]="expandedAccordion === 'acc'+ (i + 1)">
                    <!-- Aparece somente quando houver sub-itens -->
                    <label *ngIf="menuItem.subItems && menuItem.subItems.length > 0" tabindex="-1"></label>

                    <!-- Aparece somente quando houver sub-itens -->
                    <div *ngIf="menuItem.subItems && menuItem.subItems.length > 0" #extra class="extra"
                        [style.height.px]="expandedAccordion === 'acc'+ (i + 1) ? extra.scrollHeight : 0">
                        <ul>
                            <li *ngFor="let menuSubItem of menuItem.subItems">

                                <!-- Botão com routerLink -->
                                <a *ngIf="menuSubItem.routerLink" [routerLink]="menuSubItem.routerLink"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    [fragment]="menuSubItem.fragment" (click)="initTransition()" tabindex="0"
                                    [title]="menuSubItem.title">
                                    {{menuSubItem.title}}
                                </a>

                                <!-- Botão com href -->
                                <a *ngIf="menuSubItem.href" [href]="menuSubItem.href" target="_blank"
                                    rel="noopener noreferrer" (click)="initTransition()" tabindex="0"
                                    [title]="menuSubItem.title + ' - opens in a new window'">
                                    {{menuSubItem.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bottom" #bottom id="bottom">
            <a *ngIf="subMenu.id == 'default'" class="btn btn-white-to-digital-cian primary small"
                (click)="openSimulator();initTransition();">
                Simule Planos e Produtos
            </a>

            <a *ngIf="subMenu.id == 'beneficiario'" class="btn btn-white-to-digital-cian primary small"
                rel="noopener noreferrer" (click)="initTransition()"
                [href]="careplusUrl + 'portal/modulos/atendimento/inclusaoDemandaContato.aspx'"
                title="Entre em contato - opens in a new window" target="_blank">
                Entre em Contato
            </a>

            <a *ngIf="subMenu.id == 'rh'" class="btn btn-white-to-digital-cian primary small" (click)="initTransition()"
                routerLink="/fale-conosco/solicite-uma-cotacao">
                Solicite uma Proposta
            </a>

            <a *ngIf="subMenu.id == 'corretor'" class="btn btn-white-to-digital-cian primary small"
                rel="noopener noreferrer" (click)="initTransition()"
                [href]="careplusUrl + 'portal/modulos/atendimento/inclusaoDemandaContato.aspx'"
                title="Entre em contato - opens in a new window" target="_blank">
                Seja um Corretor
            </a>

            <a *ngIf="subMenu.id == 'credenciado'" class="btn btn-white-to-digital-cian primary small"
                rel="noopener noreferrer" (click)="initTransition()"
                [href]="careplusUrl + 'portal/modulos/atendimento/inclusaoDemandaContato.aspx'"
                title="Entre em contato - opens in a new window" target="_blank">
                Seja um Credenciado
            </a>
            <div class="line"></div>

            <p class="bottom-description">
                © Care Plus Medicina Assistencial LTDA | Todos os direitos reservados - CNPJ: 02.725.347/0001-27
            </p>
        </div>
    </div>
</div>