<section id="fac" class="defaultSection">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <p class="small-title">Perguntas Frequentes</p>
                <h2 class="h4 big-title">Confira as principais dúvidas de Beneficiários, RHs, Corretores e Credenciados</h2>
                <p class="sub-description">
                    Aproveite este espaço para esclarecer as suas questões sobre a Care Plus, produtos disponíveis, rede credenciada e muito mais. Se não encontrar, entre em contato conosco.
                </p>
            </div>

        </div>
        <app-accordion class="app-accordion"></app-accordion>
        <div class="columns buttons-columns">
            <div class="column is-12">
                <button routerLink="/a-careplus/perguntas-frequentes" class="btn btn-digital-cian secondary arrow-right medium is-hidden-touch">
                    Ver todas as Perguntas Frequentes
                </button>

                <button routerLink="/a-careplus/perguntas-frequentes" class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop">
                    Ver todas as Perguntas Frequentes
                </button>
            </div>
        </div>
    </div>
</section>