<section id="fac" class="defaultSection">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <p class="small-title">Perguntas frequentes</p>
                <h4 class="big-title">Confira as principais dúvidas de beneficiários, gestores de RH, corretores e
                    credenciados</h4>
                <p class="sub-description">
                    Aproveite este espaço para esclarecer as suas questões sobre a Care Plus,
                    produtos disponíveis, rede credenciada e muito mais. Se não encontrar, entre em contato conosco.
                </p>
            </div>

        </div>
        <app-accordion></app-accordion>
        <div class="columns">
            <div class="column is-12">
                <button routerLink="/a-careplus/faq" class="btn btn-primary small is-hidden-touch">
                    VER TODAS AS PERGUNTAS
                </button>

                <button routerLink="/a-careplus/faq" class="btn btn-text small is-hidden-desktop">
                    VER TODAS AS PERGUNTAS
                    <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.3492 0.93857C11.1433 1.25024 11.187 1.70358 11.4477 1.95042L13.2895 3.6951L15.7088 6.28259L0.600826 6.2826C0.268769 6.2826 -2.39681e-07 6.60531 -2.25521e-07 7.00294C-2.11362e-07 7.40058 0.268769 7.72329 0.600826 7.72329L15.5578 7.72329L11.3604 12.0708C11.1097 12.3302 11.0812 12.7854 11.2983 13.0865C11.5154 13.3876 11.8947 13.4208 12.1459 13.1605L17.6218 7.48846C17.7528 7.35303 17.8285 7.15662 17.8301 6.94916C17.8301 6.94724 17.8301 6.94531 17.8301 6.94339C17.8301 6.73785 17.7572 6.5424 17.6294 6.40601L14.0621 2.59249L12.1932 0.820432C11.9328 0.573592 11.5551 0.626419 11.3492 0.93857Z"
                            fill="#0064A5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>