<div class="first-step">
    <h3 class="big-title white">
        Quantos colaboradores a sua empresa possui?
    </h3>
    <div class="columns" [formGroup]="firstStepForm">
        <div class="column is-4-desktop is-full">
            <div class="illustration-check" [class.checked]="form?.plano?.value == 'soho'">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/plans-soho.svg" alt="Ilustração Plano Soho">
            </div>
            <div class="field">
                <div class="control">
                    <input class="checkbox" type="radio" formControlName="plano" value="soho" name="plano"
                        id="plan-soho-radio" [ngClass]="{ 'is-invalid' : form?.plano?.errors }" />
                    <label class="checkbox-label" for="plan-soho-radio">
                        De 2 a 29
                    </label>
                </div>
            </div>
        </div>

        <div class="column is-4-desktop is-full">
            <div class="illustration-check" [class.checked]="form?.plano?.value == 'clube-careplus'">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/plans-section-illustation.svg" alt="Ilustração Plano Clube Care Plus">
            </div>
            <div class="field">
                <div class="control">
                    <input formControlName="plano" [ngClass]="{ 'is-invalid' : form?.plano?.errors }" class="checkbox"
                        id="clube-care-plus-radio" type="radio" name="plano" value="clube-careplus">
                    <label class="checkbox-label" for="clube-care-plus-radio">
                        De 30 a 200
                    </label>
                </div>
            </div>
        </div>

        <div class="column is-4-desktop is-full illustration-check">
            <div class="illustration-check" [class.checked]="form?.plano?.value == 'empresarial'">
                <div class="green-primary-box"></div>
                <div class="green-light-box"></div>
                <img src="assets/svg/empresarial.svg" alt="Ilustração Plano Empresarial">
            </div>
            <div class="field">
                <div class="control">
                    <input formControlName="plano" [ngClass]="{ 'is-invalid' : form?.plano?.errors }" class="checkbox"
                        type="radio" name="plano" id="empresarial-radio" value="empresarial">
                    <label class="checkbox-label" for="empresarial-radio">
                        Mais de 200
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>