<app-simple-banner [simpleBannerModel]="simpleBannerModel"></app-simple-banner>
<section id="a-careplus-faq-filters">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column filter-box">
                    <div class="filters">
                        <form [formGroup]="filterForm">
                            <ul>
                                <li>
                                    <div class="field">
                                        <p class="control has-icons-right">
                                            <input #searchInput
                                                [ngClass]="{ 'is-touched': form.search.value?.length > 0 }"
                                                class="input" formControlName="search" name="search" type="text">
                                            <label class="label">Buscar</label>
                                            <span class="icon is-small is-right has-tooltip-left"
                                                data-tooltip="Digite aqui o que deseja pesquisar">
                                                <img src="assets/svg/search.svg" alt="Buscar">
                                            </span>
                                        </p>
                                        <div *ngIf="form.search.touched" class="errors">
                                            <p *ngFor="let error of getErrors(form.search)" class="help is-danger">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <p class="no-results"
                *ngIf="questions.length == 0 && authorizationQuestions.length == 0 && authorizationQuestionsExtra.length == 0 && previaDeReembolso.length == 0 && reembolso.length == 0 && reembolsoExtra.length == 0 && excluded.length == 0 && tips.length == 0">
                Sem resultados, tente novamente usando outros termos.
            </p>
            <app-accordion class="first" *ngIf="questions?.length > 0" [questions]="questions"></app-accordion>
            <h4 class="big-title is-centered" *ngIf="authorizationQuestions?.length > 0">
                Autorização
            </h4>
            <app-accordion *ngIf="authorizationQuestions?.length > 0" [questions]="authorizationQuestions">
            </app-accordion>
            <p class="sub-description is-centered" *ngIf="authorizationQuestionsExtra.length > 0">
                <strong>
                    Como faço para conseguir autorização para:
                </strong>
            </p>
            <app-accordion *ngIf="authorizationQuestionsExtra?.length > 0" [questions]="authorizationQuestionsExtra">
            </app-accordion>
            <h4 class="big-title is-centered" *ngIf="previaDeReembolso?.length > 0">
                Prévia de Reembolso
            </h4>
            <app-accordion *ngIf="previaDeReembolso?.length > 0" [questions]="previaDeReembolso">
            </app-accordion>
            <h4 class="big-title is-centered" *ngIf="reembolso?.length > 0">
                Reembolso
            </h4>
            <app-accordion *ngIf="reembolso?.length > 0" [questions]="reembolso">
            </app-accordion>
            <p class="sub-description is-centered" *ngIf="reembolsoExtra.length > 0">
                <strong>
                    Materiais necessários para reembolso de:
                </strong>
            </p>
            <app-accordion *ngIf="reembolsoExtra.length > 0" [questions]="reembolsoExtra">
            </app-accordion>
            <h4 class="big-title is-centered" *ngIf="excluded.length > 0">
                Exclusões
            </h4>
            <app-accordion *ngIf="excluded.length > 0" [questions]="excluded">
            </app-accordion>
            <h4 class="big-title is-centered" *ngIf="tips.length > 0">
                Dicas
            </h4>
            <app-accordion *ngIf="tips.length > 0" [questions]="tips">
            </app-accordion>
        </div>
    </article>
</section>

<app-learn-more></app-learn-more>