<app-hero-banner id="custom-for-a-careplus" [heroBannerModel]="heroBannerModel"></app-hero-banner>
<section id="a-careplus-main-content">
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">

                    <!--
                        Elemento abaixo foi trocado de p para h1 pois não havia h1 para esta página.

                        Forma como estava anteriormente:

                        <p class="main-title">
                            São 28 anos cuidando do bem mais precioso das pessoas, a vida. A responsabilidade é enorme, por
                            isso priorizamos pilares como cuidado, dedicação e segurança.
                        </p>

                        Atualmente:

                        <h1 class="main-title">
                            São 28 anos cuidando do bem mais precioso das pessoas, a vida. A responsabilidade é enorme, por
                            isso priorizamos pilares como cuidado, dedicação e segurança.
                        </h1>

                    -->
                    <h2 class="main-title">
                        Manifesto Care Plus
                    </h2>
                    <h1 class="main-text">
                        Há quase 30 anos cuidando do bem mais precioso das pessoas, a vida. A responsabilidade é enorme, por
                        isso priorizamos pilares como cuidado, dedicação e segurança.
                    </h1>
                </div>
            </div>
            <div class="columns">
                <div class="column is-7-desktop is-full is-offset-5-desktop">
                    <p class="section-text">
                        Seus olhos estão fechados. <br />
                        Você sente seu coração bater. <br />
                        Repetidamente. Sente a sua respiração. <br />
                        Traça seu objetivo, seu destino, seu ponto final. <br />
                        Imagina o quanto terá que caminhar, que lutar, persistir, cair, levantar... <br />
                        Todos sabem que é a repetição que fará você cumprir sua jornada. <br />
                        Como as batidas do coração. Mais do que uma decisão, se torna algo natural. <br />
                        Como respirar. <br />
                        Você abre os olhos. <br />
                        Está pronto para dar o primeiro passo. <br />
                        Um trajeto inteiro movido por uma única palavra: <br />
                        dedicação. <br />
                        Sua meta, seu plano, não se trata mais de um ponto de chegada. <br />
                        O plano se trata de não parar. <br />
                        Nunca. Porque dedicação nunca é demais. <br />
                        E você, qual é o seu plano? <br />
                        O nosso é nos dedicarmos para realizar o seu.<br />

                    </p>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <img class="main-section-image" src="assets/img/banner-dog-a-careplus.jpg"
                        alt="Imagem seção príncipal">
                </div>
            </div>
            <div class="columns our-numbers">
                <div class="column is-5-desktop is-full-mobile">
                    <p class="small-title">
                        NOSSOS NÚMEROS
                    </p>
                    <h4 class="big-title">
                        A opinião de nossos clientes é extremamente importante. Por isso, monitoramos a satisfação com o
                        objetivo de aprimorar, cada vez mais, nossos serviços, rotinas e equipes.
                    </h4>
                </div>
                <div class="column is-5-desktop is-offset-2-desktop is-full-mobile has-line">
                    <p class="description">
                        Destacamos nosso NPS de 77% na visão do gestor de benefícios e, o fato de sermos provedores de
                        saúde de algumas das melhores empresas para se trabalhar, nos revigora e motiva a continuar
                        prestando o melhor serviço da área médica.
                    </p>
                    <p class="sub-description">
                        Há 3 décadas, olhamos para o futuro e nos tornamos a maior operadora de saúde premium do Brasil,
                        com serviços diferenciados e facilidade de acesso.
                        A inovação também faz parte de nossa história. Está em nosso DNA criar soluções para facilitar a
                        jornada de nossos clientes, sempre aliada à humanização, nossa principal característica.
                    </p>
                </div>
            </div>
            <div class="columns infos-cols">
                <div class="column">
                    <p class="first-title has-text-centered">
                        Quase
                    </p>
                    <h2 class="col-title has-text-centered">
                        30 <span class="small">anos</span>
                    </h2>
                    <p class="subtitle has-text-centered">
                        de história e dedicação
                    </p>
                    <p class="content has-text-centered">
                        Durante todo esse tempo, temos investido em tecnologia e boas práticas para oferecer o que há de
                        mais moderno em saúde, incluindo segurança na preservação dos seus dados e de sua privacidade.
                    </p>
                </div>
                <div class="column">
                    <p class="first-title has-text-centered">
                        Temos
                    </p>
                    <h2 class="col-title has-text-centered">
                        + 4.000 <span class="small"></span>
                    </h2>
                    <p class="subtitle has-text-centered">
                        credenciados na rede
                    </p>
                    <p class="content has-text-centered">
                        Mais do que contar com uma grande quantidade de prestadores, nos preocupamos em oferecer uma
                        rede altamente qualificada para atendimento, adotando para tanto, um protocolo de credenciamento
                        para garantir tranquilidade e segurança no momento que você precisar.
                    </p>
                </div>
                <div class="column">
                    <p class="first-title has-text-centered">
                        Dispomos de
                    </p>
                    <h2 class="col-title has-text-centered">
                        + 15
                    </h2>
                    <p class="subtitle has-text-centered">
                        programas de saúde
                    </p>
                    <p class="content has-text-centered">
                        Só a Care Plus tem a Gestão de Saúde, uma iniciativa com programas e serviços variados para
                        proporcionar uma experiência única aliada a qualidade de vida e bem-estar.
                    </p>
                </div>
                <div class="column">
                    <p class="first-title has-text-centered">
                        Estamos em
                    </p>
                    <h2 class="col-title has-text-centered">
                        + 1.000
                    </h2>
                    <p class="subtitle has-text-centered">
                        empresas do Brasil
                    </p>
                    <p class="content has-text-centered">
                        Presente em organizações de diferentes portes e segmentos, nos dedicamos à saúde e bem-estar dos
                        funcionários.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section id="a-careplus-about-bupa" class="blue-background-color">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <img src="assets/svg/bupa-logo.svg" alt="Logo bupa" class="bupa-logo">
                </div>
                <div class="column is-half-desktop is-full about-bupa">
                    <p class="small-title">
                        SOBRE A BUPA
                    </p>
                    <h4 class="big-title">
                        Nosso propósito é proporcionar uma vida mais longa, saudável e feliz.
                    </h4>
                    <p class="sub-description">
                        Como grupo internacional, líder de assistência médica, administramos casas de repouso, centros
                        de saúde, centros odontológicos e hospitais. Oferecemos seguro de saúde pessoal e empresarial e
                        fornecemos serviços de saúde no local de trabalho, além de avaliações de saúde e serviços de
                        gerenciamento de doenças crônicas, incluindo treinamento em saúde. Estamos comprometidos em
                        tornar os cuidados de saúde excelentes, focados nas necessidades dos pacientes, mais acessíveis,
                        disponíveis nas áreas de bem-estar, gerenciamento de doenças crônicas e envelhecimento.
                    </p>
                </div>

                <div class="column is-half-desktop is-full about-bupa-description">
                    <p class="description no-margin has-line">
                        A Bupa tem uma ampla gama de serviços de saúde, suporte e aconselhamento à pessoas ao longo da
                        vida
                    </p>
                    <app-slider [sliderModel]="sliderModel"></app-slider>
                </div>
            </div>
        </div>
    </article>
</section>


<section id="saiba-mais-sobre-a-care-plus">
    <article>
        <div class="container">
            <div class="columns flex-wrap">
                <div class="column is-full">
                    <p class="small-title">
                        CONHEÇA A CARE PLUS
                    </p>
                    <h4 class="big-title">
                        Visite outras áreas do site e conheça mais sobre nossa empresa
                    </h4>

                </div>

                <div class="column is-4-desktop is-full-touch" *ngFor="let card of cards">
                    <app-card [card]="card"></app-card>
                </div>
            </div>
        </div>
    </article>
</section>

<app-careplus-plus></app-careplus-plus>
<app-social-posts></app-social-posts>
