@import "~src/scss/_variables";

section {
    &#premios-e-certificacoes-premios-section {
        padding-top: 7.5rem;
        .container {
            .big-title {
                max-width: 38.375rem;
            }

            .cards {
                margin-top: 4.375rem;
            }
        }
    }

    &#premios-e-certificacoes-certifications-section {
        .container {
            .big-title {
                max-width: 38.375rem;
            }

            .cards {
                margin-top: 4.375rem;
            }
        }
    }
}

@media (max-width: 63.938rem) {
    section {
        &#premios-e-certificacoes-premios-section {
            padding-top: 3.75rem;
            .container {
                .cards {
                    margin-top: 1.875rem;
                    .column {
                        padding-top: 0.938rem;
                        padding-bottom: 0.938rem;
                    }
                }
            }
        }
        &#premios-e-certificacoes-certifications-section {
            .container {
                .cards {
                    margin-top: 1.875rem;
                    .column {
                        padding-top: 0.938rem;
                        padding-bottom: 0.938rem;
                    }
                }
            }
        }
    }
}
