@import "~src/scss/_variables";

.has-text-centered {
    justify-content: center;
}

.get-price-box {
    position: fixed;
    width: 280px;
    height: 60px;
    background-color: getColor(_bupa, _digital-cian);
    display: flex;
    padding: 21.5px 32px;
    right: 144px;
    bottom: 0;
    cursor: pointer;
    z-index: 204;

    .text {
        align-self: center;
        margin: 0;
        color: getColor(_bupa, _white);
        font-size: getSize("sbm");
        line-height: getLineHeight("sbm");
    }

    img {
        position: absolute;
        right: 16px;
        align-self: center;
    }
}

@media (max-width: 1023px) {
    .get-price-box {
        top: unset;
        bottom: 84px;
        right: 0;
        left: 0;
        margin: 0 auto;
        position: fixed;
    }
}