<div class="card">
  <div class="card-header">
    Header
  </div>
  <div class="card-body">
   <table class="table table-light">
     <thead class="thead-light">
       <tr>
         <th>Id</th>
         <th>Nome</th>
         <th>Email</th>
         <th>Perfil</th>
         <th>Ação</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let user of usuarios">
         <td>{{user.id}}</td>
         <td>{{user.nome}}</td>
         <td>{{user.email}}</td>
         <td>{{user.usuarioPerfil[0].descricao}}</td>
         <td>
          <a [routerLink]="['./', user.id]" routerLinkActive="active">
              <fa-icon [icon]="faPencilAlt"></fa-icon>
          </a>
          &nbsp;
          <a (click)="openUsuarioDelete(user)">
              <fa-icon [icon]="faTrash"></fa-icon>
          </a>
      </td>
       </tr>
     </tbody>
     
   </table>
  </div>
  <div class="card-footer">
    <a routerLink="/neocms/usuario/create" routerLinkActive="active" class="badge badge-dark shadow p-3">
      Adicionar
  </a>
  </div>
</div>
