<div class="card">
    <div class="card-content">
        <div class="content">
            <section class="hero is-dark is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Diferenciais da Careplus
                        </h1>
                    </div>
                </div>
            </section>
            <table id="careplusDiferencialTable" class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="">Id</th>
                        <th id="">Título</th>
                        <th id="">Subtítulo</th>
                        <th id="">Descrição</th>
                        <th id="">Imagem</th>
                        <th id="">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="careplusDiferenciais.length == 0 && !loaded" colspan="6">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="careplusDiferenciais.length == 0 && loaded" colspan="6">
                            Não há diferenciais da Careplus cadastrados
                        </td>
                    </tr>
                    <tr *ngFor="let careplusDiferencial of careplusDiferenciais">
                        <td>{{careplusDiferencial.id}}</td>
                        <td>{{careplusDiferencial.titulo}}</td>
                        <td>{{careplusDiferencial.subtitulo}}</td>
                        <td>{{careplusDiferencial.descricao}}</td>
                        <td>{{careplusDiferencial.nomeImagem}}</td>
                        <td>
                            <a [routerLink]="['./', careplusDiferencial.id]" routerLinkActive="active">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            &nbsp;
                            <a (click)="openCareplusDiferencialDelete(careplusDiferencial)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <a routerLink="/neocms/careplus-diferencial/create" routerLinkActive="active" class="card-footer-item">
            Criar novo diferencial da Careplus &nbsp;
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>
    </footer>
</div>

<app-careplus-diferencial-delete *ngIf="showCareplusDiferencialDelete" [careplusDiferencial]="careplusDiferencial"
    (onClose)="getCareplusDiferenciais()">
</app-careplus-diferencial-delete>