<div class="pageloader is-dark" [ngClass]="{'is-active': !careplusDepoimento}">
    <span class="title">
        Carregando
    </span>
</div>
<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Editar Depoimento sobre a Careplus
            </h1>
        </div>
    </div>
</section>
<form [formGroup]="careplusDepoimentoForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content">
            <div class="field">
                <label class="label">Autor</label>
                <div class="control">
                    <input
                        [ngClass]="{ 'is-success': submitted && !f.autor.errors, 'is-danger' : submitted && f.autor.errors }"
                        formControlName="autor" class="input" type="text" placeholder="">
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.autor)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
            <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                    <textarea formControlName="descricao"
                        [ngClass]="{ 'is-success': submitted && !f.descricao.errors, 'is-danger' : submitted && f.descricao.errors }"
                        class="textarea" placeholder="" rows="5"></textarea>
                </div>
                <div *ngIf="submitted" class="errors">
                    <p *ngFor="let error of getErrors(f.descricao)" class="help is-danger">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <button routerLink="/neocms/careplus-depoimento" routerLinkActive="active" class="button is-light"
                    type="button">
                    Fechar &nbsp;
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
            </p>
            <p class="card-footer-item">
                <button class="button is-primary" type="submit">
                    Gravar &nbsp;
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </p>
        </footer>
    </div>
</form>