<section id="hospitals-list">
    <div class="container">
        <div class="columns">
            <div class="column is-12 mobile-title">
                <p class="small-title">
                    {{smallTitle}}
                </p>
                <h4 class="big-title">
                    {{bigTitle}}
                </h4>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="columns filter-box mobile-hidden">
                    <div class="column is-3 filter">
                        <app-dropdown [options]="allStates" [default]="{ key: 'Estados', value: '' }"
                            (setFilter)=" setFilter('state', $event); ">
                        </app-dropdown>
                    </div>
                    <div class="column is-3 filter ">
                        <app-dropdown [options]="allHospitals" [default]="{ key: 'Hospitais', value: '' }"
                            (setFilter)=" setFilter('type', $event)">
                        </app-dropdown>

                    </div>
                    <div class="column is-3 filter">
                        <app-dropdown [options]="allPlans" [default]="{ key: 'Planos', value: '' }"
                            (setFilter)="setFilter('plan', $event)">
                        </app-dropdown>
                    </div>
                    <div class="column is-3 filter">
                        <img src="assets/svg/grid-menu-active.svg" alt="" [class.active]="menuStyle== 'grid'"
                            (click)="changeMenuStyle('grid')">
                        <img src="assets/svg/grid-menu.svg" alt="" [class.active]="menuStyle== 'list'"
                            (click)="changeMenuStyle('grid')">
                        <img src="assets/svg/list-menu-active.svg" alt="" [class.active]="menuStyle== 'list'"
                            (click)="changeMenuStyle('list')">
                        <img src="assets/svg/list-menu.svg" alt="" [class.active]="menuStyle== 'grid'"
                            (click)="changeMenuStyle('list')">
                        <button class="btn btn-primary small" (click)="mountHospitalsList()">Comparar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns filter-box desktop-hidden">
            <div class="column is-12 mobile-filter is-paddingless">
                <button class="btn small" [class.active]="selectedType?.value == 'Hospital'"
                    (click)="setFilter('type', { key: 'Hospital', value: 'Hospital' }, true); mountHospitalsList()">Hospitais</button>
                <button class="btn small" [class.active]="selectedType?.value == 'Laboratório'"
                    (click)="setFilter('type', { key: 'Laboratório', value: 'Laboratório' }, true); mountHospitalsList()">Laboratórios</button>

            </div>
        </div>
        <div class="columns filter-box dropdown desktop-hidden">
            <div class=" filter">
                <app-dropdown [options]="allStates" [default]="{ key: 'Estados', value: '' }"
                    (setFilter)=" setFilter('state', $event); mountHospitalsList() ">
                </app-dropdown>
            </div>

            <div class=" filter">
                <app-dropdown [options]="allPlans" [default]="{ key: 'Planos', value: '' }"
                    (setFilter)="setFilter('plan', $event);  mountHospitalsList()">
                </app-dropdown>
            </div>

        </div>

        <div class="columns">
            <div class="column is-12 hospitals-grid-list" [class.hidden]="hiddenGrid">
                <div *ngFor="let hospital of gridList" title="{{hospital}}">
                    <p>
                        {{hospital.name}}
                    </p>
                </div>


            </div>
            <div class="column is-12" [class.hidden]="hiddenList">
                <div class="hospitals-list">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <p>Hospitais</p>
                                </td>
                                <td>
                                    <p>Básico</p>
                                </td>
                                <td>
                                    <p>Especial II</p>
                                </td>
                                <td>
                                    <p>Especial III</p>
                                </td>
                                <td>
                                    <p>Executivo I</p>
                                </td>
                                <td>
                                    <p>Executivo II</p>
                                </td>
                                <td>
                                    <p>Master I</p>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of gridList; let i = index"
                                [class.table-color1]="i%2 == 0 ? true : false"
                                [class.table-color2]="i%2 == 0 ? false : true">
                                <td>
                                    <p>
                                        {{hospital.name}}
                                    </p>
                                </td>
                                <td *ngFor="let plan of hospital.plans">
                                    <img *ngIf="plan.included" src="/assets/svg/plan-pin.svg" alt="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>