@import "~src/scss/_variables";

section#accredited-network {
    .container {
        .accredited-network-content {
            position: relative;
            padding: 5rem 6.25rem;
            .columns {
                margin-bottom: 0;
            }
            .big-title {
                margin-top: 0.375rem;
            }
            .description {
                margin-top: 1.5rem;
            }
            .button-column {
                display: flex;
                justify-content: flex-end;
                .btn {
                    display: flex;
                    align-self: center;
                }
            }
            &:before {
                background-color: getColor(_bupa, _digital-cian);
                content: "";
                position: absolute;
                height: 0.25rem;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1023px) {
    section#accredited-network {
        padding: 0;
        .container {
            padding: 0;
            .columns {
                .column {
                    padding: 0;
                }
            }
            .accredited-network-content {
                padding: 30px 2rem;
                margin: 0;
                .button-column {
                    justify-content: unset;
                    .btn {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
