<section id="accredited-network" #accreditedNetwork>
    <article>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="accredited-network-content" [ngClass]="backgroundColorClass">
                        <div class="columns is-desktop">
                            <div class="column is-7 is-full-touch">
                                <p class="small-title">REDE CREDENCIADA</p>
                                <h2 class="h4 big-title">Encontre médicos, hospitais e clínicas próximos a você</h2>
                                <p class="description">É fácil e rápido. Siga todos os passos da nossa pesquisa para
                                    consultar a rede credenciada do seu plano</p>
                            </div>
                            <div class="column is-5 is-full-touch button-column">
                                <a rel="noopener noreferrer" [href]="accreditedNetworkUrl" target="_blank"
                                    class="btn btn-digital-cian secondary medium is-hidden-touch"
                                    title="Buscar Rede Credenciada">
                                    Buscar Rede Credenciada
                                </a>

                                <a rel="noopener noreferrer" [href]="accreditedNetworkUrl" target="_blank"
                                    class="btn btn-digital-cian tertiary arrow-right medium is-hidden-desktop"
                                    title="Buscar Rede Credenciada">
                                    Buscar Rede Credenciada
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>