<div class="card">
    <div class="card-content">
        <div class="content">
            <section class="hero is-dark is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Perguntas
                        </h1>
                    </div>
                </div>
            </section>
            <table id="PerguntaTable" class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="">Id</th>
                        <th id="">Descrição</th>
                        <th id="">Resposta</th>
                        <th id="">Tipo de pergunta</th>
                        <th id="">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="perguntas.length == 0 && !loaded" colspan="5">
                            <progress class="progress is-large is-info" max="100">60%</progress>
                        </td>
                        <td class="has-text-centered" *ngIf="perguntas.length == 0 && loaded" colspan="5">
                            Não há perguntas cadastradas
                        </td>
                    </tr>
                    <tr *ngFor="let pergunta of perguntas">
                        <td>{{pergunta.id}}</td>
                        <td>{{pergunta.descricao}}</td>
                        <td>{{pergunta.resposta}}</td>
                        <td>{{pergunta.perguntaTipo?.descricao}}</td>
                        <td>
                            <a [routerLink]="['./', pergunta.id]" routerLinkActive="active">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </a>
                            &nbsp;
                            <a (click)="openPerguntaDelete(pergunta)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <a routerLink="/neocms/pergunta/create" routerLinkActive="active" class="card-footer-item">
            Criar nova pergunta &nbsp;
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>
    </footer>
</div>

<app-pergunta-delete *ngIf="showPerguntaDelete" [pergunta]="pergunta" (onClose)="getPerguntas()">
</app-pergunta-delete>